/* Default state **************************************************************/

:-moz-any(button, input[type='button'], input[type='reset'], input[type='submit']):not(.custom-appearance):not(.link-button),
select,
input[type='checkbox'],
input[type='radio'] {
    -webkit-appearance: none;
    -webkit-user-select: none;
    background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    color: #444;
    font: inherit;
    margin: 0 1px 0 0;
    text-shadow: 0 1px 0 rgb(240, 240, 240);
}

:-moz-any(button, input[type='button'], input[type='reset'], input[type='submit']):not(.custom-appearance):not(.link-button),
select {
    min-height: 2em;
    min-width: 4em;
    padding-bottom: 1px;
}

:-moz-any(button, input[type='button'], input[type='reset'], input[type='submit']):not(.custom-appearance):not(.link-button) {
    -webkit-padding-end: 10px;
    -webkit-padding-start: 10px;
}


/* Hover **********************************************************************/

:enabled:hover:-moz-any( select, input[type='checkbox'], input[type='radio'], :-moz-any( button, input[type='button'], input[type='reset'], input[type='submit']):not(.custom-appearance):not(.link-button)) {
    background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
    color: black;
}

:enabled:hover:-moz-any(select) {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC'), -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
}


/* Active *********************************************************************/

:enabled:active:-moz-any( select,
input[type='checkbox'],
input[type='radio'],
 :-moz-any( button, input[type='button'], input[type='reset'], input[type='submit']):not(.custom-appearance):not(.link-button)) {
    background-image: -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
    box-shadow: none;
    text-shadow: none;
}

:enabled:active:-moz-any(select) {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC'), -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
}


/* Disabled *******************************************************************/

:disabled:-moz-any( button,
input[type='button'],
input[type='reset'],
input[type='submit']):not(.custom-appearance):not(.link-button),
select:disabled {
    background-image: -webkit-linear-gradient(#f1f1f1, #f1f1f1 38%, #e6e6e6);
    border-color: rgba(80, 80, 80, 0.2);
    box-shadow: 0 1px 0 rgba(80, 80, 80, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    color: #aaa;
}

input:disabled:-moz-any([type='checkbox'],
[type='radio']) {
    opacity: .75;
}

input:disabled:-moz-any([type='password'],
[type='search'],
[type='text'],
[type='url'],
 :not([type])) {
    color: #999;
}


/* Focus **********************************************************************/

:enabled:focus:-moz-any( select,
input[type='checkbox'],
input[type='number'],
input[type='password'],
input[type='radio'],
input[type='search'],
input[type='text'],
input[type='url'],
input:not([type]),
 :-moz-any( button,
input[type='button'],
input[type='reset'],
input[type='submit']):not(.custom-appearance):not(.link-button)) {
    -webkit-transition: border-color 200ms;
    border-color: rgb(77, 144, 254);
    outline: none;
}


/* Checkbox/radio helpers *******************************************************/

:-moz-any(.checkbox,
.radio) label {
    /* Don't expand horizontally: <http://crbug.com/112091>. */
    display: -webkit-inline-box;
    padding-bottom: 7px;
    padding-top: 7px;
}

:-moz-any(.checkbox,
.radio) label input~span {
    -webkit-margin-start: 0.6em;
    display: block;
}

:-moz-any(.checkbox,
.radio) label:hover {
    color: black;
}

label>input:disabled:-moz-any([type='checkbox'],
[type='radio'])~span {
    color: #999;
}