/* Overpass - latin-ext_latin */
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 400;
  src: local('Outfit Regular'), local('Outfit'),
    url(/fonts/custom/OutfitKS-Regular.woff2) format('woff2'); /* Modern Browsers */
}
/* overpass-600 - latin-ext_latin */
@font-face {
  font-family: Outfit-SemiBold;
  font-style: normal;
  font-weight: 500;
  src: local('Outfit SemiBold'), local('Outfit-SemiBold'),
    url(/fonts/custom/OutfitKS-Medium.woff2) format('woff2'); /* Modern Browsers */
}
