.postila_hoverButton {
  width: 73px;
  height: 25px;
  position: absolute;
  z-index: 2147483647;
  cursor: pointer;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  background-image: url(../images/post25_en.png);
}
.postila_hoverButton:active {
  background-position: 0 -25px;
}
.postila_hoverButton:hover {
  opacity: 1!important;
  pointer-events: auto!important;
}
.postila_hoverButton-show {
  opacity: 1;
  pointer-events: auto;
}
/*@keyframes hideAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        pointer-events: none;
    }
}*/
.postila_screenshot__page .postila_hoverButton {
  display: none;
}
