#postila_ext {
  margin: 20px 0;
}
.postila_ext {
  position: relative;
  margin: -10px;
  padding: 10px;
  background: #efefef;
  transition: all 0.3s ease;
  opacity: 0;
  max-height: 0;
}
.postila_ext-loaded {
  opacity: 1;
  max-height: 300px;
}
.postila_ext-yandex {
  margin-left: 30px;
  background: none;
}
.postila_ext-yandex .postila_ext__caption:after {
  content: ':';
}
.postila_ext-yandex .postila_ext__logo {
  position: absolute;
  margin: 0;
  top: 10px;
  left: -14px;
}
.postila_ext-google {
  padding-left: 18px;
  padding-right: 18px;
}
.postila_ext a {
  text-decoration: none;
  color: inherit;
}
.postila_ext__logo {
  float: right;
  margin: 0 0 10px 10px;
}
.postila_ext__caption {
  font-size: 16px;
  margin: 0 0 10px 0;
}
.postila_ext__caption a {
  font-weight: bold;
}
.postila_ext__results {
  white-space: nowrap;
  overflow: hidden;
}
.postila_ext__results_item {
  display: inline-block;
  margin: 0 10px 10px 0;
  overflow: hidden;
  height: 100px;
}
.postila_ext__results_item img {
  display: block;
  height: 100px;
  max-width: 200px;
}
.postila_ext__results_item-zoom {
  position: relative;
}
.postila_ext__results_item-zoom img {
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
  max-width: 300px;
}
