<span class="icon dwe-tree-view__element__link is-from-list add-element-dummy">
    <span class="dwe-tree-view__element__link--icon icon-code-icons-dark icon-folder">
    </span>

    <span class="dwe-tree-view__element__link--name">
        <span class="dwe-tree-view__element__link--name--inner">
            <input type="text" class="add-element-dummy-input">
        </span>

        <div class="dwe-tree-view__element--progress-container dot-flashing"></div>
    </span>

    <div class="dwe-tree-view__element__link__info item-info">
    </div>
</span>
