.ellie {
  display: flex;
  flex-wrap: wrap;
}

.aoP .Ar.Au {
  margin-top: 0.75em !important;
}

.ellie + *:not(.ellies-upgrade),
.ellie + *:not(.ellies-notification) {
  margin-top: 1em;
}

.ellies-moods,
.ellies-interest,
.ellies-btn-group,
.ellies-actions {
  display: flex;
}

.ellies-moods {
  margin-bottom: 5px;
}
.ellies-interest,
.ellies-reply-length {
  margin-left: 5px;
  margin-bottom: 5px;
}
.ellies-actions-box {
  position: relative;
  margin: 0 5px 5px 5px;
}

.ellies-moods > button,
.ellies-interest > button,
.ellies-btn-group > button,
.ellies-actions > button,
.ellies-revise,
.settings-btn {
  background: none;
  border: 1px solid #e1e3e1;
  border-left-width: 0;
  padding: 5px 8px 5px 5px;
  cursor: pointer;
  min-height: 32px;
}

.ellie-dropdown-btn {
  display: inline-flex;
  background: none;
  border: 1px solid #e1e3e1;
  border-radius: 5px;
  padding: 5px 8px 5px 5px;
  cursor: pointer;
  max-width: 160px;
  min-height: 32px;
  margin-left: 4px;
}

.ellie-dropdown-btn > .label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
  margin-right: 3px;
}
.ellies-revise {
  border-radius: 5px;
  margin-left: 5px;
  border-left-width: 1px;
}

.ellies-moods > button:first-child,
.ellies-interest > button:first-child,
.ellies-btn-group > button:first-child,
.ellies-actions > button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left-width: 1px;
}
.ellies-moods > button:last-child,
.ellies-interest > button:last-child,
.ellies-btn-group > button:last-child,
.ellies-actions > button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button[data-value="casual"] {
  background-color: #c0eee435;
}
button[data-value="casual"]:before {
  content: "💃 ";
}
button[data-value="respectful"] {
  background-color: #f8f98835;
}
button[data-value="respectful"]:before {
  content: "🧐 ";
}
button[data-value="annoyed"] {
  background-color: #ffcac835;
}
button[data-value="annoyed"]:before {
  content: "😡 ";
}
button[data-value="interested"] {
  background-color: #cffde145;
}
button[data-value="interested"]:before {
  content: "👍 ";
}
button[data-value="uninterested"] {
  background-color: #fed04935;
}
button[data-value="uninterested"]:before {
  content: "👎 ";
}

button[data-value="casual"]:hover,
button[data-value="casual"][data-active="true"] {
  background-color: #c0eee490;
}
button[data-value="respectful"]:hover,
button[data-value="respectful"][data-active="true"] {
  background-color: #f8f98890;
}
button[data-value="annoyed"]:hover,
button[data-value="annoyed"][data-active="true"] {
  background-color: #ffcac890;
}
button[data-value="interested"]:hover,
button[data-value="interested"][data-active="true"] {
  background-color: #cffde190;
}
button[data-value="uninterested"]:hover,
button[data-value="uninterested"][data-active="true"] {
  background-color: #fed04990;
}
button[data-value="short"]:hover,
button[data-value="short"][data-active="true"] {
  background-color: #eaeaea;
}

.ellies-extra {
  display: flex;
  align-items: center;
  justify-content: center;
}
button.ellies-extra {
  padding: 5px 8px;
}
.ellies-extra span {
  color: #000000b5;
}
.ellies-extra:hover,
.ellies-status:hover,
.ellie-dropdown-btn:hover,
.settings-btn:hover {
  background-color: #eaeaea;
}
.ellies-status.disabled {
  cursor: no-drop;
  opacity: 0.7;
}

button[data-active="true"]:before {
  content: "✔️ ";
}

.ellie-dropdown button {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 32px;
  max-width: 320px;
  background: none;
  border: 0 solid transparent;
  line-height: 1.25rem;
  cursor: pointer;
  text-align: left;
  color: #202124;
  padding: 6px 10px 6px 24px;
}
.ellie-reply-length-options {
  max-width: 150px;
}

.ellie-dropdown li {
  padding: 0;
}

.ellie-dropdown li:first-child {
  padding-top: 4px;
}

.ellie-dropdown li:last-child {
  padding-bottom: 4px;
}

.ellie-dropdown li:hover button {
  background: #ededf0;
}

.ellie-dropdown li button[data-selected="true"] {
  background: #ededf0;
}

.settings-btn {
  margin-left: 4px;
  border-radius: 5px;
  border-left-width: 1px;
}

.ellies-feedback {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.ellie-review-btn,
.ellie-review-link {
  background-color: transparent;
  border: 1px solid #e1e3e1;
  padding: 3px 5px;
  cursor: pointer;
  min-height: 20px;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}

.ellie-review-btn:hover,
.ellie-review-link:hover {
  background-color: #8ecefc8f;
}

@media (max-width: 1100px) {
  button:before {
    content: "" !important;
  }
  button[data-active="true"] {
    font-weight: bold;
  }
  .ellies-reply-length {
    margin-right: 5px;
  }
  .ellies-actions-box {
    margin-left: 0;
  }
  .ellies-feedback {
    margin-left: 0;
  }
}
