/* Activity name */
div.left.activity-title {
	width: 70% !important;
}
div.left.activity-title h1.details-title {
	font-size: 1.3vw !important;
}
/* Activities */
div[data-table-header=activities] div.activity-header-name, div.name {
	width: 25vw !important;
}
div.activitylist ul.list.activities li.listItem div.cell.name span.description {
    display: block !important;
    margin-left: -6px !important;
}