/* Workspace > Project Name Link */
div.spectrum-Table-row div:first-child a.spectrum-Link {
	white-space: normal !important;
}
/* Components > Table View > Component Title */
div.ComponentManager-title a.spectrum-Link {
	white-space: normal !important;
}
/* Workspace > New Project lightbox > Buttons */
div.an-CreateProjectModal div.an-CreateProjectModal-detailsFooter {
	height: 100% !important;
}
/* Classification Importer > Import File > FTP Import > Add New */
input[name=ftp_import_account_description] {
	width: 400px !important;
}
select[name=ftp_import_available_report_suites] {
	width: 34vw !important;
}
select[name=ftp_import_selected_report_suites] {
	width: 34vw !important;
}
input[name=ftp_import_email] {
	width: 400px !important;
}
/* Classification Importer > FTP Export */
select[name=ftp_export_available_report_suites] {
	width: 34vw !important;
}
select[name=ftp_export_selected_report_suites] {
	width: 34vw !important;
}
/* Processing Rules */
table.dpr-rule-manager-headers,
table.ruleset {
	width: 90vw !important;
}
input[name*=ActionMatchToAttribute] {
	width: 200px !important;
}
input.dpr-wide-input {
	width: 350px !important;
}
ul.CustomSelect-list.CustomSelect-list-labels {
	width: 400px !important;
}
input[name*=ConcatQueryVar],
input[name*=ConcatContainerCustomText],
input[name*=ActionMatchQueryVar] {
	width: 100px !important;
}
/* Processing Rules > Copy Processing Rules */
select[name="selectedrules[]"], select[name="rs_to[]"] {
	width: 40vw !important;
}
/* Bot Rules */
div.bot-rule-manager-body input[name*=RuleSetTitle] {
	width: 400px !important;
}
/* Traffic Variables */
form[name=properties_form] div[id*=prop_name_txt_],
form[name=properties_form] input[id*=prop_name_txt_] {
	width: 300px !important;
}
/* Traffic/ Conversion/ Marketing Channel Classifications */
form[name=c_form] select[name=c_view] {
	width: 400px !important;
}
/* Classifications > Create/ Edit Classification lightbox */
form#new_txt_frm input[name=name], form#edit_txt_frm input[name=name] {
	width: 95% !important;
}
/* Hierarchy Variables */
input[id*=hvar_name_],
input[id*=hvar_level_] {
	width: 100% !important;
}
/* Conversion Variables */
input#evar_name_search {
	width: 400px !important;
}
form#evar_form div[id*=name_txt_],
form#evar_form input[id*=name_txt_],
form#evar_form div[id*=binding_events_select_],
form#evar_form select[id*=binding_events_select_] {
	width: 250px !important;
}
form#evar_form div[id*=exp_txt_],
form#evar_form select[id*=exp_txt_] {
	width: 250px !important;
}
/* Custom Success Events */
input#event_name_search {
	width: 400px !important;
}
div[id*=event_name_],
input[id*=event_name_] {
	width: 300px !important;
}
div[id*=event_type_],
select[id*=event_type_] {
	width: 140px !important;
}
div[id*=event_metric_polarity_],
select[id*=event_metric_polarity_] {
	width: 80px !important;
}
div[id*=event_metric_visibility_],
select[id*=event_metric_visibility_] {
	width: 120px !important;
}
div[id*=event_unique_],
select[id*=event_unique_] {
	width: 120px !important;
}
div[id*=event_part_],
select[id*=event_part_] {
	width: 70px !important;
}
/* List Variables */
div[id*=list_var_name_],
input[id*=list_var_name_] {
	width: 300px !important;
}
/* Marketing Channel Processing Rules */
ol#ChannelRulesContent input[id*=RuleMatchQueryVar] {
	width: 100px !important;
}
ol#ChannelRulesContent textarea[id*=RuleMatches] {
	width: 300px !important;
}
/* Exclude By Cookie/IP Address */
div#cname_container input[name=c_name] {
	width: 200px !important;
}
div.exc_container.page_bottom input[name=comment] {
	width: 200px !important;
}
/* Company Settings > Security > Email Filter */
input[name=add_email],
form[name=existing_email] input[name*=email_address] {
	width: 300px !important;
}
input[name=add_desc],
form[name=existing_email] input[name*=description_] {
	width: 200px !important;
}
/* Data Sources > Create */
div#activate_body select[name=field_category] {
	height: 160px !important;
}
div#activate_body select[name=field_type] {
	height: 90px !important;
}
/* Data Sources > Create > popup */
input[type=text][name*=data_sources_wiz_arr] {
	width: 300px !important;
}
/* Data Warehouse */
input[name="data_warehouse_vars[report_name]"] {
	width: 400px !important;
}
ul.dw_columns li.fixed_column {
	width: 350px !important;
}
ul.dw_columns ul.breakdown {
	width: 325px !important;
}
ul.dw_columns ul.breakdown li.item_input_row,
ul.dw_columns ul.breakdown li.metric_input_row {
	width: 300px !important;
}
ul.dw_columns input[name=email_to],
ul.dw_columns input[name=filename] {
	width: 400px !important;
}
/* Data Warehouse > Advanced Delivery Options popup */
form[name=advanced_form] input#report_filename,
form[name=advanced_form] input[name=email_to],
form[name=advanced_form] input[name=email_subject],
form[name=advanced_form] textarea[name=email_notes] {
	width: 400px !important;
}
/* Classification Rule Builder Regular Expression lightbox */
div.AUI_Dialog_outerContainer {
	width: 700px !important;
}
/* Classification Rule Builder Test */
div#report_container\ flush_left {
	overflow-x: scroll !important;
}
/* Calculated Metric Builder Description */
textarea.cmb-form-description {
	min-height: 45px !important;
}
/* Alert Builder  */
div.alb-DimensionItem div.alb-Item-content label.alb-Item-content-label {
	flex: 1.5 1 !important;
}
div.alb-DimensionItem div.alb-Item-content > div:nth-child(2) {
	flex: 0.5 1 !important;
}
div.alb-DimensionItem div.alb-Item-content div.alb-MetricItem-select {
	flex: 4 1 !important;
	max-width: none !important;
}
/* Segment Builder  */
div.sb-SegmentContainerContent div.sb-SegmentRule-content {
	grid-template-columns: minmax(50px,1.7fr) minmax(160px,1.5fr) minmax(0,3fr) 70px !important;
}