/* Host name */
input[data-test-id=hostNameTextfield] {
	width: 400px !important;
}
/* Environment name */
input[data-test-id=newEnvironmentNameTextfield] {
	width: 400px !important;
}
/* Environment host */
div[data-test-id=newEnvironmentHostTypeComboBox] {
	width: 400px !important;
}
/* Library name */
input[data-test-id=newLibraryNameTextfield] {
	width: 400px !important;
}
/* Library name on Publishing tab */
div[data-test-id=libraryMenuDropdown] a.libraryTitle {
	white-space: normal !important;
}