._loaderWrapper_a1uqj_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-self: stretch;
}
._loaderWrapper_a1uqj_1 > * {
  animation: _spinner_a1uqj_1 var(--speed-normal) linear infinite;
}

@keyframes _spinner_a1uqj_1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}._button_15zm0_1 {
  border: none;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: var(--font-size-xl);
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: background-color 0.35s, color 0.35s;
}
._buttonRadius_15zm0_15 {
  border-radius: 24px;
}
._buttonLoading_15zm0_18 {
  min-width: var(--gap-xg);
}
._buttonNormal_15zm0_21 {
  --main-color: var(--color-accent-m);
  --main-hover-color: var(--color-accent-l);
  --main-active-color: var(--color-accent-h);
  --main-disabled-color: var(--color-de-emphasize);
  --minor-color: var(--color-white);
  --minor-hover-color: var(--color-white);
  --minor-active-color: var(--color-white);
  --minor-disabled-color: var(--color-white);
}
._buttonHot_15zm0_31 {
  --main-color: var(--color-temp-hot);
  --main-hover-color: var(--color-temp-hot);
  --main-active-color: var(--color-temp-hot);
  --main-disabled-color: var(--color-de-emphasize);
  --minor-color: var(--color-white);
  --minor-hover-color: var(--color-white);
  --minor-active-color: var(--color-white);
  --minor-disabled-color: var(--color-white);
}
._buttonCold_15zm0_41 {
  --main-color: var(--color-temp-cold);
  --main-hover-color: var(--color-temp-cold);
  --main-active-color: var(--color-temp-cold);
  --main-disabled-color: var(--color-de-emphasize);
  --minor-color: var(--color-white);
  --minor-hover-color: var(--color-white);
  --minor-active-color: var(--color-white);
  --minor-disabled-color: var(--color-white);
}
._buttonPrimary_15zm0_51 {
  background-color: var(--main-color);
  color: var(--minor-color);
}
._buttonPrimary_15zm0_51:hover {
  background-color: var(--main-hover-color);
  color: var(--minor-hover-color);
}
._buttonPrimary_15zm0_51:active {
  background-color: var(--main-active-color);
  color: var(--minor-active-color);
}
._buttonPrimary_15zm0_51:disabled {
  background-color: var(--main-disabled-color);
  color: var(--minor-disabled-color);
}
._buttonSecondary_15zm0_67 {
  background-color: rgba(var(--minor-color), 0);
  color: var(--main-color);
}
._buttonSecondary_15zm0_67:hover {
  background-color: rgba(var(--minor-color), 0);
  color: var(--main-hover-color);
}
._buttonSecondary_15zm0_67:active {
  background-color: rgba(var(--minor-color), 0);
  color: var(--main-active-color);
}
._buttonSecondary_15zm0_67:disabled {
  background-color: rgba(var(--minor-color), 0);
  color: var(--main-disabled-color);
}
._buttonFullWidth_15zm0_83 {
  width: 100%;
}
._buttonM_15zm0_86 {
  padding: var(--gap-m) var(--gap-xl);
}
._buttonL_15zm0_18 {
  padding: var(--gap-l) var(--gap-xxl);
}
._buttonS_15zm0_67 {
  padding: var(--gap-s) var(--gap-l);
}