._radioWrapper_1mm5c_1 {
  position: relative;
  display: flex;
  align-items: center;
}
._radioWrapper_1mm5c_1 input {
  position: absolute;
  opacity: 0;
}
._radioWrapper_1mm5c_1 label {
  margin-left: var(--gap-xs);
}

._radioLayout_1mm5c_14 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
  text-transform: capitalize;
}
._radioLayout_1mm5c_14._h_1mm5c_20 {
  flex-direction: row;
}._root_1tg1h_1 a {
  color: inherit;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

._root_1tg1h_1 {
  --rgb-accent-h: 227, 106, 0;
  --rgb-accent-m: 255, 121, 0;
  --rgb-accent-l: 255, 147, 0;
  --rgb-de-emphasize: 143, 148, 155;
  --rgb-neutral-h: 89, 89, 89;
  --rgb-neutral-m: 89, 89, 89;
  --rgb-neutral-l: 154, 154, 154;
  --rgb-neutral-sl: 246, 247, 251;
  --rgb-stroke-h: 100, 102, 107;
  --rgb-stroke-m: 209, 213, 219;
  --rgb-stroke-l: 209, 213, 219;
  --rgb-background: 255, 255, 255;
  --color-accent-h: rgb(var(--rgb-accent-h));
  --color-accent-m: rgb(var(--rgb-accent-m));
  --color-accent-l: rgb(var(--rgb-accent-l));
  --color-de-emphasize: rgb(var(--rgb-de-emphasize));
  --color-neutral-h: rgb(var(--rgb-neutral-h));
  --color-neutral-m: rgb(var(--rgb-neutral-m));
  --color-neutral-l: rgb(var(--rgb-neutral-l));
  --color-neutral-sl: rgb(var(--rgb-neutral-sl));
  --color-stroke-h: rgb(var(--rgb-stroke-h));
  --color-stroke-m: rgb(var(--rgb-stroke-m));
  --color-stroke-l: rgb(var(--rgb-stroke-l));
  --color-background: rgb(var(--rgb-background));
  --color-corp-orange: #ff7900;
  --color-corp-yellow: #ffb612;
  --color-corp-charcoal: #35373b;
  --color-corp-black: rgb(0, 0, 0);
  --color-transparent: #0000;
  --color-white: #fff;
  --color-black: var(--color-corp-black, #000);
  --color-temp-cold: #075ea4;
  --color-temp-warm: var(--color-corp-orange, #ff7900);
  --color-temp-hot: var(--color-sm-red, #e00034);
  --color-sm-red: #e00034;
  --color-sm-orange: var(--color-corp-orange, #ff7900);
  --color-sm-green: #32cd32;
  --color-shadow-h: rgba(0, 0, 0, 0.5);
  --color-shadow-m: rgba(0, 0, 0, 0.25);
  --color-shadow-l: rgba(0, 0, 0, 0.05);
  --scale-ui: 1;
  --scale-ui-w: var(--scale-ui) * 1;
  --scale-ui-h: var(--scale-ui) * 1;
  --font-size-unit: calc(var(--scale-ui) * 10px);
  --font-size-xxs: calc(0.4 * var(--font-size-unit));
  --font-size-xs: calc(0.6 * var(--font-size-unit));
  --font-size-s: calc(0.8 * var(--font-size-unit));
  --font-size-m: calc(1 * var(--font-size-unit));
  --font-size-l: calc(1.2 * var(--font-size-unit));
  --font-size-xl: calc(1.4 * var(--font-size-unit));
  --font-size-xxl: calc(1.6 * var(--font-size-unit));
  --font-size-hs: calc(1.8 * var(--font-size-unit));
  --font-size-h: calc(2 * var(--font-size-unit));
  --font-size-xh: calc(2.4 * var(--font-size-unit));
  --weight-light: 300;
  --weight-normal: normal;
  --weight-bold: 600;
  --weight-fat: 900;
  --gap-unit: var(--scale-ui) * 10px;
  --gap-none: 0;
  --gap-xxs: calc(0.2 * var(--gap-unit));
  --gap-xs: calc(0.5 * var(--gap-unit));
  --gap-s: calc(0.8 * var(--gap-unit));
  --gap-m: calc(1 * var(--gap-unit));
  --gap-l: calc(1.2 * var(--gap-unit));
  --gap-xl: calc(1.6 * var(--gap-unit));
  --gap-xxl: calc(2 * var(--gap-unit));
  --gap-h: calc(2.2 * var(--gap-unit));
  --gap-xh: calc(3 * var(--gap-unit));
  --gap-xxh: calc(3.6 * var(--gap-unit));
  --gap-g: calc(4.2 * var(--gap-unit));
  --gap-xg: calc(5 * var(--gap-unit));
  --speed-instant: 125ms;
  --speed-fast: 250ms;
  --speed-normal: 500ms;
  --speed-slow: 1000ms;
  --speed-sluggish: 2000ms;
  --pepper-item-radius: 4px;
}

._lightTheme_1tg1h_96 {
  --rgb-accent-h: 227, 106, 0;
  --rgb-accent-m: 255, 121, 0;
  --rgb-accent-l: 255, 147, 0;
  --rgb-de-emphasize: 143, 148, 155;
  --rgb-neutral-h: 89, 89, 89;
  --rgb-neutral-m: 89, 89, 89;
  --rgb-neutral-l: 154, 154, 154;
  --rgb-neutral-sl: 246, 247, 251;
  --rgb-stroke-h: 100, 102, 107;
  --rgb-stroke-m: 209, 213, 219;
  --rgb-stroke-l: 209, 213, 219;
  --rgb-background: 255, 255, 255;
  --color-accent-h: rgb(var(--rgb-accent-h));
  --color-accent-m: rgb(var(--rgb-accent-m));
  --color-accent-l: rgb(var(--rgb-accent-l));
  --color-de-emphasize: rgb(var(--rgb-de-emphasize));
  --color-neutral-h: rgb(var(--rgb-neutral-h));
  --color-neutral-m: rgb(var(--rgb-neutral-m));
  --color-neutral-l: rgb(var(--rgb-neutral-l));
  --color-neutral-sl: rgb(var(--rgb-neutral-sl));
  --color-stroke-h: rgb(var(--rgb-stroke-h));
  --color-stroke-m: rgb(var(--rgb-stroke-m));
  --color-stroke-l: rgb(var(--rgb-stroke-l));
  --color-background: rgb(var(--rgb-background));
}

._darkTheme_1tg1h_123 {
  --rgb-accent-h: 227, 106, 0;
  --rgb-accent-m: 255, 121, 0;
  --rgb-accent-l: 255, 147, 0;
  --rgb-de-emphasize: 143, 148, 155;
  --rgb-neutral-h: 255, 255, 255;
  --rgb-neutral-m: 209, 213, 219;
  --rgb-neutral-l: 154, 154, 154;
  --rgb-neutral-sl: 67, 69, 72, 1;
  --rgb-stroke-h: 151, 151, 151;
  --rgb-stroke-m: 100, 102, 107;
  --rgb-stroke-l: 154, 154, 154;
  --rgb-background: 53, 55, 59;
  --color-accent-h: rgb(var(--rgb-accent-h));
  --color-accent-m: rgb(var(--rgb-accent-m));
  --color-accent-l: rgb(var(--rgb-accent-l));
  --color-de-emphasize: rgb(var(--rgb-de-emphasize));
  --color-neutral-h: rgb(var(--rgb-neutral-h));
  --color-neutral-m: rgb(var(--rgb-neutral-m));
  --color-neutral-l: rgb(var(--rgb-neutral-l));
  --color-neutral-sl: rgb(var(--rgb-neutral-sl));
  --color-stroke-h: rgb(var(--rgb-stroke-h));
  --color-stroke-m: rgb(var(--rgb-stroke-m));
  --color-stroke-l: rgb(var(--rgb-stroke-l));
  --color-background: rgb(var(--rgb-background));
}

._root_1tg1h_1 {
  --font-family: "Helvetica Neue", sans-serif;
  --font-family-1: var(--font-family);
  --font-family-2: var(--font-family);
  font-family: var(--font-family-1);
  font-size: var(--font-size-l);
}

._popUp_1tg1h_158 {
  min-width: calc(400px * var(--scale-ui-w));
  background-color: var(--color-background);
  color: var(--color-neutral-h);
  width: calc(690px * var(--scale-ui-w));
}

/* scale Variants */
._scaleDefault_1tg1h_166 {
  --scale-ui: 1;
}

._scaleSmall_1tg1h_170 {
  --scale-ui: 0.9;
}

._scaleBig_1tg1h_174 {
  --scale-ui: 1.3;
}

._maxWidth_1tg1h_178 {
  max-width: calc(600px * var(--scale-ui));
}

._privacy_1tg1h_182 {
  width: calc(400px * 1.35);
  height: calc(272px * 1.35);
}._wrapper_38m7e_1 {
  width: 400px;
  height: 272px;
  transform: scale(1.35);
  transform-origin: 0 0;
  padding: var(--gap-xl);
  box-shadow: #0000002e 0px 0px 18px 5px;
  border-radius: 7px;
  color: var(--color-neutral-m);
  text-align: center;
}
._wrapper_38m7e_1 header {
  display: flex;
  align-items: baseline;
  margin: 0;
}
._wrapper_38m7e_1 header svg {
  font-size: var(--font-size-xh);
  margin-right: var(--gap-s);
}
._wrapper_38m7e_1 header h3 {
  font-size: var(--font-size-xxl);
}
._wrapper_38m7e_1 ._face_38m7e_24 {
  margin: 0 auto;
  width: 192px;
}
._wrapper_38m7e_1 ._face_38m7e_24 svg {
  width: 80px;
  height: 113px;
}
._wrapper_38m7e_1 ._face_38m7e_24 ._faceExpression_38m7e_32 {
  margin-top: calc(var(--gap-m) * -1);
  color: var(--color-corp-orange);
  font-weight: var(--weight-bold);
}
._wrapper_38m7e_1 ._face_38m7e_24 ._faceText_38m7e_37 {
  font-size: var(--font-size-m);
  margin-top: var(--gap-xs);
}
._wrapper_38m7e_1 ._buttonWrapper_38m7e_41 {
  margin-top: var(--gap-l);
}