.affiliate-link{
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGRJREFUOBFjPP+X4T8DEYCRkeGsARODCbpSJnQBUvnDwAAWbH6ujmNguH8dVebnDwYNoMgZVFEGBqwGgDRfP4eulIEbKGKMLjocAhGUwtD9BQ0wkJ/JBqDQBiVxgngYBCLFXgAAta4a5sk2GbcAAAAASUVORK5CYII=') no-repeat left;
	padding-left: 22px;
	border: none;
	display: inline;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	/* height: 16px; */
	padding: 0;
	cursor: pointer;
	padding-left: 22px;
	margin-left: -22px;
}