@font-face {
    font-family: Inter;
    src: url("../font/Inter-Bold.ttf");
}

button {
    outline: none;
    margin: 1em;
    padding: 1em;
    border: none;
    border-radius: 2px;
    background: #7C807F;
    font-weight: bold;
}

button.current {
    box-shadow: 0 0 0 2px white,
    0 0 0 4px black;
}