body {
	margin: 0px;
	padding: 0px;
}	
.bcConfiance, .bcNormal {
    width:300px;
    height:70px;
}
.bcConfiance{
	background:#C7FFCB;
	background: -webkit-linear-gradient( #C7FFCB, #A4DAA8);
    background:    -moz-linear-gradient( #C7FFCB, #A4DAA8);
    background:     -ms-linear-gradient( #C7FFCB, #A4DAA8);
    background:      -o-linear-gradient( #C7FFCB, #A4DAA8);
    background:         linear-gradient( #C7FFCB, #A4DAA8);
}
.bcAlerte {
	background:#FDBFB7;
	background: -webkit-linear-gradient( #FDBFB7, #FC8474);
    background:    -moz-linear-gradient( #FDBFB7, #FC8474);
    background:     -ms-linear-gradient( #FDBFB7, #FC8474);
    background:      -o-linear-gradient( #FDBFB7, #FC8474);
    background:         linear-gradient( #FDBFB7, #FC8474);
    width: 400px;
    height:90px;
}
.bcNormal {
	background:#F2F2F2;
	background: -webkit-linear-gradient( #F2F2F2, #AEAEAE);
    background:    -moz-linear-gradient( #F2F2F2, #AEAEAE);
    background:     -ms-linear-gradient( #F2F2F2, #AEAEAE);
    background:      -o-linear-gradient( #F2F2F2, #AEAEAE);
    background:         linear-gradient( #F2F2F2, #AEAEAE);
}


#bcTableInfosSiteEtLiens {
	padding:5px;
	margin:0;
	border-spacing:0;
	font-family : Tahoma,Arial,Helvetica,sans-serif;
}

#bcMsg,#bcDomaine{
	text-align:center;
	cursor:default;
}
#bcMsg {
	vertical-align:top;
}
#bcDomaine{
	width:200px;
	vertical-align:middle;
	font-weight: bold;
}
.bcLogo {
	text-align:center;
	vertical-align:middle;
	width:19px;
}

#bcCellAide {
	text-align:right;
	padding-right:5px;
	vertical-align:center;
}

.bcLien,.bcLien:hover {
	color: #000000;
	font-size:15px;
	text-shadow: none;
	text-transform:none;
}
.bcLien{
	cursor:default;
	text-decoration:none;
}
.bcLien:hover  {
	cursor:pointer;
	text-decoration:underline;
}

#bcLigneMsg{
	height:0px;	
}
