#ws-bm-aria-matrices-lnk-container{
position:relative;
z-index:900000000;
}
#ws-bm-aria-matrices-lnk{
background: #262626;
font-size:1.1em; 
font-weight:700; 
text-align: center;
padding: 0.5em 0; 
position: relative;
width:100%;	
}
#ws-bm-aria-matrices-lnk-a,
#ws-bm-aria-matrices-lnk-b{
background-color:transparent;
color:#ffff00;
text-decoration:underline;
}
#ws-bm-aria-matrices-lnk-a:hover,
#ws-bm-aria-matrices-lnk-a:focus,
#ws-bm-aria-matrices-lnk-b:hover,
#ws-bm-aria-matrices-lnk-b:focus{
color:#ffff00;
text-decoration:none;
outline: 2px solid #fff;
}
#ws-bm-aria-matrices-lnk p{
color:#fff;
font-size:1em;
margin:0;
margin-top:0.5em;	
}
.ws-bm-aria-matrices-button{
background: #262626;
font-size:1em;
font-weight:700; 
padding: 0.5em 0; 
position: relative;
text-align: center;
width:100%;	
}
.ws-bm-aria-matrices-side-button{
background:transparent;
position:absolute;
right: 0.25em;
top: 0;
width: 9em;
}

#ws-bm-aria-matrices-button,
.ws-bm-aria-matrices-closeVA{
background:#3f5a3f;
border:none;
border-radius: 1em;
color:#fff;
font-size:.1.2em;
outline:none;
padding: 0.5em 1em;
}
#ws-bm-aria-matrices-button:hover,
#ws-bm-aria-matrices-button:focus,
.ws-bm-aria-matrices-closeVA:hover,
.ws-bm-aria-matrices-closeVA:focus{
border: 2px solid #fff;
text-decoration:underline;
}
/*********************************
Remove VA from the instructions toggle button
***************************************/
button.toggle-ws-bm-aria-matrices[aria-expanded="false"]:after,
button.ws-bm-aria-matrices-closeVA[aria-expanded="false"]:after {
content: '';
}
button.toggle-ws-bm-aria-matrices[aria-expanded="true"]:after,
button.ws-bm-aria-matrices-closeVA[aria-expanded="true"]:after {
content: '';
}

button.toggle-ws-bm-aria-matrices[aria-expanded="true"]:focus::after,
button.ws-bm-aria-matrices-closeVA[aria-expanded="true"]:focus::after {
content: '';
}
button.toggle-ws-bm-aria-matrices[data-ws-bm-name-prop]:hover::before,
button.ws-bm-aria-matrices-closeVA[data-ws-bm-name-prop]:hover::before {
content: '';
}
button.toggle-ws-bm-aria-matrices[aria-expanded="false"]:focus::after,
button.ws-bm-aria-matrices-closeVA[aria-expanded="false"]:focus::after{
content: '';
}
button.toggle-ws-bm-aria-matrices:hover::after,
button.ws-bm-aria-matrices-closeVA:hover::after{
content: '';
}
button.ws-bm-aria-matrices-closeVA:after {
content: '';
}