img.qbuttonCode{
    border: 1px solid black;
    border-collapse: collapse;
    width: 15px;
    border-radius: 18%;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 0px;
    margin-right: 7px;
}
tbody td.portnoFormatted, td.partnoColumn, td.partinfoPartnoCol, td.partnoHtml, td.gmOpelNo, td.gmNo {
    vertical-align: middle !important;
    line-height: 23px !important;
}
.qricambiAnimate{
    animation-name: transitionAnimation;
    animation-duration: 2s;
    animation-fill-mode: forward;
}

@keyframes transitionAnimation {
    from {background-color: red;}
    to {background-color: white;}
}
