body {
    background-color: #303030;
}

label {
    color: white
}

h5 {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    margin-top: 10px;
}

.subtitle {
	font-style: italic;
	color: grey;
}


input[type=checkbox] {
    border: solid 2px #ff3f3f
}

label {
    font-size: large;
}
