.star-icon {
  width: 28px;
  height: 19px;
  background-image: url('@icons/orange-star-outline.svg');
  background-repeat: no-repeat;

  &:hover, &:hover ~ .star-icon {
    background-image: url('@icons/orange-star-filled.svg');
  }
}

.clear-icon {
  path {
    fill: var(--grey-base);

    :global(.theme-dark) & {
      fill: var(--dmd-1);
    }
  }
}
