body, html {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  color: #666;
  font-family: 'Noto Sans','Ubuntu',Helvetica,Arial,sans-serif;
  font-size: 14px;
	line-height: 18px;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a,a:hover,a:visited,a:active,a:focus{
	color:#ff5c26;
  text-decoration: none;
}

h2{
	font-size:24px;
	margin: 0;
}
h3{
	font-size:19px;
	font-weight: bold;
}
h4{
	font-size:15px;
	font-weight: bold;
}

#divMain{
	/*  height:562px;*/
  position: relative;
	min-width: 360px;
}

.cui-page{
	width: 360px;
	padding: 20px;
  display: none;
}
.cui-cmpt-cont{
	margin-bottom: 20px;
}
.cui-cmpt-cont>div>table{
	width: 100%;
}
.cui-table-pages{
	width: 100%;
}
.cui-table-pages a,.cui-table-pages a:hover,.cui-table-pages a:visited,.cui-table-pages a:active,.cui-table-pages a:focus{
	color:#777;
  text-decoration: none;
	display: block;
}
.cui-table-pages td{
  font-size: 11px;
	text-align: center;
	vertical-align: bottom;
	width: 160px;
}
.cui-table-pages td>a:hover{
	background-color: #F8F8F8;
}
.cui-link1,.cui-link2,.cui-link3,.cui-link4{
	padding: 10px 0;
}
.cui-link1{
	border-bottom:1px solid #EEE;
	border-right:1px solid #EEE;
}
.cui-link2{
	border-bottom:1px solid #EEE;
}
.cui-link3{
	border-right:1px solid #EEE;
}
.cui-link4{
}
.cui-text-center{
	text-align: center;
}
.cui-mt5{
  margin-top: 5px;
}
.cui-mt10{
  margin-top: 10px;
}
.cui-mt20{
  margin-top: 20px !important;
}
.cui-mt30{
  margin-top: 40px;
}
.cui-mt40{
  margin-top: 40px;
}
.cui-ml5{
  margin-left: 5px;
}
.cui-ml10{
  margin-left: 10px;
}
.cui-mr10{
  margin-right: 10px;
}
.cui-mr20{
  margin-right: 20px;
}
.cui-mb5{
  margin-bottom: 5px;
}
.cui-mb10{
  margin-bottom: 10px;
}
.cui-mb20{
  margin-bottom: 20px;
}
.cui-m20{
  margin: 20px;
}
.cui-mtb40{
  margin-top: 40px;
  margin-bottom: 40px;
}
.cui-pt20{
  padding-top: 20px;
}
.cui-p20{
  padding: 20px;
}
.cui-plr20{
  padding-left: 20px;
  padding-right: 20px;
}
.cui-ptlr20{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.cui-left{
  float: left;
}
.cui-right{
  float: right;
}
.cui-split{
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: rgba(255,255,255,0.7);
  margin-top: 10px;
  margin-bottom: 10px;
}
.cui-title{
  font-size: 14px;
	line-height: 16px;
  font-weight: bold;
	color:#666;
}
.cui-btn,.cui-btn:visited {
  display: table-cell;
  padding: 10px 10px;
  cursor: pointer;
  color: #FFF;
  border-radius: 3px;
  border: 1px solid rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.5);
  text-align: center;
	font-weight: bold;
}
.cui-btn:hover {
  border: 1px solid rgba(255,255,255,0.7);
  background-color: rgba(0,0,0,0.6);
}
.cui-btn:active {
  background-color: rgba(0,0,0,0.2);
  color: #333;
}
.cui-btn-orange,.cui-btn-orange:hover,.cui-btn-orange:active{
	background-color:#ff5c26;
	color:#FFF;
}
.cui-btn-green,.cui-btn-green:hover,.cui-btn-green:active{
	background-color: #66cc66;
	color:#FFF;
}
.cui-btn-blue,.cui-btn-blue:hover,.cui-btn-blue:active{
	background-color: #6699ff;
	color:#FFF;
}
.cui-btn-red,.cui-btn-red:hover,.cui-btn-red:active{
	background-color: #ff6666;
	color:#FFF;
}
.cui-switch-cont{
  border: 1px solid rgba(0,0,0,0.2) !important;
  border-radius: 3px;
}
.cui-switch{
  background-color: rgba(255,255,255,0.5);
  color: #333;
  line-height: 22px;
  width: 50px;
  border-bottom: 5px solid rgba(0,0,0,0.1);
}
.cui-switch:hover{
	background-color: rgba(0,0,0,0.1);
}
.cui-switch:active {
	background-color: rgba(255,255,255,0.1);
}
.cui-switch-on {
  border-bottom: 5px solid #ff5c26 !important;
}
.cui-fullwidth{
  width: 100%;
  display: inline-block;
}
.cui-scrolling-cont{
	overflow-x: hidden;
  overflow-y: auto;
}
.cui-logo{
  width: 130px;
  height: 24px;
  background-image: url('../img/mywebook-logo-sm.png');
  background-repeat: no-repeat;
  display: inline-block;
}
.cui-uiId{
	font-size: 12px;
	color:#999;
}
.cui-header{
	padding: 20px;
	padding-top: 15px;
	border-bottom: 1px solid #CCC;
	height: 53px;
}
.cui-hidden{
	/*	visibility: hidden;*/
	display: none;
}
.cui-links{
	margin-top: 20px;
}
.cui-nowrap{
	white-space: nowrap;
}
.cui-color-orange{
	color:#ff5c26;
}
.cui-relative{
	position: relative;
}
.cui-btn-half{
	width: calc(50% - 2px);
	/*	width: 138px;*/
}
/*.cui-btn-half:first-of-type{
	margin-right: 2px;
}
.cui-btn-half:last-of-type{
	margin-left: 2px;
}*/
.cui-gray{
	color:#AAA;
}
.cui-font-sm{
	font-size: 13px;
	line-height: 14px !important;
}
.cui-tags-cont{
	min-height:31px;
	overflow-y: auto;
	border: 1px solid #aaa;
}
.cui-tags-cont .select2-container .select2-selection--multiple,.cui-tags-cont .select2-container--default.select2-container--focus .select2-selection--multiple {
  min-height: 29px;
	border: none;
}
.cui-prefs-height{
	height: 473px;
}
.cui-wide-page{
	width: 500px;
}
.cui-scroll{
	height: 440px;
	overflow: auto;
	padding: 20px;
}
