h3{
	margin: 0;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
}
label{
  font-weight: normal;
  color:#999;
	margin-bottom: 2px;
}
table td{
	vertical-align: top;
}
.form-control,.btn,.dropdown-menu{
  border-radius: 0;
  text-shadow: none;
  height: 30px;
}
.btn-primary,.btn-info,.btn-danger{
  border: none;
  font-weight: 700;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #ff5c26 !important;
}
.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
  background-color: #777 !important;
}
.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
  background-color: #1b6d85 !important;
}
body{
  line-height: inherit !important;
}
.select2-search>input{
	width: 100% !important;
}
/*.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 0 2px;
}*/

.select2-container {
	font-size: 15px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-right: 4px;
  margin-top: 4px;
  padding: 3px 5px; 
}
.select2-dropdown{
	border: 1px solid #aaa !important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: transparent;
	color: #ff5c26;
	font-weight: bold;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #EEE;
	color:#ff5c26;
	border: 1px solid #DDD;
	border-radius: 2px; 
}
