.container{
    min-width: 1180px;
}

#undoButton , #redoButton{
    display: flex;
    align-items: center;
    gap: 7px;
    color: #B3B3B3;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    svg{
        width: 26px;
        height: auto;

        &.undo-blue { display: none; }
        &.redo-blue { display: none; }
    }

    &.undo-text,
    &.redo-text { color: #1687F0; }
}

#redoButton{
    color: #B3B3B3;
}

@import './partials/reset';
@import './partials/fonts';
@import './partials/header';
@import './partials/widget';
@import './partials/search';
@import './partials/footer';
@import './partials/cancelpop';