<!DOCTYPE html>
<html class="bg-grey-100">
  <head>
    <title>Permissions Popup</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover"
    />
    <link rel="stylesheet" href="../../font/roboto-fonts.css">
    <link rel="stylesheet" href="../../style.css">
    <script src="../../src/react/apps/permissionsOnboarding/Popup.js"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
