@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Oswald';
  src: local('Oswald-Regular'), url(../fonts/Oswald.woff2) format('woff2');
}

html, body {
  overflow: hidden;
  height: fit-content;
}

body {
  width: 600px;
  background-color: #fff;
}

body, table {
  color: #333;
  font-size: 11px;
  font-weight: 100;
  font-family: Oswald, sans-serif;
}

audio {
  width: 0;
  height: 0;
}

html, body, table, audio, .holder, a {
  border: 0;
  margin: 0;
  padding: 0;
}

table tr {
  transition: 300ms outline;
}

table tr td {
  color: #555;
  transition: 300ms ease all;
}

p {
  padding: 5px;
  line-height: 18px;
}

.logo {
  width: 58px;
  height: 58px;
  background: url('../icons/64.png') no-repeat center center;
  background-size: 32px;
}

.audio-list-table {
  padding: 0;
  margin: auto;
  border-spacing: 0 5px;
  width: calc(100% - 10px);
}

.audio-list-table tr {
  background-color: #fff;
  outline: solid 1px rgba(0,0,0,0.1);
}

.audio-list-table tr:hover,
.audio-list-controls tr td:hover {
  outline: solid 1px #b1b1b1;
}

.audio-list-table tr td[rule='index'] {
  width: 32px;
  height: 32px;
  min-width: 32px;
  max-width: 32px;
  text-align: center;
}

.audio-list-table tr td a {
  white-space: nowrap;
  text-decoration: none;
  text-transform: capitalize;
}

.audio-list-table tr td[rule='url'] {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.audio-list-table tr td[rule='resolution'] {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  overflow: hidden;
  text-align: center;
}

.audio-list-table tr td[rule='size'] {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  overflow: hidden;
  text-align: center;
}

.audio-list-table tr td[rule='copy'],
.audio-list-table tr td[rule='delete'],
.audio-list-table tr td[rule='download'] {
  width: 36px;
  cursor: pointer;
  font-size: 10px;
  min-width: 36px;
  max-width: 36px;
  text-align: center;
  font-family: monospace;
}

.audio-list-table tr td[rule='download'] {font-size: 16px}
.audio-list-table tr td[rule='delete']:hover {color: #fff}

.audio-list-table tr td[rule='copy']:hover,
.audio-list-table tr td[rule='download']:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.5);
}

.audio-list-controls {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  border-spacing: 3px;
}

.audio-list-controls tr td {
  height: 32px;
  cursor: pointer;
  background-color: #fff;
  outline: solid 1px #E0E0E0;
}

.audio-list-table tr td[rule='delete']:hover {background-color: #C75050}

.audio-list-controls tr td[state='inactive'] {
  color: white;
  background-color: #e02536;
  outline: solid 1px #e02536;
}

.header {
  height: 32px;
  background-color: transparent;
}

.header tr td[rule='action'] {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  text-align: left;
  text-indent: 10px;
}

.header tr td {cursor: default}
.header tr, .header tr:hover {outline: none}

.header tr {
  box-shadow: none;
  background-color: transparent;
}

.header,
.audio-list-controls tr td,
.audio-list-table tr td[rule='index'] {
  user-select: none;
}

#resolution {display: none}

#container {
  width: 100%;
  height: 318px;
  min-height: 318px;
  max-height: 318px;
  overflow-x: hidden;
  overflow-y: scroll;
}