.proxy_list input {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.copyright {
    font-size: 10px;
}

[name="import_proxy"] {
    max-height: 400px;
}