<div class="popover-wanteeed">
  <div class="arrow"></div>
  <h3 
    class="popover-title"
    style="text-align:left;height:25px">
    <img 
      src="{{ LOGO_IMG }}"
      style="max-height:25px;float:left;" />
    <div
      id="wanteeedPopoverClose"
      style="display:block;cursor:pointer;float:right;opacity: 0.8;">
      <img 
        src="{{ CLOSE_IMG }}" 
        style="max-height: 12px;margin-top: 7px;" />
    </div>
  </h3>
  <div class="popover-content"></div>
  <div class="popover-navigation"></div>
</div>