/* ---------------------------------------
DEEP COLOR -> rgb(40, 62, 74)
LIGHT COLOR -> rgb(0, 132, 191)

65 / LIGHT COLOR -> rgb(77, 198, 255)
40 / LIGHT COLOR -> rgb(0, 139, 204)
35 / DEEP COLOR -> rgb(62, 97, 116)
30 / DEEP COLOR -> rgb(0, 105, 153)
--------------------------------------- */

/* IMPORT CSS ELEMENTS */
@import url('button.css');
@import url('icon.css');
@import url('input.css');
@import url('table.css');
@import url('message.css');
@import url('tab.css');

/* LOAD AND SET FONTS */
@font-face {
  font-family: 'Raleway';
  font-weight: normal;
  src: url('assets/fonts/raleway-medium.ttf');
}
@font-face {
  font-family: 'Raleway';
  font-weight: bold;
  src: url('assets/fonts/raleway-semibold.ttf');
}
html,
body {
  font-family: 'Raleway';
  font-size: 13px;
}
h1 {
  margin: 0;
}

/* STYLES */
body {
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.75);
  background-color: rgba(255, 255, 255, 1);
  text-size-adjust: 100%;
  width: 100%;
}

.container {
  padding: 15px;
}

@media only screen and (max-width: 350px) {
  body {
    width: 325px;
  }
}
* {
  outline: none;
}
a {
  color: rgb(87, 114, 227);
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  opacity: 0.85;
  transition: opacity 0.5s ease;
}

/* CUSTOM STYLES */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
  border-radius: 0;
}
*::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
  background: rgba(0, 0, 0, 0.1);
}

textarea[name='coverLetter']:focus {
  height: 20em;
}
textarea[name='coverLetter'] {
  height: 7.5em;
}

[data-name='all-answers'] textarea {
  height: 3.75em;
}
[data-name='all-answers'] textarea:focus {
  height: 15em;
}
*:disabled {
  opacity: 0.35;
}

@font-face {
  font-family: 'Euclid Circular A';
  font-weight: normal;
  src: url('../theme/assets/fonts/Euclid\ Circular\ A.ttf');
}
label {
  font-family: 'Poppins', sans-serif;
  font-size: 11.5px;
  font-weight: normal;
  padding: inherit;
  color: #000;
  margin-bottom: 3px;
}
span {
  color: #8a8a8a;
  font-weight: 500;
  padding: inherit;
}
h1 {
  margin: 0;
}
/* STYLES */
body {
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.75);
  background-color: rgba(255, 255, 255, 1);
  text-size-adjust: 100%;
}
/*
div {
	padding: 6.5px;
	display: flex;
	justify-content: space-between;
} */
/* @media only screen and (max-width: 330px) {
	body {
		width: 330px;
	}
} */
* {
  outline: none;
}
a {
  color: rgb(74, 95, 191);
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  opacity: 0.85;
  transition: opacity 0.5s ease;
}
/* CUSTOM STYLES */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
  border-radius: 0;
}
*::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
  background: rgba(0, 0, 0, 0.1);
}
textarea[name='coverLetter']:focus {
  height: 20em;
}
textarea[name='coverLetter'] {
  height: 7.5em;
}
[data-name='all-answers'] textarea {
  height: 3.75em;
}
[data-name='all-answers'] textarea:focus {
  height: 15em;
}
*:disabled {
  opacity: 0.35;
}
.header {
  background-color: skyblue;
  display: flex;
  flex-direction: row;
}
.header h2 {
  margin-left: 10px;
  font-family: sans-serif;
}

.content {
  padding: 20px;
}

.poweredBy {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.header-name {
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: bolder;
  font-size: 15px;
  line-height: 99.7%;
  color: black;
  /* identical to box height, or 10px */

  display: flex;
  align-items: center;

  /* Black */

  color: #151515;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 5px 0px;
}
.image-box {
  display: flex;
}
.add-spacing {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px;
}

.walmart {
  color: #5772e3;
  font-weight: bold;
  font-style: italic;
}
.wfs {
  color: #fff;
}

.calculator {
  color: #fff;
  font-weight: bold;
  font-style: italic;
}
.input-portion {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.align-flex input:focus {
  border: 1px solid rgb(76, 111, 185);
}
.align-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
  grid-column-gap: 15px;
}

.align-flex input {
  width: 60px;
  background-color: transparent;
  border: 0.620253px solid #8a8a8a;
  border-radius: 4px;
}
.align-flex .date-input {
  width: 170px;
}
.bg-aqua {
  background-color: #f0f4f7;
  padding: 11px 13px 12px 13px;
}
.w-40 {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
}
#browser {
  width: 100px;
}
.date-input {
  width: 120px;
}
.font-weight-bold {
  font-weight: 500;
  color: #000;
}
.flex-colum {
  display: flex;
  flex-direction: column;
}
.flex-colum label {
  color: #8a8a8a;
  font-size: 8px;
  margin-bottom: 5px;
}
.text-green {
  color: #41a04f;
}

.text-red {
  color: red;
}

.input-float {
  display: flex;
  flex-direction: column;
}
.input-float input {
  margin-bottom: 5px;
}
.input-float label {
  color: #8a8a8a;
  font-size: 10px;
  margin-bottom: 5px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.hr {
  border: 0.1px solid #cfe3f2;
}
.question a {
  color: #2a3141;
  font-size: 10px;
}
.footer-logo {
  margin-left: 5px;
  height: 15px;
}
.dot {
  height: 12px;
  width: 12px;
  margin-left: 8px;
  background-color: #5772e3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.in-use {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: right;
  margin-bottom: 9px;
  padding: 3px 0;
  border-radius: 5px;
}

.active,
.collapsible:hover {
  background-color: rgb(194, 194, 194);
}

.content select  {
  background-color: transparent;
  border: 0.620253px solid #8a8a8a;
  border-radius: 4px;
  width: fit-content;
}

.content input  {
  background-color: transparent;
  border: 0.620253px solid #8a8a8a;
  border-radius: 4px;
  width: fit-content;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  padding: 11px 3px 11px 10px;
  border: 0px;

  width: 95%;
  height: 70px;

  /* Ghost White */

  background: #f8faff;
  border-radius: 8px;
  align-items: center;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 4px auto;
  cursor: pointer;
}

.action-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 11px 3px 11px 10px;
  border: 0px;

  width: 90%;
  height: 70px;

  /* Ghost White */

  background: #050608;
  border-radius: 8px;
  align-items: center;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px auto;
  cursor: pointer;
}

.social-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 11px 3px 11px 10px;

  position: static;
  width: 120px;
  height: 40px;
  cursor: pointer;
  font-size: 12px;

  /* Ghost White */

  background: #f8faff;
  border-radius: 5px;
  border: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  align-items: center;
  margin: 6px 0px;
}

.headerImage {
  height: 35px;
  width: 35px;
  align-self: center;
  padding: 5px;
}

.social-portion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.action-name {
  color: #0c0808;
  font-weight: 1000;
  padding: inherit;
  font-family: 'Euclid Circular A';
  margin-right: 4px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 2px;
  padding: 9px;
  margin: 25px 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #c5fde2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c5fde2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
