ul[role="tree"] {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul[role="tree"] li {
  margin: 0 7px;
  padding: 0;
  list-style: none;
}

[role="treeitem"] ul {
  margin: 0;
  padding: 0;
  margin-left: 0.9em;
}

[role="treeitem"][aria-expanded="false"] > ul {
  display: none;
}

[role="treeitem"][aria-expanded="true"] > ul {
  display: block;
}


[role="treeitem"] > span::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 4px;
  width: 4px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
  left: -9px;
  top: 4px;
}

[role="treeitem"][aria-expanded="true"] > span::before {
  transform: rotate(45deg);
  top: 3px;
}

[role="treeitem"],
[role="treeitem"] span {
  border: 2px transparent solid;
  display: block;
  position: relative;
}

/* disable default keyboard focus styling for treeitems
   Keyboard focus is styled with the following CSS */
[role="treeitem"]:focus {
  outline: 0;
}

[role="treeitem"].focus,
[role="treeitem"] span.focus {
  border-color: #7bc3ff;
  background-color: #cde8ff;
}

[role="treeitem"].hover,
[role="treeitem"] span.hover {
  background-color: #e5f3ff;
}
