.theme_preview_1 {background-position:0 0;width:230px;height:50px;}
.theme_preview_2 {background-position:0 -50px;width:230px;height:50px;}
.theme_preview_3 {background-position:0 -100px;width:230px;height:50px;}
.theme_preview_4 {background-position:0 -150px;width:230px;height:50px;}
.theme_preview_5 {background-position:0 -200px;width:230px;height:50px;}
.theme_preview_6 {background-position:0 -250px;width:230px;height:50px;}
.theme_preview_7 {background-position:0 -300px;width:230px;height:50px;}
.theme_preview_10 {background-position:0 -350px;width:230px;height:50px;}
.theme_preview_11 {background-position:0 -400px;width:230px;height:50px;}
.theme_preview_13 {background-position:0 -450px;width:230px;height:50px;}
.theme_preview_15 {background-position:0 -500px;width:230px;height:50px;}
.theme_preview_17 {background-position:0 -550px;width:230px;height:50px;}
.theme_preview_18 {background-position:0 -600px;width:230px;height:50px;}
.theme_preview_19 {background-position:0 -650px;width:230px;height:50px;}
.theme_preview_20 {background-position:0 -700px;width:230px;height:50px;}
.theme_preview_21 {background-position:0 -750px;width:230px;height:50px;}
.theme_preview_22 {background-position:0 -800px;width:230px;height:50px;}
.theme_preview_23 {background-position:0 -850px;width:230px;height:50px;}
.theme_preview_24 {background-position:0 -900px;width:230px;height:50px;}
.theme_preview_25 {background-position:0 -950px;width:230px;height:50px;}
.theme_preview_26 {background-position:0 -1000px;width:230px;height:50px;}