.container {
    width: 500px;
    padding: 0.25em;
}

#section_custom table {
    height: 120px;
}

.tabs-h {
    overflow: hidden;
    max-height: 250px;
    overflow-y: scroll;
}


table#tabs tr {
    cursor: pointer;
}

table#tabs tr td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table#tabs tr td:nth-child(2) {
    max-width: 100px;
}

table#tabs tr td:nth-child(1), table#tabs tr td:nth-child(3), table#tabs tr td:nth-child(4) {
    width: 1px;
}

.copyright {
    font-size: 10px;
}