body {
  width: 550px;
  height: 350px;
  font-family: Montserrat;
  font-size: small;
  background-color: #f0f0f0;
  color: #717171;
  overflow-x: hidden;
}
.header {
  /* Rectangle 4 */
  width: 100%;
  position: static;
  left: 0px;
  top: 0px;
  display: flex;
  padding-top: 8px;
  padding-bottom: 5px;
  padding-left: 4px;
}

#logo-app {
  margin-left: 2%;
}

#name-app {
  text-transform: initial;
  font-size: small;
  color: #dd2e44;
  margin: 5px 0px;

  vertical-align: middle;
}
#content1,
#content2 {
  display: block;
  position: relative;
  top: 5px;
  left: 1%;
}
#content3 {
  display: flex;
  position: relative;
  top: 5px;
  left: 1%;
}
hr {
  border-color: #e1e1e1;
  width: 440px;
  margin-left: auto;
}
#part1 {
}
#part2 {
  width: 100%;
}
.part1-title,
.part2-title {
  color: #18be15;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
}

.cycle-title {
  margin-left: 8px;
  margin-top: 5px;
}

.timer-block {
  /*margin-left: auto;*/
  position: relative;
  width: 30%;
  height: auto;
  left: 34%;
}
#timer {
  margin-top: 15px;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-color: #efefef;
  padding: 15px;
  align-content: center;
}

#timer-content {
  position: relative;
  top: 10%;
  left: auto;
}

#show-chrono {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 5px;
  text-align: center;
}
#cycle-part {
  font-weight: 300;
  font-size: small;
  margin-top: 0px;
  text-align: center;
}
.actions {
  justify-content: center;
}
.btn-actions {
  border-radius: 8px;
  border: 0px;
  width: 75px;
  height: 35px;
}
.btn-actions-disabled {
  box-shadow: inset 2px 2px 10px 0 #d6d6d6, inset -2px -2px 7px 0 #ffffff;
}
.btn-control {
  width: 32px;
  height: 32px;
  background: #efefef;
  border-radius: 8px;
  margin-right: 8px;
  border: 0px;
}
input,
select {
  border-radius: 4px;
  background: #f0f0f0;
  box-shadow: -4px -4px 13px #ffffff, 4px 4px 13px #d6d6d6;
  border: none;
  padding: 8px;
  text-align: right;
}
label {
  width: 40%;
  text-align: right;
}
.timer-neomorphisme {
  box-shadow: -7px -7px 16px #ffffff, 7px 7px 16px #d6d6d6;
}
.btn-neomorphisme {
  background: #f0f0f0;
  color: #717171;
  box-shadow: -2px -2px 6px #ffffff, 2px 2px 6px #d6d6d6;
  border-radius: 4px;
  font-weight: bold;
}

.btn-neomorphisme-dark {
  background: #000000;
  color: #717171;
  box-shadow: -2px -2px 6px #000000, 2px 2px 6px #d6d6d6;
  border-radius: 4px;
  font-weight: bold;
}
.p-9 {
  padding: 9px;
}
.text-bold {
  font-weight: bold;
}
.hidden {
  display: none;
}
.border-0 {
  border: 0px;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-vertical-center {
  vertical-align: middle;
}
.pomodoro-color {
  color: #dd2e44;
}
.options-block {
  width: 50%;
}
#pomodoro-btn:hover,
#option-btn:hover,
#credit-btn:hover,
#help-btn:hover,
#stat-btn:hover,
#suivant-discover:hover,
#precedent-discover:hover {
  /* background-color: #4dd84b; */
  color: #18be15;
  box-shadow: inset 2px 2px 10px 0 #d6d6d6, inset -2px -2px 7px 0 #ffffff;
}
.clicked {
  color: #18be15;
  box-shadow: inset 3px 3px 6px 0 #ffffff, inset -3px -3px 6px 0 #d6d6d6;
}
#play:hover,
#next-round:hover {
  box-shadow: inset 2px 2px 10px 0 #d6d6d6, inset -2px -2px 10px 0 #ffffff;
}
.cursor-pointer {
  cursor: pointer;
}

.pausedTimer {
  box-shadow: inset 2px 2px 10px 0 #d6d6d6, inset -2px -2px 10px 0 #ffffff;
}
.menu {
  text-align: right;
  position: relative;
  left: 12%;
}

@media (prefers-reduced-motion: no-preference) {
  .pauseAnim {
    animation: tempo 1s infinite;
  }
}

@keyframes tempo {
  0% {
    transform: scale(0.85, 0.85);
  }

  100% {
    transform: scale(1, 0.95);
  }
}
script[data-slug] {
  width: 50px;
  font-size: small;
}
.break-color {
  color: #23a089;
}

.pr-4 {
  padding-right: 4rem;
}
.p-3 {
  padding: 1.5rem;
}

.p-1 {
  padding: 0.5rem;
}

.mt-0 {
  margin-top: 0px;
}
.mb-0 {
  margin-bottom: 0px;
}

.mb-2 {
  margin-bottom: 1.5rem;
}
.m-5 {
  margin: 3rem;
}
.mt-3 {
  margin-top: 1.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-0-5 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 2rem;
}
.mt-5 {
  margin-top: 3rem;
}
.mr-3 {
  margin-right: 1.5rem;
}
.mr-2 {
  margin-right: 1rem;
}
.mr-1 {
  margin-right: 0.75rem;
}
.mr-4 {
  margin-right: 2rem;
}

.ml-3 {
  margin-left: 1.5rem;
}
.ml-2 {
  margin-left: 1rem;
}
.ml-1 {
  margin-left: 0.75rem;
}
.ml-4 {
  margin-left: 2rem;
}
.ml-5 {
  margin-left: 3rem;
}
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.text-xsmall {
  font-size: x-small;
}

.text-small {
  font-size: small;
}

.buy-coffe-btn {
  background-color: #e97864;
}
.tooltip {
  position: relative;
  display: inline-block;
  font-size: x-small;
}
.border-radius-coffe {
  border-radius: 8px;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: medium;
}

.tooltipbottom .tooltiptextBottom {
  visibility: hidden;
  width: 70px;
  background-color: rgb(94, 95, 95);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -43%;
  left: 45%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltiptextBottom::after {
  content: "";
  position: absolute;
  top: -30%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(137, 137, 137) transparent transparent transparent;
}
.tooltipbottom:hover .tooltiptextBottom {
  visibility: visible;
  opacity: 1;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(94, 95, 95);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(137, 137, 137) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
#discover-content {
  margin-left: 10%;
  padding: 2% 5%;
  height: 200px;
  width: 450px;
  box-sizing: border-box;
  background-image: url("../icons/art.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  border: solid 2px white;
}
.discover-action {
  display: flex;
}

.container-img {
  display: flex;
}
.discover-img {
  /* margin: 0 auto;     */
  display: flex;
}
.discover-title {
  text-align: center;
}

.border-danger {
  border: #dd2e44 1px solid;
}

.bg-blue {
  background-color: #2860d8;
  color: white;
}
.border-radius-4 {
  border-radius: 4px;
}

#detail {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 3%;
  height: 150px;
  color: white;
}

.bg-image {
  /* The image used */
  background-image: url("../icons/benin.jpeg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;
  width: 50%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
