/**
 * This CSS file will get injected into Flipboard's bookmarklet login page
 */

body {
    width:535px;
    height:565px;
    background:#F7F7F7;
}
.signin,
.signin *,
.signin-footer {
    text-align:center;
}
.ctr-fields input {
    width:100% !important;
}
