body{
 background: #d9d9d9;
 margin: 5px;
}
button{
 box-sizing: border-box;
 width: 60px;
 margin: 0px 0px 5px 0px;
 padding: 3px;
 color: #ffffff;
 background: #000000;
 box-shadow: 2px 3px 4px 1px #000000;
 border: 1px solid white;
}
button:focus{
 box-shadow: 0px 0px 0px 1px #000000;
 transform: translate(0px, 1px);
}
img{
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
 height: 19px;
 width: 19px;
 box-shadow: 1px 1px 3px 1px #000000;
 border: 1px solid #ffffff;
 border-radius: 2px;
 background: #ffffff;
}