@import "select2";
@import "~bootstrap/scss/bootstrap";
$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";
@import "~bootstrap-icons/font/bootstrap-icons";
$s2bs5-border-color: $border-color;
@import "~select2-bootstrap-5-theme";

//General
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f8f8;
  font-size: 15px;
}
h1 {
  line-height: 2.5rem;
  font-weight: bold;
  margin-top: 28px;
  font-size: 25px;
  margin-bottom: 30px;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
p {
  margin-bottom: 35px;
}
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flexcolumn,
.flexMultiColumn {
  display: flex;
  flex-direction: column;
}
.cristal {
  height: 58px;
  width: auto;
  text-align: center;
}

//  Page-layout
main {
  width: 768px;
  background: white;
  margin: 50px auto;
  height: 768px;
  border: 1px solid #ececec;
}
#leftside {
  width: 100%;
  background-color: #fff;
  padding: 29px 40px 0px 40px;
  color: #15113c;
}
.logoCR {
  width: 98px;
  height: 73px;
}
.leftText {
  padding-left: 20px;
  padding-right: 20px;
}
.smallText {
  font-size: 1.4rem;
}
.label-text {
  margin-bottom: 15px;
}
.label-checkbox-text {
  margin-bottom: 15px;
  margin-top: 20px;
}
.saveOptionsBtn,
.bibDomainsModalValidateBtn, .dataCollectModalAgreeBtn {
  --bs-btn-bg: #21ce21;
  --bs-btn-border-color: #21ce21;
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #21ce21;
  --bs-btn-hover-border-color: #21ce21;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
}
.resetOptionsBtn, .dataCollectModalDeclineBtn {
  --bs-btn-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6c757d;
  --bs-btn-hover-border-color: #6c757d;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
}
#rightside {
  width: 674px;
  padding: 133px 62px 50px 70px;
  background: #f8f8f8;
}
.schema img {
  width: 100%;
  height: auto;
}
.logos {
  margin-top: 67px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.logoCNRS {
  width: 73px;
  height: 73px;
}
.contact-text {
  font-size: 13px;
  color: #585858;
  margin-top: 10px;
}
button:focus {
  outline: none;
}
.logoUnpaywall {
  height: 32px;
  width: auto;
}
.logoPanist {
  height: 38px;
  width: auto;
}
.logoInserm {
  height: 24px;
  width: auto;
}
.logoLyon1 {
  height: 50px;
  width: auto;
}
.logoRennes1 {
  height: 38px;
  width: auto;
}
.logoOrleans {
  height: 60px;
  width: auto;
}
.logoLimoges {
  height: 38px;
  width: auto;
}
.logoCEA {
  height: 48px;
  width: auto;
}
.logoB2RM {
  height: 24px;
  width: auto;
}
.logoIP {
  height: 38px;
  width: auto;
}
// Sortable
.sortable-chosen {
  background-color: #21ce21;
  color: #fff;
}
#sourceList {
  cursor: grab;
}
// Tooltips
.custom-tooltip {
  --bs-tooltip-bg: #21ce21;
}
// GScholar switch
.form-check-input:checked {
  background-color: #21ce21;
  border-color: #21ce21;
}
// Save Alert
#saveAlert > .alert {
  --bs-alert-bg: #21ce21;
  --bs-alert-color: #fff;
  --bs-alert-border-color: #21ce21;
  --bs-alert-margin-bottom: 3rem;
  font-family: "Montserrat", sans-serif;
}
// Media
@media screen and (max-width: 1325px) {
  main {
    width: 692px;
  }
}
@media screen and (max-width: 692px) {
  main {
    width: 100%;
  }
  #leftside,
  #rightside {
    width: 100%;
    min-width: 400px;
  }
}
@media screen and (max-width: 433px) {
  button {
    margin-left: -50px;
  }
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
