._Container_1oq61_1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 500;
}

._TargetSelectorWrapper_1oq61_8 {
  flex-grow: 1;
}
._TargetSelector_1oq61_8 {
  width: 100%;
  text-overflow: ellipsis;
}

._TargetPlaceholder_1oq61_16 {
  /* match padding of nativeselect */
  padding: 0.2rem;
  padding-bottom: calc(0.2rem + 1px);
}

._SaveTargetButton_1oq61_22 {
  margin-left: auto;
}

._SaveTargetButton_1oq61_22._hidden_1oq61_26 {
  visibility: hidden;
}
html._iframe_qo5hw_1,
html._iframe_qo5hw_1 body,
html._iframe_qo5hw_1 #root {
  overflow: hidden;
  display: flow-root;
  height: 100%;
}:root._iframe_qo5hw_1 {
  font-size: 14px;
}html._iframe_qo5hw_1 body {
  user-select: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}:where(._UnstyledButton_qo5hw_20) {
  cursor: pointer;

  padding: 0;

  font: inherit;
  color: inherit;

  appearance: none;
  background: none;
  border: none;
}

._Wrapper_hk9lq_1 {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.6rem var(--overlay-shadow-width) var(--overlay-shadow-width) 0.6rem;
}

._Overlay_hk9lq_7 {
  position: relative;

  overflow: visible;

  width: 20rem;
  padding: 1rem;

  background: var(--hl-color-electric-green-50) url('/assets/background-ea9c79e1.svg') no-repeat bottom right;
  border-radius: var(--corner-radius-default);
  box-shadow: 0 0 var(--overlay-shadow-width) 0 rgb(0 0 0 / 25%);
}

._Overlay_hk9lq_7._undone_hk9lq_20 {
  background-color: var(--hl-color-mikado-yellow-100);
}

._Header_hk9lq_24 {
  display: flex;
  align-items: center;
}

._Header_hk9lq_24 h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

._Logo_hk9lq_35 {
  height: 1.5rem;
  margin-left: auto;
}

._CloseButton_hk9lq_40 {

  position: absolute;
  top: -0.4rem;
  left: -0.4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.2rem;
  height: 1.2rem;

  visibility: hidden;
  background-color: var(--hl-color-spanish-gray-300);
  border-radius: 50%;
}

._Overlay_hk9lq_7:hover ._CloseButton_hk9lq_40,
._Overlay_hk9lq_7._expanded_hk9lq_60 ._CloseButton_hk9lq_40 {
  visibility: visible;
}

@media (hover: none) {
  ._CloseButton_hk9lq_40 {
    visibility: visible;
  }
}

._CloseButton_hk9lq_40 > svg {
  pointer-events: none;
  width: 0.5rem;
  height: 0.5rem;
  fill: currentColor;
}

._LoginInfo_hk9lq_77 {
  overflow: hidden;

  margin: 1rem 2px 0 0;
  padding-left: 0.6rem;

  font-weight: 500;
  white-space: nowrap;

  border-left: 1px solid currentColor;
}

._LoginInfo_hk9lq_77 ._Line_hk9lq_89 {
  overflow: hidden;
  text-overflow: ellipsis;
}

._LoginInfo_hk9lq_77 ._NoUsernameIcon_hk9lq_94 {
  width: auto;
  height: 0.7rem;
  fill: var(--color-error);
}

._LoginInfo_hk9lq_77 ._InLabel_hk9lq_100 {
  font-weight: normal;
}

._MoreOptionsButton_hk9lq_104 {
  margin-top: 1rem;
}

._Actions_hk9lq_109 {
  margin-top: 1rem;
}

._Actions_hk9lq_109._list_hk9lq_113 {
  margin-bottom: 0;
  margin-inline: 0;
  padding: 0;
  list-style: none;
}

._Actions_hk9lq_109._list_hk9lq_113 li + li {
  margin-top: 1rem;
}

._Action_hk9lq_109 {
  font-weight: 500;
}

._TargetSelectorGroup_hk9lq_128 {
  display: flex;
  align-items: baseline;
  width: 100%;
}

._ToLabel_hk9lq_134 {
  flex-shrink: 0;
  width: 2rem;
  margin-right: 0.75rem;
  text-align: left;
}

._TargetSelector_hk9lq_128 {
  flex-grow: 1;
}

._MoveButtonGroup_hk9lq_145 {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-right: 0.5rem;
}
html._iframe_qo5hw_1,
html._iframe_qo5hw_1 body,
html._iframe_qo5hw_1 #root {
  overflow: hidden;
  display: flow-root;
  height: 100%;
}:root._iframe_qo5hw_1 {
  font-size: 14px;
}html._iframe_qo5hw_1 body {
  user-select: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}:where(._UnstyledButton_qo5hw_20) {
  cursor: pointer;

  padding: 0;

  font: inherit;
  color: inherit;

  appearance: none;
  background: none;
  border: none;
}

._Container_afb8p_1 {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: -moz-fit-content;

  width: fit-content;
}

._Button_afb8p_13 {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 3em;
  height: 2em;
  padding: 0;

  font: inherit;
  color: inherit;

  appearance: none;
  background: var(--hl-color-spanish-gray-200);
  border: none;
  border-radius: 1em;
}

._Button_afb8p_13:focus {
  box-shadow: none;
}

._Arrow_afb8p_37 {
  width: 0.75em;
  height: auto;
  margin-right: 0.25em;
}

._HeyloginIcon_afb8p_43 {
  width: 1.5em;
  height: auto;
  margin-left: 0.25em;
}

._Menu_afb8p_49 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 17.5rem;
  margin: 0.3rem 0.1rem 0.5rem 0.5rem;
  padding: 1.5rem;

  background: var(--hl-color-spanish-gray-50);
  box-shadow: 0 0.2rem 0.2rem hsl(0deg 0% 0% / 30%);
}

._ToggleActive_afb8p_62 {
  cursor: pointer;
  display: flex;
}

._ToggleActiveLabel_afb8p_67 {
  margin-top: 0.2rem;
}

._Switch_afb8p_71 {
  margin-right: 0.75rem;
  margin-left: 0;
}

._TargetSelectorGroup_afb8p_76 {
  display: flex;
  align-items: baseline;
  width: 100%;
}

._ToLabel_afb8p_82 {
  flex-shrink: 0;
  width: 2rem;
  margin-right: 0.75rem;
  text-align: center;
}

._TargetSelector_afb8p_76 {
  flex-grow: 1;
}

._MenuButton_afb8p_93 {

  display: flex;
  align-items: center;

  padding: 0.2rem;

  text-align: left;

  border-radius: var(--corner-radius-default);
}

._MenuButton_afb8p_93 svg {
  align-self: start;

  width: 1.2rem;
  height: 2em;
  margin-right: 1.25rem;
  margin-left: 0.3rem;

  fill: currentColor;
}

._MenuButton_afb8p_93._primary_afb8p_117 {
  font-weight: 500;
  color: var(--hl-color-ultramarine-500-m);
}

._MenuButton_afb8p_93._hide_afb8p_122 svg {
  margin-top: -0.25rem;
}
html._iframe_qo5hw_1,
html._iframe_qo5hw_1 body,
html._iframe_qo5hw_1 #root {
  overflow: hidden;
  display: flow-root;
  height: 100%;
}:root._iframe_qo5hw_1 {
  font-size: 14px;
}html._iframe_qo5hw_1 body {
  user-select: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}:where(._UnstyledButton_qo5hw_20) {
  cursor: pointer;

  padding: 0;

  font: inherit;
  color: inherit;

  appearance: none;
  background: none;
  border: none;
}

._UpdateLoginForm_1cr2c_1 {
  text-align: center;
}

._Header_1cr2c_5 {
  margin-bottom: 1rem;

  /* To prevent crashing into back button */
  padding: 0 1.5rem;
}
._LogInto_1cr2c_11,
._Website_1cr2c_12 {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.2em;
}
._LogInto_1cr2c_11 {
  color: var(--hl-color-sky-blue-300-m);
}
._UpdateLoginForm_1cr2c_1._landscape_1cr2c_20 ._Header_1cr2c_5 {
  margin-bottom: 0.75rem;
}
._UpdateLoginForm_1cr2c_1._landscape_1cr2c_20 ._LogInto_1cr2c_11,
._UpdateLoginForm_1cr2c_1._landscape_1cr2c_20 ._Website_1cr2c_12 {
  display: inline;
  font-size: 1.2rem;
}

._PendingInfo_1cr2c_29 {
  margin: 0.5rem 0 0;
  font-size: 0.9rem;
}

._ClearPending_1cr2c_34 {
  padding: 0.3rem;
  text-decoration: underline;
  border-radius: var(--corner-radius-default);
}

._UpdateLoginForm_1cr2c_1._landscape_1cr2c_20 ._Form_1cr2c_41 {
  display: flex;
  min-width: 35rem;
}

._UpdateLoginForm_1cr2c_1._landscape_1cr2c_20 ._FormElement_1cr2c_46 {
  flex-shrink: 0;
  justify-content: flex-start;
  width: 33.33%;
}
._UpdateLoginForm_1cr2c_1._landscape_1cr2c_20 ._FormElement_1cr2c_46:not(:last-child) > * {
  margin-right: 0.5rem;
}

._UpdateLoginForm_1cr2c_1._portrait_1cr2c_55 ._FormElement_1cr2c_46 + ._FormElement_1cr2c_46 {
  margin-top: 0.75rem;
}
._ConfirmLoginUse_zq1wu_1 > * {
  margin: 0;
}
._ConfirmLoginUse_zq1wu_1 > * + * {
  margin-top: 1rem;
}

._Headline_zq1wu_8 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}
._LoginButton_zq1wu_14 {
  line-height: inherit !important;
}
._ShowLoginLink_zq1wu_17 {
  display: block;

  width: -moz-fit-content;

  width: fit-content;
  max-width: 15rem;
  margin: 0.5rem auto 0;

  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--hl-color-sky-blue-400);
  text-align: center;
}
._LoginList_tdimc_1 {
  display: flex;
  flex-direction: column;
  justify-items: stretch;

  margin: 0;
  padding: 0;

  list-style: none;
}
._LoginList_tdimc_1._horizontal_tdimc_11 {
  flex-direction: row;
}

._LoginButton_tdimc_15 {
  line-height: inherit !important;
}
._LoginButtonSubtitle_tdimc_18 {
  font-size: 0.7rem;
}
._LoginListItem_tdimc_21 + ._LoginListItem_tdimc_21 ._LoginButton_tdimc_15 {
  margin-top: 0.5rem;
}

._LoginList_tdimc_1._horizontal_tdimc_11 ._LoginListItem_tdimc_21 + ._LoginListItem_tdimc_21 > ._LoginButton_tdimc_15 {
  margin-top: 0;
  margin-left: 0.5rem;
}

._LoginListItem_tdimc_21 > ._ShowAllButton_tdimc_30 {
  margin-top: 0.5rem;
  color: white;
}

._LoginList_tdimc_1._horizontal_tdimc_11 ._LoginListItem_tdimc_21 > ._ShowAllButton_tdimc_30 {
  /* align with small secondary action button for login */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
._OverlayLoginSearch_jkm7u_1 {
  --border-radius: calc(var(--input-height) / 2);

  position: relative;
  color: var(--hl-color-outer-space-900-m);
}
._OverlayLoginSearch_jkm7u_1._medium_jkm7u_7 {
  --input-height: 3rem;

  font-size: 1.1rem;
}

._OverlayLoginSearch_jkm7u_1._small_jkm7u_13 {
  --input-height: 2.5rem;

  font-size: 1rem;
}
._OverlayLoginSearch_jkm7u_1._open_jkm7u_18 {
  --border-radius: 1rem;
}

._InputWrapper_jkm7u_22 {
  position: relative;
}

._Input_jkm7u_22 {
  display: block;

  width: 100%;
  height: var(--input-height);
  padding: 0 1.5rem;

  font: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: var(--input-height);
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  background-color: white;
  border: 2px solid var(--hl-color-outer-space-900-m);
  border-radius: var(--border-radius);
}
._Input_jkm7u_22:focus {
  box-shadow: none;
}
._OverlayLoginSearch_jkm7u_1._open_jkm7u_18 ._Input_jkm7u_22 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

._Placeholder_jkm7u_54 {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: calc(1.5rem + 2px);
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  font: inherit;
  font-size: inherit;
  color: var(--hl-color-spanish-gray-600);
}
._PlaceholderIcon_jkm7u_68 {
  margin-left: 0.2rem;
}
._PlaceholderText_jkm7u_71 {
  margin-left: 0.5rem;
}

._MenuWrapper_jkm7u_75 {
  position: absolute;
  z-index: 1;
  top: 100%;

  overflow: hidden;

  width: 100%;

  border: 2px solid var(--hl-color-outer-space-900-m);
  border-top: none;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
._Menu_jkm7u_75 {
  overflow-y: auto;

  height: var(--menu-height);
  margin: 0;
  padding: 0;

  font-weight: 500;
  list-style: none;

  background-color: white;
}
._MenuItem_jkm7u_101 {
  display: flex;
  align-items: center;

  height: 2.5rem;
  padding: 0 1.5rem;

  white-space: nowrap;
}
._MenuItem_jkm7u_101 > * + * {
  margin-left: 1rem;
}
._MenuItem_jkm7u_101._highlighted_jkm7u_113 {
  background: var(--hl-color-sky-blue-50);
}
._MenuItem_jkm7u_101 > svg {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;

  width: 1.5rem;
  height: auto;

  fill: currentColor;
}
._MenuItem_jkm7u_101 ._Label_jkm7u_126 {
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
}
._MenuItem_jkm7u_101 ._Label_jkm7u_126 ._Title_jkm7u_131,
._MenuItem_jkm7u_101 ._Label_jkm7u_126 ._Subtitle_jkm7u_132 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._MenuItem_jkm7u_101 ._Label_jkm7u_126 ._Subtitle_jkm7u_132 {
  font-size: 0.7rem;
}

._NothingFoundMessage_jkm7u_141 {
  height: 2.5rem;
  padding: 0 1.5rem;

  font-weight: normal;
  line-height: 2.5rem;
  color: var(--hl-color-spanish-gray-600);
}

._visuallyhidden_jkm7u_150 {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
._OverlayTotpWarning_1fbhb_1 {
  margin: 1.5rem;
}
._LoginButton_1fbhb_4 {
  margin-top: 0.5rem;
}
._SubscriptionNag_wab9u_1 {
  padding: 1rem;
  text-align: center;
  text-overflow: wrap;
}

._SubscriptionNag_wab9u_1 > * {
  margin: 0;
}
._SubscriptionNag_wab9u_1 > * + * {
  margin-top: 1rem;
}

._Headline_wab9u_14 {
  font-size: 1.25rem;
  font-weight: 500;
}

._Info_wab9u_19 {
  max-width: 15rem;
}

._landscape_wab9u_23 ._Info_wab9u_19 {
  max-width: 30rem;
}

._ButtonGroup_wab9u_27 {
  display: flex;
  flex-direction: column;
  gap: 1rem 2rem;
  justify-content: center;
}

._landscape_wab9u_23 ._ButtonGroup_wab9u_27 {
  flex-direction: row;
}

._UpgradeButton_wab9u_38 {
  max-width: 15rem;
  margin: 0 auto;
}
._OverrideCreateOverlay_xhtog_1 {
  width: max-content;
  background: white;
  border: 5px solid #f0f;
}
._OverrideCreateOverlay_xhtog_1 * {
  margin: 0;
}
._OverrideCreateOverlay_xhtog_1 > section + section {
  margin-top: 1.5rem;
}
._OverrideCreateOverlay_xhtog_1 section > * + * {
  margin-top: 1rem;
}
._OverrideCreateOverlay_xhtog_1 fieldset > :not(legend) + * {
  margin-top: 0.75rem;
}
._OverrideCreateOverlay_xhtog_1 textarea {
  resize: vertical;
  width: 100%;
  min-height: 5rem;
}
._Content_1sfem_1 {
  min-width: 20rem;
  padding: 1rem;

  background: var(--hl-color-electric-green-50);
  border: 2px solid var(--color-grid-border);
  border-top: 0;
  border-radius: var(--corner-radius-default);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

._PasswordGenerator_1sfem_13 {
  padding: 0;
  background: none;
  border: none;
}

._TargetSelectorGroup_1sfem_19 {
  display: flex;
  align-items: baseline;
  width: 100%;
  margin-top: 2rem;
}

._ToLabel_1sfem_26 {
  flex-shrink: 0;
  margin-right: 0.75rem;
  white-space: nowrap;
}

._TargetSelector_1sfem_19 {
  flex-grow: 1;
}
html._iframe_qo5hw_1,
html._iframe_qo5hw_1 body,
html._iframe_qo5hw_1 #root {
  overflow: hidden;
  display: flow-root;
  height: 100%;
}:root._iframe_qo5hw_1 {
  font-size: 14px;
}html._iframe_qo5hw_1 body {
  user-select: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}:where(._UnstyledButton_qo5hw_20) {
  cursor: pointer;

  padding: 0;

  font: inherit;
  color: inherit;

  appearance: none;
  background: none;
  border: none;
}

._PasswordFieldOverlay_1dolc_1 {
  width: -moz-fit-content;
  width: fit-content;
}

._Info_1dolc_5 {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.25em 0.75em;

  background: var(--hl-color-outer-space-900-m)
    url('/assets/password_generator_background-2f2bf99e.svg') no-repeat top right;
  background-size: auto 100%;

  transition: background-color var(--transition-duration-default) ease-in-out;
}
._Info_1dolc_5._successBackground_1dolc_20 {
  background-color: var(--hl-color-electric-green-100);
}

._SecurePasswordPill_1dolc_24 {

  display: flex;
  align-items: center;

  height: 2.2em;
  margin-right: 0.75rem;
  padding-right: 1em;
  padding-left: 0.4em;

  white-space: nowrap;

  background: white;
  border-radius: 1em;
}
._SecurePasswordPill_1dolc_24 ._HeyloginIcon_1dolc_40 {
  width: auto;
  height: 1.5em;
}
._SecurePasswordPill_1dolc_24 ._PillText_1dolc_44 {
  padding: 0 0.75em;
  font-size: 1.3em;
  font-weight: bold;
}
._SecurePasswordPill_1dolc_24 ._PillText_1dolc_44 > svg {
  display: block;
  width: auto;
  height: 0.7em;
  fill: currentColor;
}
._SecurePasswordPill_1dolc_24 ._EyeIcon_1dolc_55 {
  width: auto;
  height: 1.4em;
  fill: var(--hl-color-ultramarine-500-m);
}

/* close button */
._Close_1dolc_62 {
  position: absolute;
  z-index: 10;
  top: 0.5em;
  right: 0.5em;

  display: block;

  margin: 0;
  padding: 0;

  font-size: inherit;

  appearance: none;
  background: none;
  border: none;
}
._Close_1dolc_62 > svg {
  width: 0.8em;
  height: 0.8em;
}
html._iframe_qo5hw_1,
html._iframe_qo5hw_1 body,
html._iframe_qo5hw_1 #root {
  overflow: hidden;
  display: flow-root;
  height: 100%;
}:root._iframe_qo5hw_1 {
  font-size: 14px;
}html._iframe_qo5hw_1 body {
  user-select: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}:where(._UnstyledButton_qo5hw_20) {
  cursor: pointer;

  padding: 0;

  font: inherit;
  color: inherit;

  appearance: none;
  background: none;
  border: none;
}

._Container_1lvga_1 {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: flex-end;

  width: -moz-fit-content;

  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

._Button_1lvga_15 {

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;

  font-weight: 500;

  background: var(--hl-color-spanish-gray-200);
}

._Button_1lvga_15._overlayInput_1lvga_29 {
  gap: calc(var(--height) * 0.2);

  height: var(--height);

  /* limit size of icon, maintaining equal padding on all sides */
  padding: max(calc(var(--height) * 0.1), calc((var(--height) - 1.5rem) * 0.5));

  font-size: calc(min(var(--height) * 0.8, 1rem));

  border-radius: calc(var(--height) / 2);
}

._Button_1lvga_15._rightOfInput_1lvga_42 {
  width: 38px;
  height: 38px;
  padding: 0.4rem;
  border-radius: 1.2rem;
}

._Button_1lvga_15:focus {
  box-shadow: none;
}

._HeyloginIcon_1lvga_53 {
  width: auto;
  height: 100%;
}

._Menu_1lvga_58 {
  width: 16rem;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: var(--hl-color-spanish-gray-50);
}

._UnlockWrapper_1lvga_68 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  padding: 1rem;

  font-weight: 500;
  text-align: center;
}

._EmptyListPlaceholder_1lvga_80 {
  padding: 0.5rem 1.25rem;
  font-weight: 500;
}

._ListItem_1lvga_85:not(:last-child)::after {
  content: '';
  display: block;
  margin: 0 1.75rem;
  border-top: 1px solid var(--color-divider-line);
}

._ListItemButton_1lvga_92 {

  display: flex;
  align-items: center;

  width: 15rem;
  margin: 0.5rem;
  padding: 0.25rem 1.25rem;

  border-radius: var(--corner-radius-default);
}

._Label_1lvga_105 {
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
}

._TotpCode_1lvga_112 {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  font-size: 1rem;
  font-weight: 500;
}

._ArrowIcon_1lvga_121 {
  margin-left: auto;
}
._Content_1akao_1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: -moz-fit-content;

  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;

  font-weight: 700;

  background: none !important;
}
._Content_1akao_1 > * + * {
  margin-top: 1.5rem;
}

._TotpCodeContainer_1akao_17 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;

  padding-left: 0.5rem;
}
._TotpValue_1akao_25 {
  user-select: all;
  flex: none;
  font-family: monospace;
  font-weight: bold;
}
._TotpValue_1akao_25 > span::after {
  content: ' ';
}
._TotpCopy_1akao_34 {
  flex: none;
  width: 3rem;
}

._TargetLogin_1akao_39 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
._TargetLogin_1akao_39 ._TargetName_1akao_45 {
  overflow: hidden;

  line-height: 1.3;
  text-align: center;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
._TargetLogin_1akao_39 ._TargetName_1akao_45,
._TargetLogin_1akao_39 ._Select_1akao_54 {
  max-width: var(--extrinsic-width);
}

._SaveButton_1akao_58 {
  transition: background-color var(--transition-duration-default);
}

._SaveButton_1akao_58._saved_1akao_62 {
  color: white !important;
  background-color: var(--hl-color-electric-green-900);
  border-color: white !important;
}
html._iframe_qo5hw_1,
html._iframe_qo5hw_1 body,
html._iframe_qo5hw_1 #root {
  overflow: hidden;
  display: flow-root;
  height: 100%;
}

:root._iframe_qo5hw_1 {
  font-size: 14px;
}

html._iframe_qo5hw_1 body {
  user-select: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}

:where(._UnstyledButton_qo5hw_20) {
  cursor: pointer;

  padding: 0;

  font: inherit;
  color: inherit;

  appearance: none;
  background: none;
  border: none;
}
