html._popup_w9xap_1 body {
  user-select: none;

  margin: 0;

  font-family: inherit;

  /* Reset Chrome default styles: https://github.com/microsoft/accessibility-insights-web/issues/1080#issuecomment-522738159 */
  font-size: inherit;

  /* Set explicitly to style popup triangle in firefox */
  background: var(--hl-color-outer-space-900-m);
}

html._popup_w9xap_1,
html._popup_w9xap_1 body,
html._popup_w9xap_1 #root {
  overflow: hidden hidden;
}

/* See README.md in `sdk` for guidelines on use of the :where() pseudo-class */
:where(._UnstyledButton_w9xap_22) {
  cursor: pointer;

  padding: 0;

  font: inherit;
  color: inherit;

  appearance: none;
  background: none;
  border: none;
}
._MobileSafariSetupSuccessMessage_12ry4_1 {
  margin: 1rem;
}
._Footer_1ocdh_1 {
  display: grid;
  grid-template-areas:
    'manage-link        report-button'
    'quick-access-button quick-access-button';
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1rem 1.5rem;

  font-size: 0.8rem;
  color: var(--hl-color-sky-blue-300-m);
}

._Footer_1ocdh_1._withoutGlobalSearch_1ocdh_17 {
  grid-template-areas: 'manage-link report-button';
  padding-right: 2rem;
}

._ManageLink_1ocdh_22 {
  grid-area: manage-link;
}

._FooterArrow_1ocdh_26 {
  width: 0.67rem;
  height: auto;
  margin-left: 0.5rem;
  fill: currentColor;
}

._ReportButton_1ocdh_33 {
  cursor: pointer;

  display: flex;
  grid-area: report-button;
  align-items: center;

  margin-left: auto;
  padding: 0.2rem;

  font: inherit;
  color: var(--hl-color-mikado-yellow-200);

  appearance: none;
  background: none;
  border: none;
  border-radius: 0.25rem;
}

._ReportButton_1ocdh_33 > svg {
  width: auto;
  height: 1rem;
  margin-left: 0.4rem;
  fill: currentColor;
}

._QuickAccessButton_1ocdh_59 {
  display: flex;
  grid-area: quick-access-button;
  gap: 0.5rem;
  align-items: baseline;

  width: max-content;

  color: var(--color-primary);
}
._LoginContainer_kp3yu_1 {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1 !important;
}
._LoginContainer_kp3yu_1._isUnlocking_kp3yu_10 {
  min-height: 7.5rem;
}
._LoginContainer_kp3yu_1._isUnlocking_kp3yu_10._hasSecurityKeyUnlock_kp3yu_13 {
  min-height: 9rem;
}

._UnlockOverlay_kp3yu_17 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-size: 0.8rem;
  color: var(--hl-color-ultramarine-500-m);

  background: white;
}

._UnlockOverlay_kp3yu_17._error_kp3yu_38 {
  color: var(--color-error);
}

._UnlockOverlay_kp3yu_17._warning_kp3yu_42 {
  color: var(--color-warning);
}

._UnlockLabel_kp3yu_46 {
  font-weight: bold;
}

._Locked_kp3yu_50 {
  padding: 1.5rem 1.5rem 0.5rem;
}
._LockedMessage_kp3yu_53 {
  margin-bottom: 1.5rem;
  font-weight: 500;
}
._UnlockButton_kp3yu_57 {
  width: -moz-fit-content;
  width: fit-content;
}

._SecurityKeyUnlockArrow_kp3yu_61 {
  width: 0.67rem;
  height: auto;
  margin-bottom: 0.05rem;
  margin-left: 0.1rem;

  fill: currentColor;
}
._DisableForPage_gjtl4_1 {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;

  height: 3.5rem;
  padding: 0 1.6rem;

  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.2rem;

  background-color: var(--hl-color-outer-space-50);
}

._Value_gjtl4_17 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._Value_gjtl4_17 > strong,
._Value_gjtl4_17 > span {
  display: block;
}

._SwitchLabel_gjtl4_27 {
  display: block;

  /* Expand interaction area */
  margin: -0.5rem;
  padding: 0.5rem;
}
._UIStyleContainer_1qo2t_1 {
  display: contents;
}
._SearchWrapper_1v70n_1 {
  padding: 0.75rem 1rem;
  border-bottom: 1px var(--color-grid-border) solid;
}

._LoginList_1v70n_6 {
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 1;

  margin: 0;
  padding: 0;

  list-style: none;
}

._NoLoginsFound_1v70n_17 {
  padding: 1.25rem 1.5rem;
  font-weight: 500;
  text-align: center;
}
._LoginListItem_asb37_1 {
  position: relative;

  width: 100%;
  margin: 0;
  padding: 0;

  font-size: 0.8rem;
  font-weight: 500;

  border-bottom: 1px solid var(--hl-color-spanish-gray-500-m);
}

._LoginListItem_asb37_1:last-child {
  border-bottom: 0;
}

._ItemRow_asb37_18 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 3.5rem;
  padding: 0 1.5rem;
}
._BorderedItemRow_asb37_26:not(:first-child) {
  /* Use margin instead of padding to "pull in" the top border */
  margin: 0 1.6rem;
  padding: 0;
  border-top: 1px solid var(--hl-color-spanish-gray-300);
}
._TotpTimeOffsetWarning_asb37_32 {
  margin: 0 1.5rem 0.8rem;
}

._Content_asb37_36 {
  overflow: hidden;
  flex-grow: 0;
}
._Content_asb37_36 > ._Value_asb37_40,
._Content_asb37_36 > ._Label_asb37_41 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._Content_asb37_36 ._Label_asb37_41 {
  display: block;
  font-size: 0.7rem;
  font-weight: normal;
  color: black;
}
._Content_asb37_36 ._Value_asb37_40 {
  user-select: text;
}

._Totp_asb37_32 ._Value_asb37_40 {
  user-select: all;
  font-family: monospace;
}

._Totp_asb37_32 ._Value_asb37_40 > span::after {
  content: ' ';
}

._RowButton_asb37_65 {
  flex-grow: 0;
  flex-shrink: 0;

  /* align buttons with enable/disable switch */
  width: 4rem !important;
  margin-right: -0.75rem;
}

._Undo_asb37_74 {
  line-height: 1.2rem;
}
._Undo_asb37_74._success_asb37_77 {
  background-color: var(--hl-color-electric-green-50);
}
._Undo_asb37_74._warning_asb37_80 {
  background-color: var(--hl-color-mikado-yellow-100);
}

._Undo_asb37_74 ._UndoHeadline_asb37_84 {
  display: block;
  font-weight: bold;
}
._Undo_asb37_74 ._UndoSubheadline_asb37_88 {
  display: block;
  font-size: 0.7rem;
}
._LoggedOut_15s3h_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 7.4rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

._PermissionDenied_15s3h_12 {
  font-size: 0.8rem;
  color: var(--color-warning);
}
html._mobileSafariBottomSheet_drkss_1,
html._mobileSafariBottomSheet_drkss_1 body,
html._mobileSafariBottomSheet_drkss_1 #root {
  width: 100%;
  height: 100%;
}

._Popup_drkss_8 {
  position: relative;

  display: flex;
  flex-direction: column;

  background-image: url('/assets/background_popup-febc0e35.svg');
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  background-size: 3rem 3rem;
  border: 0;
}
html._desktopPopup_drkss_20 ._Popup_drkss_8 {
  width: 25rem;
  max-height: 35rem;
}
html._mobileSafariBottomSheet_drkss_1 ._Popup_drkss_8 {
  width: 100%;
  height: 100%;
  background-image: none;
}
html._mobileSafariPopup_drkss_29 ._Popup_drkss_8 {
  width: 100%;

  /**
   * Popup will always be min this height on iPad (determined experimentally). We set this so we use
   * the full height. Note that this is in px since it wouldn't change even if we change root font
   * size. 
   **/
  min-height: 340px;
  max-height: 35rem;
}

._Popup_drkss_8 > * {
  flex-shrink: 0;
}

._Header_drkss_45 {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 3.5rem;
  margin: 0;
  padding: 1rem 1.6rem 1rem 1rem;
}

._Header_drkss_45 > svg {
  flex-shrink: 0;
  width: auto;
  height: 100%;
  margin-right: 1rem;
}

._Domain_drkss_64 {
  overflow: hidden;
  flex-grow: 0;

  margin-top: -0.2rem;

  font-size: 0.8rem;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._Domain_drkss_64 > strong {
  font-size: 1rem;
}
html._popup_w9xap_1 body {
  user-select: none;

  margin: 0;

  font-family: inherit;

  /* Reset Chrome default styles: https://github.com/microsoft/accessibility-insights-web/issues/1080#issuecomment-522738159 */
  font-size: inherit;

  /* Set explicitly to style popup triangle in firefox */
  background: var(--hl-color-outer-space-900-m);
}html._popup_w9xap_1,
html._popup_w9xap_1 body,
html._popup_w9xap_1 #root {
  overflow: hidden hidden;
}/* See README.md in `sdk` for guidelines on use of the :where() pseudo-class */:where(._UnstyledButton_w9xap_22) {
  cursor: pointer;

  padding: 0;

  font: inherit;
  color: inherit;

  appearance: none;
  background: none;
  border: none;
}

._Header_10zvg_1 {
  overflow: hidden;

  width: 100%;
  padding: 1.5rem;

  font-size: 0.8rem;
  font-weight: bold;
  color: var(--hl-color-outer-space-900-m);
  text-overflow: ellipsis;

  background: var(--hl-color-mikado-yellow-100);
}

._Form_10zvg_15 {
  width: 100%;
  padding: 1.5rem;

  font-size: 0.8rem;
  font-weight: 500;
  color: var(--hl-color-spanish-gray-600);

  background: white;
}

._SelectionButton_10zvg_26 {

  width: 100%;
  height: 3rem;
  padding: 0 1.5rem;

  font-weight: 500;
  color: var(--hl-color-ultramarine-500-m);
  text-align: left;
}

._SelectionButtonContent_10zvg_38 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  border-bottom: var(--hl-color-spanish-gray-200) 1px solid;
}
._SelectionButtonContent_10zvg_38 :last-child {
  border-bottom: none;
}

._SelectionButtonContent_10zvg_38 > svg {
  width: 1rem;
  height: auto;
}

._ErrorSelector_10zvg_57 {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

._Switch_10zvg_64 {
  margin: 0;
  margin-right: 0.5rem;
}

._CommentField_10zvg_69 {
  margin-bottom: 0.8rem;
  font-size: 1rem;
}

._Screenshot_10zvg_74 {
  position: relative;
  display: inline-block;
}

._Screenshot_10zvg_74 > img {
  width: auto;
  height: 2rem;
  margin-top: 1rem;
}

._Screenshot_10zvg_74 > svg {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(25%) translateY(25%);

  width: 1rem;
  height: 1rem;

  fill: var(--hl-color-electric-green-900);
}

._SubmitButton_10zvg_97 {
  margin-top: 1rem;
}

._CancelButton_10zvg_101 {
  margin: 0.75rem auto 0 !important;
}

._Loading_10zvg_105 {
  height: 10rem;
  padding: 1.5rem;
  color: var(--hl-color-outer-space-900-m);
  background: white;
}

._Reported_10zvg_112 {
  display: grid;
  grid-template-areas:
    'icon  text    .      '
    '.     buttons buttons';

  padding: 1.5rem;

  font-size: 0.8rem;
  color: var(--hl-color-outer-space-900-m);

  background: white;
}

._Reported_10zvg_112 > svg {
  grid-area: icon;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.2rem;
}

._ReportedMessage_10zvg_133 {
  grid-area: text;
  width: 13.5rem;
}

._ReportedNav_10zvg_138 {
  display: flex;
  grid-area: buttons;
  justify-content: flex-end;
}

._NavButton_10zvg_144 {
  cursor: pointer;

  margin-left: 1rem;
  padding: 0.2rem;

  font: inherit;
  font-weight: 500;
  color: var(--hl-color-ultramarine-500-m);

  appearance: none;
  background: none;
  border: none;
  border-radius: 0.25rem;
}

._NavButton_10zvg_144:first-child {
  margin-left: auto;
}
