/* Ce document est la propriété intellectuelle de Druide informatique inc. Toute reproduction ou publication est interdite. */
/* Copyright 2023 Druide informatique inc. */


:root{
    color-scheme: light dark;
}

body {
    font-family: "Helvetica Neue", "Segoe UI", Roboto, 'Noto Sans', Arimo, Oxygen, Ubuntu, Cantarell, Fira Sans, sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding: 0px;
    user-select: none;
    color: #3a3a3a;
    background-color: #fff;
    min-height: 45px;
    width: 350px;
    margin: 10px;
}

hr {
    margin: 0px 5px;
    border-top: 1px solid #efefef;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

#icon_toolbar {
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
    border: 0px;
    width: 150px;
    font-size: 13px;
    border-radius: 5px;
}

.menu {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15%;
    width: 85%;
}

/*-----------------------------*/
#block_gdoc {
    display: flex;
    justify-content: center;
    width: 240px;
}
#block_office365 {
    display: flex;
    justify-content: center;
    width: 240px;
}

#avertissement {
    margin: auto;
    vertical-align: text-bottom;
    padding: 5px;
    font-size: 64px;
}

#avertissement,
#message_gdoc {
    display: inline;
}

#message_gdoc {
    margin: auto;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}

#message_office365 {
    margin: auto;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}

/*-----------------------------*/
#block_non_chrome,
#block_incognito {
    display: flex;
    justify-content: center;
    width: 240px;
}

#avertissement_non_chrome,
#avertissement_incognito,
#message_gdoc_non_chrome {
    display: inline;
}

#avertissement_non_chrome,
#avertissement_incognito {
    margin: auto;
    vertical-align: text-bottom;

    padding: 5px;
    font-size: 64px;
}

#message_gdoc_non_chrome,
#message_incognito {
    margin: auto;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

/*-----------------------------*/

div.aweb_bouton {
    border-radius: 10px;
    text-align: center;
}

a.aweb_bouton {
    text-decoration: none;
}

img.aweb_bouton_svg {
    width: 48px;
}

div.aweb_bouton_svg {
    text-align: center;
    color: rgba(204, 204, 204, 1);
}

/*-----------------------------*/
/*barre d'outils*/
._svg {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

._svg45 {
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

._svg75{
    width: 75%; 
    height: auto;                       
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.image_desactivee{
    filter:opacity(0.20);
}

.image_activee{
    filter:opacity(1);
}

.img_chevron{
    width: 18px;
}


.bouton-actions{
    cursor: pointer;
}

.bouton_popup{
    width: auto;
    height: 28px;
    margin: 0px;
    padding: 2px;
    border-radius: 6px;
    justify-content: center;
    cursor: pointer;
}

.bouton_popup_menu {
    padding: 1px 5px;
    display: grid;
    grid-template-columns:  28px 1.4fr 28px;
    grid-template-rows: 1fr;
    grid-row-gap: 1px;
    justify-content: space-evenly; 
    align-content: space-evenly; 
    justify-items: start; 
    align-items: center; 
}

#GUIDE, #DICT {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f2f9ff;
}
#D14, #G9 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bouton_popup_activay:hover {
    background-color: rgb(212, 216, 217);
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
}
.menu:hover,
.bouton_popup_ouvert:hover{
    background-color: #dbebfc;
    transition: 0.5s ease;
    backface-visibility: hidden;
    cursor: pointer;
}

#contenant_titre {
    display: grid;
    grid-template-columns: 53% 20% 13% 13% 1%;
    padding: 5px;
    margin: 5px 0;
}

#texte_titre {
    display: flex;
    justify-content: left;
    align-items: center;
}

#texte_beta {
    display: flex;
    justify-content: right;
    align-items: center;
}

.image_titre {
    display: flex;
    justify-content: right;
    align-items: center;
}

.image_titre:hover {
    cursor: pointer;
}

.element_titre {
    line-height: 1.3em;
    font-weight: 600;
}

#t1 {
    color: #696969;
    font-size: 16px;
}

#t2 {
    font-size: 24px;
}

.parent_popup {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    }
    
.div_popup_correcteur {
    grid-column: 1;
    grid-row: 1;  
}
.div_popup_dictionnaires { 
    border-radius: 5px;
    grid-column: 1;
    grid-row: 2;
}
.div_popup_guides { 
    border-radius: 5px;
    grid-column: 1;
    grid-row: 3;
}
.div_popup_reglages { 
    grid-column: 1;
    grid-row: 4;
}

.sous_parent_popup {
    padding: 7px 5px;
    display: grid;
    grid-template-columns:  28px 1.4fr 28px;
    grid-template-rows: 1fr;
    grid-row-gap: 5px;
    justify-content: space-evenly; 
    align-content: space-evenly; 
    justify-items: start; 
    align-items: center; 
}
    
.div_sp_image { 
    grid-column: 1;
    grid-row: 1;
 }
.div_sp_etiquette { 
    grid-column: 2;
    grid-row: 1;
 }
.div_sp_chevron { 
    grid-column: 3;
    grid-row: 1;
    /* border-left: 1px solid rgb(212, 216, 217); */
    padding: 5px;
}
.div_sp_liste{
    grid-row: 2;
}

.liste_popup{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(10,1fr); 
    justify-content: space-evenly; 
    align-content: space-evenly; 
    justify-items: start; 
    align-items: center; 
}
#section_detecteurweb {
    display: grid;
    grid-template-rows: 1fr 1fr;
}


#dessus_billetix {
    margin-bottom: 5px;
}

#section_billetix {
    margin-top: 5px;
}

#dw{
    margin-top: 5px;
}

.contenant_element_dw {
    padding: 5px;
    align-items: center;
    display: grid;
    grid-template-columns: 60% 40%;
}

.element_dw_gauche {
    display: flex;
    justify-content: left;
}

.element_dw_droit {
    display: flex;
    justify-content: right;
}

#aweb_bouton_div{
    margin-top: 5px;
}

/*---------------*/
/* Dialogue */

#table_dialogue {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    border: 0px;
    width: 500px;
    font-size: 13px;
    border-radius: 5px;
}

.sur_ligne {
    display: inline;
    display: inline-block;
}

.bouton_dialogue {
    width: auto;
    margin: 0px;
    padding: 10px 10px;
    border: 2px solid;
    border-radius: 6px;
    border-color: rgb(212, 216, 217);
    text-align: center;
}

.bouton_dialogue:hover {
    background-color: rgb(212, 216, 217);
    transition: .5s ease;
}

.dialogue_message{
    transition: opacity 1s;
}

label{
    line-height:19.2px;
    height: 28px;
}

.conteneur_erreur {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(2,80px);
}
  
.box_erreur {
    border-radius: 5px;
    padding: 20px;
}

.erreur_avertissement_box {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    place-self: center;
    font-size: 56px;
}

.erreur_message_box {
    grid-column: 2 / 5;
    font-size: 20px;
}

.erreur_bouton_box {
    grid-column: 2 / 5;
    justify-self: end;
    align-self: center;
}

.bascule_reglages {
    -webkit-appearance: none;
    width: 40px;
    height: 20px;
    background: #bddeff;
    outline: none;
    border-radius: 10px;
    -webkit-transition: .4s;
    transition: .15s;
    outline: none;
    border: none;
    cursor: pointer;
  }

  #contenants_points {
    display: flex;
    flex-direction: row;
  }
  
  .contenant_point {
    display: flex;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
  }

  .point {
    height: 7px;
    width: 7px;
    border-radius: 3.5px;
    background-color: rgb(223, 239, 255);
  }

  #contenant_bascule_site {
    height: 20px;
    width: 40px;
    display: grid;
    grid-template-rows: 20px;
  }

  #contenant_bascule_alerte {
    height: 20px;
    width: 40px;
    display: grid;
    grid-template-rows: 20px;
  }

  #contenant_bascule_dw {
    height: 20px;
    width: 40px;
    display: grid;
    grid-template-rows: 20px;
  }

  .curseur_bascule {
    background-color: #2496ff;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    position: absolute;
    transition: 0.15s ease-out;
  }

  #activer_dw {
    width: 40px;
  }

  .bascule_desactivee .curseur_bascule {
    background-color: white;
    box-shadow: rgba(30, 50, 84, 0.2) 0px 0px 4px 0px;
  }

  .bascule_desactivee {
    background-color: rgb(209, 209, 209) !important;
  }

  @media (prefers-color-scheme: dark) {
    /* 
    Note : le triangle du popup de safari est rgb(48, 48, 48)
           on doit appliquer +6 afin d'avoir un popup de la meme couleur
    */
    body {
        background-color: rgb(30, 30, 30);
        color: rgb(217, 217, 217);
    }

    .bouton-defaut {
        color: rgb(238, 238, 238);
    }

    .bascule_desactivee .curseur_bascule {
        background-color: rgb(255,255,255,0.9);
        box-shadow: rgba(30, 50, 84, 0.2) 0px 0px 4px 0px;
    }

    .bascule_reglages{
        background-color: rgb(189, 222, 255, 0.9);
    }

    .bascule_desactivee {
        background-color: rgb(209, 209, 209, 0.9) !important;
      }

    .point {
        background-color: rgb(223, 239, 255, 0.7);
    }

    hr {
        border-top: 1px solid #4f4f4f;
    }
    
    #t1 { 
        color: #a5a5a5;
    }

    #GUIDE, #DICT {
        background-color: rgb(45, 45, 48);
    }

    .menu:hover,
    .bouton_popup_activay:hover {
        background-color: rgb(63, 63, 65);
        transition: .5s ease;
        backface-visibility: hidden;
    }
}

@supports (-webkit-touch-callout: none) {
    body{
        line-height: 26px;
        font-size: 18px;
    }
    .menu {
        font-size: 16px;
    }
    .bouton_popup{
        height: 40px;
    }
}

#aweb_connexion,
#antidote_activation
{
    width: 100%;
    padding: 4px;
}

#aweb_connexion_section,
#antidote_activation_section
{
    padding-right: 8px;
}