/* Ce document est la propriété intellectuelle de Druide informatique inc. Toute reproduction ou publication est interdite. */
/* Copyright 2023 Druide informatique inc. */
tr{
    border: 1px solid gray;
}

td{
    border: 1px solid gray;
}

.div_nouvelles_phrases{
    background-color: rgb(127, 255, 0, 0.3);
}
.div_suppressions_phrases{
    background-color:rgb(255, 127, 80, 0.3);
}
.div_corrections{
    background-color: rgba(222, 68, 236, 0.595);
}
.div_detections{
    background-color:rgb(100, 149, 237, 0.3);
}

.div_idphrase{
    background-color: greenyellow;
}

.nouveau_decoupage{
    background-color:rgba(215, 242, 63, 0.79);
}

.analyse_locale{
    background-color:rgba(133, 252, 254, 0.813);
}

.applique_correction{
    background-color: gold;
}

.applique_retabli{
    background-color: lightcoral;
}

.recuperation{
    color: red;
}

body{
    white-space: pre-wrap;
    font-family: monospace;
}
