.button[data-v-f63c183a]{display:inline-block;margin-right:5px;padding:3px 13px;border-radius:50px;font-size:12px;background:#0096fa;border:#0096fa solid 3px;color:#fff;font-weight:700;cursor:pointer;-webkit-transition:all 0.3s;transition:all 0.3s}.button--success[data-v-f63c183a]{border-color:#00dc68}

#__ptk-fanbox-app .download-btn{position:fixed;left:10px;bottom:10px}

