body {
  width: 550px;
  display: table;
  margin: 0 auto;
  align-items: center;
  background-color: rgba(0,0,0,0.01);
}

body, table {
  color: #222;
  font-size: 12px;
  font-family: arial, sans-serif;
}

table {
  border-spacing: 0;
}

input[type=text] {
  width: 200px;
  padding: 5px;
  margin: 0 5px;
}

input[type=number] {
  width: 90px;
  margin: 0 5px;
}

input[type=checkbox] {
  margin: 0 0 0 5px;
  vertical-align: middle;
}

label>input {
  vertical-align: middle;
}

a {
  color: black;
  text-decoration: none;
}

body>* {
  display: flex;
  display: -webkit-flex;
}

#content table tr td {
  padding: 10px;
  min-width: 120px;
  text-align: left;
  vertical-align: middle;
}

.flex {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.note {
  padding: 0;
  font-size: 95%;
  line-height: 16px;
  margin: 3px 0 0 0;
  color: #8c8b8b !important;
}

.spacer {
  margin: 0;
  height: 10px;
}
