#psud-office-opener-toolbar-button {
	list-style-image: URL("chrome://psudofficeopener/skin/toolbar-large.png");
}

#psud-office-opener-status-bar-icon {
	width: 83px;
	margin: 0 5px;
}

.psud-office-opener-selected {
	outline: 2px solid red !important;
}