.xd-button a {
    cursor: pointer;
    border: none;
    outline: none;
    display: block;
    padding: 4px 14px;
    transition: 0.15s;
    background: rgb(0 0 0 / 60%);
    border-radius: 4px;
    margin: 0px;
    border-radius: 0px;
    border-bottom-left-radius: 14px;
    opacity: 0.75;
}

.xd-button a:hover {
    background: black;
    opacity: 1;
}

.xd-button {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 100;
    right: 0px;
}

.xd-bar-button {
    margin: 0px 3px;
    padding: 4px 6px;
    border-radius: 100px;
}

.xd-bar-button:hover {
    background: rgb(255 255 255 / 14%);
}

/* make it only display on hover of video player:
.xd-button {
    display: none;
}

[data-testid="videoPlayer"]:hover .xd-button {
    display: block;
} */