.p-body-inner
	{
		max-width: 100% !important;
	}

a{
	color: #22229c !important;
	text-decoration: underline !important;
}

.california-options-button{
	background: #ffffff !important;
}

.globalAction{
	visibility: hidden !important;
}
	
.p-body-sidebar  {
	display: none !important;
}

.tooltip--preview {
	display: none !important;
}

.desktop-adhesion-ad__footer-ad-container
{
	display: none !important;
}

#enable_push_notifications {
    	
	visibility: hidden !important;
}

.node-description sponsor-message
{
  display: none;
}
  
.california-banner-ad-container
{
  display: none;
}

.california-additional-header
{
display: block !important;
}

.avatar-cell
{
  display: none;
}


.message--conversationMessage > .message-inner
	{
		margin-bottom: 0px !important;
	}

.message--conversationMessage > .message-inner > .message-cell
	{
		margin-top: 0px !important;
		position: static !important;
	}

.message--conversationMessage > .message-inner > .message-cell--main
	{
		padding-top: 0px !important;
	}

.message-content > .message-attribution
	{
		position: relative !important;
	}

.message-userContent
	{
		position: relative !important;
	}

.header-content-wrapper h1
	{
		background-image: linear-gradient(to bottom, #334c80, #5c7099);
    		color: white !important;
     		padding: 6px !important;
		font:  20pt tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif !important;
		text-align: center;
		margin: 20px 0 20px !important;
	}


.button-group
	{
		margin-left: 6px !important;	
	}

 .structItem-title
  {
    	width: calc(100% - 250px) !important;
    	display:inline-flex !important;
	width: 100% !important;
  }

  .structItem-minor
  {
	
   display: inline !important;
    width: 30% !important;
  }

  li.structItem-iconContainer
  {
    display: none !important;
  }



.structItemContainer
  {
    border: 1px solid #0b198c !important;
  }

.structItemContainer-group
  {
    border: 1px solid #d1d1e1 !important;
  }

.california-thread-item
  {
    border-bottom: 1px solid #d1d1e1 !important;
    margin-top: 0 !important;
    background: #f5f5ff !important;
    padding: 0 !important;
  }

.structItem-cell
  {
    border-right: 1px solid #d1d1e1 !important;
    padding: 6px !important;
    text-align: center !important;
  }


.structItem-cell.structItem-cell--main
  	{
	min-height: 32px!important;
    	align-items: center !important;
    	padding: 6px !important;
    	text-align: left !important;
  	}


.california-thread-item .forum-view-stats
  {
    color: black !important;
    font-size: 13px !important;
  }

.california-thread-item .structItem-title
  {
    font-size: 14px !important;
  }

.california-thread-item .structItem-parts > li,
.structItem-username > a.username
  {
    font-size: 12px !important;
  }

.reply-count-cell,
.last-post-cell
  {
    background: #e1e4f2 !important;
  }

.last-post-cell
  {
    border-right: 0 !important;
  }

.california-forum-view-thread-list-container
    .california-forum-view-thread-list
    > *
  {
    border-top: 0 !important;
  }

.structItem-pageJump > a
  {
    color: #0b198c !important;
    font-weight: bold !important;
  }


.avatar > img, .avatar
	{
		border-radius: 0px !important;
	}

.message-signature
	{
		border-top: 1px solid rgb(11, 25, 140) !important;
	}



.p-navSticky
	{
		position: static !important;
	}


.california-thread-position
	{
		border: 1px solid #273657 !important;
		font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif !important;
		background: rgb(115, 143, 191);
		color: white;
		width: auto !important;
		padding: 6px !important;
	}

.california-block-outer-upper-nav
	{
		margin: 0 !important;
	}


.bbCodeBlock
	{
		background: #E1E4F2 !important;
		padding: 6px !important;
		border: 1px inset !important;
	}

.bbWrapper
	{
		font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif !important;
		padding-right: 30px !important;
	}

.message, .block--messages
	{
		border: 1px solid #273657 !important;
    		background: #f5f5ff !important;
    		font: 10pt verdana, geneva, lucida, "lucida grande", arial, helvetica, sans-serif !important;
	}


.message-inner
	{
		margin-bottom: 50px;
	}

.message-attribution
	{
		background-image: linear-gradient(to bottom, #334c80, #5c7099);
    		color: white !important;
     		padding: 6px !important;
    		position: absolute;
		width: 100%;
		height: 40px;
	}


.message-attribution-main
	{
		color: white !important;
		padding-left: 6px !important;
		display: flex !important;
    		flex-direction: row-reverse !important;
    		width: 100% !important;
    		justify-content: space-between !important;
    		padding-right: 30px !important;
		font:  10pt tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;

	}




.message-attribution-main .dot-separator
  	{
    		display: none !important;
  	}

.message-attribution-main a
  	{
    		display: block !important;
  	}

.message-attribution-main a:first-child
  	{
    		font-weight: bold !important;
  	}


.message-attribution-main time::before
  	{
    		content: attr(data-original-title) ", " !important;
    		display: inline !important;
  	}

.is-unread .message-attribution-main
  	{
    		padding-left: 25px !important;
    		background: no-repeat url('https://i.imgur.com/fGRyFSS.png') !important;
  	}	



.message-cell
	{
		position: relative;
		top: 40px;
		width: 100%;
		
	}


.message-cell--user
	{
		border: 1px solid #D1D1E1 !important;
		padding: 6px !important;
		background: #E1E4F2 !important;	
	}

.message-cell--main
	{
		top: 0px !important;
		padding-left: 6px !important;
	}


.comment-options
	{	
		width: auto;	
	}

.california-options-button-inner
	{
		top: 25px !important;
	}


a:hover
  	{
    		color: #060635 !important;
  	}

.p-footer a, .p-header-content a
	{
		color: white !important;
	}

.p-footer
	{
		background: #3E5C92 !important;
	}

.message-footer
	{
	margin-top: 20px;
	}

.message-signature
	{
	padding-bottom: 20px;
	}

.avatar-badge-wrapper > .avatar > img
	{
		border: 1px solid rgb(11, 25, 140) !important;
	}

.bbImage
	{
		margin: 0px !important;
	}



 .button.button--primary,
  a.button.button--primary, .showClassicIcons
  {
    background: #738fbf !important;
    border: 0 !important;
  }

  .button.button--primary:hover,
  a.button.button--primary:hover, .showClassicIcons:hover
  {
    background: #0b198c !important;
  }

  .button.button--cta,
  a.button.button--cta,
  .pageNav-page.pageNav-page--current,
  .node-icon .node--unread
  {
    background: #738fbf !important;
  }

  .button.button--cta:focus,
  .button.button--cta:hover,
  a.button.button--cta:focus,
  a.button.button--cta:hover,
  .pageNav-page.pageNav-page--current:active,
  .pageNav-page.pageNav-page--current:hover
  {
    background: #0b198c !important;
    color: white !important;
  }

  .pageNav-page--current > a:hover
  {
    color: white !important;
  }

.showClassicIcons
	{	width: 150px;
		height: 30px;
		cursor: pointer;
		text-align: center;
		padding-top: 4px; 
		color: white;
		font: 'Helvetica Neue',Helvetica,Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans',sans-serif;
	}

.classicIcons{
	background: white;
}

.node
	{
		border: 1px solid #0b198c !important;
		padding-right: 0px !important;
	}


  .node-icon,
.node-main,
.node-stats
  {

    padding-bottom: 1em;
    vertical-align: top;
  }

.node-main
{
	padding-top: 0px !important;
}


.node-main > .node-description
{
	display: none;
}

.last-time
{
	padding-right: 10px !important;
}

  .node-title
  {
	
    	margin: 0.3333em 0;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	background-image: linear-gradient(rgb(51, 76, 128), rgb(92, 112, 153));
	padding: 6px !important;
  }

  .node-title a
  {

	color: white !important;
	margin-left: 30px !important;
	
  }

  .node-subNodeMenu
  {
    display: block;
  }

  .node-subNodeMenu a.menuTrigger
  {
    display: none;
  }

  .node-subNodeMenu .menu
  {
    box-shadow: none;
    display: block;
    margin-top: 1em;
    max-width: none;
    opacity: 1;
    padding: 0;
    position: relative;

  }

  .node-subNodeMenu .menu-content
  {
    background-color: #f0f3f5;
    padding: 0;
  }

  .node-subNodeMenu .subNodeMenu
  {
    margin: 0;
    max-height: none;
    overflow: visible;
	
  }

  .node-subNodeMenu .subNodeMenu li
  {
    
	border-bottom: 1px solid #cbcbcb;
  }

  .node-subNodeMenu .subNodeMenu li > ol > li
  {
    display: inline-block !important;
	border-bottom: 0px;
	
	
  }

  .node-subNodeMenu .subNodeMenu li > ol
  {
	margin-left: 15px !important;
	
  }



.subNodeMenu li > ol > li > .subNodeLink.subNodeLink--forum:before
	{
		content: none !important;
	}

.node-icon, .node-stats
{
vertical-align: middle !important;
}

.california-subforum-list-container a, .california-forum-view-thread-list-container a
{
	text-decoration: none !important;
}

.california-subforum-list-container a:hover, .california-forum-view-thread-list-container a:hover
{
	text-decoration: underline !important;
}


.california-thread-body:only-child
{
	margin-right: 0px !important;
}

