:root {
    --main-bg-color: #333333;
    --main-text-color: #999999;
    --main-important-text-color: #A02300;
}

html {
    width: 100%;
    min-width: 360px;
    height: 599px;
    background-color: #eef0f1;
    color: #343e5c;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    -webkit-overflow-scrolling: touch;
}

header.header {
    top: 0;
    left: 0;
    height: 32px;
    background-color: var(--main-bg-color);
}

div.mdc-top-app-bar__row {
    height: 32px;
}

div.manager-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 16px;
}

body {
    max-width: 600px;
    margin: auto;
    padding: 8px 8px 64px 8px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.mdc-bottom-app-bar__row {
    height: 64px;
    background-color: var(--main-bg-color);
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
}

.mdc-bottom-app-bar__row button {
    font-size: 28px;
}

main.mdc-top-app-bar--fixed-adjust {
    padding-top: 32px;
}
.manager-container {

}
.avatar img {
    border-radius: 0.25em;
    max-width: 100px;
    max-height: 50px;
}

.select-wrapper {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.select-wrapper select{
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    background: none;
    color: var(--main-bg-color);
}

.select-wrapper select option{
    color: var(--main-text-color);
}

.qq-card, .qq-card-second-type {
    height: auto;
    margin-bottom: 8px;
    padding: 8px;
    position: relative;
    cursor: move;
}

.qq-card-content {
    padding: 16px;
}

.qq-card__title {
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: .0125em;
    text-decoration: inherit;
    text-transform: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.qq-card__subhead {
    font-family: Roboto, sans-serif;
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: .018em;
    text-decoration: inherit;
    text-transform: inherit;
    opacity: .8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mdc-card-wrapper__text-section {
    display: flex;
}

.text-section__right {
    margin-left: 8px;
    width: 265px;

}

.qq-card__title_price {
    font-family: Roboto, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .0125em;
    text-decoration: inherit;
    text-transform: inherit;
    color: var(--main-important-text-color);
}

.price {
    justify-content: flex-end;
}

i.material-icons {
    font-size: .675rem;
    margin-right: 5px;
}

.mdc-text-field {
    width: 100%;
    --mdc-theme-primary: var(--main-bg-color);
}

i.material-icons.mdc-text-field__icon {
    max-width: .675rem;
    /*left: 16px;*/
    /*right: initial;*/
    /*color: rgba(0, 0, 0, .54);*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*font-size: 22px;*/
}

.hotel-img {
    width: 85px;
    height: 85px;
    background-color: var(--main-bg-color);
    border-radius: 5% 5% 0 0;
}

#logon-hello, .qq-instructions {
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

#logon-msg {
    padding: 5px;
}

.invisible {
    display: none;
}

#logon .material-icons.mdc-text-field__icon {
    max-width: .675rem;
    left: 16px;
    right: initial;
    color: rgba(0, 0, 0, .54);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
}

#logon, main#cant-make-quote {
   font-size: 14px;
}

#login-mdc-text-field.mdc-text-field__input, #password-mdc-text-field.mdc-text-field__input {
    padding-left: 48px;
    padding-right: 16px;
}

.inline-text-field-container {
    margin-bottom: 8px;
}

div.mdc-text-field-helper-line {
    padding-left: 8px;
}

button#logon-ok, button#logon-cancel, button#unlock {
    text-align: center;
    word-break: break-word;
    color: var(--main-important-text-color);
    padding: 0.5em 1em;
    border: 1px solid var(--main-important-text-color);
    border-radius: 0.25em;
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
    font-size: 0.9em;
}

button#logon-ok:hover, button#logon-cancel:hover, button#unlock:hover {
    background-color: var(--main-important-text-color);
    color: #ffffff;
}

#manager, #tours-select {
    height: 32px;
    font-size: 1.1rem;
    text-align: center;
    word-break: break-word;
    color: var(--main-bg-color);

    border-radius: 0.25em;
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
    cursor: pointer;
    border: none;
    max-width: 300px;
}

#manager:hover, #tours-select:hover {
    background-color: var(--main-important-text-color);
    color: #ffffff;
    border: 1px solid var(--main-important-text-color);
}

label {
    font-size: 0.9rem;
    margin-left: 4px;
}
button.remove {
    height: auto;
    padding: 0px;
    color: var(--main-important-text-color);
    font-size: 1.25rem;
}

label.mdc-floating-label--float-above {
    color: var(--main-important-text-color) !important;
}

.hide {
    display: none;
}


/***************** POPUP ******************/

#popup-bg {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    opacity: .2;
}

#popup {
     display: none;
    padding: 20px 10px 5px 65px;
    z-index: 2;
    position: fixed;
    top: 40%;
    left: 15%;
    width: 55%;
    height: 40px;
    font-size: 18px;
    font-weight: 800;
    color: #262626;
    background-color: #fff;
    border: 1px solid #C0C0C0;
    background-image: url('../../img/waiting.gif');
    background-repeat: no-repeat;
    background-position: 30px 20px;
}

.qq-instructions {
    font-size: 16px;
    font-weight: 600;
}

img {
    background-size: cover;
}

.qq-brand {
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    pointer-events: none;
    margin-bottom: 4px;
}

.qq-brand span {
    color: #A02300;
    font-weight: bold;

}

.card-container {
    position: relative;
}

aside.mdc-snackbar {
    bottom: 56px;
}

aside.mdc-snackbar button.mdc-button {
    color: #A02300;
    font-weight: bold;
}

button.mdc-button--raised {
    margin-top: 12px;
}

button.mdc-button--outlined {
    margin-top: 12px;
}

button.mdc-button--raised:not(:disabled) {
    margin-top: 12px;
    background-color: var(--main-important-text-color);
}

button.mdc-button--outlined:not(:disabled) {
    margin-top: 12px;
    color: white;
    border-color: var(--main-important-text-color);
    border-width: 2px;
}

span.mdc-button__label {
    font-size: 12px;
    font-weight: bold;
}

.text-section__left {
    margin-left: -8px;
    margin-top: -8px;
}
