body {
  border: 0;
  padding: 0;
  width: 100%;
  color: #333;
  margin: 0 auto;
  font-size: 13px;
  max-width: 1080px;
  align-items: center;
  font-family: arial, sans-serif;
}

.container {
  padding: 0;
  width: 100%;
  margin: auto;
  border: none;
}

.container table {
  width: 100%;
  height: 100%;
  margin: auto;
  border-spacing: 10px;
}

.container table .spacer {
  border: 0;
  padding: 0;
  height: 1px;
  background-color: rgba(0,0,0,0.05);
}

.container table .title {
  width: 128px;
  height: 128px;
  font-weight: 600;
}

.container table tr td {
  padding: 0 10px;
  text-align: justify;
  box-sizing: border-box;
  vertical-align: middle;
}

.container table tr td span {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: middle;
}

.container table tr td input[type="checkbox"] {
  float: right;
  margin: 0 5px;
  vertical-align: middle;
}

.container table tr td .note {
  margin: 0;
  padding: 0;
  color: #555;
  line-height: 18px;
  padding-bottom: 5px;
}

.logo {
  width: 100%;
  height: 128px;
  border-bottom: solid 1px rgba(0,0,0,0.1);
  background: url('../icons/128.png') no-repeat center center;
  background-size: 64px;
}
