.postila_screenshot {
    position: fixed;
    z-index: 19999999999;
    top: 0;
    right : 0;
    bottom: 0;
    left: 0;
    color: #fff;
    background: #464646;
    overflow: auto;
    pointer-events: auto;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.postila_screenshot-show {
    opacity: 1;
}

.postila_screenshot__tollbar {
    position: fixed;
    white-space: nowrap;
    z-index: 100;
    padding: 5px;
    color: #fff;
    background: #464646;
    bottom: 0;
    left: 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateY(42px) translateX(-50%);
    -ms-transform: translateY(42px) translateX(-50%);
    transform: translateY(42px) translateX(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.postila_screenshot__tollbar-error {
    background: #fff;
    color: #595959;
}

.postila_screenshot__tollbar-show {
    -webkit-transform: translateY(0) translateX(-50%);
    -ms-transform: translateY(0) translateX(-50%);
    transform: translateY(0) translateX(-50%);
}

.postila_screenshot__dimension {
    position: absolute;
    z-index: 10;
    color: #fff;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    margin: -33px 5px 0 0;
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: margin 0.3s;
    transition: margin 0.3s;
}

.postila_screenshot__dimension-in {
    margin-top: 5px;
}

.postila_screenshot__dimension-small_selection {
    background: #c00111;
}

.postila_screenshot__crop_action {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    margin: 11px 5px 0 0;
    -webkit-transition: margin 0.3s;
    transition: margin 0.3s;
}

.postila_screenshot__crop_action-in {
    right: auto!important;
    left: 5px;
}

.postila_screenshot__crop_action-inside {
    margin-top: -35px;
}

.postila_screenshot__crop_action .postila_screenshot__btn {
    float: left;
    margin-left: 10px;
}

.postila_screenshot__crop_message {
    float: left;
    text-align: right;
    font-size: 15px;
    color: #fff;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.postila_screenshot__message {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 30px;
    margin-right: 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    white-space: nowrap;
}

.postila_screenshot__message-error {
    color: #C00111;
}

.postila_screenshot__action {
    margin: 0 10px;
    text-align: center;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.postila_screenshot__action_close {
    text-align: right;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.postila_screenshot__tollbar_item {
    margin-right: 10px;
}

.postila_screenshot__picture {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.postila_screenshot__image {
    display: block;
}

.postila_screenshot__page body,
.postila_screenshot__page {
    pointer-events: none;
    overflow: hidden;
}

a.postila_screenshot__btn,
a.postila_screenshot__btn:visited,
a.postila_screenshot__btn:hover,
a.postila_screenshot__btn:link,
.postila_screenshot__btn {
    outline: none;
    display: block;
    padding: 5px 17px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #c00111;

    border: none;
    border-radius: 3px;
    text-decoration: none!important;
}

.postila_screenshot__btn-secondary {
    background: #999;
}

a.postila_screenshot__btn-white,
a.postila_screenshot__btn-white:visited,
a.postila_screenshot__btn-white:hover,
a.postila_screenshot__btn-white:link,
.postila_screenshot__btn-white {
    color: #464646;
    background: #fff;
}

.postila_screenshot__btn-disabled {
    opacity: 0.75;
    pointer-events: none;
}

#postila_screenshot .cropper-container {
    left: 0!important;
    top: 0!important;
    width: 100%!important;
    height: 100%!important;
}

#postila_screenshot .cropper-container > img {
    width: 100%!important;
    height: 100%!important;
}

#postila_screenshot .cropper-point {
    background-image: -webkit-radial-gradient(center, ellipse cover, #EE5F5B, #BD362F); /* Red */

    opacity: 1;
    border-radius: 3px;
}

#postila_screenshot .cropper-line {
    display: none;
}

#postila_screenshot .cropper-viewer {
    outline-color: #e6e6e6;
}

#postila_screenshot .point-ne,
#postila_screenshot .point-nw,
#postila_screenshot .point-sw,
#postila_screenshot .point-se {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

#postila_screenshot .point-ne {
    top: -5px;
    right: -5px;
}

#postila_screenshot .point-nw {
    top: -5px;
    left: -5px;
}

#postila_screenshot .point-sw {
    bottom: -5px;
    left: -5px;
}

#postila_screenshot .point-se {
    bottom: -5px;
    right: -5px;
}
