.record-edit.cs-edit {
  overflow-x: hidden;
  padding: 16px 0;
}
.record-edit.ba-edit {
  overflow-x: hidden;
  padding: 24px 9px 24px 24px;
}
.record-edit .record-edit-content .favicon-label {
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: inline-flex;
  margin-bottom: 8px;
}
.record-edit .record-edit-content .favicon-label img {
  height: 16px;
  width: 16px;
}
.record-edit .record-edit-content .favicon-label span {
  font-size: 13px;
  margin-left: 8px;
  font-family: Outfit-SemiBold, sans-serif;
}
.record-edit .record-edit-content .record-edit-field {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #aaa;
  max-width: 336px;
}
.record-edit .record-edit-content .record-edit-field .copy[tooltip].tooltip-left::after {
  right: -2px !important;
  cursor: pointer;
}
.record-edit .record-edit-content .record-edit-field-usability {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
  position: relative;
}
.record-edit .record-edit-content .record-edit-field-usability .record-edit-field-content {
  position: relative;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
          flex-grow: 1;
}
.record-edit .record-edit-content .record-edit-field-usability .record-edit-field-content .record-edit-field-labels {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #565656;
  margin-bottom: 5px;
}
.record-edit .record-edit-content .record-edit-field-usability .record-edit-field-content .record-edit-field-labels .record-field-title {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  color: #565656;
}
.record-edit .record-edit-content .record-edit-field-usability .record-edit-field-content .record-edit-field-labels .record-field-info {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  font-size: 14px;
}
.record-edit .record-edit-content .record-edit-field-usability .record-edit-field-content .record-edit-field-labels .record-field-info svg {
  margin: 0 1px;
}
.record-edit .record-edit-content .record-edit-field-usability .record-edit-field-content .record-edit-field-labels .record-field-info svg path {
  fill: #323232;
}
.record-edit .record-edit-content .record-edit-field-usability .record-edit-field-content .record-field-title,
.record-edit .record-edit-content .record-edit-field-usability .record-edit-field-content .keeper-input {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.record-edit .record-edit-content .record-edit-field-usability .eyeball {
  position: absolute;
  height: 24px;
  width: 24px;
  right: 48px;
  top: 31px;
  cursor: pointer;
}
.record-edit .record-edit-content .record-edit-field:last-child {
  margin-bottom: 16px;
}
.record-edit .record-edit-content .record-edit-field.error {
  margin-bottom: 8px;
  border-bottom-color: #b60000;
}
.record-edit .record-edit-content .record-edit-field .record-edit-field-content {
  position: relative;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
          flex-grow: 1;
}
.record-edit .record-edit-content .record-edit-field .record-edit-field-content .record-edit-field-labels {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #565656;
}
.record-edit .record-edit-content .record-edit-field .record-edit-field-content .record-edit-field-labels .record-field-title {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  color: #565656;
}
.record-edit .record-edit-content .record-edit-field .record-edit-field-content .record-edit-field-labels .record-field-info {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  font-size: 14px;
}
.record-edit .record-edit-content .record-edit-field .record-edit-field-content .record-edit-field-labels .record-field-info svg {
  margin: 0 1px;
}
.record-edit .record-edit-content .record-edit-field .record-edit-field-content .record-edit-field-labels .record-field-info svg path {
  fill: #323232;
}
.record-edit .record-edit-content .record-edit-field .record-edit-field-content .record-field-title,
.record-edit .record-edit-content .record-edit-field .record-edit-field-content .keeper-input {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.record-edit .record-edit-content .record-edit-field .eyeball {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.record-edit .record-edit-content .record-edit-field.phone {
  border-bottom: none;
}
.record-edit .record-edit-content .record-edit-field.phone .record-edit-field-content > div:nth-child(2) {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
}
.record-edit .record-edit-content .record-edit-field.phone .record-edit-field-content > div:nth-child(2) .keeper-input {
  border-bottom: 1px solid #aaa;
}
.record-edit .record-edit-content .record-edit-field.phone .record-edit-field-content > div:nth-child(2) .keeper-input:first-child {
  -webkit-flex-basis: 48%;
          flex-basis: 48%;
}
.record-edit .record-edit-content .record-edit-field.phone .record-edit-field-content > div:nth-child(2) .keeper-input:last-child {
  -webkit-flex-basis: 48%;
          flex-basis: 48%;
}
.record-edit .record-edit-content .record-edit-field.passkey {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  border-bottom: none;
}
.record-edit .field-error {
  color: #ce021b;
  margin-top: -4px;
  margin-bottom: 24px;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.record-edit .field-error svg {
  margin-right: 8px;
  fill: #ce021b;
}

.keeper-rtl .record-edit .record-edit-content .record-edit-field-usability .eyeball,
.rtl .record-edit .record-edit-content .record-edit-field-usability .eyeball {
  right: unset !important;
  left: 48px !important;
}

.dark-mode .record-edit .record-edit-field.error {
  border-bottom-color: #ff7361;
}
.dark-mode .record-edit .field-error {
  color: #ff7361;
}
.dark-mode .record-edit .field-error svg.triangleWarning path {
  fill: #ff7361;
}