.flag{
	position: relative;
	display: inline-block;
	margin: -10px -5px -10px -10px;
	width: 36px;
	height: 36px;
	vertical-align: middle;
	top: 0;
	left: 0;
	background:url(../img/flags.jpg) no-repeat;
	background-size: 576px 216px;
	-webkit-transform: scale(0.39);
	-moz-transform: scale(0.39);
	-ms-transform: scale(0.39);
	-o-transform: scale(0.39);
	transform: scale(0.39);
}


.flag{background-position: 0px 0px}
.flag.flag412 {background-position: -36px 0px}
.flag.flag344 {background-position: -72px 0px}
.flag.flag542 {background-position: -108px 0px}
.flag.flag276 {background-position: -144px 0px}
.flag.flag283 {background-position: -180px 0px}
.flag.flag722 {background-position: -216px 0px}
.flag.flag232 {background-position: -252px 0px}
.flag.flag505 {background-position: -288px 0px}
.flag.flag400 {background-position: -324px 0px}
.flag.flag218 {background-position: -360px 0px}
.flag.flag342 {background-position: -396px 0px}
.flag.flag470 {background-position: -432px 0px}
.flag.flag206 {background-position: -468px 0px}
.flag.flag613 {background-position: -504px 0px}
.flag.flag284 {background-position: -540px 0px}


.flag.flag426 {background-position: 0px -36px}
.flag.flag642 {background-position: -36px -36px}
.flag.flag616 {background-position: -72px -36px}
.flag.flag528 {background-position: -108px -36px}
.flag.flag284 {background-position: -144px -36px}
.flag.flag724 {background-position: -180px -36px}
.flag.flag402 {background-position: -216px -36px}
.flag.flag242 {background-position: -252px -36px}
.flag.flag652 {background-position: -288px -36px}
.flag.flag257 {background-position: -324px -36px}
.flag.flag702 {background-position: -360px -36px}
.flag.flag623 {background-position: -396px -36px}
.flag.flag629 {background-position: -432px -36px}
.flag.flag228 {background-position: -468px -36px}
.flag.flag612 {background-position: -504px -36px}
.flag.flag624 {background-position: -540px -36px}

.flag.flag460 {background-position: 0px -72px}
.flag.flag732 {background-position: -36px -72px}
.flag.flag368 {background-position: -72px -72px}
.flag.flag230 {background-position: -108px -72px}
.flag.flag262 {background-position: -144px -72px}
.flag.flag238 {background-position: -180px -72px}
.flag.flag248 {background-position: -216px -72px}
.flag.flag602 {background-position: -252px -72px}
.flag.flag244 {background-position: -288px -72px}
.flag.flag202 {background-position: -324px -72px}
.flag.flag219 {background-position: -360px -72px}
.flag.flag272 {background-position: -396px -72px}
.flag.flag425 {background-position: -432px -72px}
.flag.flag204 {background-position: -468px -72px}
.flag.flag995 {background-position: -504px -72px}
.flag.flag294 {background-position: -540px -72px}

.flag.flag502 {background-position: 0px -108px}
.flag.flag621 {background-position: -36px -108px}
.flag.flag270 {background-position: -72px -108px}
.flag.flag260 {background-position: -108px -108px}
.flag.flag259 {background-position: -144px -108px}
.flag.flag220 {background-position: -180px -108px}
.flag.flag250 {background-position: -216px -108px}
.flag.flag240 {background-position: -252px -108px}
.flag.flag293 {background-position: -288px -108px}
.flag.flag639 {background-position: -324px -108px}
.flag.flag216 {background-position: -360px -108px}
.flag.flag255 {background-position: -396px -108px}
.flag.flag247 {background-position: -432px -108px}
.flag.flag334 {background-position: -468px -108px}
.flag.flag212 {background-position: -504px -108px}
.flag.flag655 {background-position: -540px -108px}

.flag.flag268 {background-position: 0px -144px}
.flag.flag424 {background-position: -36px -144px}
.flag.flag302 {background-position: -72px -144px}
.flag.flag280 {background-position: -108px -144px}
.flag.flag208 {background-position: -144px -144px}
.flag.flag282 {background-position: -180px -144px}
.flag.flag620 {background-position: -216px -144px}
.flag.flag454 {background-position: -252px -144px}
.flag.flag404 {background-position: -288px -144px}
.flag.flag510 {background-position: -324px -144px}
.flag.flag222 {background-position: -360px -144px}
.flag.flag401 {background-position: -396px -144px}
.flag.flag420 {background-position: -432px -144px}
.flag.flag419 {background-position: -468px -144px}
.flag.flag437 {background-position: -504px -144px}
.flag.flag415 {background-position: -540px -144px}

.flag.flag226 {background-position: 0px -180px}
.flag.flag231 {background-position: -36px -180px}
.flag.flag214 {background-position: -72px -180px}
.flag.flag466 {background-position: -108px -180px}
.flag.flag520 {background-position: -144px -180px}
.flag.flag286 {background-position: -180px -180px}
.flag.flag234 {background-position: -216px -180px}
.flag.flag452 {background-position: -252px -180px}
.flag.flag297 {background-position: -288px -180px}