body {
    background-color: #eeeeee;

}
.link, .link:hover {
    text-decoration: none;
    color: #DC602E;
    cursor: pointer;
}
.popup {
    position: relative;
    width: 245px;
    background-color: #fff;
}

.loader {
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px auto;
    border-radius: 50%;
    border: solid 2px #707070;
    border-top-color: #ffffff;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.item {
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding: 15px 10px;
    background-color: #fff;
}

.item > i {
    display: inline-block;
    margin: 0 10px;
    padding: 5px;
    font-size: 16px;
    color: #CDCDCD;
}

.item-active-modem .icon-wifi {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 36px;
    background: #dddddd;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    vertical-align: middle;
    cursor: pointer;
}

.item-active-modem .icon-wifi i {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.item-active-modem .icon-wifi.error {
    background: #ab0f00;
}

.item-active-modem .icon-wifi.active {
    background: #00AB67;
}

.item-active-modem .icon-wifi.active i,
.item-active-modem .icon-wifi.error i {
    color: #fff;
}

.item-active-modem .title,
.modem-list .item .title {
    display: inline-block;
    padding: 0 10px;
    width: 130px;
    vertical-align: middle;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: #444;
}

.modem-list {
    max-height: 284px;
    overflow-y: auto;
}

.modem-list .item .title {
    width: 180px;
}

.item-active-modem .title .title-number {
    font-size: 12px;
    color: #666666;
}

.item-active-modem .number {
    position: relative;
    display: inline-block;
    padding: 6px;
    vertical-align: middle;
    color: #fff;
    background: #666666;
    font-size: 13px;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.item-active-modem .arrows {
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 30px;
    top: 50%;
    right: 10px;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.item-active-modem .arrows i {
    position: absolute;
    left: 50%;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    display: block;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.item-active-modem .arrows i:first-child {
    top: 5px;
}

.item-active-modem .arrows i:last-child {
    bottom: 5px;
}

.modem-list .item {
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
}

.modem-list .item:hover {
    background: #eee;
}

.modem-list .time i {
    font-size: 16px;
    color: #444;
}

.item-foot {
    position: relative;
    padding: 0;
    border-top: 1px solid #e9e9e9;
    color: #666666;
    background-color: #f0f0f0;
}

.item-foot .icon-settings i {
    padding: 15px;
    font-size: 16px;
    border-right: 1px solid #e9e9e9;
    cursor: pointer;
}

.item-foot .select-language {
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    background: none;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    padding-right: 18px;
    background: #f0f0f0 url(../img/sort-down.svg) right center no-repeat;
    background-position: right 5px;
    background-size: 16px 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:120px;
}

.item-foot .select-language i {
    position: relative;
    top: -5px;
}

.item-foot .toggle {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 28px;
    top: 50%;
    right: 10px;
    cursor: pointer;
    background: url(../img/icon-toggle-sprite.png) no-repeat;
    background-size: 64px 56px;
    background-position: 0 -28px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.item-foot .toggle.on {
    background-position: 0 0;
}

.item-foot .icon-reload {
    display: block;
    padding: 15px;
    color: #666666;
    font-size: 14px;
    text-align: center;
}

.item-foot .icon-reload i {
    font-size: 16px;
    padding-right: 10px;
}

.alert {
    position: relative;
    margin: 5px 5px 10px 5px;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: absolute;
    top: 3px;
    right: 6px;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 20px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
