@font-face {
	font-family: 'dobromat';
	src:url('dobromat.eot?sd8i69');
	src:url('dobromat.eot?sd8i69#iefix') format('embedded-opentype'),
		url('dobromat.ttf?sd8i69') format('truetype'),
		url('dobromat.woff?sd8i69') format('woff'),
		url('dobromat.svg?sd8i69#dobromat') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="dm-"], [class*=" dm-"] {
	font-family: 'dobromat';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dm-dobromat-logo:before {
	content: "\e900";
}
.dm-pencil:before {
	content: "\e906";
}
.dm-pencil2:before {
	content: "\e907";
}
.dm-quill:before {
	content: "\e908";
}
.dm-pen:before {
	content: "\e909";
}
.dm-blog:before {
	content: "\e90a";
}
.dm-cart:before {
	content: "\e93b";
}
.dm-coin-euro:before {
	content: "\e93d";
}
.dm-wink:before {
	content: "\e9e8";
}

