.color-switch[data-v-dc52de82] {
  width: 40%;
  cursor: pointer;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.color-switch__text[data-v-dc52de82] {
  z-index: -1;
  color: currentColor;
  text-align: center;
  transform: translateY(0%);
  opacity: 0;
  transition: transform 225ms ease, opacity 250ms ease;
  position: absolute;
  user-select: none;
}
.color-switch:hover .color-switch__text[data-v-dc52de82] {
  transform: translateY(40%);
  opacity: 1;
}
.light .color-switch:hover .color-switch__text[data-v-dc52de82] {
  transform: translateY(75%);
}
path[data-v-dc52de82] {
  fill: transparent;
}
text[data-v-dc52de82] {
  fill: hsl(var(--clr-primary));
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 6px;
}