.dropdown[data-v-1aab9ef9] {
  position: relative;
}
.dropdown__dropdown[data-v-1aab9ef9] {
  display: flex;
  align-items: center;
  height: min-content;
  cursor: pointer;
  user-select: none;
}
.dropdown__dropdown:hover .dropdown__title[data-v-1aab9ef9] {
  text-decoration: underline;
}
.dropdown-list[data-v-1aab9ef9] {
  cursor: default;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  min-width: max-content;
  top: 50px;
  left: 0;
  border-radius: var(--brd-rad);
  overflow: hidden;
  box-shadow: 10px 10px 41px 9px hsl(var(--clr-white), 0.12);
}
.dropdown-list__item[data-v-1aab9ef9] {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(var(--clr-grey));
  height: 70px;
  padding: 1rem 1rem;
  z-index: 2;
}
.dropdown-list__item[data-v-1aab9ef9]:hover {
  background-color: hsl(var(--clr-black));
}
.dropdown-list__item:hover .dropdown-list__arrow[data-v-1aab9ef9] {
  transform: translateX(20px);
  opacity: 0.4;
}
.dropdown-list__item--selected[data-v-1aab9ef9] {
  background-color: hsl(var(--clr-primary));
}
.dropdown-list__item--selected[data-v-1aab9ef9]:hover {
  background-color: hsl(var(--clr-primary));
  filter: brightness(0.8);
}
.dropdown-list__image[data-v-1aab9ef9] {
  max-height: 100%;
}
.dropdown-list__title[data-v-1aab9ef9] {
  margin-left: 0.8rem;
}
.dropdown-list__arrow[data-v-1aab9ef9] {
  position: absolute;
  right: 25px;
  transition: transform 200ms ease, opacity 200ms ease;
  color: hsl(var(--clr-primary));
  height: 100%;
  width: 20%;
  opacity: 0.2;
  z-index: 1;
}
.light .dropdown-list__item[data-v-1aab9ef9]:hover {
  color: hsl(var(--clr-white));
}