.language-select[data-v-35e767dc] {
  position: relative;
  display: grid;
  grid-template-columns: min-content auto;
  height: min-content;
  min-width: min-content;
  width: 125px;
}
.light .language-select .language-select__languages[data-v-35e767dc] {
  color: hsl(var(--clr-black));
}
.language-select__selector[data-v-35e767dc] {
  transition: all 200ms ease-out;
  cursor: pointer;
  color: hsl(var(--clr-primary));
  width: 2rem;
  height: 2rem;
}
.language-select__selector--german[data-v-35e767dc] {
  transform: translateY(0);
}
.language-select__selector--english[data-v-35e767dc] {
  transform: translateY(100%);
}
.language-select__languages[data-v-35e767dc] {
  padding-left: 0.5rem;
  line-height: 2rem;
  user-select: none;
}
.language-select__languages--selected[data-v-35e767dc] {
  font-weight: 600;
  font-size: 1.2em;
}
.language-select__languages[data-v-35e767dc] :not(.language-select__languages--selected) {
  cursor: pointer;
}
.soon[data-v-35e767dc] {
  position: absolute;
  left: 30%;
  top: 15%;
  transform: rotate(-45deg);
  font-weight: 800;
  color: hsl(var(--clr-white));
  font-size: 1.5rem;
  background-color: black;
}
*[disabled][data-v-35e767dc]:not(.soon) {
  color: hsl(var(--clr-white), 0.6);
}