.link[data-v-6a5c533c] {
  display: flex;
  align-items: center;
  color: hsl(var(--clr-primary));
  font-weight: 600;
  user-select: none;
  cursor: pointer;
  width: max-content;
  text-decoration: none;
}
.link__arrow[data-v-6a5c533c] {
  width: 28px;
  height: 28px;
  margin-left: 0.25rem;
  transition: all 250ms ease;
}
.link:hover .link__text[data-v-6a5c533c] {
  border-bottom: 1px solid;
  border-color: currentColor;
}
.link:hover .link__arrow[data-v-6a5c533c] {
  margin-left: 0.5rem;
}