.container[data-v-7bf8d2cf] {
  display: flex;
  align-items: start;
  gap: 0.2rem;
  height: 50px;
  font-size: 1.4rem;
}
.tab[data-v-7bf8d2cf] {
  border: none;
  background-color: hsl(var(--clr-secondary), 0.8);
  color: white;
  cursor: pointer;
  border-bottom: 1px solid hsl(var(--clr-secondary), 0.5);
  opacity: 0.6;
}
.tab[data-v-7bf8d2cf]:hover {
  opacity: 0.8;
  background-color: hsl(var(--clr-primary), 0.1);
}
.tab--selected[data-v-7bf8d2cf] {
  border-bottom: 2px solid hsl(var(--clr-primary));
  opacity: 1;
}