.onboarding-btn {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  min-width: 8rem;
  height: 8rem;
  min-height: 8rem;
  box-shadow: 0 0 3rem 4px hsl(var(--clr-white), 0.4);
  z-index: 0;
  cursor: pointer;
}
.onboarding-btn:hover {
  box-shadow: 0 0 3rem 4px hsl(var(--clr-primary), 0.4);
}
.onboarding-btn:hover .onboarding-btn__inner {
  transform: scale(1.1);
}
.onboarding-btn__inner {
  transition: all 200ms ease;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: hsl(var(--clr-white));
  z-index: 2;
  position: relative;
}
.onboarding-btn__progress {
  height: 100%;
  width: 100%;
  z-index: 3;
  position: absolute;
}
.onboarding-btn__progress circle {
  transition: all 400ms ease;
  stroke: hsl(var(--clr-primary));
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  stroke-dasharray: var(--done) 280;
}
.onboarding-btn__arrow {
  width: 80%;
  height: 80%;
  z-index: 2;
  color: hsl(var(--clr-black));
}
.light .onboarding-btn {
  box-shadow: 0 0 3rem 4px hsl(var(--clr-black), 0.4);
}
.light .onboarding-btn:hover {
  box-shadow: 0 0 3rem 4px hsl(var(--clr-primary), 0.4);
}
.light .onboarding-btn__inner {
  background-color: hsl(var(--clr-black));
}
.light .onboarding-btn__arrow {
  color: hsl(var(--clr-white));
}