.txt-bold[data-v-4fa53f0b] {
  font-weight: 600;
}
.statistics__clicks[data-v-4fa53f0b] {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.statistics__minutes[data-v-4fa53f0b] {
  display: flex;
  justify-content: space-between;
}