
#vkbutton {
    background:#4376A6;
    font:11px tahoma;
    color:white;
    padding:7px 9px 7px 9px;
   cursor:pointer;
  }
  .vkauth a {
    background:#4376A6;
    font:11px tahoma;
    color:white;
    padding:7px 9px 7px 9px;
    cursor:pointer;
    text-decoration:none;
    border-radius:3px;
    }
    .vkauth {
      margin-top:20px;
      }
  .upext {
    background:#bfd460;
    padding:10px;
    text-align:center;
  }
  .upext a {    
    font:bold 12px tahoma;
    color:white;
  }
  a.what_is {
    font-size:10px;
  }
  .share_text {
   margin-bottom:10px;
  }
  .share a {
    text-decoration:none;
  }
  .share {  
    margin-top:10px;
    margin-bottom:10px;
  }
  .vk-signup {
  margin-top:13px;
  }
  .vk a{
  color:black;
  border:none;
  width:100%;
  height:25px;
  display: inline-block;
  padding-top:12.5px;
  text-decoration:none;
  background:#EDEEF0;
  font:11px tahoma;
  }
  .vk a:hover {
  background:#4376A6;
  color:white;
  }
  .comments a{
  font:11px tahoma;
  color:#0088cc;
  text-decoration:none;
  margin:10px;
  }
  .comments {
  margin-bottom:10px;
  }
  .smalltext {
  font:tahoma 13px;
  }
  .btn-download {
      text-decoration:none;
      padding:7px 13px;
      color:white;
      background-color: #1d98dc;
      border:none;
      border-radius:3px;
      margin-top:13px;
      cursor:pointer;
  }
  .btn-download:hover {
      background:#0088cc;
      color:white;
  }
  .ext {margin-top:0px;}
  .savee {
    background:url('/images/logo.png') no-repeat;
    height:30px;
    background-position: center;
  }
  .logo {
    background:#188cca;
    color:white;
    width:100%;
    height:30px;
  }
  a {
    color:#0088cc;
    font:11px tahoma;
    text-decoration:none;
  }
  small {font:10px tahoma;}
  body {
    padding:0;
    margin:0;
    width:250px;
    min-height:200px;
    font:11px tahoma;
    text-align:center;
  }