body{
    width: 100px;
    text-align: center;
    font-family: arial;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

.popupButton{
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
}

button {
    padding: 0.2em 0.6em;
    border: 1px solid currentColor;
    border-radius: 3px;
    background: #dddddd;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button:hover {
    background: #eeeeee;
}

#rateTxt {
    cursor: pointer;
    font-size: 12px;
    color: #999999;
}

#rateTxt:hover {
    color: #000000;
}

