body{
  width:628px;
  height:538px;
}
.container{
    width: 628px;
    height: 350px;
    max-width: 680px;
    max-height: 350px;
}

.emoji-content{
    height: 345px;
    overflow: scroll;
    padding-top: 10px;
}

#search-emojis-input{
    font-size: 18px;
    width: 100%;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

#search-emojis-results{
    margin: 15px 5px 5px 5px;
    /*max-height: 200px;*/
    /*overflow: scroll;*/
}
#search_area{
    overflow: hidden;
}
#current_emoji_title{
    text-align: center;
    font-size: 120%;
    font-style: italic;
    margin-bottom: 2px;
    color: #158cba;
}
#current_emoji_title .emoji_big{
    font-size: 180%;
    font-style: normal;
}

#message_panel{
    margin-bottom: 5px;
}
#emoji-message{
    font-size: 28px;
    width: 100%;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    height: 50px;
    margin-bottom: 6px;
}
#emoji-message-box{
    margin: 4px 3px;
}
#option-emojis{
    font-size: 115%;
}

#web_version_introduction{
    text-align: left;
    font-size: 100%;
    color: #158cba;
    font-weight: bold;
    margin:4px 2px;
}

#copy-btn{
    padding: 4px 10px;
}

.nav>li>a{
    padding: 3px 5px;
    font-weight: bold;
}

.nav-tabs>li a{
    padding-left: 4px;
    padding-right: 4px;
}
.nav-tabs>li a.btn{
    margin-right: 4px;
}
#copy-btn-container{
    text-align: center;
    margin:0px 5px 5px 5px;
}

#replace-emoji-option-container{
    margin-top: 25px;
}
#search-btn,#option-btn{
    background-color: #75caeb;
}

.ek_emojisymbol{
    zoom: 0.56;
}

#copy_notification_text{
    color: green;
    font-weight: bold;
    font-style: normal;
}
#skin_button_option_container{
    margin:15px 5px 10px 5px;
}
#skin_button_option_container{
    min-height: 30px;
}
.skin_button_option:hover{
    cursor: pointer; 
    cursor: hand;
}
.emoji_span_container:hover{
    cursor: pointer; 
    cursor: hand;
}

#guessemoji_ads{
    width: 90%;
    margin: 2px auto;
    /*border: 1px solid #000;*/
    text-align: center;
}
#guessemoji_ads img{
    width: 60%;
}

#guessemoji_ads .guessemoji_intro{
    color: #333333; 
    font-family: 'Raleway',sans-serif; 
    font-size: 20px; 
    font-weight: 800; 
    line-height: 6px; 
    margin: 20px 0 10px; 
    text-align: center; 
    text-transform: uppercase; 
}

a.web_version_link{
    color: rgb(255, 0, 108);
    font-weight: normal;
}

@media only screen and (max-device-width: 799px) { 
  #navbar-brand-logo h1,#navbar-brand-logo h2 {
    font-size: 120%;
    display: inline;
  }
  .dsk_only{
    display: none;
  }
  .introduction {
    margin-bottom: 3px;    
    font-size: 110%;
  }
  .btn {
    padding: 2px 6px 2px 6px;
  }

  .nav>li>a {
    position: relative;
    display: block;
    padding: 3px 5px;
  }
  .nav-tabs>li>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs .open>a, .nav-tabs .open>a:hover, .nav-tabs .open>a:focus{
    padding-bottom: 6px;
  }
  /*#adsense_top_ad {
    margin-bottom: 5px;
    margin-top: -8px;    
  }*/
  textarea{
    font-size: 16px;
  }
  .capitalize{
    text-transform: capitalize;
  }
}

@media only screen and (min-device-width: 800px) { 
  .mobile_only{
    display: none;
  }
  .introduction{
    font-size: 115%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.the_sprite_img_0 {
    width: 51px;
    height: 49px;
    display: inline-block;
    padding: 0;
    background: url('../images/sprites/emojione/emojione-0-2x.png');
    vertical-align: middle;
}
.the_sprite_img_1 {
    width: 51px;
    height: 49px;
    display: inline-block;
    padding: 0;
    background: url('../images/sprites/emojione/emojione-1-2x.png');
    vertical-align: middle;
}
.the_sprite_img_2 {
    width: 51px;
    height: 49px;
    display: inline-block;
    padding: 0;
    background: url('../images/sprites/emojione/emojione-2-2x.png');
    vertical-align: middle;
}
.the_sprite_img_3 {
    width: 51px;
    height: 49px;
    display: inline-block;
    padding: 0;
    background: url('../images/sprites/emojione/emojione-3-2x.png');
    vertical-align: middle;
}
.the_sprite_img_4 {
    width: 51px;
    height: 49px;
    display: inline-block;
    padding: 0;
    background: url('../images/sprites/emojione/emojione-4-2x.png');
    vertical-align: middle;
}
.the_sprite_img_5 {
    width: 51px;
    height: 49px;
    display: inline-block;
    padding: 0;
    background: url('../images/sprites/emojione/emojione-5-2x.png');
    vertical-align: middle;
}
.the_sprite_img_6 {
    width: 51px;
    height: 49px;
    display: inline-block;
    padding: 0;
    background: url('../images/sprites/emojione/emojione-6-2x.png');
    vertical-align: middle;
}
.the_sprite_img_7 {
    width: 51px;
    height: 49px;
    display: inline-block;
    padding: 0;
    background: url('../images/sprites/emojione/emojione-7-2x.png');
    vertical-align: middle;
}

.the_sprite_img_8.has_background{
    width: 51px;
    height: 49px;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    background: url('../images/sprites/emojione/emoji5.0.png');
}

#emojis-content-container{
    margin-top: 2px;
    padding-left: 3px;
    cursor: pointer; 
    cursor: hand;
}

.emoji_span_container {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 7px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    border-style: outset;
    border: 1px solid #555;
    border-color: #000000;
    display: inline-block;

    /*Hide text*/
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#copied_notif_msg_2{
    /*background-color:hsla(0,0%,100%,.8);*/
    background: white;
    border:2px solid #eee;
    border-radius:5px;
    font-weight:bolder;
    font-size:16pt;
    position:absolute;
    top:-5000px;
    padding:0px;
    margin:0px;
    color: #158cba;
}

#copied_notif_msg_2.disappearing {
    transition:visibility 1s, transform 1s;
    transition-delay: 0.225s;
    transform: scale(0);
}

.emoji_span_container.imgemj_0 {
    background-position: -0px -0px !important;
}
.emoji_span_container.imgemj_1 {
    background-position: -49px -0px !important;
}
.emoji_span_container.imgemj_2 {
    background-position: -98px -0px !important;
}
.emoji_span_container.imgemj_3 {
    background-position: -147px -0px !important;
}
.emoji_span_container.imgemj_4 {
    background-position: -196px -0px !important;
}
.emoji_span_container.imgemj_5 {
    background-position: -245px -0px !important;
}
.emoji_span_container.imgemj_6 {
    background-position: -294px -0px !important;
}
.emoji_span_container.imgemj_7 {
    background-position: -343px -0px !important;
}
.emoji_span_container.imgemj_8 {
    background-position: -392px -0px !important;
}
.emoji_span_container.imgemj_9 {
    background-position: -441px -0px !important;
}
.emoji_span_container.imgemj_10 {
    background-position: -490px -0px !important;
}
.emoji_span_container.imgemj_11 {
    background-position: -539px -0px !important;
}
.emoji_span_container.imgemj_12 {
    background-position: -588px -0px !important;
}
.emoji_span_container.imgemj_13 {
    background-position: -637px -0px !important;
}
.emoji_span_container.imgemj_14 {
    background-position: -686px -0px !important;
}
.emoji_span_container.imgemj_15 {
    background-position: -735px -0px !important;
}
.emoji_span_container.imgemj_16 {
    background-position: -0px -49px !important;
}
.emoji_span_container.imgemj_17 {
    background-position: -49px -49px !important;
}
.emoji_span_container.imgemj_18 {
    background-position: -98px -49px !important;
}
.emoji_span_container.imgemj_19 {
    background-position: -147px -49px !important;
}
.emoji_span_container.imgemj_20 {
    background-position: -196px -49px !important;
}
.emoji_span_container.imgemj_21 {
    background-position: -245px -49px !important;
}
.emoji_span_container.imgemj_22 {
    background-position: -294px -49px !important;
}
.emoji_span_container.imgemj_23 {
    background-position: -343px -49px !important;
}
.emoji_span_container.imgemj_24 {
    background-position: -392px -49px !important;
}
.emoji_span_container.imgemj_25 {
    background-position: -441px -49px !important;
}
.emoji_span_container.imgemj_26 {
    background-position: -490px -49px !important;
}
.emoji_span_container.imgemj_27 {
    background-position: -539px -49px !important;
}
.emoji_span_container.imgemj_28 {
    background-position: -588px -49px !important;
}
.emoji_span_container.imgemj_29 {
    background-position: -637px -49px !important;
}
.emoji_span_container.imgemj_30 {
    background-position: -686px -49px !important;
}
.emoji_span_container.imgemj_31 {
    background-position: -735px -49px !important;
}
.emoji_span_container.imgemj_32 {
    background-position: -0px -98px !important;
}
.emoji_span_container.imgemj_33 {
    background-position: -49px -98px !important;
}
.emoji_span_container.imgemj_34 {
    background-position: -98px -98px !important;
}
.emoji_span_container.imgemj_35 {
    background-position: -147px -98px !important;
}
.emoji_span_container.imgemj_36 {
    background-position: -196px -98px !important;
}
.emoji_span_container.imgemj_37 {
    background-position: -245px -98px !important;
}
.emoji_span_container.imgemj_38 {
    background-position: -294px -98px !important;
}
.emoji_span_container.imgemj_39 {
    background-position: -343px -98px !important;
}
.emoji_span_container.imgemj_40 {
    background-position: -392px -98px !important;
}
.emoji_span_container.imgemj_41 {
    background-position: -441px -98px !important;
}
.emoji_span_container.imgemj_42 {
    background-position: -490px -98px !important;
}
.emoji_span_container.imgemj_43 {
    background-position: -539px -98px !important;
}
.emoji_span_container.imgemj_44 {
    background-position: -588px -98px !important;
}
.emoji_span_container.imgemj_45 {
    background-position: -637px -98px !important;
}
.emoji_span_container.imgemj_46 {
    background-position: -686px -98px !important;
}
.emoji_span_container.imgemj_47 {
    background-position: -735px -98px !important;
}
.emoji_span_container.imgemj_48 {
    background-position: -0px -147px !important;
}
.emoji_span_container.imgemj_49 {
    background-position: -49px -147px !important;
}
.emoji_span_container.imgemj_50 {
    background-position: -98px -147px !important;
}
.emoji_span_container.imgemj_51 {
    background-position: -147px -147px !important;
}
.emoji_span_container.imgemj_52 {
    background-position: -196px -147px !important;
}
.emoji_span_container.imgemj_53 {
    background-position: -245px -147px !important;
}
.emoji_span_container.imgemj_54 {
    background-position: -294px -147px !important;
}
.emoji_span_container.imgemj_55 {
    background-position: -343px -147px !important;
}
.emoji_span_container.imgemj_56 {
    background-position: -392px -147px !important;
}
.emoji_span_container.imgemj_57 {
    background-position: -441px -147px !important;
}
.emoji_span_container.imgemj_58 {
    background-position: -490px -147px !important;
}
.emoji_span_container.imgemj_59 {
    background-position: -539px -147px !important;
}
.emoji_span_container.imgemj_60 {
    background-position: -588px -147px !important;
}
.emoji_span_container.imgemj_61 {
    background-position: -637px -147px !important;
}
.emoji_span_container.imgemj_62 {
    background-position: -686px -147px !important;
}
.emoji_span_container.imgemj_63 {
    background-position: -735px -147px !important;
}
.emoji_span_container.imgemj_64 {
    background-position: -0px -196px !important;
}
.emoji_span_container.imgemj_65 {
    background-position: -49px -196px !important;
}
.emoji_span_container.imgemj_66 {
    background-position: -98px -196px !important;
}
.emoji_span_container.imgemj_67 {
    background-position: -147px -196px !important;
}
.emoji_span_container.imgemj_68 {
    background-position: -196px -196px !important;
}
.emoji_span_container.imgemj_69 {
    background-position: -245px -196px !important;
}
.emoji_span_container.imgemj_70 {
    background-position: -294px -196px !important;
}
.emoji_span_container.imgemj_71 {
    background-position: -343px -196px !important;
}
.emoji_span_container.imgemj_72 {
    background-position: -392px -196px !important;
}
.emoji_span_container.imgemj_73 {
    background-position: -441px -196px !important;
}
.emoji_span_container.imgemj_74 {
    background-position: -490px -196px !important;
}
.emoji_span_container.imgemj_75 {
    background-position: -539px -196px !important;
}
.emoji_span_container.imgemj_76 {
    background-position: -588px -196px !important;
}
.emoji_span_container.imgemj_77 {
    background-position: -637px -196px !important;
}
.emoji_span_container.imgemj_78 {
    background-position: -686px -196px !important;
}
.emoji_span_container.imgemj_79 {
    background-position: -735px -196px !important;
}
.emoji_span_container.imgemj_80 {
    background-position: -0px -245px !important;
}
.emoji_span_container.imgemj_81 {
    background-position: -49px -245px !important;
}
.emoji_span_container.imgemj_82 {
    background-position: -98px -245px !important;
}
.emoji_span_container.imgemj_83 {
    background-position: -147px -245px !important;
}
.emoji_span_container.imgemj_84 {
    background-position: -196px -245px !important;
}
.emoji_span_container.imgemj_85 {
    background-position: -245px -245px !important;
}
.emoji_span_container.imgemj_86 {
    background-position: -294px -245px !important;
}
.emoji_span_container.imgemj_87 {
    background-position: -343px -245px !important;
}
.emoji_span_container.imgemj_88 {
    background-position: -392px -245px !important;
}
.emoji_span_container.imgemj_89 {
    background-position: -441px -245px !important;
}
.emoji_span_container.imgemj_90 {
    background-position: -490px -245px !important;
}
.emoji_span_container.imgemj_91 {
    background-position: -539px -245px !important;
}
.emoji_span_container.imgemj_92 {
    background-position: -588px -245px !important;
}
.emoji_span_container.imgemj_93 {
    background-position: -637px -245px !important;
}
.emoji_span_container.imgemj_94 {
    background-position: -686px -245px !important;
}
.emoji_span_container.imgemj_95 {
    background-position: -735px -245px !important;
}
.emoji_span_container.imgemj_96 {
    background-position: -0px -294px !important;
}
.emoji_span_container.imgemj_97 {
    background-position: -49px -294px !important;
}
.emoji_span_container.imgemj_98 {
    background-position: -98px -294px !important;
}
.emoji_span_container.imgemj_99 {
    background-position: -147px -294px !important;
}
.emoji_span_container.imgemj_100 {
    background-position: -196px -294px !important;
}
.emoji_span_container.imgemj_101 {
    background-position: -245px -294px !important;
}
.emoji_span_container.imgemj_102 {
    background-position: -294px -294px !important;
}
.emoji_span_container.imgemj_103 {
    background-position: -343px -294px !important;
}
.emoji_span_container.imgemj_104 {
    background-position: -392px -294px !important;
}
.emoji_span_container.imgemj_105 {
    background-position: -441px -294px !important;
}
.emoji_span_container.imgemj_106 {
    background-position: -490px -294px !important;
}
.emoji_span_container.imgemj_107 {
    background-position: -539px -294px !important;
}
.emoji_span_container.imgemj_108 {
    background-position: -588px -294px !important;
}
.emoji_span_container.imgemj_109 {
    background-position: -637px -294px !important;
}
.emoji_span_container.imgemj_110 {
    background-position: -686px -294px !important;
}
.emoji_span_container.imgemj_111 {
    background-position: -735px -294px !important;
}
.emoji_span_container.imgemj_112 {
    background-position: -0px -343px !important;
}
.emoji_span_container.imgemj_113 {
    background-position: -49px -343px !important;
}
.emoji_span_container.imgemj_114 {
    background-position: -98px -343px !important;
}
.emoji_span_container.imgemj_115 {
    background-position: -147px -343px !important;
}
.emoji_span_container.imgemj_116 {
    background-position: -196px -343px !important;
}
.emoji_span_container.imgemj_117 {
    background-position: -245px -343px !important;
}
.emoji_span_container.imgemj_118 {
    background-position: -294px -343px !important;
}
.emoji_span_container.imgemj_119 {
    background-position: -343px -343px !important;
}
.emoji_span_container.imgemj_120 {
    background-position: -392px -343px !important;
}
.emoji_span_container.imgemj_121 {
    background-position: -441px -343px !important;
}
.emoji_span_container.imgemj_122 {
    background-position: -490px -343px !important;
}
.emoji_span_container.imgemj_123 {
    background-position: -539px -343px !important;
}
.emoji_span_container.imgemj_124 {
    background-position: -588px -343px !important;
}
.emoji_span_container.imgemj_125 {
    background-position: -637px -343px !important;
}
.emoji_span_container.imgemj_126 {
    background-position: -686px -343px !important;
}
.emoji_span_container.imgemj_127 {
    background-position: -735px -343px !important;
}
.emoji_span_container.imgemj_128 {
    background-position: -0px -392px !important;
}
.emoji_span_container.imgemj_129 {
    background-position: -49px -392px !important;
}
.emoji_span_container.imgemj_130 {
    background-position: -98px -392px !important;
}
.emoji_span_container.imgemj_131 {
    background-position: -147px -392px !important;
}
.emoji_span_container.imgemj_132 {
    background-position: -196px -392px !important;
}
.emoji_span_container.imgemj_133 {
    background-position: -245px -392px !important;
}
.emoji_span_container.imgemj_134 {
    background-position: -294px -392px !important;
}
.emoji_span_container.imgemj_135 {
    background-position: -343px -392px !important;
}
.emoji_span_container.imgemj_136 {
    background-position: -392px -392px !important;
}
.emoji_span_container.imgemj_137 {
    background-position: -441px -392px !important;
}
.emoji_span_container.imgemj_138 {
    background-position: -490px -392px !important;
}
.emoji_span_container.imgemj_139 {
    background-position: -539px -392px !important;
}
.emoji_span_container.imgemj_140 {
    background-position: -588px -392px !important;
}
.emoji_span_container.imgemj_141 {
    background-position: -637px -392px !important;
}
.emoji_span_container.imgemj_142 {
    background-position: -686px -392px !important;
}
.emoji_span_container.imgemj_143 {
    background-position: -735px -392px !important;
}
.emoji_span_container.imgemj_144 {
    background-position: -0px -441px !important;
}
.emoji_span_container.imgemj_145 {
    background-position: -49px -441px !important;
}
.emoji_span_container.imgemj_146 {
    background-position: -98px -441px !important;
}
.emoji_span_container.imgemj_147 {
    background-position: -147px -441px !important;
}
.emoji_span_container.imgemj_148 {
    background-position: -196px -441px !important;
}
.emoji_span_container.imgemj_149 {
    background-position: -245px -441px !important;
}
.emoji_span_container.imgemj_150 {
    background-position: -294px -441px !important;
}
.emoji_span_container.imgemj_151 {
    background-position: -343px -441px !important;
}
.emoji_span_container.imgemj_152 {
    background-position: -392px -441px !important;
}
.emoji_span_container.imgemj_153 {
    background-position: -441px -441px !important;
}
.emoji_span_container.imgemj_154 {
    background-position: -490px -441px !important;
}
.emoji_span_container.imgemj_155 {
    background-position: -539px -441px !important;
}
.emoji_span_container.imgemj_156 {
    background-position: -588px -441px !important;
}
.emoji_span_container.imgemj_157 {
    background-position: -637px -441px !important;
}
.emoji_span_container.imgemj_158 {
    background-position: -686px -441px !important;
}
.emoji_span_container.imgemj_159 {
    background-position: -735px -441px !important;
}
.emoji_span_container.imgemj_160 {
    background-position: -0px -490px !important;
}
.emoji_span_container.imgemj_161 {
    background-position: -49px -490px !important;
}
.emoji_span_container.imgemj_162 {
    background-position: -98px -490px !important;
}
.emoji_span_container.imgemj_163 {
    background-position: -147px -490px !important;
}
.emoji_span_container.imgemj_164 {
    background-position: -196px -490px !important;
}
.emoji_span_container.imgemj_165 {
    background-position: -245px -490px !important;
}
.emoji_span_container.imgemj_166 {
    background-position: -294px -490px !important;
}
.emoji_span_container.imgemj_167 {
    background-position: -343px -490px !important;
}
.emoji_span_container.imgemj_168 {
    background-position: -392px -490px !important;
}
.emoji_span_container.imgemj_169 {
    background-position: -441px -490px !important;
}
.emoji_span_container.imgemj_170 {
    background-position: -490px -490px !important;
}
.emoji_span_container.imgemj_171 {
    background-position: -539px -490px !important;
}
.emoji_span_container.imgemj_172 {
    background-position: -588px -490px !important;
}
.emoji_span_container.imgemj_173 {
    background-position: -637px -490px !important;
}
.emoji_span_container.imgemj_174 {
    background-position: -686px -490px !important;
}
.emoji_span_container.imgemj_175 {
    background-position: -735px -490px !important;
}
.emoji_span_container.imgemj_176 {
    background-position: -0px -539px !important;
}
.emoji_span_container.imgemj_177 {
    background-position: -49px -539px !important;
}
.emoji_span_container.imgemj_178 {
    background-position: -98px -539px !important;
}
.emoji_span_container.imgemj_179 {
    background-position: -147px -539px !important;
}
.emoji_span_container.imgemj_180 {
    background-position: -196px -539px !important;
}
.emoji_span_container.imgemj_181 {
    background-position: -245px -539px !important;
}
.emoji_span_container.imgemj_182 {
    background-position: -294px -539px !important;
}
.emoji_span_container.imgemj_183 {
    background-position: -343px -539px !important;
}
.emoji_span_container.imgemj_184 {
    background-position: -392px -539px !important;
}
.emoji_span_container.imgemj_185 {
    background-position: -441px -539px !important;
}
.emoji_span_container.imgemj_186 {
    background-position: -490px -539px !important;
}
.emoji_span_container.imgemj_187 {
    background-position: -539px -539px !important;
}
.emoji_span_container.imgemj_188 {
    background-position: -588px -539px !important;
}
.emoji_span_container.imgemj_189 {
    background-position: -637px -539px !important;
}
.emoji_span_container.imgemj_190 {
    background-position: -686px -539px !important;
}
.emoji_span_container.imgemj_191 {
    background-position: -735px -539px !important;
}
.emoji_span_container.imgemj_192 {
    background-position: -0px -588px !important;
}
.emoji_span_container.imgemj_193 {
    background-position: -49px -588px !important;
}
.emoji_span_container.imgemj_194 {
    background-position: -98px -588px !important;
}
.emoji_span_container.imgemj_195 {
    background-position: -147px -588px !important;
}
.emoji_span_container.imgemj_196 {
    background-position: -196px -588px !important;
}
.emoji_span_container.imgemj_197 {
    background-position: -245px -588px !important;
}
.emoji_span_container.imgemj_198 {
    background-position: -294px -588px !important;
}
.emoji_span_container.imgemj_199 {
    background-position: -343px -588px !important;
}
.emoji_span_container.imgemj_200 {
    background-position: -392px -588px !important;
}
.emoji_span_container.imgemj_201 {
    background-position: -441px -588px !important;
}
.emoji_span_container.imgemj_202 {
    background-position: -490px -588px !important;
}
.emoji_span_container.imgemj_203 {
    background-position: -539px -588px !important;
}
.emoji_span_container.imgemj_204 {
    background-position: -588px -588px !important;
}
.emoji_span_container.imgemj_205 {
    background-position: -637px -588px !important;
}
.emoji_span_container.imgemj_206 {
    background-position: -686px -588px !important;
}
.emoji_span_container.imgemj_207 {
    background-position: -735px -588px !important;
}
.emoji_span_container.imgemj_208 {
    background-position: -0px -637px !important;
}
.emoji_span_container.imgemj_209 {
    background-position: -49px -637px !important;
}
.emoji_span_container.imgemj_210 {
    background-position: -98px -637px !important;
}
.emoji_span_container.imgemj_211 {
    background-position: -147px -637px !important;
}
.emoji_span_container.imgemj_212 {
    background-position: -196px -637px !important;
}
.emoji_span_container.imgemj_213 {
    background-position: -245px -637px !important;
}
.emoji_span_container.imgemj_214 {
    background-position: -294px -637px !important;
}
.emoji_span_container.imgemj_215 {
    background-position: -343px -637px !important;
}
.emoji_span_container.imgemj_216 {
    background-position: -392px -637px !important;
}
.emoji_span_container.imgemj_217 {
    background-position: -441px -637px !important;
}
.emoji_span_container.imgemj_218 {
    background-position: -490px -637px !important;
}
.emoji_span_container.imgemj_219 {
    background-position: -539px -637px !important;
}
.emoji_span_container.imgemj_220 {
    background-position: -588px -637px !important;
}
.emoji_span_container.imgemj_221 {
    background-position: -637px -637px !important;
}
.emoji_span_container.imgemj_222 {
    background-position: -686px -637px !important;
}
.emoji_span_container.imgemj_223 {
    background-position: -735px -637px !important;
}
.emoji_span_container.imgemj_224 {
    background-position: -0px -686px !important;
}
.emoji_span_container.imgemj_225 {
    background-position: -49px -686px !important;
}
.emoji_span_container.imgemj_226 {
    background-position: -98px -686px !important;
}
.emoji_span_container.imgemj_227 {
    background-position: -147px -686px !important;
}
.emoji_span_container.imgemj_228 {
    background-position: -196px -686px !important;
}
.emoji_span_container.imgemj_229 {
    background-position: -245px -686px !important;
}
.emoji_span_container.imgemj_230 {
    background-position: -294px -686px !important;
}
.emoji_span_container.imgemj_231 {
    background-position: -343px -686px !important;
}
.emoji_span_container.imgemj_232 {
    background-position: -392px -686px !important;
}
.emoji_span_container.imgemj_233 {
    background-position: -441px -686px !important;
}
.emoji_span_container.imgemj_234 {
    background-position: -490px -686px !important;
}
.emoji_span_container.imgemj_235 {
    background-position: -539px -686px !important;
}
.emoji_span_container.imgemj_236 {
    background-position: -588px -686px !important;
}
.emoji_span_container.imgemj_237 {
    background-position: -637px -686px !important;
}
.emoji_span_container.imgemj_238 {
    background-position: -686px -686px !important;
}
.emoji_span_container.imgemj_239 {
    background-position: -735px -686px !important;
}
.emoji_span_container.imgemj_240 {
    background-position: -0px -735px !important;
}
.emoji_span_container.imgemj_241 {
    background-position: -49px -735px !important;
}
.emoji_span_container.imgemj_242 {
    background-position: -98px -735px !important;
}
.emoji_span_container.imgemj_243 {
    background-position: -147px -735px !important;
}
.emoji_span_container.imgemj_244 {
    background-position: -196px -735px !important;
}
.emoji_span_container.imgemj_245 {
    background-position: -245px -735px !important;
}
.emoji_span_container.imgemj_246 {
    background-position: -294px -735px !important;
}
.emoji_span_container.imgemj_247 {
    background-position: -343px -735px !important;
}
.emoji_span_container.imgemj_248 {
    background-position: -392px -735px !important;
}
.emoji_span_container.imgemj_249 {
    background-position: -441px -735px !important;
}
.emoji_span_container.imgemj_250 {
    background-position: -490px -735px !important;
}
.emoji_span_container.imgemj_251 {
    background-position: -539px -735px !important;
}
.emoji_span_container.imgemj_252 {
    background-position: -588px -735px !important;
}
.emoji_span_container.imgemj_253 {
    background-position: -637px -735px !important;
}
.emoji_span_container.imgemj_254 {
    background-position: -686px -735px !important;
}
.emoji_span_container.imgemj_255 {
    background-position: -735px -735px !important;
}
