.menu {
    background: white;
    position: absolute;
    z-index: 99998 !important;
    width: 115px;
    height: 70px;
    border: 1px solid black;
    border-radius: 1px;
    display: none;
}

.menu .item {
    z-index: 99999 !important;
    background-size: contain;
    width: 40px;
    height: 36px;
    padding: 5px;
    cursor: pointer !important;
}

.menu .text-input {
    width: 100%;
    margin: 5px;
    border: 1px solid black;
}
