.pm-account-dialog {
    padding: 8px 0;
    max-width: 310px;
    overflow: hidden;
}
.account-profile {
    margin-inline-end: 16px;
    margin-left: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: var(--surface-3);
    text-align: center;
}
.avatar-details {
    overflow: hidden;
    white-space: nowrap;
}
.avatar-details .pm-name {
    font: var(--font-heading-h2);
    display: -webkit-box;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
.avatar-details .email {
    color: var(--text-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
}
.account-profile div,
.account-profile img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.account-profile div {
    box-sizing: border-box;
    padding: 2px;
}
.avatar-header {
    display: flex;
    padding: 24px;
    box-sizing: border-box;
    align-items: center;
}
.horizontal-divider {
    width: 262px;
    border-top: 1px solid var(--border-strong);
    margin: 0 24px;
}
button.icon-only.nav-elem.avatar-btn {
    height: 48px;
    width: 48px;
    margin-left: 16px;
    background-color: var(--surface-3);
    border-radius: 100%;
    padding: 0;
    text-align: center;
}
.nav-elem.avatar-btn img,
.nav-elem.avatar-btn div {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}
.nav-elem.avatar-btn div {
    box-sizing: border-box;
    padding: 12px;
}
.avatar-btn.nav-elem span {
    color: var(--text-primary);
}
.color1 {
    background: linear-gradient(45deg, rgba(85, 210, 240, 1) 0%, rgba(43, 166, 222, 1) 100%);
}
.color2 {
    background: linear-gradient(45deg, rgba(188, 32, 134, 1) 0%, rgba(136, 14, 79, 1) 100%);
}
.color3 {
    background: linear-gradient(45deg, rgba(255, 210, 0, 1) 0%, rgba(255, 165, 0, 1) 100%);
}
.color4 {
    background: linear-gradient(45deg, rgba(95, 219, 0, 1) 0%, rgba(49, 181, 0, 1) 100%);
}
.color5 {
    background: linear-gradient(45deg, rgba(0, 189, 178, 1) 0%, rgba(0, 137, 123, 1) 100%);
}
.color6 {
    background: linear-gradient(45deg, rgba(255, 167, 0, 1) 0%, rgba(255, 111, 0, 1) 100%);
}
.color7 {
    background: linear-gradient(45deg, rgba(228, 38, 155, 1) 0%, rgba(197, 17, 98, 1) 100%);
}
.color8 {
    background: linear-gradient(45deg, rgba(255, 98, 108, 1) 0%, rgba(255, 51, 58, 1) 100%);
}
.color9 {
    background: linear-gradient(45deg, rgba(255, 137, 137, 1) 0%, rgba(255, 82, 82, 1) 100%);
}
.color10 {
    background: linear-gradient(45deg, rgba(154, 234, 255, 1) 0%, rgba(97, 210, 255, 1) 100%);
}
.color11 {
    background: linear-gradient(45deg, rgba(0, 213, 226, 1) 0%, rgba(0, 172, 193, 1) 100%);
}
.color12 {
    background: linear-gradient(45deg, rgba(255, 235, 0, 1) 0%, rgba(255, 211, 0, 1) 100%);
}
