<div class="popover-wanteeed tour">
  <div class="arrow"></div>
  <h3 
    class="popover-title"
    style="text-align:left;height:25px">
    <img 
      src="img/logob.png"
      style="max-height:25px;float:left;" />
    <div 
      id="wanteeedPopOverClose"
      style="cursor:pointer;float:right;opacity: 0.8;">
      <img 
        src="img/close.png"
        style="max-height: 12px;margin-top: 7px;"/>
    </div>
  </h3>
  <div class="popover-content"></div>
  <div class="popover-navigation">
    <div class="btn-group">
      <button
        class="btn btn-sm btn-default disabled"
        style="visibility:hidden;display:none"></button>
      <button
        class="btn btn-sm btn-default"
        style="visibility:hidden;display:none"></button>
    </div>
  </div>
  <button
    class="btn btn-sm btn-default next-step"
    style="float:right;display:none"></button>
</div>