@keyframes fade-7aba40d3 {
0% {
    background-color: gray;
}
100% {
    background-color: #f0f0f0;
}
}
.loader[data-v-7aba40d3] {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
}
.loader__inner[data-v-7aba40d3] {
  margin: auto;
  align-self: center;
  width: 74px;
  height: 74px;
  top: 130px;
  transform: scale(0.6);
}
.loader__template[data-v-7aba40d3] {
  position: absolute;
  background-color: #dddddd;
  height: 13px;
  width: 13px;
  border-radius: 7px;
  animation-name: fade-7aba40d3;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.loader__template_1[data-v-7aba40d3] {
  left: 0;
  top: 30px;
  animation-delay: 0.45s;
}
.loader__template_2[data-v-7aba40d3] {
  left: 9px;
  top: 9px;
  animation-delay: 0.6s;
}
.loader__template_3[data-v-7aba40d3] {
  left: 30px;
  top: 0;
  animation-delay: 0.75s;
}
.loader__template_4[data-v-7aba40d3] {
  right: 9px;
  top: 9px;
  animation-delay: 0.9s;
}
.loader__template_5[data-v-7aba40d3] {
  right: 0;
  top: 30px;
  animation-delay: 1.05s;
}
.loader__template_6[data-v-7aba40d3] {
  right: 9px;
  bottom: 9px;
  animation-delay: 1.2s;
}
.loader__template_7[data-v-7aba40d3] {
  left: 30px;
  bottom: 0;
  animation-delay: 1.35s;
}
.loader__template_8[data-v-7aba40d3] {
  left: 9px;
  bottom: 9px;
  animation-delay: 1.5s;
}

.header[data-v-d198a3a0] {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  padding: 6px;
  padding-left: 0;
  height: 64px;
}
.header__logo[data-v-d198a3a0] {
  margin-right: 12px;
  width: 24px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.header__cashback[data-v-d198a3a0] {
  align-self: flex-end;
  margin-right: 10px;
  text-align: right;
}
.header__cashback-available[data-v-d198a3a0] {
  font-size: 14px;
  letter-spacing: 0;
  color: white;
  opacity: 1;
}
.header__cashback-available[data-v-d198a3a0] span {
  font-size: 16px;
}
.header__cashback-available[data-v-d198a3a0] span b {
  font-size: 24px;
}
.header__cashback-pending[data-v-d198a3a0] {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0;
  color: white;
  opacity: 1;
}
.header__name[data-v-d198a3a0] {
  font-weight: Bold;
  font-size: 18px;
  align-self: flex-end;
  margin-right: auto;
  letter-spacing: 0.15px;
  color: white;
  opacity: 1;
}

.footer[data-v-5ba084d0] {
  position: absolute;
  bottom: 0;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  padding: 18px 22px;
  background-color: white;
  align-items: center;
}
.footer__domain[data-v-5ba084d0] {
  font-size: 16px;
  margin-right: auto;
  cursor: pointer;
}
.footer__domain span[data-v-5ba084d0] {
  text-decoration: underline;
}
.footer__icons[data-v-5ba084d0] {
  display: flex;
  flex-direction: row;
}
.footer__icon[data-v-5ba084d0] {
  width: 22px;
  height: 22px;
  margin: 6px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.footer__icon_settings[data-v-5ba084d0] {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225.028%22%20height%3D%2226%22%20viewBox%3D%220%200%2025.028%2026%22%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill%3A%23707070%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22a%22%20d%3D%22M41.673%2C23.268l-1.709-.987a10.23%2C10.23%2C0%2C0%2C0%2C0-2.563l1.709-.987a1.255%2C1.255%2C0%2C0%2C0%2C.579-1.442%2C12.978%2C12.978%2C0%2C0%2C0-3.016-5.221%2C1.258%2C1.258%2C0%2C0%2C0-1.543-.224l-1.707.985a10.176%2C10.176%2C0%2C0%2C0-2.219-1.283V9.575A1.259%2C1.259%2C0%2C0%2C0%2C32.8%2C8.35a13.092%2C13.092%2C0%2C0%2C0-6.016%2C0%2C1.259%2C1.259%2C0%2C0%2C0-.969%2C1.225v1.972a10.175%2C10.175%2C0%2C0%2C0-2.219%2C1.283l-1.707-.985a1.258%2C1.258%2C0%2C0%2C0-1.543.224%2C12.978%2C12.978%2C0%2C0%2C0-3.016%2C5.221%2C1.255%2C1.255%2C0%2C0%2C0%2C.579%2C1.442l1.709.987a10.231%2C10.231%2C0%2C0%2C0%2C0%2C2.563l-1.709.987a1.255%2C1.255%2C0%2C0%2C0-.579%2C1.442%2C12.978%2C12.978%2C0%2C0%2C0%2C3.016%2C5.221%2C1.258%2C1.258%2C0%2C0%2C0%2C1.543.225l1.707-.985a10.173%2C10.173%2C0%2C0%2C0%2C2.219%2C1.283v1.972a1.259%2C1.259%2C0%2C0%2C0%2C.969%2C1.225%2C13.092%2C13.092%2C0%2C0%2C0%2C6.016%2C0%2C1.259%2C1.259%2C0%2C0%2C0%2C.969-1.225V30.453a10.177%2C10.177%2C0%2C0%2C0%2C2.219-1.283l1.707.985a1.258%2C1.258%2C0%2C0%2C0%2C1.543-.225%2C12.978%2C12.978%2C0%2C0%2C0%2C3.016-5.221%2C1.255%2C1.255%2C0%2C0%2C0-.579-1.442ZM38.24%2C28.535l-2.427-1.4a9.057%2C9.057%2C0%2C0%2C1-3.724%2C2.152v2.8a11.383%2C11.383%2C0%2C0%2C1-4.6%2C0v-2.8a9.058%2C9.058%2C0%2C0%2C1-3.724-2.152l-2.427%2C1.4a11.323%2C11.323%2C0%2C0%2C1-2.3-3.982l2.429-1.4a9.133%2C9.133%2C0%2C0%2C1%2C0-4.3l-2.429-1.4a11.331%2C11.331%2C0%2C0%2C1%2C2.3-3.982l2.427%2C1.4a9.044%2C9.044%2C0%2C0%2C1%2C3.724-2.153v-2.8a11.364%2C11.364%2C0%2C0%2C1%2C4.6%2C0v2.8a9.044%2C9.044%2C0%2C0%2C1%2C3.724%2C2.153l2.427-1.4a11.33%2C11.33%2C0%2C0%2C1%2C2.3%2C3.982l-2.429%2C1.4a9.132%2C9.132%2C0%2C0%2C1%2C0%2C4.3l2.429%2C1.4A11.323%2C11.323%2C0%2C0%2C1%2C38.24%2C28.535ZM29.79%2C15.968A5.032%2C5.032%2C0%2C1%2C0%2C34.822%2C21%2C5.038%2C5.038%2C0%2C0%2C0%2C29.79%2C15.968Zm0%2C8.387A3.355%2C3.355%2C0%2C1%2C1%2C33.144%2C21%2C3.359%2C3.359%2C0%2C0%2C1%2C29.79%2C24.355Z%22%20transform%3D%22translate(-17.276%20-8)%22%2F%3E%3C%2Fsvg%3E");
}
.footer__icon_info[data-v-5ba084d0] {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2226%22%20viewBox%3D%220%200%2026%2026%22%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill%3A%23707070%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22a%22%20d%3D%22M21%2C9.677A11.323%2C11.323%2C0%2C1%2C1%2C9.677%2C21%2C11.324%2C11.324%2C0%2C0%2C1%2C21%2C9.677M21%2C8A13%2C13%2C0%2C1%2C0%2C34%2C21%2C13%2C13%2C0%2C0%2C0%2C21%2C8ZM19.113%2C26.032h.629v-6.29h-.629a.629.629%2C0%2C0%2C1-.629-.629v-.419a.629.629%2C0%2C0%2C1%2C.629-.629h2.516a.629.629%2C0%2C0%2C1%2C.629.629v7.339h.629a.629.629%2C0%2C0%2C1%2C.629.629v.419a.629.629%2C0%2C0%2C1-.629.629H19.113a.629.629%2C0%2C0%2C1-.629-.629v-.419A.629.629%2C0%2C0%2C1%2C19.113%2C26.032ZM21%2C13.452a1.677%2C1.677%2C0%2C1%2C0%2C1.677%2C1.677A1.677%2C1.677%2C0%2C0%2C0%2C21%2C13.452Z%22%20transform%3D%22translate(-8%20-8)%22%2F%3E%3C%2Fsvg%3E");
}

.search {
  width: 90%;
  position: relative;
  height: 24px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  box-sizing: border-box;
  z-index: 2;
}
.search__icon {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.search__icon_lens {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.search__icon_lens svg {
  width: 100%;
  height: 100%;
}
.search__icon_lens svg g {
  fill: #c61c21;
}
.search__icon_clear {
  position: relative;
  left: -20px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  z-index: 1;
}
.search__icon_clear svg {
  width: 100%;
  height: 100%;
}
.search__icon_clear svg g {
  stroke: gray;
}
.search__icon_empty {
  visibility: hidden;
}
.search__input {
  color: gray;
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 14px;
  border: none;
  background-color: unset;
  border-bottom: 2px solid #CCC;
}

.coupon[data-v-e4baca90] {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas: 'logo' 'button';
  grid-template-rows: 60% auto;
  grid-gap: 10px;
  box-sizing: border-box;
  background-color: white;
  padding: 20px 0;
  min-width: 116px;
  min-height: 130px;
  width: 140px;
  height: 152px;
  overflow: hidden;
}
.coupon__logo[data-v-e4baca90] {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 68px;
}
.coupon__button[data-v-e4baca90] {
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 120px;
  padding: 0 10px;
  border: 1px solid;
  border-radius: 4px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
}
.coupon__button_big[data-v-e4baca90] {
  height: 50px;
  font-size: 10px;
}
.coupon__button p[data-v-e4baca90] {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.top-coupons[data-v-00756440] {
  width: 100%;
  height: 348px;
}
.top-coupons__coupons[data-v-00756440] {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, 140px);
  grid-gap: 16px;
  margin: auto;
  width: 89%;
  padding: 20px 0;
}
.top-coupons__coupons-container[data-v-00756440] {
  height: 99%;
  padding-left: 7px;
  margin-right: 2px;
  overflow-y: scroll;
}
.top-coupons__text[data-v-00756440] {
  width: 230px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
  color: #707070;
}
.top-coupons__empty[data-v-00756440] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.router[data-v-dde678aa] {
  background: white;
}
.router__inner[data-v-dde678aa] {
  height: 34px;
  display: flex;
  background: white;
  justify-content: space-evenly;
  cursor: pointer;
}
.router__button[data-v-dde678aa] {
  width: 100%;
}
.router__button p[data-v-dde678aa] {
  margin: 0;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  color: #707070;
  font-weight: 300;
}
.router__button_active p[data-v-dde678aa] {
  font-weight: normal;
}
.router__marker[data-v-dde678aa] {
  width: 50%;
  left: 0px;
  height: 2px;
  position: relative;
  transition: all 0.2s linear;
}
.router__marker_left[data-v-dde678aa] {
  left: 50% ;
}

.favorites[data-v-2689d08a] {
  height: 386px;
  width: 100%;
}
.favorites__cards[data-v-2689d08a] {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, 140px);
  grid-gap: 16px;
  margin: auto;
  width: 89%;
  padding: 20px 0;
}
.favorites__cards-container[data-v-2689d08a] {
  height: 100%;
  padding-left: 7px;
  margin-right: 2px;
  overflow-y: scroll;
}
.favorites__text[data-v-2689d08a] {
  width: 200px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
  color: #707070;
}
.favorites__image[data-v-2689d08a] {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2265.82%22%20height%3D%2257.593%22%20viewBox%3D%220%200%2065.82%2057.593%22%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill%3Argba(112%2C112%2C112%2C0.4)%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22a%22%20d%3D%22M59.421%2C35.949c-7.006-5.965-17.484-4.975-23.989%2C1.736L32.9%2C40.307%2C30.367%2C37.7c-5.245-5.425-15.825-8.69-23.989-1.748A18.445%2C18.445%2C0%2C0%2C0%2C5.106%2C62.662L29.981%2C88.348a4.045%2C4.045%2C0%2C0%2C0%2C2.905%2C1.247%2C3.994%2C3.994%2C0%2C0%2C0%2C2.905-1.247L60.668%2C62.662A18.422%2C18.422%2C0%2C0%2C0%2C59.421%2C35.949Zm-1.684%2C23.86L32.951%2C85.494%2C8.063%2C59.809c-4.937-5.091-5.965-14.8.99-20.723%2C7.045-6.016%2C15.324-1.658%2C18.358%2C1.478L32.9%2C46.233l5.489-5.669c2.982-3.085%2C11.339-7.456%2C18.358-1.478%2C6.942%2C5.914%2C5.926%2C15.62.99%2C20.723Z%22%20transform%3D%22translate(0.012%20-32.002)%22%2F%3E%3C%2Fsvg%3E");
}
.favorites__empty[data-v-2689d08a] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 370px;
}
.favorites[data-v-2689d08a]::-webkit-scrollbar {
  width: 6px;
}
.favorites[data-v-2689d08a]::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
.favorites[data-v-2689d08a]::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}

.popup[data-v-2b674568] {
  width: 350px;
  height: 550px;
  line-height: 1.5;
  box-sizing: border-box;
  background-color: #f0f0f0;
  overflow: hidden;
}

.popup[data-v-2d9f5354] {
  width: 350px;
  height: 550px;
  line-height: 1.5;
  box-sizing: border-box;
  background-color: #f0f0f0;
}
.popup__search[data-v-2d9f5354] {
  padding-top: 6px;
  height: 30px;
  background: white;
}
.popup__content[data-v-2d9f5354] {
  padding: 10px;
  margin: 10px;
  background: white;
  box-sizing: border-box;
  overflow: scroll;
}
.popup__content-wrapper[data-v-2d9f5354] {
  height: 386px;
  margin-right: 2px;
  box-sizing: border-box;
  overflow-y: scroll;
}
.search__merchant[data-v-2d9f5354] {
  margin-top: 0;
}

.guide[data-v-32c5a522] {
  display: flex;
  width: 424px;
  height: 378px;
  flex-shrink: 0;
  flex-direction: column;
  position: fixed;
  top: 20px;
  right: 20px;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0 3px 6px #00000038;
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.5;
  z-index: 2147483647;
}
.guide_referral[data-v-32c5a522] {
  width: 296px;
  height: 264px;
}
.guide__popup[data-v-32c5a522] {
  position: initial;
  border-radius: 0;
}
.guide hr[data-v-32c5a522] {
  width: 80%;
  border: 1px solid #70707033;
}
.guide__logo[data-v-32c5a522] {
  margin-right: 14px;
  width: 30px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.guide__title[data-v-32c5a522] {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.guide__title_referral[data-v-32c5a522] {
  font-size: 18px;
}
.guide__text[data-v-32c5a522] {
  font-size: 24px;
  color: gray;
}
.guide__text_referral[data-v-32c5a522] {
  font-size: 16px;
  text-align: center;
  font-weight: 300;
}
.guide__header[data-v-32c5a522] {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
}
.guide__header_referral[data-v-32c5a522] {
  height: 70px;
}
[data-v-32c5a522] .guide__body {
  width: 90%;
  height: 210px;
}
[data-v-32c5a522] .guide__body_referral {
  height: 106px;
}
[data-v-32c5a522] .guide__body ol :first-child {
  margin-top: 40px;
}
[data-v-32c5a522] .guide__body li {
  margin-top: 6px;
  font-size: 18px;
  color: gray;
  list-style: none;
}
[data-v-32c5a522] .guide__body li b {
  margin-right: 10px;
  font-size: 23px;
  color: gray;
}
[data-v-32c5a522] .guide__body li p {
  margin: 0;
  margin-left: 30px;
}
.guide__footer[data-v-32c5a522] {
  width: 100%;
  display: flex;
}
.guide__button[data-v-32c5a522] {
  display: flex;
  height: 40px;
  width: 300px;
  margin: auto;
  margin-top: 14px;
  padding: 10px 25px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.guide__button_referral[data-v-32c5a522] {
  width: 220px;
}
.guide__close[data-v-32c5a522] {
  display: flex;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23000%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M10.85%200L0%2010.85M10.85%2010.85L0%200%22%20transform%3D%22translate(1%201)%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
  filter: invert(1);
}

.tab-slide__left-enter-active,
.tab-slide__left-leave-active,
.tab-slide__right-enter-active,
.tab-slide__right-leave-active {
  transition-duration: 0.3s;
  transition-property: transform;
  position: absolute;
}
.tab-slide__left-enter,
.tab-slide__right-leave-active {
  transform: translate(100%, 0);
}
.tab-slide__left-leave-active,
.tab-slide__right-enter {
  transform: translate(-100%, 0);
}
.vb {
  height: 96%;
  padding-bottom: 10px;
}
.vb > .vb-dragger {
  z-index: 5;
  width: 5px;
  min-height: 15px;
  right: 2px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.25);
}
.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  -webkit-transition: background-color 100ms ease-out, margin 100ms ease-out, height 100ms ease-out;
  transition: background-color 100ms ease-out, margin 100ms ease-out, height 100ms ease-out;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 5px 0 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  min-height: 15px;
  display: none;
}
.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(0, 0, 0, 0.1);
}
.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
}
.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0px;
  height: 100%;
}
.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(0, 0, 0, 0.25);
}
body {
  margin: 0;
  user-select: none;
  overflow: hidden;
  font-family: 'Roboto', Helvetica, sans-serif;
  border: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  border: none;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.25);
}

