/* input{float:left;} */
/* label{display:block; overflow:hidden;} */
body {
    direction: __MSG_@@bidi_dir__;
}

div.desc, p.desc {
    text-indent: 0em;
    padding-left: 2em;
}

.highlight {
    background: #ffcccc;
}

button img {
    vertical-align: middle;
    width: 14px;
    height:14px;
}

#context_menu_items,
#page_action_buttons,
#browser_action_buttons {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#context_menu_items li,
#page_action_buttons li,
#browser_action_buttons li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    /* padding-left: 1.5em; */
    /* font-size: 1.4em; */
    height: 18px;
}
/*
.example_div {
    overflow: hidden;
    resize: both;
    border: 1px solid #000;
    display: none;
}
*/
.example_iframe {
    width:100%;
    height: 20em;
    /* border: none; */
}

.url {
    width: calc(100% - 10px);
}

code {
    background-color: rgb(230,230,230);
    padding: 2px 4px;
}

code, input, textarea {
    direction: ltr;
}

.indent-1 {
    padding-left: 2em;
    text-indent: -2em;
}

.ui-sortable-handle, .ui-sortable-handle label {
    cursor: ns-resize;
}

.ui-sortable-helper {
    background: #bbbbff;
}

summary {
    font-size: larger
}

details summary {
    cursor: pointer;
    font-size: lager;
}

details summary:hover {
    background-color: #EFEFEF;
}

details pre {
    border: 1px solid;
    padding: 2px;
    width: fit-content;
}

.nowrap {
    white-space: nowrap;
}

#inject_code, #csp_to_add {
    vertical-align: top;
    border: solid red 1px;
}

#tags_to_remove_from_page {
    vertical-align: top;
    font-family: fixed;
}

.favicon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
