h1.fillExtensionLiteralName{
	margin-top:10px;
}

.innermargin{
	margin-top:30px;
}

.shadowedlogo{
	border-radius:16px;
	box-shadow:0 0 1em black;	
}

.innermargin img.custom-media {
	display: inline !important;
}