.calendly-bg-blue {
  background-color: #0069ff !important;
}
.calendly-bg-blue-bright {
  background-color: #80b4ff !important;
}
.calendly-bg-blue-brighter {
  background-color: #99c3ff !important;
}
.calendly-border-blue {
  border-color: #0069ff !important;
}
.calendly-border-blue-bright {
  border-color: #80b4ff !important;
}
.calendly-border-blue-brighter {
  border-color: #99c3ff !important;
}
.calendly-color-blue {
  color: #0069ff !important;
}
.calendly-color-blue-bright {
  color: #80b4ff !important;
}
.calendly-color-blue-brighter {
  color: #99c3ff !important;
}
