html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, 
s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, caption, tfoot, thead {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
    background: linear-gradient( 
			    	180deg, 
			    	#ff4021 0%, 
			    	#ffa115 100%) repeat fixed 0% 0%;

    font-family: verdana, tahoma, arial, sans-serif;
    font-size: 11px;
    text-align: center;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 700px;
    /*padding: 10px; */
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input, button {
    outline: 0;
}

#wrapper {
	color: #777;
	padding: 10px;
	    background: rgba(255, 255, 255, 0.15);
}

#header {
	display: flex;
	flex-direction : row;
	justify-content: space-between;
	align-items: center;
	/*margin-bottom: 10px;*/
	padding: 10px;

	background: rgba(70, 70, 70, 0.1);
    border-bottom: 1px solid rgba(0,0,0,0.15);

    /*background: rgb(236, 69, 36);*/

} 

#logo {
    height: 40px;
    display: block;
}

#search {
    /*margin: 0;*/
    flex-grow: 1;
    padding-left: 20px;
}

#search .form {
    position: relative;
}

#search .input {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	border-style: none;
	border-width: 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4) inset;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 8px 55px 8px 8px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
	width: 100%;
}

    #search .input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.9);
    }
    #search .input::placeholder {
      color: rgba(255, 255, 255, 0.9);;
    }

#search .submit {
    background-color: rgba(0,0,0,0.1);
    background-image: url("../img/search.min.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-color: none;
    border-radius: 0px 3px 3px 0px;
    border-style: none;
    border-width: 0px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 10px;
    position: absolute;
    right: 0px;
    text-indent: -9999px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    top: 0px;
    transition: all 0.15s ease-in-out 0s;
    width: 60px;
}

#search .submit:hover {
    background-color: rgba(0,0,0,0.3);
}



.section {
	margin-bottom: 10px;
}

.section:last-child {
	margin-bottom: 0;
}


.jeux-flash {
    list-style: none;
    text-align: left;
    display: flex;
     justify-content: space-around; 
    flex-wrap: wrap;
    flex-direction: row;
}

    .jeux-flash li {
	    position: relative;
	    /*width: 25%;
	    padding: 3px;*/
	    width: 128px;
   		/*margin: 2px;*/
    }

		.jeux-flash li a {
		    display: block;
		    position: relative;
		    text-decoration: none;
		    box-shadow: 0 1px 2px rgba(30,25,25,.3);
		    overflow: hidden;
		    background: #fff;
		    border-radius: 3px;
		    border-bottom: 5px solid rgb(224, 224, 224);
		    /*transition: all 200ms cubic-bezier(0.68, -1.55, 0.265, 2.55) 0s; */
		    transition: all 100ms linear 0s;
		}


			.jeux-flash li a:hover {
			    transform: scale(1.126);
			    transition-delay: 0s;
			    z-index: 9;
			}

			.jeux-flash li a strong {
			    background: #fff;
			    color: #505050;
			    display: block;
			    font-size: 11px;
			    text-align: center;
			    font-weight: 400;
			    padding: 5px;
			    overflow: hidden;
			    white-space: nowrap;
			    text-overflow: ellipsis;
			}

        .jeux-flash li img {
		    display: block;
		    /*width: 100%;*/
		    width: 128px;
    		height: 76.8px;

    		transition: all 100ms linear 0s;
        }
       
/*.mr li {
	margin-bottom: 8px;
}


.mr li:nth-child(1n+5) {
	margin-bottom: 0;
}*/

.h {
	display: none;
}

.header-section {
	padding-bottom: 5px;
	display: flex;
	justify-content: space-between;
}

	.header-section h1 {
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		text-align: left;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
	}

	.header-section a {
		text-decoration: none;
	}

	.buttons {
		display: flex;
	}

		.buttons button {
			margin-left: 5px;
		}

		.buttons span {
			margin-left: 10px;
		}


.bt {
	background: #fff;
	border-radius: 50%;
	border: 0;
	color: #b13030;
	cursor: pointer;
	display: block;
	font-size: 11px;
	font-weight: 400;
	height: 16px;
	line-height: 16px;
	padding: 0px;
	text-align: center;
	text-shadow: 0 0 1px #fff;
	width: 16px;
	transition: all 100ms linear 0ms;
}

.bt:hover {
	background: #444;
	color: #fff;
	font-weight: bold;
	text-shadow: none;
}


.header-section span a  {
    background: #fff;
    border-radius: 50%;
    color: #b13030;
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 0 1px #fff;
    vertical-align: middle;
    width: 20px;
}


.header-section span a  {
    font-size: 11px;
    font-weight: 400;
    height: 16px;
    line-height: 16px;
    width: 16px;
}

.loader {
	background-color: #333;
	border-radius: 100%;  
	height: 40px;
	margin: 10px auto;
	width: 40px;
	animation: pulse 1.0s infinite ease-in-out;
}

@keyframes pulse {
	0% { 
		transform: scale(0);
	} 
	100% {
		transform: scale(1.0);
		opacity: 0;
	}
}