@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/dosis/Dosis-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/dosis/Dosis-Medium.ttf') format('truetype');
}
