
._msg_1vyi3_2 {
  margin-bottom: 1em;
}
._details_1vyi3_6 > *:not(summary) {
  margin-left: var(--ctrl-mw);
}
._details_1vyi3_6 > summary {
  border-radius: var(--ctrl-border-radius);
}
._details_1vyi3_6 > summary:hover {
  background-color: var(--userlink-hover-fg);
}
._details_1vyi3_6 > summary:active {
  background-color: var(--userlink-active-fg);
}
._err_details_list_1vyi3_22 {
  user-select: text;
  -moz-user-select: text;
}
._error_log_1vyi3_27 {
  user-select: text;
  -moz-user-select: text;
  cursor: text;
  margin: 0;
}
._environment_1vyi3_34 {
  font-style: italic;
}
._err_summary_1vyi3_37 {
  font-weight: bold;
  white-space: pre-wrap;
}
._err_details_1vyi3_22 {
  padding-left: var(--ctrl-pw);
  border-left: 2px solid var(--ctrl-border-clr);
  white-space: pre-wrap;
}
