/* Popup */

#popup {
  overflow: hidden;
}

#popup .icon-section-header {
  background-image: url("../images/icon.svg");
  background-size: contain;
}

#popup .text-section-header {
  text-align: center;
  flex-grow: 1;
}

#popup.not-webpage #domain-options,
#popup:not(.not-webpage) #functions-disabled {
  display: none;
}

input[type="checkbox"]:disabled + label {
  opacity: 0.5;
}

.sub-option {
  margin-left: 25px;
}

/* Options */

#options {
  font-size: 14px;
}

#domain-prefs .list {
  border: 1px solid #ccc;
  background-color: #fff;
}

#domain-prefs .list .head {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

#domain-prefs .list .head,
#domain-prefs .list .body .item {
  padding: 4px 0;
  display: flex;
}

/*#domain-prefs .list .body .item:hover {
  background-color: #f9f9f9;
}*/

#domain-prefs .list .body .item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

#domain-prefs .list .head .col,
#domain-prefs .list .body .item .col {
  padding: 0 6px;
  align-items: center;
}

.col:not(:last-child) {
  border-right: 1px solid #ccc;
}

.col.domain-name {
  flex-grow: 1;
}

.col.disable-autoplay,
.col.disable-preload,
.col.remove-btn {
  text-align: center;
  width: 150px;
}

.col .browser-style {
  margin: 0;
}

.col .browser-style label {
  position: relative;
  top: 3px;
}

.col .btn,
.col .browser-style {
  display: inline-table;
}

.col.remove-btn .btn {
  padding: 4px;
  border-radius: 2px;
}

.col.remove-btn .btn:hover {
  background-color: #ddd;
}

.col.remove-btn .btn:active {
  background-color: #ccc;
}

.col.disable-autoplay .image,
.col.disable-preload .image,
.col.remove-btn .image {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url(../images/remove.svg);
}

.col.remove-btn {
  width: 80px;
}

#domain-prefs .list .no-domain-pref {
  height: 32px;
}

.hide {
  display: none;
}
