/* ************************************ */
/* theme_big_size=true; scale 1.4 */
/* ************************************ */
body {
/*	font-size: 12px;*/
	font-size: 16px;
}
div#div_body {
/*	width: 350px;*/
	width: 490px;
}
#radio_player_image {
/*	width: 95px;
	height: 50px;*/
	width: 133px;
	height: 70px;
}
#radio_player_country {
/*	width: 14px;
	height: 11px;*/
	width: 19px;
	height: 15px;
}
#radio_player_name {
/*	max-width: 230px;*/
	max-width: 322px;
}
#radio_player_control_play {
/*	width: 40px;
	height: 40px;
	background-size: 30px;
	background-position: bottom;
*/
	width: 56px;
	height: 56px;
	background-size: 40px;
	background-position: center;
}
#radio_player_control_play[started_radio="play"][trackid_is_hide="false"] {
/*	background-size: 30px;
	background-position-y: bottom;
	background-position-x: center;*/
	background-size: 40px;
	background-position: center;
}
#radio_player_control_play[started_radio="wait"] {
/*	background-size: 30px;
	background-position: bottom;*/
	background-size: 40px;
	background-position: center;
}
#radio_player_control_play[started_radio="wait"]:hover #radio_player_control_play_state,
#radio_player_control_play[started_radio="play"]:hover #radio_player_control_play_state {
/*	background-size: 30px;
	background-position: bottom;*/
	background-size: 40px;
	background-position: center;
}
#radio_player_control_play_state {
/*	width: 40px;
	height: 40px;*/
	width: 56px;
	height: 56px;
}
#radio_player_control_sound {
/*	width: 20px;
	height: 20px;
	margin-top: 12px;*/
	width: 28px;
	height: 28px;
	margin-top: 4px;
	background-size: contain !important;
}
#radio_player_control_volume {
/*	margin-top: 9px;*/
	margin-top: 3px;
}
.radio_player_trackid_wait {
    background-size: 38px 7px;
    bottom: 7px;
    width: 56px;
}
.radio_player_trackid_link {
	max-width: 470px;
}
#radio_player_station_favorites {
/*	width: 14px;
	height: 14px;*/
	width: 19px;
	height: 19px;
}
div.radio_mini_control_button {
/*	width: 14px;
	height: 14px;*/
	width: 19px;
	height: 19px;
}
#radio_station_play {
/*	width: 16px;
	min-width: 16px;
	height: 16px;*/
	width: 22px;
	min-width: 22px;
	height: 22px;
}
#radio_station_play_state {
/*	width: 16px;
	height: 16px;*/
	width: 22px;
	height: 22px;
}
#radio_station_country {
/*	width: 14px;
	min-width: 14px;
	height: 11px;*/
	width: 19px;
	min-width: 19px;
	height: 15px;
}
#radio_station_favorites {
/*	width: 14px;
	min-width: 14px;
	height: 14px;*/
	width: 19px;
	min-width: 19px;
	height: 19px;
	background-size: contain !important;
}
#radio_station_order {
/*	width: 16px;
	min-width: 16px;
	height: 16px;*/
	width: 22px;
	min-width: 22px;
	height: 22px;
}
#radio_station_user_list_edit {
/*	width: 16px;
	min-width: 16px;
	height: 16px;*/
	width: 22px;
	min-width: 22px;
	height: 22px;
}
#button_body_user_list_new_close {
/*	width: 16px;
	height: 16px;*/
	width: 22px;
	height: 22px;
}
#button_body_country_list_close {
/*	width: 16px;
	height: 16px;*/
	width: 22px;
	height: 22px;
	background-size: cover;
}
#button_body_country_list_close:hover {
/*	background-position: -16px 0;*/
	background-position: -22px 0;
}
#button_body_country_list_close:hover:active {
/*	background-position: -32px 0;*/
	background-position: -44px 0;
}
div.country_region_image {
/*	width: 14px;
	height: 11px;*/
	width: 19px;
	height: 15px;
}
.user_list_help {
/*	width: 16px;
	height: 16px;*/
	width: 22px;
	height: 22px;
}
input[type=range]::-webkit-slider-thumb {
/*	width: 16px;
	height: 16px;
	margin-top: -6px;*/

	width: 22px;
	height: 22px;
	margin-top: -9px;
}
input[type=range]::-moz-range-thumb {
/*	width: 16px;
	height: 16px;*/
	width: 22px;
	height: 22px;
}
div.radio_mini_control_button {
/*	margin-right: 3px;*/
	margin-right: 4px;
	background-size: contain !important;
}
#radio_player_station_favorites {
	background-size: contain !important;
}
div.country_region_box {
/*	margin: 7px 3px;
	min-width: 85px;*/
	margin: 13px 12px;
	min-width: 119px;
}
#div_body_country_list {
/*	max-height: 400px;*/
	max-height: 560px;
}
#user_list_new_station_name, #user_list_new_station_stream_url, #user_list_new_station_website_url {
    font-size: inherit;
}
#button_body_user_list_new_close {
	background-size: cover;
}
#button_body_user_list_new_close:hover {
/*	background-position: -16px 0;*/
	background-position: -22px 0;
}
#button_body_user_list_new_close:hover:active {
/*	background-position: -32px 0;*/
	background-position: -44px 0;
}
#radio_search_input {
	font-size: inherit;
}
#radio_search_select_country_current {
/*	line-height: 16px;*/
	line-height: 19px;
}
.table_wrap_td_station_site {
	width: 134px;
}
