#localPath {
    width: 400px;
}
#whitelist {
    width: 400px;
}

.errorMessages {
    color: red;
}

#settings {
    font-size: 18px;
}

img {
    height: 25px;
    vertical-align: bottom;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

label {
    vertical-align: middle;
    font-size: 11px;
    color: #808080;
    margin-bottom: 2px;
    height: 12px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    color: #666666;
    display: inline-block;
    border: 2px solid #dedede;
    height: 15px;
    width: 15px;
    outline: none;
    vertical-align: middle;
    margin-left: 0;
}

input[type="checkbox"]:checked:after {
    content: '\2713';
    line-height: 10px;
    font-size: 16px;
    font-weight: bold;
}

textarea {
    background-color: #f2f2f2;
    padding: 4px 7px 2px 7px;
    border-width: 0 0 1px 1px;
    color: #333333;
    resize: none;
    border-color: #dedede;
    border-style: solid;
    outline:none;
    font-size: 12px;
}

button {
    height: 30px;
    border-radius: 3px;
    background: #f2f2f2;
    vertical-align: top;
    color: #5c5c5c;
    margin-right: 5px;
    border: 1px solid #d9d9d9;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: .2em 1em;
    cursor: pointer;
    outline:none;
}

button:hover {
    background: #f5f5f5;
    color: #000000;
    border: 1px solid #bfbfbf;
}

.divTable{
    display: table;
}
.divTableRow {
    display: table-row;
}
.divTableCell {
    display: table-cell;
    padding-bottom: 2px;
}

.readonly {
    vertical-align: middle;
    font-size: 11px;
    color: #808080;
    margin-bottom: 2px;
    height: 12px;
}

#versionInformationLabel, #infoIcon{
    font-weight: bold;
}

#infoIcon {
    font-size: 14px;
}
