<div id="superWrapper" class="button" data-webSigner>
<!-- SEMI-TRANSPARENT LAYOUT WHEN MODAL IS DISPLAYED -->
    <div id="overlay"></div>
	
    <button type="button" id="directSignButton" class="sign">Sign</button>

<!-- MODALS -->

	<div id="about" class="modal"> <!-- in button mode, used for displaying errors to the user -->
		<p class="error"></p>
		<p id="WebExVersion"></p>
		<p>©2024 Thales Group</p>
		<button type="button" class="okButton action">Close</button>
	</div>

	<div id="errorModal" class="modal">
		<p id="errorModalTitle"></p>
		<p id="errorModalMessage"></p>
		<button type="button" id="errorModalCloseButton" class="okButton action">Close</button>
	</div>
	
	<!-- modal for selecting certificate for signature -->
	<div id="selectCertificate" class="modal">
		<button type="button" id="selectCertificateRefreshButton" title="Refresh the certificate list" disabled="true" >Refresh</button>
		<button type="button" id="selectCertificatecancelButton" class="cancelButton" title="Cancel the signing action">Cancel</button>
		<button type="button" id="selectCertificateSignButton" class="action"  title="Sign the data with the selected certificate" disabled="true">Sign</button>
	</div>
	
	<!-- modal for entering PIN for signature -->
	<div id="enterPIN" class="modal">
		<p>
			<span class="selectedCertificate"></span>
		</p>
		<input type="password" autocomplete="new-password" id="inputPIN" maxlength="8" placeholder="Provide credential"><br>
		<button type="button" id="enterPINCancelButton" class="cancelButton" title="Cancel the signing action">Cancel</button>
		<button type="button" id="enterPINOKButton" class="action" title="Authenticate with the selected certificate" disabled="true">OK</button>
	</div>
	
	<!-- modal for displaying the result of the signature -->
	<div id="signatureResult" class="modal">
		<p>
			<span class="selectedCertificate"></span>
		</p>
		<p id="signatureResultMessage"><span>Waiting for signature...</span></p>
		<span><img class="assetWS" id="signatureResultLoading" data-src="assets/img/loading.gif" title="Waiting for signature"></span> 
		<p id="signatureResultContent" style="word-wrap: break-word;"></p>		
	</div>
</div>
