body {
	font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    height: 380px;
}

h1 {
	font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 0px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

th {
    background-color: steelblue;
    color: #fff;
}

.login_input {
    width:100%;
    box-sizing:border-box;
}

#label_demo_hint {
    font-size: 12px;
}

#button_add_profile {
    margin-top: 25px;
}

input[type='color'] {
    outline: none;
    -webkit-appearance: none;
	border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

#psr_version {
    font-size: 11px;
    color: #0072C6;
}

.demo-input {
    display: block;
}

.demo-panel {
    margin-left: 25px;
}

.button-cell {
    width: 50px;
    text-align: right;
}

.img-button {
    border: 0px;
    background-color: #fff;
    margin-left: 3px;
    margin-right: 3px;
}

#logo {
    display: block;
    width: 161px;
    margin: 24px 16px;
}

/*----- Tabs -----*/
.tabs {
    display:inline-block;
    min-width: 950px;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background: #cde6f7;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
    text-decoration:none;
}

.tab-links a:hover {
    background:#a7cce5;
}

li.active a, li.active a:hover {
    background: #4682b4;
    color:#fff;
}

/*----- Content of Tabs -----*/
.tab-content {
	margin-top: -16px;
    padding:15px;
    border: 1px solid #4682b4;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-button {
    float: right;
    margin-left: 4px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 12px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.webclient-url-and-endpoint {
    display: flex;
}

.webclient-url-and-endpoint > div {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.float-right {
    float: right;
}

.server-mode-input {
    width: 180px;
}

.mto-warning-banner {
    background: #ffc107;
    padding: 2px 2px 2px 2px;
    margin: 0px 0px 6px 0px;
    border-radius: 2px;
}