.seo-extension-nofollow {
  /*color: red !important;*/
  text-decoration: line-through !important;
}

.seo-extension-sponsored {
  /*color: green !important;*/
  text-decoration: line-through !important;
}

.seo-extension-ugc {
  /*color: blue !important;*/
  text-decoration: line-through !important;
}

.seo-extension-noindex {
  background: #DAA520;
}

.seo-extension-header-highlighted::after {
  content: attr(data-heading-tag);
  display: inline-block !important;
  color: #fff;
  background-color: #e2da0a;
  padding: 2px 5px;
  margin-left: 4px;
}

[data-broken-link="true"] {
  background: #FF0000 !important;
  color: #FFFFFF !important;
}