img
{
	draggable:false;
}

div
{
	-webkit-user-select: none;  /*for Chrome*/
}

body *
{
    font-family: arial, verdana, helvetica;
     
}
body
{
    background: #aaa url('../png/background.png');
}

.clDlg
{
    position:absolute;
    top:20px;
    left:50%;
    width:620px;
    margin-left:-300px;
    /*margin-top:-130px;*/
    padding:4px;
    padding-top:4px;
    background:#07f;
    border-radius:8px;
    
    
    color:#fff;
    font-size:13px;
    font-weight:bold;
    
}
    
.clDlgInner
{
    position:relative;
    top:0px;
    width:600px;
    border-radius:0px 0px 6px 6px;
    margin-top:5px;
    padding:10px;
    background:#fff;
    
    color:#000;
}

.clGroup
{
    position:relative;
    background:#ccc;
    background: #fff url('../png/background2.png');	
    padding:10px;
    border-radius:6px;
    margin-bottom:10px;
}
.clHeader
{
    color:#777;
    font-size:14px;
    font-weight:bold;
}
#idGroup1
{
    font-weight:normal;
}
#idGroup0
{
    font-weight:normal;
}

#idSearchesPlaceHolder
{        
    margin-top:20px;
    /*background:#000;*/
    height:300px;
    width:0px;
}
#idSearches
{        
    position:absolute;
    margin-top:10px;
    background:#000;
}


#idButtons
{        
    position:absolute;
    width:240px;
    height:120px;
    top:16px;
    right:20px;
    margin-top:20px;
    /*background:#ff8;*/
}
#idDefaults
{        
    position:absolute;
    width:240px;
    height:200px;
    top:136px;
    right:20px;
    margin-top:20px;
    /*background:#ff8;*/
}
.clEntry *
{
    vertical-align: middle; 
    margin-right:10px;
}
.clEntry
{
	overflow:hidden;
    position:absolute;
    left:0px;
    height:16px;
    width:300px;
    background:#fff;
    color:#000;
    font-size:12px;
    font-weight:bold;
    padding:5px;
    cursor: pointer;
    border:1px solid #aaa;
}    
.clEntryName
{
	position:absolute;
	right:40px;
	top:5px;
	width:228px;
	color:#444;
	padding:0px;
	overflow:hidden;
}
.clEntryDef *
{
    vertical-align: middle; 
    margin-right:10px;
}
.clEntryDef
{
	overflow:hidden;
    position:absolute;
    left:0px;
    height:16px;
    width:228px;
    background:#fff;
    color:#000;
    font-size:12px;
    font-weight:bold;
    padding:5px;
    
    border:1px solid #aaa;
}
.clEntryNameDef
{
	position:absolute;
	right:20px;
	top:5px;
	width:184px;
	color:#444;
	padding:0px;
	overflow:hidden;
}    
.clRenSP
{
	position:absolute;
	right:20px;
	width:18px;
	height:18px;
	top:4px;
	
	padding:0px;
	margin-right:5px;
	display:none;
	background: url('../png/ren.png');
}
.clRenSP:hover
{
	background: url('../png/renHover.png');
}

.clDelSP
{
	position:absolute;
	right:0px;
	width:18px;
	height:18px;
	top:4px;
	
	padding:0px;
	margin-right:5px;
	display:none;
	background: url('../png/del.png');
}
.clDelSP:hover
{
	background: url('../png/delHover.png');
}

.clAddSP
{
	position:absolute;
	right:0px;
	width:18px;
	height:18px;
	top:4px;
	
	padding:0px;
	margin-right:5px;
	display:none;
	background: url('../png/add.png');
	cursor: pointer;
}
.clAddSP:hover
{
	background: url('../png/addHover.png');
}
#idDrag *
{
	vertical-align: middle; 
    margin-right:10px;
}

#idDrag
{
	position:fixed;left:100px;top:100px;width:300px;height:16px;
	background:#fff;
	color:#000;
    font-size:12px;
    font-weight:bold;
    padding:5px;
	border:1px solid #aaa;
    
    display:none;
    cursor: pointer;
}

.clButton:hover{background:#06d;}
.clButton
{
	background:#07f; position:relative;border-radius:3px;margin:8px 8px 4px 8px;color:#fff;
	padding:6px 12px;text-align:center;display:inline-block;cursor:pointer;
}

.clButton2:hover{background:#06d;}
.clButton2
{
	background:#07f; position:relative;border-radius:3px;margin:8px 8px 4px 8px;color:#fff;
	padding:6px 12px;text-align:center;display:inline-block;cursor:pointer;
	width:200px;
}

#idFilter{width:570px;height:50px;resize:none;}

