body {
  padding: 0;
  background: #EEE;
  color: #c1c1c1;
  font-family: Segoe UI, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
#main {
  display: block;
  width: 250px;
  padding: 10px;
}
#main .row {
  margin: 0 -2px;
}
#main .row:after {
  clear: both;
  display: block;
  content: " ";
  height: 0px;
  visibility: hidden;
}
#main .num {
  overflow: hidden;
  padding-right: 3px;
}
#main .type {
  width: 60px;
  float: right;
}
#main .col {
  display: block;
  margin-top: 5px;
  width: 50%;
  float: left;
  padding: 0 2px;
}
#main .col.full {
  width: 100%;
}
#main .col label {
  font-size: 12px;
  font-weight: 700;
  color: #666;
}
#main .col input,
#main .col select {
  display: block;
  width: 100%;
  padding: 4px 10px;
  border: 1px solid #CCC;
  text-align: center;
  font-weight: 700;
  color: #666;
  height: 30px;
}
#main .submit {
  margin-top: 10px;
  display: block;
  text-align: center;
}
#main .submit button {
  border: 1px solid #c1c1c1;
  height: 30px;
  border-radius: 2px;
  width: 192px;
}
.skin_default {
  background: #000;
  color: #FFF;
}
.author {
  text-align: right;
  color: #666;
  font-size: 12px;
  margin-top: 15px;
}
