.istoricPreturi-wrapper {
    height: 500px;
    width: 500px;
    max-width: 500px;
    padding: 0;
    background-color: #fff
}

#istoricPreturi-iframe {
    display: none;
    position: relative;
}

#istoricPreturi-loading-icon {
    border: 0;
    height: 500px;
    width: 500px;
    background: url(../img/loader.svg) center center no-repeat;
}
