[rgh-no-navigation-highlight] .Box-row.navigation-focus, [rgh-no-navigation-highlight] .react-directory-row:hover, [rgh-no-navigation-highlight] .navigation-focus td {
  background: none !important;
}

[rgh-no-navigation-highlight] .notifications-list-item:hover {
  box-shadow: none !important;
  background: none !important;
}
