.nim-dialog.nim-dialog_classic .nim-dialog--name,
.nim-dialog.nim-dialog_classic .nim-dialog--date {
    margin-top: 3px !important;
    margin-bottom: 11px !important;
}
.nim-dialog.nim-dialog_classic.nim-dialog_unread-out .nim-dialog--name,
.nim-dialog.nim-dialog_unread-out .nim-dialog--date {
    margin-bottom: 5px !important;
}
.nim-dialog.nim-dialog_classic .nim-dialog--date {
    margin-top: 0px !important;
    top: -6px !important;
    right: -2px !important;
}
.nim-dialog_unread-out:not(.nim-dialog_selected) .nim-dialog--cw {
    background: none !important;
}
.nim-dialog.nim-dialog_classic .nim-dialog--text-preview {
    margin-top: -10px !important;
}
.nim-dialog.nim-dialog_classic.nim-dialog_unread-out .nim-dialog--text-preview {
    margin-top: -4px !important;
}
.nim-dialog.nim-dialog_classic.nim-dialog_unread-out .im-prebody {
    margin-top: 0px !important;
}
.nim-dialog.nim-dialog_classic .nim-dialog--inner-text {
    padding: 5px 0px 5px 7px !important;
    display: inline-block !important;
}
.im-prebody {
    margin-right: 3px !important;
    vertical-align: top !important;
    height: auto !important;
}
.im-prebody:before {
    content: '';
    display: none;
}
.im-prebody img {
    display: inline-block;
    border-radius: 5px !important;
}
.nim-dialog.nim-dialog_classic .nim-dialog--text-preview {
    max-width: 100% !important;
    width: 100% !important;
}
.nim-dialog.nim-dialog_classic:not(.nim-dialog_unread-out) .nim-dialog--inner-text {
    padding: 5px 0 5px 3px !important;
    width: 400px !important;
    box-sizing: border-box !important;
    max-width: 400px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: inline-block !important;
    vertical-align: top !important;
}
.nim-dialog .nim-dialog--content {
    border: 1px solid transparent !important;
}