.nim-dialog.nim-dialog_classic .nim-dialog--name,
.nim-dialog.nim-dialog_classic .nim-dialog--date {
    margin-top: 6px !important;
    margin-bottom: 8px !important;
    height: 16px !important;
}
.nim-dialog.nim-dialog_classic .nim-dialog--date {
    margin-top: 0px !important;
    top: -5px !important;
    right: -2px !important;
}
.nim-dialog.nim-dialog_classic .nim-dialog--text-preview {
    margin-top: -2px !important;
}
.nim-dialog.nim-dialog_classic.nim-dialog_unread-out .nim-dialog--text-preview {
    margin-top: -5px !important;
}
.nim-dialog.nim-dialog_classic.nim-dialog_unread-out .im-prebody {
    margin-top: 3px !important;
}
.nim-dialog.nim-dialog_classic .nim-dialog--inner-text,
.nim-dialog.nim-dialog_classic.nim-dialog_muted .nim-dialog--inner-text {
    padding: 3px 0 2px 2px !important;
}
.nim-dialog.nim-dialog_classic .nim-dialog--inner-text,
.nim-dialog.nim-dialog_classic:hover .nim-dialog--inner-text {
    background: none !important;
}
.nim-dialog_unread-out:not(.nim-dialog_selected) .nim-dialog--cw {
    background: rgba(147, 173, 200, 0.2) !important;
}
.nim-dialog:not(.nim-dialog_classic).nim-dialog_unread .nim-dialog--cw {
    background: rgba(147, 173, 200, 0.2) !important;
}
.im-prebody {
    margin-right: 0px !important;
    vertical-align: top !important;
    height: 12px !important;
}
.nim-dialog:not(.im_group_chat) .im-prebody:before {
    content: 'Вы: ';
    display: inline-block;
    height: 14px;
    vertical-align: top;
}
.nim-dialog.im_group_chat .im-prebody>span {
    display: inline-block;
    height: 14px;
    vertical-align: top;
}
.nim-dialog .im-prebody img {
    display: none;
}
.nim-dialog.nim-dialog_classic.im_group_chat .nim-dialog--inner-text,
.nim-dialog.nim-dialog_classic.nim-dialog_muted.im_group_chat .nim-dialog--inner-text {
    padding-left: 0px !important;
}
.nim-dialog.im_group_chat .im_prebody:before {
    content: '';
    display: none;
}