
*[data-v-fde78b1e],
*[data-v-fde78b1e]:before,
*[data-v-fde78b1e]:after {
    box-sizing:border-box !important;
    -moz-box-sizing:border-box !important;
    -webkit-box-sizing:border-box !important;
    margin: 0;
    padding: 0;
}
.item_picker__overlay[data-v-fde78b1e] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.item_picker__screenshot[data-v-fde78b1e] {
    clear: both;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.item_picker__overlay[data-v-fde78b1e] {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9944999;
    cursor: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 13C15.4067 13 14.8266 13.1759 14.3333 13.5056C13.8399 13.8352 13.4554 14.3038 13.2284 14.8519C13.0013 15.4001 12.9419 16.0033 13.0576 16.5853C13.1734 17.1672 13.4591 17.7018 13.8787 18.1213C14.2982 18.5409 14.8328 18.8266 15.4147 18.9424C15.9967 19.0581 16.5999 18.9987 17.148 18.7716C17.6962 18.5446 18.1648 18.1601 18.4944 17.6667C18.8241 17.1734 19 16.5933 19 16C18.9992 15.2046 18.6829 14.442 18.1204 13.8796C17.558 13.3171 16.7954 13.0008 16 13ZM16 17C15.8022 17 15.6089 16.9413 15.4444 16.8315C15.28 16.7216 15.1518 16.5654 15.0761 16.3827C15.0004 16.2 14.9806 15.9989 15.0192 15.8049C15.0578 15.6109 15.153 15.4327 15.2929 15.2929C15.4327 15.153 15.6109 15.0578 15.8049 15.0192C15.9989 14.9806 16.2 15.0004 16.3827 15.0761C16.5654 15.1518 16.7216 15.28 16.8315 15.4444C16.9414 15.6089 17 15.8022 17 16C17 16.2652 16.8946 16.5196 16.7071 16.7071C16.5196 16.8946 16.2652 17 16 17Z' fill='white'/%3E%3Cpath d='M10 15H1C0.734784 15 0.48043 15.1054 0.292893 15.2929C0.105357 15.4804 0 15.7348 0 16C0 16.2652 0.105357 16.5196 0.292893 16.7071C0.48043 16.8946 0.734784 17 1 17H10C10.2652 17 10.5196 16.8946 10.7071 16.7071C10.8946 16.5196 11 16.2652 11 16C11 15.7348 10.8946 15.4804 10.7071 15.2929C10.5196 15.1054 10.2652 15 10 15Z' fill='white'/%3E%3Cpath d='M31 15H22C21.7348 15 21.4804 15.1054 21.2929 15.2929C21.1054 15.4804 21 15.7348 21 16C21 16.2652 21.1054 16.5196 21.2929 16.7071C21.4804 16.8946 21.7348 17 22 17H31C31.2652 17 31.5196 16.8946 31.7071 16.7071C31.8946 16.5196 32 16.2652 32 16C32 15.7348 31.8946 15.4804 31.7071 15.2929C31.5196 15.1054 31.2652 15 31 15Z' fill='white'/%3E%3Cpath d='M16 21C15.7348 21 15.4804 21.1054 15.2929 21.2929C15.1054 21.4804 15 21.7348 15 22V31C15 31.2652 15.1054 31.5196 15.2929 31.7071C15.4804 31.8946 15.7348 32 16 32C16.2652 32 16.5196 31.8946 16.7071 31.7071C16.8946 31.5196 17 31.2652 17 31V22C17 21.7348 16.8946 21.4804 16.7071 21.2929C16.5196 21.1054 16.2652 21 16 21Z' fill='white'/%3E%3Cpath d='M16 11C16.2652 11 16.5196 10.8946 16.7071 10.7071C16.8946 10.5196 17 10.2652 17 10V1C17 0.734784 16.8946 0.48043 16.7071 0.292893C16.5196 0.105357 16.2652 0 16 0C15.7348 0 15.4804 0.105357 15.2929 0.292893C15.1054 0.48043 15 0.734784 15 1V10C15 10.2652 15.1054 10.5196 15.2929 10.7071C15.4804 10.8946 15.7348 11 16 11Z' fill='white'/%3E%3C/svg%3E%0A") 16 16, url("chrome-extension://__MSG_@@extension_id__/icons/actions/ch.svg") 16 16, crosshair;
}
.item_picker__overlay.item_picker__highlighting[data-v-fde78b1e] {
    background: none;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    z-index: 9944998;
}
.item_picker__overlay-border[data-v-fde78b1e] {
    position: fixed;
    z-index: 9945999;
}

