

body {

overflow-y: auto;
overflow-x: hidden;

width: 200px;
height: 437px;
right: 12px;
bottom: 53px;
z-index: 71;
will-change: width,height;
border-radius: 2px;
background: rgba(0, 0, 0, 0.94);
background-position-x: 0%;
background-position-y: 0%;
background-repeat: repeat;
background-attachment: scroll;
background-image: none;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
text-shadow: 0 0 2px rgba(0,0,0,0.5);
-webkit-transition: opacity .1s cubic-bezier(0,0,0.2,1);
transition: opacity .1s cubic-bezier(0,0,0.2,1);
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}


.ytp-panel-menu {
    padding: 8px 0;
    display: table;
    width: 100%;
    color: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.81);
    
    background-image: url("icons/53.png");

    background-attachment: fixed;

}
.ytp-menuitem {
    display: table-row;
    cursor: pointer;
    outline: none;
    height: 40px;
}
.ytp-menuitem-label {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
    padding-left: 35px;
    padding-right: 20px;
    border-bottom: none;
    font-size: 118%;
    font-weight: 500;
}
.ytp-menuitem-label:hover {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
    padding-left: 35px;
    padding-right: 20px;
    border-bottom: none;

background: rgba(114, 112, 112, 0.9);
background-position-x: 0%;
background-position-y: 0%;
background-repeat: repeat;
background-attachment: scroll;
background-image: none;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
text-shadow: 0 0 2px rgba(0,0,0,0.5);
    color: #eee;
    --ytd-searchbox-legacy-button-hover-color: #f0f0f0;
--ytd-searchbox-legacy-button-hover-border-color: #c6c6c6;
--yt-live-chat-product-picker-hover-color: rgba(17, 17, 16, 0.1);
--yt-spec-static-overlay-button-hover: rgba(255, 255, 255, 0.5);
--yt-spec-call-to-action-hover: #0551b4;
--yt-spec-brand-button-background-hover: #990412;
    font-size: 118%;
    font-weight: 500;
    
}

.ytp-menuitem[role=menuitemradio][aria-checked=true] .ytp-menuitem-label {
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAwJSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIxMDAlIj48cGF0aCBkPSJNOSAxNi4yTDQuOCAxMmwtMS40IDEuNEw5IDE5IDIxIDdsLTEuNC0xLjRMOSAxNi4yeiIgZmlsbD0iI2ZmZiIgLz48L3N2Zz4=);
    background-repeat:no-repeat;
    background-position:left 10px center;
    background-size:18px 18px;
    -moz-background-size:18px 18px;
    -webkit-background-size:18px 18px
   }
