.icon[data-v-1116143c] {
  filter: invert(100%);
  display: inline-block;
}
.example-row[data-v-1116143c] {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}
.setting[data-v-1116143c] {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}
.setting__toggle[data-v-1116143c] {
  margin-right: 1rem;
}
.msg[data-v-1116143c] {
  font-weight: 600;
  color: hsl(var(--clr-alert));
}