.search-terms[data-v-5313a16f] {
  line-height: 1.75;
  margin-left: 1rem;
  color: hsl(var(--clr-white), 0.7);
}
@media (prefers-color-scheme: light) {
.search-terms[data-v-5313a16f] {
    color: hsl(var(--clr-grey), 0.9);
}
}