/*
 * MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
 * MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
 * MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
 * MMMMMMMmddddddddddddddddddddddddddddddddddddddddddddmMMMMMMM
 * MMMMMMM:.++++++++++++++++++++++++++++++++++++++++++--MMMMMMM
 * MMMMMMM::MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM/-MMMMMMM
 * MMMMMMM-:MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM/-MMMMMMM
 * MMMMMMM-:MMMMMMMyyyyyyyyyyNMMMMMMNyyyyyyyyyyNMMMMMM/-MMMMMMM
 * MMMMMMM-:MMMMMMN`         +MMMMMMo          mMMMMMM/-MMMMMMM
 * MMMMMMM-:MMMMMMN          `mMMMMN.          NMMMMMM/-MMMMMMM
 * MMMMMMM-:MMMMMMN      `    +MMMMo    `      NMMMMMM/-MMMMMMM
 * MMMMMMM-:MMMMMMN      +    `mMMN`    +      NMMMMMM/-MMMMMMM
 * MMMMMMM-:MMMMMMN      y:    +MMo    -d      NMMMMMM/-MMMMMMM
 * MMMMMMM-:MMMMMMN      hh    `mm`    yd      NMMMMMM/-MMMMMMM
 * MMMMMMM-:MMMMMMN      hM:    /o    -Md      NMMMMMM/-MMMMMMM
 * MMMMMMM-:MMMMMMN      hMh    ``    hMd      NMMMMMM/-MMMMMMM
 * MMMMMMM-:MMMMMMN      hMM:        :MMd      NMMMMMM/-MMMMMMM
 * MMMMMMM-:MMMMMMN      hMMd        hMMd      NMMMMMM/-MMMMMMM
 * MMMMMMM-:MMMMMMN      hMMM:      :MMMd      NMMMMMM/-MMMMMMM
 * MMMMMMM-:MMMMMMN`     hMMMd`    `hMMMd     `NMMMMMM/-MMMMMMM
 * MMMMMMM-:MMMMMMMhhhhhhNMMMMhhhhhhMMMMNhhhhhhNMMMMMM/-MMMMMMM
 * MMMMMMM-:MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM/-MMMMMMM
 * MMMMMMM-:MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM/-MMMMMMM
 * MMMMMMM:.//////////////////////////////////////////.:MMMMMMM
 * MMMMMMMNmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmMMMMMMM
 * MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
 * MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
 * MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
 *
 * Developed by David Fernández (dfernandez@maldita.es) for MALDITA www.maldita.es
 * Version 2.0
 *
 */

#bulo-box {
    margin: 20px auto;
    padding: 20px;
    border-top: 5px solid #580000;
    background: #f7f7f7;
}

#bulo-website-box {
    font-family: "Helvetica", "Arial", sans-serif !important;
    height: auto;
    width: 100%;
    background-color: rgba(88, 0, 0, 1);
    display: flex;
    color: #f1f1f1;
    padding-top: 20px;
}

.buloteca-content h2 {
    font-family: "Helvetica", "Arial", sans-serif !important;
    font-size: large !important;
    color: #f1f1f1 !important;
    font-weight: bold !important;
    margin-bottom: 10px;
}

.buloteca-response, .buloteca-response p {
    color: #f1f1f1 !important;
    font-size: medium !important;
}

.buloteca-content a {
    color: #f1f1f1;
    text-decoration: underline;
}

#bulo-box a {
    color: #580000;
}

#bulo-box h3 {
    font-weight: bold;
    color: #580000;
    margin-bottom: 10px;
}

#bulo-box p {
    margin-bottom: 10px;
}

#bulo-box blockquote {
    padding: 12px;
    border-left: 2px solid gray;
    font-family: "Georgia", serif;
    font-style: italic;
}

#bulo-box-content img {
    max-width: 100%;
}

#bulo-box footer {
    border-top: 1px gray solid;
    margin-top: 20px;
    font-size: small
}

#buloteca-source {
    margin-top: 10px;
}

#buloteca-source a {
    color: #f1f1f1;
}

.bulo-warning {
    color: #580000;
}

.buloteca-content {
    padding: 30px;
}