html {
  margin: 0;
  padding: 0;
  background-color: #ff7675;
  background: linear-gradient(180deg, #ffd4d4 0%, #fc3d3d 100%);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 500px;
}

#ext {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

#title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.circle-wrapper {
  width: 250px;
  height: 250px;
  background-color: #e74c3c;
  background: conic-gradient(red 0%, 0, grey 66%);
  border-radius: 50%;
  border: solid;
  border-color: saddlebrown;
}

.circle {
  width: 230px;
  height: 230px;
  background-color: white;
  border-radius: 50%;
  margin: 10px 0px 0px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#time {
  font-size: 3em;
}

.buttonDiv {
  margin-top: 30px;
}

#control {
  width: 80px;
  height: 40px;
  border-radius: 30%;
  border-color: transparent;
  background-color: #ff6348;
  box-shadow: 5px 5px 5px gray;
  outline: none;
  font-size: 15px;
  font-weight: bold;
}

#control:hover {
  opacity: 0.6;
}

#control:active {
  transform: translateY(5px);
}
