body{
	font-family: Consolas, Helvetica, sans-serif;
	font-size: 100px;
	font-weight: bold;
	background-color: #000;
}

:root{
	--item1: #FFFFFF;
	--item2: #FFFFFF;
	--item3: #FFFFFF;
	--item4: #FFFFFF;
	--item5: #FFFFFF;
	--item6: #FFFFFF;
	--item7: #FFFFFF;
	--item8: #FFFFFF;
	--item9: #FFFFFF;
	--block1: #87CEEB;
	--block2: #87CEEB;
	--block3: #87CEEB;
	--block4: #87CEEB;
	--block5: #87CEEB;
	--block6: #87CEEB;
	--block7: #87CEEB;
	--block8: #87CEEB;
	--block9: #87CEEB;
	--block10: #87CEEB;
	--block11: #87CEEB;
	--block12: #87CEEB;
	--block13: #87CEEB;
	--block14: #87CEEB;
	--block15: #87CEEB;
	--block16: #87CEEB;
	--block17: #87CEEB;
	--block18: #87CEEB;
	--block19: #87CEEB;
	--block20: #87CEEB;
	--block21: #87CEEB;
	--block22: #87CEEB;
	--block23: #87CEEB;
	--block24: #87CEEB;
	--block25: #87CEEB;
	--block26: #87CEEB;
	--block27: #87CEEB;
	--block28: #87CEEB;
	--block29: #87CEEB;
	--block30: #87CEEB;
	--block31: #87CEEB;
	--block32: #87CEEB;
	--block33: #87CEEB;
	--block34: #87CEEB;
	--block35: #87CEEB;
	--block36: #87CEEB;
	--block37: #87CEEB;
	--block38: #87CEEB;
	--block39: #87CEEB;
	--block40: #87CEEB;
	--block41: #87CEEB;
	--block42: #87CEEB;
	--block43: #87CEEB;
	--block44: #87CEEB;
	--block45: #87CEEB;
	--block46: #87CEEB;
	--block47: #87CEEB;
	--block48: #87CEEB;
	--block49: #87CEEB;
	--block50: #87CEEB;
	--block51: #87CEEB;
	--block52: #87CEEB;
	--block53: #87CEEB;
	--block54: #87CEEB;
	--block55: #87CEEB;
	--block56: #87CEEB;
	--block57: #87CEEB;
	--block58: #87CEEB;
	--block59: #87CEEB;
	--block60: #87CEEB;
	--block61: #87CEEB;
	--block62: #87CEEB;
	--block63: #87CEEB;
	--block64: #87CEEB;
	--block65: #87CEEB;
	--block66: #87CEEB;
	--block67: #87CEEB;
	--block68: #87CEEB;
	--block69: #87CEEB;
	--block70: #87CEEB;
	--block71: #87CEEB;
	--block72: #87CEEB;
	--block73: #87CEEB;
	--block74: #87CEEB;
	--block75: #87CEEB;
	--block76: #87CEEB;
	--block77: #87CEEB;
	--block78: #87CEEB;
	--block79: #87CEEB;
	--block80: #87CEEB;
	--block81: #87CEEB;
	--block82: #87CEEB;
	--block83: #87CEEB;
	--block84: #87CEEB;
	--block85: #87CEEB;
	--block86: #87CEEB;
	--block87: #87CEEB;
	--block88: #87CEEB;
	--block89: #87CEEB;
	--block90: #87CEEB;
	--block91: #87CEEB;
	--block92: #87CEEB;
	--block93: #87CEEB;
	--block94: #87CEEB;
	--block95: #87CEEB;
	--block96: #87CEEB;
	--block97: #87CEEB;
	--block98: #87CEEB;
	--block99: #87CEEB;
	--block100: #87CEEB;
	--block101: #87CEEB;
	--block102: #87CEEB;
	--block103: #87CEEB;
	--block104: #87CEEB;
	--block105: #87CEEB;
	--block106: #87CEEB;
	--block107: #87CEEB;
	--block108: #87CEEB;
	--block109: #87CEEB;
	--block110: #87CEEB;
	--block111: #87CEEB;
	--block112: #87CEEB;
	--block113: #87CEEB;
	--block114: #87CEEB;
	--block115: #87CEEB;
	--block116: #87CEEB;
	--block117: #87CEEB;
	--block118: #87CEEB;
	--block119: #87CEEB;
	--block120: #87CEEB;
	--block121: #87CEEB;
	--block122: #87CEEB;
	--block123: #87CEEB;
	--block124: #87CEEB;
	--block125: #87CEEB;
	--block126: #87CEEB;
	--block127: #87CEEB;
	--block128: #87CEEB;
	--block129: #87CEEB;
	--block130: #87CEEB;
	--block131: #87CEEB;
	--block132: #87CEEB;
	--block133: #87CEEB;
	--block134: #87CEEB;
	--block135: #87CEEB;
	--block136: #87CEEB;
	--block137: #87CEEB;
	--block138: #87CEEB;
	--block139: #87CEEB;
	--block140: #87CEEB;
	--block141: #87CEEB;
	--block142: #87CEEB;
	--block143: #87CEEB;
	--block144: #87CEEB;
}
.block{
	width: 40px;
	height: 40px;
	border: none;
}
.board{

}
.board:hover{
	cursor: crosshair;
}
.inv{
	width: 40px;
	height: 40px;
	font-size: 20px;
	text-align: right;
	bottom: 0;

}
.heart{
	width: 10px;
	height: 10px;
}

#count1{

}
#count2{
	
}
#count3{
	
}
#count4{
	
}
#count5{
	
}
#count6{
	
}
#count7{
	
}
#count8{
	
}
#count9{
	
}
#item1{
	background-color: #87CEEB;
	background-image: var(--item1);
	background-size: cover;
}
#item2{
	background-image: var(--item2);
	background-size: cover;
}
#item3{
	background-image: var(--item3);
	background-size: cover;
}
#item4{
	background-image: var(--item4);
	background-size: cover;
}
#item5{
	background-image: var(--item5);
	background-size: cover;
}
#item6{
	background-image: var(--item6);
	background-size: cover;
}
#item7{
	background-image: var(--item7);
	background-size: cover;
}
#item8{
	background-image: var(--item8);
	background-size: cover;
}
#item9{
	background-image: var(--item9);
	background-size: cover;
}
#block1{
	background-image: var(--block1);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block2{
	background-image: var(--block2);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block3{
	background-image: var(--block3);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block4{
	background-image: var(--block4);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block5{
	background-image: var(--block5);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block6{
	background-image: var(--block6);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block7{
	background-image: var(--block7);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block8{
	background-image: var(--block8);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block9{
	background-image: var(--block9);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block10{
	background-image: var(--block10);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block11{
	background-image: var(--block11);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block12{
	background-image: var(--block12);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block13{
	background-image: var(--block13);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block14{
	background-image: var(--block14);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block15{
	background-image: var(--block15);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block16{
	background-image: var(--block16);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block17{
	background-image: var(--block17);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block18{
	background-image: var(--block18);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block19{
	background-image: var(--block19);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block20{
	background-image: var(--block20);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block21{
	background-image: var(--block21);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block22{
	background-image: var(--block22);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block23{
	background-image: var(--block23);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block24{
	background-image: var(--block24);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block25{
	background-image: var(--block25);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block26{
	background-image: var(--block26);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block27{
	background-image: var(--block27);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block28{
	background-image: var(--block28);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block29{
	background-image: var(--block29);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block30{
	background-image: var(--block30);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block31{
	background-image: var(--block31);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block32{
	background-image: var(--block32);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block33{
	background-image: var(--block33);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block34{
	background-image: var(--block34);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block35{
	background-image: var(--block35);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block36{
	background-image: var(--block36);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block37{
	background-image: var(--block37);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block38{
	background-image: var(--block38);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block39{
	background-image: var(--block39);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block40{
	background-image: var(--block40);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block41{
	background-image: var(--block41);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block42{
	background-image: var(--block42);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block43{
	background-image: var(--block43);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block44{
	background-image: var(--block44);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block45{
	background-image: var(--block45);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block46{
	background-image: var(--block46);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block47{
	background-image: var(--block47);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block48{
	background-image: var(--block48);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block49{
	background-image: var(--block49);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block50{
	background-image: var(--block50);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block51{
	background-image: var(--block51);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block52{
	background-image: var(--block52);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block53{
	background-image: var(--block53);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block54{
	background-image: var(--block54);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block55{
	background-image: var(--block55);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block56{
	background-image: var(--block56);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block57{
	background-image: var(--block57);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block58{
	background-image: var(--block58);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block59{
	background-image: var(--block59);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block60{
	background-image: var(--block60);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block61{
	background-image: var(--block61);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block62{
	background-image: var(--block62);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block63{
	background-image: var(--block63);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block64{
	background-image: var(--block64);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block65{
	background-image: var(--block65);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block66{
	background-image: var(--block66);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block67{
	background-image: var(--block67);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block68{
	background-image: var(--block68);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block69{
	background-image: var(--block69);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block70{
	background-image: var(--block70);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block71{
	background-image: var(--block71);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block72{
	background-image: var(--block72);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block73{
	background-image: var(--block73);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block74{
	background-image: var(--block74);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block75{
	background-image: var(--block75);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block76{
	background-image: var(--block76);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block77{
	background-image: var(--block77);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block78{
	background-image: var(--block78);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block79{
	background-image: var(--block79);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block80{
	background-image: var(--block80);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block81{
	background-image: var(--block81);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block82{
	background-image: var(--block82);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block83{
	background-image: var(--block83);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block84{
	background-image: var(--block84);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block85{
	background-image: var(--block85);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block86{
	background-image: var(--block86);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block87{
	background-image: var(--block87);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block88{
	background-image: var(--block88);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block89{
	background-image: var(--block89);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block90{
	background-image: var(--block90);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block91{
	background-image: var(--block91);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block92{
	background-image: var(--block92);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block93{
	background-image: var(--block93);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block94{
	background-image: var(--block94);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block95{
	background-image: var(--block95);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block96{
	background-image: var(--block96);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block97{
	background-image: var(--block97);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block98{
	background-image: var(--block98);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block99{
	background-image: var(--block99);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block100{
	background-image: var(--block100);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block101{
	background-image: var(--block101);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block102{
	background-image: var(--block102);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block103{
	background-image: var(--block103);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block104{
	background-image: var(--block104);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block105{
	background-image: var(--block105);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block106{
	background-image: var(--block106);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block107{
	background-image: var(--block107);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block108{
	background-image: var(--block108);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block109{
	background-image: var(--block109);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block110{
	background-image: var(--block110);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block111{
	background-image: var(--block111);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block112{
	background-image: var(--block112);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block113{
	background-image: var(--block113);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block114{
	background-image: var(--block114);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block115{
	background-image: var(--block115);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block116{
	background-image: var(--block116);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block117{
	background-image: var(--block117);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block118{
	background-image: var(--block118);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block119{
	background-image: var(--block119);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block120{
	background-image: var(--block120);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block121{
	background-image: var(--block121);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block122{
	background-image: var(--block122);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block123{
	background-image: var(--block123);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block124{
	background-image: var(--block124);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block125{
	background-image: var(--block125);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block126{
	background-image: var(--block126);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block127{
	background-image: var(--block127);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block128{
	background-image: var(--block128);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block129{
	background-image: var(--block129);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block130{
	background-image: var(--block130);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block131{
	background-image: var(--block131);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block132{
	background-image: var(--block132);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block133{
	background-image: var(--block133);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block134{
	background-image: var(--block134);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block135{
	background-image: var(--block135);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block136{
	background-image: var(--block136);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block137{
	background-image: var(--block137);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block138{
	background-image: var(--block138);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block139{
	background-image: var(--block139);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block140{
	background-image: var(--block140);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block141{
	background-image: var(--block141);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block142{
	background-image: var(--block142);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block143{
	background-image: var(--block143);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}
#block144{
	background-image: var(--block144);
	background-size: cover;
	background-position: center;
	background-color: #87CEEB;
	background-repeat: no-repeat;
}