/*
Name:			Dark Mode
Author:			Sean O'Sullivan
*/

@media (prefers-color-scheme: dark) {

	body {
		background-color: #201f1e;
	}
	
	#container_flex_header {
		background-color: #2b2a2a;
		box-shadow: rgb(0 0 0 / 25%) 0px 0.4rem 0.7rem -0.1rem;
		border: none;
	}
	
	#container_flex_notificationbanner {
		background-color: #2b2a2a;
		color: #ffffff;
	}
	
	#container_flex_notificationbanner_middle a {
		color: #ffffff;
	}
	
	#container_flex_notificationbanner_searching {
		background-color: #2b2a2a;
		color: #ffffff;
	}
	
	#container_flex_notificationbanner_searching_left {
		color: #ffffff;
	}
	
	#container_flex_notificationbanner_searching_right a {
		color: #ffffff;
	}
	
	.container_flex_header_middle_search {
		background-color: #201f1e;
		border: 1px solid #201f1e;
	}
	
	.container_flex_header_middle_search input {
		color: #ffffff;
	}
	
	#container_frame_left {
		background-color: #2b2a2a;
		box-shadow: rgb(0 0 0 / 25%) 0px 0.4rem 0.7rem -0.1rem;
		border: none;
	}
	
	#container_frame_left_appicon {
		border-bottom: 1px solid #000;
	}
	
	.container_body_title {
		background-color: #201f1e;
	}
	
	.container_body_title span a {
		color: #ffffff;
	}

	.container_body_title2lines {
		background-color: #201f1e;
	}
	
	.container_body_title2lines span a {
		color: #ffffff;
	}
	
	.container_body_menu span {
		color: #ffffff;
	}
	
	.container_body_menu {
		background-color: #2b2a2a;
		box-shadow: rgb(0 0 0 / 25%) 0px 0.4rem 0.7rem -0.1rem;
		border: none;
	}
	
	.container_body_menu ul li a {
		color: #ffffff;
	}
	
	.container_body_menu ul li a:hover {
		background-color: #3d3b3a;
	}
	
	#container_frame_left_settingsicon {
		border-top: 1px solid #000;
	}

	#container_frame_left_supportmeicon {
		border-top: 1px solid #201f1e;
	}
	
	.container_frame_left_searchcontrols_border {
		border-bottom: 1px solid #201f1e;
	}
	
	.container_body_menu p {
		color: #ffffff;
	}
	
	.container_body_menu p a {
		color: #ffffff;
	}
	
	.menu_dropdown {
		background-color: #2b2a2a;
		color: #ffffff;
	}
	
	.menu_dropdown select option {
		background-color: #201f1e;
		color: #ffffff;
	}
	
	.button_settings {
		background-color: #201f1e;
		color: #ffffff;
	}
	
	.option_defaultsection {
		background-color: #201f1e;
		color: #ffffff;
	}
	
	.option_searchstyle {
		background-color: #201f1e;
		color: #ffffff;
	}
	
	.container_flex_header_middle_text {
		color: #ffffff;
	}

	.container_body_menu form label {
		color: #ffffff;
	}

	.container_body_menu form input {
		background-color: #201f1e;
		color: #ffffff;
	}
		
	/* Icon colours */
	
	.m365admin {
		color: #ffffff;
	}
	
	.m365apps {
		color: #be2323;
	}
	
	.azureAD {
		color: #9141b3;
	}
	
	.entragsa {
		color: #ffffff;
	}
	
	.azurePortal {
		color: #147bd1;
	}
	
	.compliance {
		color: #0cb70c;
	}
	
	.endpointmgr {
		color: #1cb3b7;
	}
	
	.exchange {
		color: #2197f3;
	}

	.lighthouse {
		color: #e12b6a;
	}
	
	.onedrive {
		color: #2197f3;
	}
	
	.powerplatform {
		color: #a73ba7;
	}
	
	.security {
		color: #567df3;
	}
	
	.sharepoint {
		color: #2197f3;
	}
	
	.stream {
		color: #d41a64;
	}
	
	.teams {
		color: #787bcc;
	}
	
	.troubleshooting {
		color: #ffffff;
	}
	
	.yammer {
		color: #2197f3;
	}
	
	.yammer {
		color: #0078d4;
	}
	
	.cloudappsecurity {
		color: #ffffff;
	}

	.favourites {
		color: #ffb454;
	}
	
	.settings {
		color: #ffffff;
	}
	
	.about {
		color: #ffffff;
	}
	
	.back {
		color: #ffffff;
	}

	/* Hover effect for buttons on the sidebar */
	#container_frame_left_menu div div:hover {
		border-radius: 8px;
		background-color: #3d3b3a;
		margin-left: 12px;
		margin-right: 12px;
	}

	#container_frame_left_settingsicon div:hover {
		border-radius: 8px;
		background-color: #3d3b3a;
		margin-left: 12px;
		margin-right: 12px;
	}

	#container_frame_left_abouticon div:hover {
		border-radius: 8px;
		background-color: #3d3b3a;
		margin-left: 12px;
		margin-right: 12px;
	}

	#container_frame_left_supportmeicon div:hover {
		border-radius: 8px;
		background-color: #3d3b3a;
		margin-left: 12px;
		margin-right: 12px;
	}

	#container_frame_left_menu div div:hover {
		border-radius: 8px;
		background-color: #3d3b3a;
		margin-left: 12px;
		margin-right: 12px;
	}
	
	#container_frame_left_searchcontrols div:hover {
		border-radius: 8px;
		background-color: #3d3b3a;
		margin-left: 12px;
		margin-right: 12px;
	}
	

}

