#easyMp3.ytd-watch{
    padding-top:10px;
    overflow: auto;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
#easyMp3 .mytmp3_btn{
    background-color: #FF0000;
    border: #FF0000;
    border-radius: 2px;
    color: #FFF;
    padding: 10px 16px;
    font-size: 1.4em;
    cursor:pointer;
    display:inline-block
}
#easyMp3 .mytmp3_btn:hover{
    background-color: #a22a2a
}
@media (min-width: 657px){
  ytd-watch[theater] #easyMp3.ytd-watch{
    margin-right:24px
  }
}