html {
	width: 800px;
	height: 490px;
}

body {
	position: relative;
	margin: 5px;
	height: 480px;
	font-family: Tahoma, sans-serif;
	font-size:	15px;
	font-weight:	400;
	font-style:	normal;
	font-size-adjust:	none;
	color:	#262626;
	background-color: #FFFFFF;
	width: 790px;
}

button {
	font-family: Arial;
	font-size: 13px;
}

/***************** HEADER ******************/

#header {
	position: relative;
	border-bottom: 3px solid black;
	height: 56px;
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	padding-left: 320px;
}

.hide {
	display: none;
}

#header .logo {
	position: absolute;
	left: 0;
	bottom: 4px;
	height: 54px;
	width: 290px;
    background-size: contain;
    background-repeat: no-repeat;
}

#close {
	position: absolute;
	top: 2px;
	right: 5px;
}

#reload {
	position: absolute;
	top: 2px;
	right: 40px;
}

#header ul {
	padding-left: 0px;
	margin-left: 5em;
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
}

#header ul.invisible {
	display: none;
}

#header li {
	float: left;
	margin-top:22px;
	margin-bottom: 8px;
	margin-left: 15px;
}

.with-manager #header li {
	margin-top:4px;
}

#header .manager {
	clear:both;
	display: none;
}

#header .manager.invisible {
	display: none;
}

.with-manager #header .manager {
	margin-top:4px;
	display: block;
    margin-left: 6em;
}

#manager {
	width: 260px;
}

.hide-banner #quote-table-wrapper {
	height: 380px;
}

.hide-banner .footer {
	bottom: -5px;
}

.hide-banner #banner {
	display: none;
}


/***************** LOGON ******************/

#logon {
	display:none;
    clear: both;
    margin-top:10px;
	overflow-y: auto;
}

#logon-hello {
    font-weight: bold;
    text-align: center;
    padding:5px;
}

#logon-msg {
    padding:5px;
}

#logon dl dt {
    float:left;
    font-weight: bold;
    padding:5px;
    width:100px;
}

#logon dl dd {
    margin:2px 0;
    padding:5px 0;
}


#logon-ok, #logon-cancel {
	float: right;
}

#logonErrorDiv {
	margin-left: 6px;
	color: red;
    font-weight: bold;
}

#logonErrorDd.invisible {
	display: none;
}

/***************** QUOTE ******************/

#quote {
	clear: both;
	margin-top: 10px;
}

#quote-table-wrapper {
	height: 305px;
    overflow-y: auto;
}

#quote-table-wrapper #comment {
    font-size: 11;
    color: black;
    font-size: 14px;
    padding-top: 3px;
    min-width: 190px;
    max-width: 300px;
    word-wrap: break-word;
    padding-left: 2px;
}

#quote table {
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	font-weight: 400;
	width: 100%;
	border-collapse:collapse;
}

#quote td {
	vertical-align: top;
	border-top:1px dotted black;
	border-left:1px dotted black;
	border-color: #C0C0C0;
	padding: 2px;
}

#quote th {
	border-left:1px dotted black;
	border-color: #C0C0C0;
}

.sort-off {
    background: #F4F4F4;
    background-repeat: no-repeat;
    background-position: center right;
}

.sort-none {
    background: #F4F4F4;
    background-image: url(img/black-unsorted.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

.sort-up {
    background: #F4F4F4;
    background-image: url(img/black-up.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

.sort-down {
    background: #F4F4F4;
    background-image: url(img/black-down.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

#quote td:first-child, #quote th:first-child {
	border-left:0px;
}

#quote td:last-child {
    text-align: center;
    vertical-align: middle;
}

#quote tbody tr td p {
	margin: 0px;
	font-size: 13px;
	color: #959595;
}


#quote tr:nth-child(even) {background: #F4F4F4}
#quote tr:nth-child(odd) {background: #FFFFFF}
#quote tr:hover {background: #F0F0F0}

#quote-clear {
	float: left;
}

#quote-done {
	float: right;
}

#quote-table-wrapper > p {
	display: none;
	text-align: center;
	margin-top: 70px;
}

#quote-table-wrapper p img {
	margin-bottom:	-3px;
	max-width: 25px;
}


/***************** POPUP ******************/

#popup-bg {
	display: none;
    z-index: 1;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	opacity: .2;
}

#popup {
	display: none;
	padding: 20px 10px 5px 65px;
	z-index: 2;
	position: absolute;
	top: 185px;
	left: 210px;
	width: 205px;
	height: 40px;
	font-size: 18px;
	font-weight:	800;
	color:	#262626;
	background-color: #fff;
	border: 1px solid #C0C0C0;
	background-image: url('img/waiting.gif');
	background-repeat: no-repeat;
	background-position: 30px 20px;
}


/***************** FOOTER ******************/

.footer {
	position: absolute;
	width: 790px;
	height: 30px;
	left: 0;
	bottom: 60px;

	padding: 5px 0 0 0;
	margin: 0;
	border-top: 1px solid #E0E0E0;
}

.footer button {
    width: 150px;
}

/***************** BANNER ******************/

#banner {
	position: absolute;
	width: 790px;
	height: 60px;
	left: 0;
	bottom: 0;
	border-top: 3px solid black;
	cursor: pointer;
	text-align: center;
	display: block;
	overflow: auto;
}

#banner .content {
	display:table-cell;
	vertical-align: middle;
	width: 790px;
	height: 60px;
}

#banner:hover #banner-close {
    display: table-cell;
}

#banner span {
	display: table-cell;
	vertical-align: middle;
	font-size: 30px;
}

#banner-close {
	display: none;
	position: absolute;
	top: 6px;
	right: 5px;
}

#cant-make-quote {
	display: none;
}

#cant-make-quote-msg {
	margin-top: 140px;
    margin-left: 120px;
    margin-right: 120px;
	font-size:17px;
	text-align: center;
}

#cant-make-quote button {
	display: block;
	margin-top: 40px;
	margin-left: auto;
    margin-right: auto;
}

.flight-title {
    display: grid;
    font-size: 12px;
    position: absolute;
    max-height: 300px;
    grid-auto-flow: column;
    grid-template-rows: 0fr 0fr;
    z-index: 999999;
    align-items: start;
}

.flight-title hr {
    width: 100%;
}

.sector-wrapper {
    height: auto;
    padding: 2px;
    border: 1px solid grey;
    margin: 2px;
    background: antiquewhite;
}

html.mobile {
    width: 300px;
	height: 300px;
}

.mobile * {
	max-width: 300px;
	max-height: 300px;
	float: none;
}

.mobile #quote-table-wrapper {
	display: none;

}

.mobile .footer {
	height: auto;
}

.mobile button {
	margin: 4px;
	float: left!important;
	padding: 5px;
	width: 95%;
}

#countElement {
	float: none;
	margin: auto;
	text-align: center;
	font-size:18px;
	font-weight: bold;
}

.mobile #header {
	padding: 0;
	height: 70px;
}

.mobile li, .mobile ul, .mobile .manager {
	margin: 3px!important;
}

.mobile .logo {
	display: none;
}

.mobile #tours-select{
	width: 220px;
	padding: 5px;
	margin: 1rem 2.5rem;
}

.details {
	color: darkred
}

@media (prefers-color-scheme: dark) {
	body#popupContainer {
		color: #ffffff;
		background-color: #3c3c3c;
	}
	a {
		color: #0cc298;
	}
	select {
		color: #ffffff;
		background-color: #3c3c3c;
	}
	button {
		background-color: #3c3c3c;
		color: white;
		border: 1px solid black;
	}

	#quote tr:nth-child(odd) {
		background: #3c3c3c;
	}

	#quote tr:nth-child(even) {
		background: #282828;
	}
	#quote th {
		background-color: #282828;
	}
	.flight-title, .sector-wrapper {
		color: black;
	}
	.details {
		color: darkgoldenrod
	}
	button:hover {
		background-color: black;
	}
	#cboxLoadedContent {
     	background-color: #3c3c3c;
	}
	#quote-table-wrapper #comment {
		color: white;
	}
}
