body{margin:0;border:0;padding:0;font-family:Verdana,"Bitstream Vera Sans",Helvetica,'URW Helvetica',Lucidasans,'Gothic L','Nimbus sans L',Helmet,sans-serif}
a{text-decoration:none;color:blue}
a:hover,a:focus{color:#900}
a[href^="#"]{color:#900}
a[href^="#"]:hover,a[href^="#"]:focus{color:#000}
ul{list-style-type:square;margin-left:1em;padding:0px;font-size:1em}
dfn{font-style:normal;font-weight:normal}
dfn:before{vertical-align:-3px;content:url(MM3_16.svg)}
.WebAssistant{margin:1em 2em 0 3em;border:2px solid #900;padding:0.5em;background-color:#eee;max-width:60em}
.WebAssistant h3{margin:0;padding:0;font-weight:bold;font-size:16px}
.WebAssistant p{margin:0;padding:10px 0 0 30px}
h1{margin:0px;padding:.2em 0 .1em 1.5em;vertical-align:middle;font-weight:bold;font-size:29px;color:#fff;background:#900}
h1:before{content:url(MM3_22.svg)" ";vertical-align:sub}
h1 a{margin:0;padding:0;text-decoration:none}
h1 a,h1 a:hover,h1 a:active,h1 a:visited,h1 a:focus{color:#fff}
nav{margin:1em 2em 0px 3em;padding:0.5em;line-height:1.5}
nav li{list-style-type:none}
nav li{margin:0}
nav li ul li{margin:0}
main{margin:0;padding:1em 2em 0 3em;background:#fff;line-height:1.5;max-width:60em}
h3{margin:0;padding:1em 0 0 0;font-weight:bold;font-size:1.4em}
h4{margin:0;padding:1em 0 0 0;font-weight:bold;font-size:1.2em}
h5,h6{margin:0;padding:.5em 0 0 0;font-weight:bold;font-size:1em}
h3+div{padding-top:1em}
main div{margin-left:2em;font-size:1em}
p{margin:0 0 1em 0;padding:0}
main ul{margin:0 0 0 1em}
main ul li{margin:0 0 .5em 0}
main ul ul{list-style-type:disc}
main ul ul li{margin:0}
dl{margin:0 0 1em 0;padding:0}
dt{margin:0;padding:0;font-weight:bold}
dd{margin:0;padding:.2em 0px .5em .8em}
dd ul{margin:0;padding:0 0 0 1.3em;list-style-type:disc}
dl dl{margin:0}
.on:before{vertical-align:-3px;content:url(MM3_16.svg)}
.off:before{vertical-align:-3px;content:url(MM3_16off.svg)}
code{display:block;margin:0 0 1em 0;padding:0;border-width:0;font-family:monospace;font-size:1.2em;line-height:1.5;white-space:pre}
s{font-weight:normal;text-decoration:none}
#license+div img{display:block;margin:0 auto;padding:0}
#license+div a{display:block;margin:1em 0;white-space:nowrap}
#license+div{text-align:center}
@media print,only screen and (min-width:30em){#license+div{display:flex;flex-flow:row nowrap;justify-content:space-around}
}
footer{display:block;margin:1em;padding:0;max-width:60em}
footer a{padding:.5em 0;display:block}
footer{text-align:center}
#mail,[rel=copyright]{color:#000;white-space:nowrap}
#mail:hover,[rel=copyright]:hover,#mail:focus,[rel=copyright]:focus{color:#900}
@media(min-width:32em){footer{display:grid;grid-template-rows:auto auto;grid-template-columns:auto auto auto auto}
footer a{justify-self:center}
#imprint{grid-row:1;grid-column:1}
#privacy{grid-row:1;grid-column:2/span 2}
#legal{grid-row:1;grid-column:4}
[rel=copyright]{grid-row:2;grid-column:1/span 2;justify-self:start}
#mail{grid-row:2;grid-column:3/span 2;justify-self:end}
}
@media print,only screen and (min-width:52em){footer{display:flex;flex-flow:row nowrap;justify-content:space-between}
[rel=copyright]{order:-1}
}
@media print{h1{background-color:#fff}
h1:before{content:url(MM3_22print.svg)" "}
h1,h1 a,h1 a:visited{color:#000}
footer a{white-space:nowrap}
h1+.WebAssistant,nav,#imprint,#privacy,#legal{display:none}
footer a,footer a:visited{color:#000}
.WebAssistant a:after{content:" ("attr(href)")"}
}
span.n{color:SaddleBrown}
span.k{color:blue}
span.d{color:Indigo}
span.i{color:#c0c}
span.r{color:#c0c}
span.p{color:DarkGreen}
span.c{color:green}
span.k2{color:#c80000}
span.v2{color:#911aa6}
kbd{display:inline-block;color:#333;background-color:#eee;border-radius:3px;border:1px solid #b4b4b4;box-shadow:0 1px 1px rgba(0,0,0,.2),0 2px 0 0 rgba(255,255,255,.7) inset;font-family:consolas,"Liberation Mono",courier,monospace;font-size:.85em;font-weight:700;line-height:1;padding:2px 4px;white-space:nowrap }