body{margin:0px;border:0px;padding:0px;font-family:Verdana,"Bitstream Vera Sans",Helvetica,'URW Helvetica',Lucidasans,'Gothic L','Nimbus sans L',Helmet,sans-serif;font-size:11px;background-color:#fff}
ul{margin:0;border:0;padding:0;list-style-type:none}
li{margin:0;padding:3px 5px 3px 0;white-space:pre;background-color:#fff}
.disable{color:#aaa}
li.empty{margin:5px 0 5px 0;padding:0}
li.hr{margin:5px 0 5px 0;border-top:1px solid #dedede;padding:0 }
.icon{margin-left:4px;border-left:0;padding-left:26px;background-repeat:no-repeat;background-position:left center}
.setting{background-image:url(setting.svg)}
.activeOn{background-image:url(boxCheck.svg)}
.activeOff{background-image:url(boxEmpty.svg)}
.l{margin-left:6px;border:0;border-left:12px solid #fff;padding-left:12px}
.on{border-left-color:#900}
.off{border-left-color:#808080}
li:hover{background-color:#91c9f7}
.l:hover{border-left:12px solid #91c9f7}
.on:hover{border-left-color:#900}
.off:hover{border-left-color:#808080}
li.disable:hover{background-color:#eee}
.activeOn:hover{border-left:0}
.activeOff:hover{border-left:0}