body{margin:0;border:0;padding:0;font-family:Verdana,"Bitstream Vera Sans",Helvetica,'URW Helvetica',Lucidasans,'Gothic L','Nimbus sans L',Helmet,sans-serif;font-size:14px;line-height:1.5em}
#headline{margin:0;padding:0;white-space:nowrap;display:block;text-decoration:none;font-weight:bold;color:#fff;background:#900}
#headline h1{margin:0;padding:.5em 0 .5em 1em;font-size:1.4em}
#headline div{margin:0;padding:.5em 1em 0 0;float:right}
#headline div:before{vertical-align:-11px;content:url(MM3_22.svg)}
#incognito{display:none;white-space:pre-wrap}
main,section{margin:1em;padding:0;line-height:2}
div{margin-left:2em}
#setting{margin:0 0 20px 0;border:1px solid black;padding:10px;min-height:100px;line-height:1.5}
span.n{color:SaddleBrown}
span.k{color:blue}
span.d{color:#911aa6}
span.i{color:#c0c}
span.r{color:#c0c}
span.p{color:DarkGreen}
span.c{color:green}
span.k2{color:#c80000}
span.v2{color:#911aa6}
span.e{text-decoration:underline wavy red}
span.u{text-decoration:line-through red}
span.uv{color:gray}
span.error{color:red}
button{margin-right:.5em}
ul{list-style-type:square}
li{padding-bottom:1em}
ul ul{list-style-type:disc}
ul ul{margin:0;padding:.2em 0 0 1em}
dfn{font-style:normal;font-weight:normal}
dfn:before{content:url(MM3_16.svg);vertical-align:sub}
h2,h2 dfn{margin-top:2em;font-size:1em;font-weight:bold}
kbd{display:inline-block;color:#333;background-color:#eee;border-radius:3px;border:1px solid #b4b4b4;box-shadow:0 1px 1px rgba(0,0,0,.2),0 2px 0 0 rgba(255,255,255,.7) inset;font-family:consolas,"Liberation Mono",courier,monospace;font-size:.85em;font-weight:700;line-height:1;padding:2px 4px;white-space:nowrap }
@media print{#headline{color:#000;background:#fff}
#headline div:before{content:url(MM3_22print.svg)}
#setting{border:none}
#help,#syntax,#save{display:none}
}