body {
  padding: 100px 1em;
}

#done {
  margin-top: 5em;
}

p {
  line-height: 20px;
  font-size: 14px;
}

.form-group {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.right {
  margin-left: auto;
}

label.checkbox {
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-align: center;
}

label.checkbox span {
  margin-top: 0.35em;
}

label span {
  display: block;
}

label input,
label select,
label textarea {
  margin-top: 0.5em;
}

#testing select {
  width: auto;
  max-width: 100px !important;
}

hr {
  margin: 1em 0;
}

input,
select,
textarea {
  margin-bottom: 0.5em;
}

textarea {
  width: 600px;
}

.smaller {
  font-size: 12px;
}

.form-field-info {
  font-size: 12px;
  font-weight: bold;
  display: block;
  line-height: 16px;
}

.examples {
  display: flex;
  flex-direction: column;
}

.examples textarea {
  margin-bottom: 0.5em;
}

pre {
  padding: 0;
  margin: 0;
  width: calc(100vw / 3);
}

.nav-content {
  display: none;
  margin-top: 1em;
}

.nav-content.active {
  display: block;
}

.hidden,
.error,
.error-banner:empty,
#error:empty {
  display: none;
}

#error,
.error {
  font-weight: 600;
  color: red;
}
#error a,
.error a {
  font-weight: 600;
  color: red;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#upgrade-extension {
  background-color: #eb0202;
}

.test-btns {
  display: inline-flex;
  flex-direction: row;
  gap: 5px;
}

.submit-key {
  height: 38px;
  min-height: 38px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.licence-key-field {
  margin: 0;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.combined {
  margin: 1em 0;
  display: inline-flex;
}

.test-selects {
  display: flex;
}
.test-selects .form-group {
  margin: 1em 1em 1em 0;
}

.notification-banner {
  display: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin: 1em 0;
}
.notification-banner > div {
  display: block;
  text-align: center;
  width: 100%;
}

.licence-banner,
.error-banner {
  background-color: var(--btn-color-danger);
  color: white;
}
.licence-banner a,
.error-banner a {
  color: white;
}

.upgrade-banner {
  background-color: var(--purple-lightest);
}

.video {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 1em 0;
}
