#training-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 100%;
  max-width: 600px;
}

.q-and-a {
  max-width: 100%;
}

.q-and-a textarea {
  width: 600px;
  max-width: 100%;
  height: 32px;
}

.q-and-a-list {
  list-style: none;
  margin: 0;
  padding: 1em 0;
}

.q-and-a-list li {
  margin-bottom: 1em;
}

.q:before {
  content: "Q: ";
  font-weight: 500;
}
.a:before {
  content: "A: ";
  font-weight: 500;
}

.question-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25em;
}

.question-line span {
  display: block;
  width: 18px;
}

.question-line .q,
.question-line .a {
  flex: 1;
}

.confirm-line {
  padding: 0 15px;
}

#existing-training-data {
  max-width: 500px;
}

.crawl-status {
  font-size: 12px;
  background-color: #bca5e459;
  padding: 5px 10px;
}

.bulk-forward-image {
  max-width: 700px;
  width: 90%;
}

.training-in-progress,
.trained {
  display: none;
}
