@font-face {
  font-family: Gotham-Rounded;
  src: url(https://tryellie.com/assets/fonts/GothamRoundedLight_21020.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Gotham-Rounded;
  src: url(https://tryellie.com/assets/fonts/GothamRoundedMedium_21022.ttf)
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Gotham-Rounded;
  src: url(https://tryellie.com/assets/fonts/GothamRoundedMedium_21022.ttf)
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Gotham-Rounded", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

input {
  font-family: inherit;
}

.text-bold {
  font-weight: 600;
}
