    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
    :root:not([data-color-scheme=light]) .dark\:bg-backgroundDark {
        background-color:  #20212A !important;
    }
    .text-3xl {
        color: #5183E4 !important;
        font-weight: bold !important;
    }
    :root:not([data-color-scheme=light]) .dark\:bg-offsetDark {
        background-color: #000 !important;
        border-color: #000 !important;
    }
    .font-display {
        font-family: "Nunito", sans-serif !important;
    }
    :root:not([data-color-scheme=light]) .dark\:text-superDark {
        color: #fff !important;
        font-weight: normal;
    }
    :root:not([data-color-scheme=light]) .dark\:bg-superDark {
        background-color: #5183E4 !important;
    }
    :root:not([data-color-scheme=light]) .dark\:bg-offsetPlusDark {
        background-color: #5183E4 !important;
        color: #fff !important;
    }
    :root:not([data-color-scheme=light]) .hover\:dark\:text-superDark {
        color: #fff !important;
        text-decoration: underline;
        text-decoration-color: #5183E4 !important;
        text-decoration-thickness: 1.5px;
    }
    :root:not([data-color-scheme=light]) .dark\:ring-borderMainDark {
        --tw-ring-color: #5183E4 !important;
    }
    .pl-sm {
        border-radius: 16px !important;
        background-color: #000 !important;
        width: 1000px !important;
    }