.gz-circle-loader {
  box-sizing: border-box !important;

  display: inline-block !important;
  text-indent: -9999em !important;
  margin: 0 !important;
  border-top: 8px solid rgba(0, 0, 0, 0.2) !important;
  border-right: 8px solid rgba(0, 0, 0, 0.2) !important;
  border-bottom: 8px solid rgba(0, 0, 0, 0.2) !important;
  border-left: 8px solid #000 !important;
  animation: gz-spin 1.1s infinite linear !important;

  border-radius: 50% !important;
  width: 32px !important;
  height: 32px !important;

  &:after {
    border-radius: 50% !important;
    width: 32px !important;
    height: 32px !important;
  }
}

@keyframes gz-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
