body.gyazo-select-element-mode
  *:not(.gyazo-crop-select-element):not(.gyazo-menu-element) {
  cursor: default !important;
}

.gyazo-jackup-element,
.gyazo-crop-select-element,
.gyazo-select-layer,
.gyazo-select-layer *,
.gyazo-menu.gyazo-menu-element,
.gyazo-menu * {
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: none;
}

.gyazo-jackup-element {
  height: 0;
  margin: 0 !important;
  padding: 0 !important;
  background: none !important;
  border-radius: 0 !important;
}

.gyazo-menu {
  display: block !important;
  box-sizing: border-box !important;
  position: fixed !important;
  right: 0 !important;
  top: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  background-color: #e8e8e8 !important;
  color: #4d4d4d !important;
  border: 1px solid #ccc !important;
  border-top: none !important;
  border-radius: 0 !important;
  font-family: Helvetica, Arial, sans-serif !important;
  letter-spacing: 0 !important;
  animation-duration: 0.3s !important;
  animation-name: gyazo-slidein !important;
  animation-timing-function: ease-out !important;
}

@keyframes gyazo-slidein {
  from {
    top: -60px !important;
  }

  to {
    top: 0 !important;
  }
}

.gyazo-menu.gyazo-notification {
  font-family: Helvetica, Arial, sans-serif !important;
  margin: 0 !important;
}

.gyazo-notification > .gyazo-notification-body,
.gyazo-notification .gyazo-notification-suggest {
  font-family: Helvetica, Arial, sans-serif !important;
  line-height: 18px !important;
  padding: 32px 48px !important;
  text-align: center !important;
  margin: 0 !important;
  width: 378px !important;
  box-sizing: border-box !important;
}

.gyazo-notification .gyazo-notification-suggest {
  background-color: #3e87f4;
  color: #fff;
  font-size: 13px !important;
}

.gyazo-notification > .gyazo-notification-body > div,
.gyazo-notification .gyazo-notification-suggest > div {
  font-family: Helvetica, Arial, sans-serif !important;
  width: 100% !important;
}

.gyazo-notification .gyazo-notification-title {
  font-family: Helvetica, Arial, sans-serif !important;
  padding: 0 !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.gyazo-notification-image-wrapper {
  background-color: #dcdcdc !important;
  width: 100% !important;
  height: 160px !important;
  margin: 18px 0 !important;
}

.gyazo-notification-image-wrapper > a {
  display: flex !important;
  width: 100% !important;
  height: 100% !important;
  justify-content: center !important;
  align-items: center !important;
}

.gyazo-notification .image {
  max-width: 100% !important;
  max-height: 100% !important;
  padding: 0 !important;
}

.gyazo-notification .gyazo-notification-tool-container {
  display: flex !important;
  justify-content: center !important;
  gap: 8px !important;
  width: 100% !important;
  padding: 0 !important;
  font-family: Helvetica, Arial, sans-serif !important;
}

.gyazo-notification .gyazo-notification-tool-container p {
  font-size: 13px !important;
  padding-bottom: 10px !important;
}

.gyazo-notification .gyazo-notification-button-primary {
  background-color: #3e87f4;
  border: 1px solid #3e87f4 !important;
  color: #fff;
  border-radius: 2px;
  box-shadow: none;
  transition: background-color 50ms, border-color 50ms;
  padding: 5px 30px !important;
  text-decoration: none;
  cursor: pointer;
}

.gyazo-notification .gyazo-notification-button-primary:hover {
  background-color: #2b75e4;
  border: 1px solid #2b75e4 !important;
}

.gyazo-notification .gyazo-notification-button-wrapper {
  display: flex !important;
  justify-content: center !important;
  padding: 10px 0 !important;
}

.gyazo-notification .gyazo-notification-button {
  display: flex !important;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  color: #4d4d4d !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  transition: background-color 50ms, border-color 50ms !important;
  width: 120px !important;
  height: 32px !important;
  justify-content: center !important;
  align-items: center !important;
  box-sizing: border-box !important;
  font-size: 13px !important;
  cursor: pointer !important;
  text-decoration: none !important;
}

.gyazo-notification .gyazo-notification-link {
  cursor: pointer;
  text-decoration: underline;
}

.gyazo-menu .gyazo-button-container {
  display: flex;
}

.gyazo-menu .gyazo-button {
  box-sizing: border-box !important;
  text-align: center !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 70px !important;
  height: 53px !important;
  float: left !important;
  font-size: 12px !important;
  cursor: pointer !important;
  font-family: Helvetica, Arial, sans-serif !important;
}
.gyazo-menu .gyazo-button.gyazo-menu-myimage {
  border-left: 1px solid #cccccc !important;
}
.gyazo-menu .gyazo-button.gyazo-button-active {
  color: #2378ff !important;
}
.gyazo-menu .gyazo-button.gyazo-button-active:hover {
  color: #2378ff !important;
}
.gyazo-menu .gyazo-button.gyazo-button-active > .gyazo-button-icon > svg {
  fill: #2378ff !important;
}
.gyazo-menu .gyazo-button.gyazo-button-active:hover > .gyazo-button-icon > svg {
  fill: #2378ff !important;
}
.gyazo-menu .gyazo-button:hover {
  background-color: #dedede !important;
}
.gyazo-menu .gyazo-button > .gyazo-button-icon {
  width: 20px !important;
  height: 20px !important;
  display: block !important;
  box-sizing: border-box !important;
  margin: 8px auto 3px !important;
  pointer-events: none !important;
  padding: 0 !important;
}

.gyazo-menu .gyazo-button > .gyazo-button-icon > * {
  fill: #4d4d4d !important;
  width: 20px !important;
  height: 20px !important;
  padding: 0 !important;
}

.gyazo-menu .gyazo-button.gyazo-menu-myimage > .gyazo-button-icon > svg {
  margin: 2px !important;
  width: 16px !important;
  height: 16px !important;
  padding: 0 !important;
}

.gyazo-menu .gyazo-button > .gyazo-button-preview {
  width: 60px !important;
  height: 20px !important;
  display: block !important;
  box-sizing: border-box !important;
  margin: 8px auto 3px !important;
  pointer-events: none !important;
  padding: 0 !important;
}

.gyazo-menu .gyazo-button > .gyazo-button-preview > * {
  width: 60px !important;
  height: 20px !important;
  padding: 0 !important;
  object-fit: contain;
}

.gyazo-menu .gyazo-button > .gyazo-button-text {
  width: 100% !important;
  box-sizing: border-box !important;
  font-size: 10px !important;
  line-height: 18px !important;
  pointer-events: none !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  padding: 0 !important;
  font-family: Helvetica, Arial, sans-serif !important;
}
.gyazo-menu .gyazo-close-button {
  box-sizing: border-box !important;
  text-align: center !important;
  margin: 0 !important;
  width: 25px !important;
  height: 53px !important;
  float: left !important;
  cursor: pointer !important;
  padding: 5px 0 !important;
}
.gyazo-menu .gyazo-close-button:hover > .gyazo-icon-cross > svg {
  fill: #000 !important;
  cursor: pointer !important;
}
.gyazo-menu .gyazo-close-button > .gyazo-icon-cross > svg {
  fill: #aaa !important;
  cursor: pointer !important;
  width: 15px !important;
  height: 15px !important;
}
.gyazo-menu .gyazo-close-button > .gyazo-icon-cross {
  width: 100% !important;
  cursor: pointer !important;
  display: inline-block !important;
}
.gyazo-menu .gyazo-upgrade-link {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-top: 1px solid #ccc;
}
.gyazo-menu .gyazo-upgrade-link a {
  color: #4d4d4d;
  font-weight: bold;
}
.gyazo-menu .gyazo-spin {
  width: 24px !important;
  height: 24px !important;
  display: inline-block !important;
  animation: gyazo-spin 2s infinite linear !important;
  margin: 14.5px 0 !important;
}

.gyazo-menu .gyazo-spin > svg {
  fill: #595959 !important;
  width: 24px !important;
  height: 24px !important;
}
@keyframes gyazo-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
