body {
    padding : 10px ;
    
  }
  
  #exTab2 h3 {
    padding : 5px 15px;
  }

  .container {
      width: 450px;
  }

  .expand-icon {
    float: right;
    font-size: 23px;
  }

  .item-list {
      display: none;
      padding-left: 0px;
      padding-right: 40px;
      padding-top: 10px;
      color:#606060;
  }

  .grey-color {
    color:#606060;
  }

  .settings-header {
    font-size: 24px;
    padding-bottom: 7px;
  }
  
  
  
  
  
  
  