.logo-row {
  width: 250px;
  margin: 20px auto;
}

.logo {
  text-align: center;
}

body {
  background-color: #e8f7fd;
  overflow-x: hidden;
}

.header {
  font-family: Optimist;
  text-align: center;
  width: 873px;
  margin: auto;
  font-size: 39px;
  line-height: 47px;
  color: #163d58;
  margin-top: 60px;
}

.sub-header {
  margin-top: 30px;
  font-family: Optimist;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 31px;
  text-align: center;

  color: #163d58;
}

.content-box {
  padding: 15px;
  background: #ffffff;
  border-radius: 8px;
  width: 873px;
  margin: 30px auto;
  font-family: Optimist;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  color: #003362;
}

a {
  color: #003362 !important;
}

.cta-container {
  text-align: center;
}
.cta {
  background: #128020;
  border-radius: 5px;
  font-family: Optimist;
  font-size: 22.5px;
  color: #ffffff;
  padding: 10px 15px;
  cursor: pointer;
  width: 250px;
  height: 63px;
  margin-bottom: 25px;
}

.eno {
  position: absolute;
  right: -100px;
  top: -100px;
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 1000px) {
  .header {
    width: 640px;
    font-size: 29px;
    line-height: 37px;
  }

  .sub-header {
    font-size: 19px;
    line-height: 25px;
  }
  .content-box {
    width: 640px;
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    width: 450px;
    font-size: 15px;
    line-height: 27px;
  }

  .sub-header {
    font-size: 13px;
    line-height: 25px;
  }

  .content-box {
    width: 400px;
  }
}

@media screen and (max-width: 1250px) {
  .eno {
    right: -35px;
    top: -40px;
    width: 100px;
    height: 100px;
  }
}

li {
  margin-bottom: 15px;
}

.virtualCards {
  width: 1600px;
  margin-left: -750px;
  margin-bottom: -5px;
  position: absolute;
  left: 50%;
  z-index: -1;
  bottom: -40px;
}

.virtualCards img {
  margin: 0px -30px;
  display: inline-block;
}

/* ON/OFF Switch */
.onoffswitch {
  position: relative;
  width: 33px;
  display: inline-block;
  font-size: 80%;
}
.onoffswitch .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 90%);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin: 0;
}
.onoffswitch .onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.15s ease-in-out;
  -o-transition: margin 0.15s ease-in-out;
  -moz-transition: margin 0.15s ease-in-out;
  transition: margin 0.15s ease-in-out;
}
.onoffswitch .onoffswitch-inner:before,
.onoffswitch .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 18px;
  padding: 0;
  line-height: 24px;
  font-size: 80%;
  color: hsl(0, 0%, 100%);
  font-weight: normal;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffswitch .onoffswitch-inner:before {
  content: '';
  padding-left: 10px;
  background-color: #128020;
  color: hsl(0, 0%, 100%);
}
.onoffswitch .onoffswitch-inner:after {
  content: '';
  padding-right: 10px;
  background-color: #c2c2c2;
  color: hsl(0, 0%, 24%);
  text-align: right;
}
.onoffswitch .onoffswitch-switch {
  width: 14px;
  height: 14px;
  margin: 0;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  bottom: 0;
  right: 16px;
  -webkit-transition: right 0.15s ease-in-out;
  -o-transition: right 0.15s ease-in-out;
  -moz-transition: right 0.15s ease-in-out;
  transition: right 0.15s ease-in-out;
}
.toggle-group {
  position: relative;
  height: 27px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  top: 50%;
  width: 345px;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}
.toggle-group input[type='checkbox'] {
  position: absolute;
  left: 10px;
}
.toggle-group
  input[type='checkbox']:checked
  ~ .onoffswitch
  .onoffswitch-label
  .onoffswitch-inner {
  margin-left: 0;
}
.toggle-group
  input[type='checkbox']:checked
  ~ .onoffswitch
  .onoffswitch-label
  .onoffswitch-switch {
  right: 2px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.toggle-group input[type='checkbox']:focus ~ .onoffswitch {
  outline: thin solid #0d74af;
}
.toggle-group label {
  position: absolute;
  cursor: pointer;
  padding-left: 50px;
  display: inline-block;
  text-align: left;
  line-height: 20px;
  width: 100%;
  z-index: 1;
  height: 24px;
  font-size: 14px;
  color: #273b49;
  left: -10px;
  top: -1px;
}
/* ==== Accessibility ===== */
.aural {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.aural:focus {
  clip: rect(0, 0, 0, 0);
  font-size: 1em;
  height: auto;
  outline: thin dotted;
  position: static !important;
  width: auto;
  overflow: visible;
}
