<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline"><strong i18n-content="settings_privacy_consent"></strong></span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p class="privacy-paragraph" i18n-content="privacy_card_paragraph"></p>
        <md-switch class="pref-value md-primary" ng-model="privacyConsent.googleAnalytics"
            ng-change="updatePrivacyPreference('disableGoogleAnalytics', privacyConsent.googleAnalytics)">
            <span i18n-content="privacy_card_optout"></span>
        </md-switch>
        <p i18n-content="privacy_card_more_info"></p>
    </md-card-content>
</md-card>
