.ad{background-position:0 -0px;}
.ae{background-position:0 -18px;}
.af{background-position:0 -36px;}
.ag{background-position:0 -54px;}
.ai{background-position:0 -72px;}
.al{background-position:0 -90px;}
.am{background-position:0 -108px;}
.an{background-position:0 -126px;}
.ao{background-position:0 -144px;}
.ar{background-position:0 -162px;}
.as{background-position:0 -180px;}
.at{background-position:0 -198px;}
.au{background-position:0 -216px;}
.aw{background-position:0 -234px;}
.az{background-position:0 -252px;}
.ba{background-position:0 -270px;}
.bb{background-position:0 -288px;}
.bd{background-position:0 -306px;}
.be{background-position:0 -324px;}
.bf{background-position:0 -342px;}
.bg{background-position:0 -360px;}
.bh{background-position:0 -378px;}
.bi{background-position:0 -396px;}
.bj{background-position:0 -414px;}
.bm{background-position:0 -432px;}
.bn{background-position:0 -450px;}
.bo{background-position:0 -468px;}
.br{background-position:0 -486px;}
.bs{background-position:0 -504px;}
.bt{background-position:0 -522px;}
.bw{background-position:0 -540px;}
.by{background-position:0 -558px;}
.bz{background-position:0 -576px;}
.ca{background-position:0 -594px;}
.cd{background-position:0 -612px;}
.cf{background-position:0 -630px;}
.cg{background-position:0 -648px;}
.ch{background-position:0 -666px;}
.ci{background-position:0 -684px;}
.ck{background-position:0 -702px;}
.cl{background-position:0 -720px;}
.cm{background-position:0 -738px;}
.cn{background-position:0 -756px;}
.co{background-position:0 -774px;}
.cr{background-position:0 -792px;}
.cs{background-position:0 -810px;}
.cu{background-position:0 -828px;}
.cv{background-position:0 -846px;}
.cy{background-position:0 -864px;}
.cz{background-position:0 -882px;}
.de{background-position:0 -900px;}
.dj{background-position:0 -918px;}
.dk{background-position:0 -936px;}
.dm{background-position:0 -954px;}
.do{background-position:0 -972px;}
.dz{background-position:0 -990px;}
.ec{background-position:0 -1008px;}
.ee{background-position:0 -1026px;}
.eg{background-position:0 -1044px;}
.er{background-position:0 -1062px;}
.es{background-position:0 -1080px;}
.et{background-position:0 -1098px;}
.fi{background-position:0 -1116px;}
.fj{background-position:0 -1134px;}
.fk{background-position:0 -1152px;}
.fm{background-position:0 -1170px;}
.fo{background-position:0 -1188px;}
.fr{background-position:0 -1206px;}
.ga{background-position:0 -1224px;}
.gb{background-position:0 -1242px;}
.uk{background-position:0 -1242px;}
.gd{background-position:0 -1260px;}
.ge{background-position:0 -1278px;}
.gh{background-position:0 -1296px;}
.gi{background-position:0 -1314px;}
.gl{background-position:0 -1332px;}
.gm{background-position:0 -1350px;}
.gn{background-position:0 -1368px;}
.gq{background-position:0 -1386px;}
.gr{background-position:0 -1404px;}
.gt{background-position:0 -1422px;}
.gu{background-position:0 -1440px;}
.gw{background-position:0 -1458px;}
.gy{background-position:0 -1476px;}
.hk{background-position:0 -1494px;}
.hn{background-position:0 -1512px;}
.hr{background-position:0 -1530px;}
.ht{background-position:0 -1548px;}
.hu{background-position:0 -1566px;}
.id{background-position:0 -1584px;}
.ie{background-position:0 -1602px;}
.il{background-position:0 -1620px;}
.in{background-position:0 -1638px;}
.io{background-position:0 -1656px;}
.iq{background-position:0 -1674px;}
.ir{background-position:0 -1692px;}
.is{background-position:0 -1710px;}
.it{background-position:0 -1728px;}
.jm{background-position:0 -1746px;}
.jo{background-position:0 -1764px;}
.jp{background-position:0 -1782px;}
.ke{background-position:0 -1800px;}
.kg{background-position:0 -1818px;}
.kh{background-position:0 -1836px;}
.ki{background-position:0 -1854px;}
.km{background-position:0 -1872px;}
.kn{background-position:0 -1890px;}
.kr{background-position:0 -1908px;}
.kw{background-position:0 -1926px;}
.ky{background-position:0 -1944px;}
.kz{background-position:0 -1962px;}
.la{background-position:0 -1980px;}
.lb{background-position:0 -1998px;}
.lc{background-position:0 -2016px;}
.li{background-position:0 -2034px;}
.lk{background-position:0 -2052px;}
.lr{background-position:0 -2070px;}
.ls{background-position:0 -2088px;}
.lt{background-position:0 -2106px;}
.lu{background-position:0 -2124px;}
.lv{background-position:0 -2142px;}
.ly{background-position:0 -2160px;}
.ma{background-position:0 -2178px;}
.mc{background-position:0 -2196px;}
.md{background-position:0 -2214px;}
.mg{background-position:0 -2232px;}
.mh{background-position:0 -2250px;}
.mk{background-position:0 -2268px;}
.ml{background-position:0 -2286px;}
.mn{background-position:0 -2304px;}
.mo{background-position:0 -2322px;}
.mp{background-position:0 -2340px;}
.mq{background-position:0 -2358px;}
.mr{background-position:0 -2376px;}
.ms{background-position:0 -2394px;}
.mt{background-position:0 -2412px;}
.mu{background-position:0 -2430px;}
.mv{background-position:0 -2448px;}
.mw{background-position:0 -2466px;}
.mx{background-position:0 -2484px;}
.my{background-position:0 -2502px;}
.mz{background-position:0 -2520px;}
.na{background-position:0 -2538px;}
.ne{background-position:0 -2556px;}
.nf{background-position:0 -2574px;}
.ng{background-position:0 -2592px;}
.ni{background-position:0 -2610px;}
.nl{background-position:0 -2628px;}
.no{background-position:0 -2646px;}
.np{background-position:0 -2664px;}
.nr{background-position:0 -2682px;}
.nu{background-position:0 -2700px;}
.nz{background-position:0 -2718px;}
.om{background-position:0 -2736px;}
.pa{background-position:0 -2754px;}
.pe{background-position:0 -2772px;}
.pf{background-position:0 -2790px;}
.pg{background-position:0 -2808px;}
.ph{background-position:0 -2826px;}
.pk{background-position:0 -2844px;}
.pl{background-position:0 -2862px;}
.pr{background-position:0 -2880px;}
.pt{background-position:0 -2898px;}
.pw{background-position:0 -2916px;}
.py{background-position:0 -2934px;}
.qa{background-position:0 -2952px;}
.ro{background-position:0 -2970px;}
.ru{background-position:0 -2988px;}
.rw{background-position:0 -3006px;}
.sa{background-position:0 -3024px;}
.sb{background-position:0 -3042px;}
.sc{background-position:0 -3060px;}
.sd{background-position:0 -3078px;}
.se{background-position:0 -3096px;}
.sg{background-position:0 -3114px;}
.si{background-position:0 -3132px;}
.sk{background-position:0 -3150px;}
.sl{background-position:0 -3168px;}
.sm{background-position:0 -3186px;}
.sn{background-position:0 -3204px;}
.so{background-position:0 -3222px;}
.sr{background-position:0 -3240px;}
.st{background-position:0 -3258px;}
.sv{background-position:0 -3276px;}
.sy{background-position:0 -3294px;}
.sz{background-position:0 -3312px;}
.tc{background-position:0 -3330px;}
.td{background-position:0 -3348px;}
.tg{background-position:0 -3366px;}
.th{background-position:0 -3384px;}
.tj{background-position:0 -3402px;}
.tm{background-position:0 -3420px;}
.tn{background-position:0 -3438px;}
.to{background-position:0 -3456px;}
.tr{background-position:0 -3474px;}
.tt{background-position:0 -3492px;}
.tv{background-position:0 -3510px;}
.tw{background-position:0 -3528px;}
.tz{background-position:0 -3546px;}
.ua{background-position:0 -3564px;}
.ug{background-position:0 -3582px;}
.us{background-position:0 -3600px;}
.uy{background-position:0 -3618px;}
.uz{background-position:0 -3636px;}
.vc{background-position:0 -3654px;}
.ve{background-position:0 -3672px;}
.vg{background-position:0 -3690px;}
.vi{background-position:0 -3708px;}
.vn{background-position:0 -3726px;}
.vu{background-position:0 -3744px;}
.wf{background-position:0 -3762px;}
.ws{background-position:0 -3780px;}
.ye{background-position:0 -3798px;}
.za{background-position:0 -3816px;}
.zm{background-position:0 -3834px;}
.zw{background-position:0 -3852px;}
.un{background-position:0 -3870px;}