body {
  width: 408px;
  font-family: Arimo;
  font-size:14px;
}

span.button {
  width: 230px;
}
span.button.small {
  width: 140px;
}
span.button.gauge {
  width: 210px;
}

.block.body .input-wrap em {
  font-size: 12px;
}

.block.body .input-wrap .search-wrap input {
  width: 290px;
}