body {
  direction:rtl;
}

#main-list-box li span {
  direction:rtl;
}

.block.body .input-wrap .list li i.flag {
  margin: 13px 0 0 10px;
}

.block.body .input-wrap {
  padding: 15px 15px 15px 50px;
}

.block.body .input-wrap.no-close {
  padding-left: 15px;
}

.block.body .input-wrap i.close {
  left:15px;
  right:auto;
}

.block.body span.message-wrap em i {
  left: 20px;
  right: auto;
}

.block.body .input-wrap .list li i.star {
  margin: 12px 0 0 10px;
}