:root {
  --cr-color: #030303;
  --cr-bg: #fff;
}

:root[dark] {
  --cr-color: #fff;
  --cr-bg: #212121;
}

.cr-chat {
  min-height: min(720px, 80vh);
}

.cr-intro {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9990;
  background: linear-gradient(45deg, #8000FF, #FF5353);
  color: var(--cr-color);
  margin: 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.4rem;
  max-width: 500px;
}

.cr-intro > div {
  background: var(--cr-bg);
  padding: 8px;
  margin: 4px;
  border-radius: 4px;
}

.cr-dismiss {
  font-style: italic;
}