@charset "utf-8";
/* äöü */

html, body, div, header, footer {
	margin: 0;
	padding: 0;
}

#qr {
	display: flex;
	margin: 4px;
	border: thin solid #DDD;
	border-radius: 6px;
	padding: 6px;
}

#qr > * {
	display: block;
	align-self: center;
}

#noqr {
	display: block;
	width: 48px;
	height: 48px;
	margin: auto;

	/* background-image: url(opera://theme/IDR_LOGO_DEV); */
	background: center center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAANg0lEQVRoBdVZWWxc1Rn%2Bz71zZ%2FGM4%2FEe45CkTQIoJGwJKaEqCq26SZVKI1UqaikVpVShFVJKEfDQUp4AtZQnimhfoHSTUKtWVEIIidCqTUiahCULtCFkcSZxvMX22DPjucvp950z155xbGxDH8qx7tzt3O%2F%2F%2F%2B9fzmKltZaPcnM%2ByspT98T%2FwoDJLVuWh4GzDWxsFSVXiFYfEy0dwM6KoofVJO6HlKNPaK3eEdF7VCJ6NbtvX%2F%2BHla8%2BaAidufHGTHM5%2FLojzjckmbgp0d2h3PY27eZbyk4yqcURTyIQpKi%2FBDDAj6aqKhwdzwRDIyocGNSRX%2F27aOc3xYz67Yrdu8sfxJilG7B5szcaOneLUvd7y7t7kmtWB14mo6RSdmVqSsT3RYJQdBSC%2FFp%2BKSXadUQl4PBEUiTliWQyoV%2Bq6Op7pxL%2Buf5z8Npj%2BXzmSdm1K1iKIUsyYOjqrdc5TvSs19m5oWnjFaHj%2B65MToiqVEQiDZK1IZy%2FUNnc8dzY6BIEEQySJIzJNUvoeWH50NtudWDwda2jOzve3H%2Bw8Zv57xZtwOC1W76l3MRTuWs2pFPZjMjomEi1KhAIdKswz%2BIlRGcyotIpERdM04AwFHhIpAxDAxBsPFMzEd6RJPrm8zI1UZKJNw%2FDLcGOzrf2PTO%2F2jNvFmXAuas2P%2BDlso8s27JJEpNFkQnkJEPEqmfUFwd3ULzSlJVjJ07K2VOnZbI4YfjPNeekZ%2BVKuWzNaklPTsIQGAOPGeNiXRxXVC4rQbZZj%2B47oILS5IM9b%2Bx%2FNH4933lBAwobN9%2BbaM7%2BrP36TaJGh8Ekw4VwUIAWsJHFbBZlxpXdu%2F4WVsuVp7SSZ3MqPMrXE9pdj2J0eyqT3nHDp7e5nSG8UCoBwgCxi2nGjyAham2VkX0HpVqc%2FOGlh%2FY%2FHr%2Bf6%2Fy%2BBpzeuOlLbib1584btrjuhRHRVD6O6VpoU3edSksx2yyvvPhSuRoGX761cOrluYT9vnfVZ1Ou%2B5ebv%2Fj5TDNyx5AxuyMBUymJ2tplcM%2B%2FwrBSuWXloQN%2Fnd0tvp93IDu5YctyJOMzrddd6zqjFyQybkcsM1l5II55RHRDNicHXtsrke%2FfO5%2FyFMh3oR%2Fce%2FC1feYbJnuMw1wy1whNEuWAsLbN17jw0TPUJVZ49nleA0IJnmz6%2BKp2r1oRjbjVSMQIaJH5qTMi4ckgEvTC4OCRo%2F19T88WMPuefUYGho4MMqGZ8ExoYFrlIYDEhJFECDEPuNk1q9upy2yc%2BH5OA45eefWndDq1PX9Jt%2BixcYmgvGXKCooMW7QGwuHuU8eOc8D9xUO2JMXYc55tH%2F3kyWPvIvRS8CaUpdI1r0axd0nYeFFaepaLTie3v73%2BqpvmApzTAB2ph1vXrpFodJRhUQsbKE9wshUzxnxIetJ%2FpiCBE74wl4C5nrlu9ML5wlnRHsYBNIsbY%2FOMUGV4QrZG%2BLauXSuRcn5iOs%2F6uciAg1dsvErS3s05lDRdKhtlDePGuzVXG8bAnOPIWAkh5gdHv1Yo9M3Cnvd2%2B5kzZ0LfPzqOWNeoXCb%2BDTk1I6h8TBJ0yOWaSNTNRrdZqBcZgPJ357LeXomKRYkw6NjYBDDDhu6uEySo3WOj44TcOwt3wVsI3juOwVAnHIOrdRymNCI%2BIA86UJcW6IRy8e3ZwI0GKKWCSH%2BlpTUvulyqU5qK2xAyCRcbohyZHB9D%2FKtjs4EXulc6OlbkaA4MEG4PI2NG1nS4ogI2t%2BWlqvV2jDmwY6Y1GLB73ZVXJ9LpFV4cfzVAAjFhmWz24D0OCC9PoJ470X9mIBd3hWn1vyuTIImllEWCSVvDJ3aEPIhJYy4kUZmoG3Wsl9BggK%2BjrU35FlPzTeUJGYvWncwDArPEaTynm9mmEMdupAv1oIu5diTqn%2BLYgsYwtZWIXraGxKEbIbSoSwQ5GehGHevxGxY0iLZNmVxOIkyLTRwCmIGHTMMZSpsvrQf5Cs6XAH1D7QzWgy7m2g1lJKhCDv4ikGLkxB9Oy8UDIw59MHFswoBJHeNuPDcaoGVNCqUtqtjJmvkaYHQzfmoyIAzNGIN3QTWQRCJEMC%2Bt%2BYlwxKuiRAOI3kUe1QCIzBE61t3eM4zS6YwE0LFeUoMBiLnVScwqIygFVPSzrHPiy2afWGBzTeYgPCgll7QIIZaaylQlAXyGJfOpRg9xKc9KZE%2BrhfKr4jXlJISO5mHtp8EApFLexZdMICrG0CGUBSUQWeK9ZYthRvfn8w5neUtqfm%2B2lBouQgwFAsd8TUmUwGZl8cokOvRxkQ%2FUkc%2Fi1pDEUDvnoKNJJCawMQIKw59MMhrFa3vGNf%2FA3rYTJ5ZswFcPH67aKoOKA0zjCWLTIHO2z20RsV5yaGgkuVh5nhs8QE9al1Jp60rONrmxwBDlM%2FwaRswV2Le%2B4N3SmwlNgE6HEOXgz7DPkxEYS6BOmh6IHxiBjR7Q0UQAK%2FgdQWPrzVQCypq5GlgwZ3ZCHwfjyovr1mFNuLR2QG32XHyrA7BGzBquOZNJo8fMcyoV2rECS8KZ1uABWDcWBGHeMM6ojGrG8mQYwYnX9BR%2BOPg4WJyXhwIskgVbEotvffnhbA5TEROuMThwTSOBMZRhEzeQUwWJ0HE0fsVzgwcQiyfKfmBHa5PHjD2wQPYNQzOM2IEGHgBIcxa7E0tsqXTF46TAhA8HRh5QNsa1cnlvZRO%2BwnmR1ifrRTUYEGp9vMjREcgmbMhELXEtEMFqxhjDQkm4LoDdlnrQxVyrwGlLOFjQmLCgS2NsnKfl1mThHact1A0eOF6P32BAoNT%2BYew6KIwFlo0YoJ4dg27fQ7iHFZkXRJ31oIu6dlSb5yGEgDHNfOyBBtKsbAc6jWDeFURqfz1%2BQw5EkdoziE6qrcOEzHQkQuc4DfgxGTJeMgZg99CVS%2BpBF3ONaUh3EsZHZhcPSk5HvZU0s9NkhIHUhAxMYHUoak89foMH7iiceAuLjP4SwkRhsVLPDCJm%2Bp4WmCoFA9LcXdPRZfWgi7lGobg8hW%2FtcnXG03H1iccgjhVkrwSvjFem%2BqljPX6DAdQQDv3j6bFRcbCPaQ2gftaNhnkYwvLK0mfmJ9xVE1lXD7qYa%2Bh0WRrfRkFtyUofQIAhqibPKI9n1KVvnOxHz5tOdQIaDcCL0NG%2FfHdkWFy4lxMsUyWoOZkwCWwTjqMn3Z9JJVmJttRhLvJSXd8ED4TY5LIjMb1KNxPfEoQLg%2BVignlsZAj5Ir%2BaDX6RATv6%2Bt6a8P1X%2BrAic1BhWH3oTrJuBFFx4uIcgr0kqoOr3I0vd65cdB6wLwaxjUmEaeSzXscephGsQpRhZRr2J8syUfVfuau%2F79CCBrCDdqIfvzF4XhxseygoWNPYCqq5l2zRqBCzxGXY%2B3Sc8JbZ4PPdOzq8pQXrjqC2OWy9bD2MX2MAjeLq0UWYvTHUj8iIHpoL7yIPsNP3C4V%2FFn3%2FT0eQCwnu53PIN%2BFTY4pG0L0QwkVJe0sLVpWy83mFerRAexiMAG5ne77VGmAIYXQSGx8bDzCMlCQQOoew5qYu9xQK%2F5gLek4D2DHy1T2HLwwNj8PNDod8o681AOi4t67G9oik4KVMOrO2vaPnO3MJqX92U0fPndl0ei1oMSFoC4WNe3ttDWH4UvaRkaHhalj9Xj1G%2FfW8Buwc6itgJfrNXef6wgih5AIwVtywZGRCGJibqpTk0q4uTFecx3d1rPhMvYD6a75zHOeJFZ3dUp2qmDgnEWTHKM%2F5FYhyQViEDeNdhdOhL%2BHt9w0MzPu%2FtPfdnabwny6%2FZOeyRPLnX%2BhGjmKvMuRekdGKvxxueFLicSkKwaf7z%2Fqo7dxefy6Vdo%2Fw9VQlvBLxfJsSZ8eqnh7PwYLJR%2B7UgNjFXAIGUxOU73STvHT%2BjIwF%2Fg%2Fu6z%2F7hOkwz8%2BCBvC7x7qWP9DsJR%2F5XFevpJB4fhD%2FZ4ZvaQLXTEw4DzmTklFsBhexfT4F%2FqgZR9xl%2BP9BHovy0J%2BSABNGcM6PpxsTliRUPE9eHjiLuK8%2BeP9A%2F4f%2FB0cs4ZHu7tuSyn16a1tXZhWUrFbLiCSbB%2BxD9qgTR3CymMDgw2s29uNcPkDZ5bXxmu1uDcdUOYmQOYn3e4bPl6tavvvg%2BbPPmY8X%2BFmUB2KMR7u6rsUE%2Bte96aYNn2jtkGZMs%2BmNECFhBqFaxzi4yHK9suYGscVnrM4u5jceGC%2FiZu%2FokBQqpcPMux8NDLwey1zovCQDCIYymEh0dt%2BNbHvg0qZcz%2FrcMulxPaxLAkWWWW7NgMcgQYJaA6A0lHR4YFbJquYkXH0O3xwtjktfefIcOj7aOXj%2Bqbu0Rtwtvi3ZAMSqIfCOjo5sr7i3osDe1uS4n%2BxNZ9TyZEbymB40O26QRj9Ha9Z8zOGxVwZ7xqMwMYoc6vfLUiiX9EQYvVaR8Hf7qtU%2FvFrEDi76xQeqUmOSzGPTkgygTsDhFJwzOOx5CxcyXSs875rLvdS2TtdZv8x1u7LKyWUcBykpChoppGxUwtxgPIqqF6Jg8ozvnz%2Fu%2B%2B%2BMhOHb%2BP49HFykcHePy0X890%2B4y4H1FWY%2FC7SlGmAjwi5FY2P4z%2BA0Dq6LedA4jlN8zsHDZvIMuwwR1FCjJBXlBikPPqfCPMg%2BnbCgF5ZkAED%2F79p%2FAe6fN7aAVo86AAAAAElFTkSuQmCC);
}

footer {
	display: none;
}

/*
	background-image: url(http://chart.apis.google.com/chart?cht=qr&chs=200x200&chld=Q&choe=UTF-8&chl=http%3A%2F%2Fmy.opera.com%2Fxantares%2F);
*/


.ui-icon {
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(ui-icons_222222_256x240.png);
}

.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }

.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
