.translate-tooltip-mtz * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-shadow: none !important;
}

.translate-tooltip-mtz.hidden {
  display: none !important;
}

.translate-button-mtz.hidden {
  display: none !important;
}

.translator-hidden {
  display: none !important;
}

.translator-bold {
  font-weight: bold !important;
}

.translator-buttons {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.translator-buttons span.copy, .translator-buttons span.sound, .translator-buttons span.soundnative {
  width: 22px !important;
  height: 24px !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.translator-buttons span.copy {
  margin-right: 10px !important;
  background-image: url("moz-extension://__MSG_@@extension_id__/images/copy.png") !important;
}

.translator-buttons span.copy:hover {
  cursor: pointer !important;
  background-color: rgba(11, 71, 235, 0.1);
}

.translator-buttons span.copy.copied {
  background-image: url("moz-extension://__MSG_@@extension_id__/images/copied.png") !important;
}

.translator-buttons span.sound {
  background-image: url("moz-extension://__MSG_@@extension_id__/images/sound-translate.png") !important;
}

.translator-buttons span.sound:hover {
  cursor: pointer !important;
  background-color: rgba(11, 71, 235, 0.1);
}

.translator-buttons span.soundnative {
  background-image: url("moz-extension://__MSG_@@extension_id__/images/sound-translate.png") !important;
}

.translator-buttons span.soundnative:hover {
  cursor: pointer !important;
  background-color: rgba(11, 71, 235, 0.1);
}

span.translate-button-mtz {
  position: absolute !important;
  width: 25px !important;
  height: 25px !important;
  background: url("moz-extension://__MSG_@@extension_id__/images/48.png") no-repeat !important;
  background-size: 25px !important;
  z-index: 10000 !important;
}

div.translate-tooltip-mtz {
  position: absolute !important;
  width: 320px !important;
  height: 400px !important;
  padding: 10px !important;
  border: 1px solid #1a73e8 !important;
  border-radius: 5px !important;
  color: rgb(105, 105, 105) !important;
  background-color: #fff !important;
  overflow: hidden !important;
  z-index: 100001 !important;
}

div.translate-tooltip-mtz .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  height: 40px !important;
  margin-bottom: 20px !important;
  background-color: #fff !important;
}

div.translate-tooltip-mtz .header .header-controls {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

div.translate-tooltip-mtz .header .header-controls .sound-translate, div.translate-tooltip-mtz .header .header-controls .settings, div.translate-tooltip-mtz .header .header-controls .support {
  width: 25px !important;
  height: 25px !important;
}

div.translate-tooltip-mtz .header .header-controls .sound-translate {
  background: url("moz-extension://__MSG_@@extension_id__/images/sound-translate.png") no-repeat !important;
  background-size: 25px !important;
}

div.translate-tooltip-mtz .header .header-controls .sound-translate:hover {
  cursor: pointer !important;
  background: linear-gradient(to right, rgba(11, 71, 235, 0.1), rgba(59, 84, 194, 0.1)), url("moz-extension://__MSG_@@extension_id__/images/sound-translate.png") no-repeat !important;
  background-size: 25px !important;
}

div.translate-tooltip-mtz .header .header-controls .sound-translate:hover {
  cursor: pointer;
}

div.translate-tooltip-mtz .header .header-controls .settings {
  margin-left: 5px !important;
  background: url("moz-extension://__MSG_@@extension_id__/images/settings.png") no-repeat !important;
  background-size: 25px !important;
}

div.translate-tooltip-mtz .header .header-controls .settings:hover {
  cursor: pointer !important;
  background: linear-gradient(to right, rgba(11, 71, 235, 0.1), rgba(59, 84, 194, 0.1)), url("moz-extension://__MSG_@@extension_id__/images/settings.png") no-repeat !important;
  background-size: 25px !important;
}

div.translate-tooltip-mtz .header .header-controls .support {
  margin-left: 5px !important;
  background: url("moz-extension://__MSG_@@extension_id__/images/support.png") no-repeat !important;
  background-size: 25px !important;
}

div.translate-tooltip-mtz .header .header-controls .support:hover {
  cursor: pointer !important;
  background: linear-gradient(to right, rgba(11, 71, 235, 0.1), rgba(59, 84, 194, 0.1)), url("moz-extension://__MSG_@@extension_id__/images/support.png") no-repeat !important;
  background-size: 25px !important;
}

div.translate-tooltip-mtz .header .translate-icons {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

div.translate-tooltip-mtz .header .translate-icons img {
  width: 25px !important;
  height: 25px !important;
  margin-left: 5px !important;
}

div.translate-tooltip-mtz .header .translate-icons img::first-child {
  margin-left: 0 !important;
}

div.translate-tooltip-mtz .header .translate-icons img.arrow {
  width: 17px !important;
  height: 15px !important;
}

div.translate-tooltip-mtz .main-translate-word .ananas img {
  width: 25px !important;
  height: 25px !important;
  margin-left: 5px !important;
}

div.translate-tooltip-mtz .main-translate-word {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  padding-bottom: 10px;
}

div.translate-tooltip-mtz .main-translate-word .ananas .main-word {
  font-size: 22px !important;
}

div.translate-tooltip-mtz .main-translate-word .ananas .main-word::first-letter {
  text-transform: uppercase !important;
}

div.translate-tooltip-mtz .main-source-word .ananas img {
  width: 25px !important;
  height: 25px !important;
  margin-left: 5px !important;
}

div.translate-tooltip-mtz .main-source-word {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  padding-bottom: 10px;
}

div.translate-tooltip-mtz .main-source-word .ananas .main-word {
  font-size: 22px !important;
}

div.translate-tooltip-mtz .main-source-word .ananas .main-word::first-letter {
  text-transform: uppercase !important;
}

div.translate-tooltip-mtz .translated-text {
  width: 98%;
  background-color: #fff !important;
}

div.translate-tooltip-mtz .translated-text .translated-categories {
  width: 100% !important;
  height: 230px !important;
  padding-bottom: 10px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

div.translate-tooltip-mtz .translated-text .translated-categories::-webkit-scrollbar {
  width: 10px !important;
  margin: 0 5px !important;
  padding-left: 10px;
}

div.translate-tooltip-mtz .translated-text .translated-categories::-webkit-scrollbar-track {
  border-radius: 5px !important;
  margin: 0 5px !important;
  padding-left: 10px;
}

div.translate-tooltip-mtz .translated-text .translated-categories::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  background-color: #1a73e8 !important;
  margin: 0 5px !important;
  padding-left: 10px;
}

div.translate-tooltip-mtz .translated-text .translated-category h2.word-category {
  padding-bottom: 10px !important;
  margin: 10px 0 !important;
  padding-right: 10px;
  color: #1a73e8;
  font-size: 20px !important;
}

div.translate-tooltip-mtz .translated-text .translated-category .translates span {
  display: inline-block !important;
  max-width: 220px !important;
  padding-right: 10px;
}

div.translate-tooltip-mtz .translated-text .translated-category .translated-word {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  margin: 4px 0 0 0 !important;
  padding-right: 10px;
}

div.translate-tooltip-mtz .translated-text .translated-category .translated-word span.word-text {
  max-width: 220px !important;
  padding-right: 10px;
}

div.translate-tooltip-mtz .sentences {
  overflow-x: hidden !important;
  overflow-y: auto !important;
  height: 280px !important;
}

div.translate-tooltip-mtz .sentences::-webkit-scrollbar {
  width: 10px !important;
}

div.translate-tooltip-mtz .sentences::-webkit-scrollbar-track {
  border-radius: 5px !important;
}

div.translate-tooltip-mtz .sentences::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  background-color: #1a73e8 !important;
}

div.translate-tooltip-mtz .sentences .translated-sentence-wrapper {
  width: 98% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  padding-right: 10px;
}

div.translate-tooltip-mtz .sentences .translated-sentence-wrapper .translated-sentence {
  max-width: 225px !important;
}

div.translate-tooltip-mtz .sentences .translit {
  max-width: 225px !important;
  color: rgb(201, 201, 201);
}

.audio-for-speech {
  position: absolute !important;
  left: -100% !important;
}
/*# sourceMappingURL=content.css.map */