/*
 * Drag and drop
 */

.copy_btn {
  color: #0d74af;
  padding: 3px 5px;
  text-align: center;
  border-radius: 15%;
  cursor: pointer;
  line-height: 1;
  font-size: 10px;
}

#copy_card_number.copy_btn {
  position: absolute;
  top: 271px;
  left: 275px;
  z-index: 2147483647;
  line-height: 1.2;
  width: 14px;
  height: 14px;
}
.check_mark {
  font-size: 10px;
}
#copy_card_number_success.check_mark {
  position: absolute;
  top: 275px;
  left: 298px;
  z-index: 2147483647;
}

#copy_security_code_success.check_mark {
  position: absolute;
  top: 308px;
  left: 254px;
  z-index: 2147483647;
}

/*Mobile CSS for Checkmarks*/
@media screen and (max-width: 600px) {
  #copy_card_number_success.check_mark {
    top: 232px;
    left: 306px;
  }

  #copy_security_code_success.check_mark {
    top: 260px;
    left: 275px;
  }
}

#copy_security_code.copy_btn {
  position: absolute;
  top: 302px;
  left: 230px;
  z-index: 2147483647;
  line-height: 1.2;
}

.c1_card_info #c1_ext_cvc {
  position: absolute;
  top: 302px;
  left: 166px;
  font-family: Optimist, sans-serif;
  white-space: nowrap;
  font-weight: normal;
  font-size: 13px;
  overflow: hidden;
  border-radius: 5px;
  line-height: 1.02;
  color: #273b49;
  letter-spacing: 0.7px !important;
  background-color: #d2e5f0;
  padding: 4px;
  z-index: 2147483647;
  cursor: move;
}
.c1_card_info #c1_ext_cvc.expiring-soon {
  top: 290px;
  left: 180px;
}
.c1_card_info #c1_ext_cc.expiring-soon {
  top: 262px;
}
.c1_card_info #c1_ext_cc {
  position: absolute;
  top: 270px;
  left: 92px;
  font-family: Optimist, sans-serif;
  white-space: nowrap;
  font-weight: normal;
  font-size: 17px;
  overflow: hidden;
  line-height: 1;
  border-radius: 5px;
  color: #273b49;
  letter-spacing: 0.8px !important;
  z-index: 2147483647;
  background-color: #d2e5f0;
  padding: 3px;
  cursor: move;
}

.c1_card_info #card-info-icon {
  width: 12px;
  height: 12px;
  object-fit: contain;
  top: 304px;
  left: 220px;
  position: absolute;
  background-size: cover;
  z-index: 2147483647;
}
.c1_card_info #card-info-icon span {
  position: absolute;
  color: #000;
  background: #fff;
  line-height: 12px;
  width: 155px;
  visibility: hidden;
  height: 24px;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 61%, 0.5);
  font-size: 12px;
  padding: 10px;
  font-family: Optimist, Arial, Helvetica, sans-serif;
}
.c1_card_info #card-info-icon span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 100px;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.c1_card_info #card-info-icon:hover span {
  visibility: visible;
  opacity: 1;
  top: 21px;
  left: 3px;
  margin-left: -98px;
  z-index: 999;
}
.ui-draggable-disabled .c1_card_info #c1_ext_cc {
  top: 225px;
  font-size: 16px;
  left: 105px;
}
.ui-draggable-disabled .c1_card_info #c1_ext_cvc {
  top: 254px;
  font-size: 12px;
  left: 184px;
}
.ui-draggable-disabled #copy_card_number.copy_btn {
  top: 227px;
  left: 281px;
}

#copy_security_code.expiring-soon {
  top: 290px;
  left: 243px;
}
#copy_card_number.expiring-soon {
  top: 263px;
  left: 277px;
}

.ui-draggable-disabled #copy_card_number.check_mark {
  top: 233px;
  left: 304px;
}
.ui-draggable-disabled #copy_security_code.copy_btn {
  top: 254px;
  left: 250px;
}
.ui-draggable-disabled #copy_security_code.check_mark {
  top: 260px;
  left: 273px;
}
