* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

ul {
    margin: 0 !important;
}

.prompt-container {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.prompt-container::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: repeating-radial-gradient(circle at 10%, transparent 0%, transparent 10%, rgba(54, 89, 219, 0.33) 10%, rgba(54, 89, 219, 0.33) 17%), linear-gradient(to right, #5b7cfa, #3659db);
}

@media(max-width : 768px) {

    .prompt-container,
    .prompt-container::before {
        height: 120vh;
    }

}

@media(max-width : 524px) {

    .prompt-container,
    .prompt-container::before {
        height: 140vh;
    }

}

@media(max-width : 400px) {

    .prompt-container,
    .prompt-container::before {
        height: 190vh;
    }

}

.prompt-overlay-content {
    padding: 0px;
    border-radius: 4px;
    max-width: 700px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background: transparent;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #fff;
    box-shadow: 2px 4px 15px #00000083;
}

.privacy_box {
    background-color: #ffffff;
    padding: 60px 30px;
    width: 686px;
}

.privacy_svg,
.privacy_heading,
.privacy_prectice_page {
    text-align: center;
}

.privacy_svg img {
    width: 35px;
    text-align: center;
}

.privacy_heading h1 {
    color: #3659db;
    text-transform: uppercase;
    position: relative;
    margin: 20px 0;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 26px;
}

.privacy_heading h1::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #3659db;
    left: 80px;
    top: 19px;
}

.privacy_heading h1::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #3659db;
    right: 82px;
    top: 19px;
}

.privacy_prectice_page p {
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #5b7cfa;
}

.txt_privacy_prectice {
    color: #5b7cfa;
}

.permission_collect {
    background-color: #ebefff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px;
}

.permission_collect .permission_collect_heading {
    color: #5b7cfa;
    margin: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.4;
}

.permission_collect .permission_list {
    margin: 10px 20px;
}

.permission_collect .permission_list .sub_item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.permission_collect .permission_list .sub_item p {
    font-size: 14px;
    list-style: none;
}

.permission_collect .permission_list .sub_item p {
    color: #5b7cfa;
    font-weight: 550;
    letter-spacing: 0.5px;
    font-size: 13px;
    line-height: 1.7;
}

.data_btn_1,
.data_btn_2 {
    padding: 10px 2px;
    border-radius: 10px;
    border: 0;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.anonymous_data_btn {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    justify-content: center;
}

.data_btn_1 {
    background-color: #5b7cfa;
    color: #ffffff;
}

.data_btn_2 {
    background-color: transparent;
    color: #5b7cfa;
    border: 2px solid #5b7cfa;
}