<div class="panel mt-6" id="check">
  <div class="flex items-center px-16">
    <div class="circle no-circle red-text text-lighten-1">
      15
    </div>
    <div class="message grey-text" data-i18n style="width:200px;margin:0 auto;font-size:15px;">
      codes_promo_disponibles
    </div>
  </div>
  <div class="max-w-[50%] mx-auto" id="graph" >
    <img src="img/graph.png" />
    <p class="text-sm mt-2.5 mb-5 message grey-text"><span data-i18n>taux_succes</span> : <span data-i18n id="codeApplyRate">fort</span></p>
  </div>
  <div id="check-vouchers">
    <a class="runcheck waves-effect waves-light btn red lighten-1 pulse" data-i18n
        style="margin:auto;height:35px;line-height:35px;">tester_les_codes</a>
  </div>
  <div class="row invisible mt-6" id="tip-autotest-vouchers" style="margin-bottom:20px;">
    <div class="col s12">
      <div class="px-10 flex items-center justify-center">
        <img class="image h-full w-[4rem]" src="img/unicorn-tip.svg" />
        <div class=" text-center text-accent-500 pl-2 text-sm" data-i18n>tip_autotest_vouchers</div>
      </div>
    </div>
  </div>
</div>
