<a class="shopCard flex flex-col justify-between	w-full h-[6.8rem] border border-solid
        border-brand-100 bg-white shadow-brand-lg rounded-2xl
          m-auto ring-highlight focus-visible:ring focus:outline-none" 
  target="_blank" 
  href="{{ SHOP_URL }}">
  <div class="flex items-center justify-between pb-4 px-4 pt-3.5">
    <div class="flex gap-x-1.5">
      <div class="box-border flex w-12 h-12 p-1 rounded-full shadow-drop">
        <img class="w-full h-full rounded-full" src="{{ LOGO }}" alt="{{ LOGO_ALT }}" />
      </div>
      <div class="text-left max-w-[8.5rem] whitespace-nowrap">
        <div class="overflow-hidden text-base font-bold text-accent-700 text-ellipsis" title="{{ SHOP_NAME }}">{{ SHOP_NAME }}</div>
        <div class="overflow-hidden text-xs text-brand-500 text-ellipsis" title="{{ SHOP_DOMAIN }}">{{ SHOP_DOMAIN }}</div>
      </div>
    </div>
    <div class="text-base font-bold underline text-brand-500" data-i18n>j_en_profite</div>
  </div>
  <div class="flex items-center justify-between p-2 text-sm text-white bg-gradient-brand-lighter h-9 rounded-b-2xl">
    <div class="flex items-center gap-x-1">{{ VOUCHERS }}</div>
    <div class="font-normal">
      <span class="font-bold">{{ BONUS }}</span>
    </div>
  </div>
</a>