.label-d8 {
  color: #d8d8d8;
}

.high-contrast-mode .folder-dropdown-field-container.error .dropdown-field-container.folder-dropdown-field .dropdown-field-options-container .option-container.placeholder {
  border: 2px solid Highlight !important;
}
.high-contrast-mode .folder-dropdown-field-container .error-container .keeper-iconbutton-error path {
  fill: Highlight !important;
}
.high-contrast-mode .folder-dropdown-field-container .error-container span.text {
  color: Highlight !important;
}

.dark-mode .folder-dropdown-field-container .dropdown-field-container.folder-dropdown-field .dropdown-field-options-container .option-container.placeholder {
  background-color: #191919;
  border: 1px solid #565656;
}
.dark-mode .folder-dropdown-field-container .error-container .keeper-iconbutton-error path {
  fill: #ce021b !important;
}
.dark-mode .folder-dropdown-field-container .error-container span.text {
  color: #ce021b !important;
}

.folder-dropdown-field-container {
  gap: 12px;
}
.folder-dropdown-field-container.error .dropdown-field-container.folder-dropdown-field .dropdown-field-options-container .option-container.placeholder {
  border: 2px solid #ce021b;
}
.folder-dropdown-field-container .dropdown-field-container.folder-dropdown-field .dropdown-field-options-container .dropdown-container {
  max-height: 250px;
}
.folder-dropdown-field-container .dropdown-field-container.folder-dropdown-field .dropdown-field-options-container .option-container.placeholder {
  border-radius: 8px;
  border: 1px solid #d8d8d8;
}
.folder-dropdown-field-container .error-container {
  gap: 8px;
}
.folder-dropdown-field-container .error-container .keeper-iconbutton-error path {
  fill: #ce021b;
}
.folder-dropdown-field-container .error-container span.text {
  color: #ce021b;
  font-family: Outfit, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}