.slider[data-v-8c881d72] {
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
  flex-direction: column;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 270px;
  height: 230px;
  min-height: 230px;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: flex-start;
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.5;
  z-index: 2147483647;
}
.slider__logo[data-v-8c881d72] {
  position: absolute;
  top: 10px;
  left: 0;
  margin-right: 14px;
  width: 30px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slider__cta[data-v-8c881d72] {
  display: flex;
  height: 37px;
  width: 100%;
  margin-top: 16px;
  padding: 10px 25px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 3px 6px #0084A7;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
.slider__close[data-v-8c881d72] {
  display: flex;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23000%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M10.85%200L0%2010.85M10.85%2010.85L0%200%22%20transform%3D%22translate(1%201)%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
  filter: invert(1);
}
.slider__body[data-v-8c881d72] {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 25px 15px;
  flex-grow: 1;
  box-sizing: border-box;
  min-height: 140px;
}
.slider__description[data-v-8c881d72] {
  font-size: 26px;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: white;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  width: 220px;
  height: 100px;
  overflow: hidden;
  font-size: 28px;
  text-align: center;
}
.slider__title[data-v-8c881d72] {
  font-size: 26px;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: white;
  line-height: 1.2;
  font-size: 18px;
  margin-bottom: 10px;
  width: 210px;
  text-align: center;
}

.slider[data-v-40ec4fee] {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-shrink: 0;
  align-items: flex-end;
  flex-direction: column;
  width: 940px;
  min-height: 530px;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: flex-start;
  box-shadow: 0px 3px 6px #00000038;
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.5;
  z-index: 2147483647;
}
.slider hr[data-v-40ec4fee] {
  margin: 0;
  width: 80%;
  border: 1px solid #70707033;
}
.slider__content[data-v-40ec4fee] {
  height: 350px;
  width: 100%;
}
.slider__cta[data-v-40ec4fee] {
  display: flex;
  height: 37px;
  margin-top: 10px;
  padding: 10px 25px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.slider__close[data-v-40ec4fee] {
  display: flex;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url([object Module]);
}
.slider__body[data-v-40ec4fee] {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 25px 15px;
  flex-grow: 1;
  box-sizing: border-box;
  min-height: 140px;
}
.slider__description[data-v-40ec4fee] {
  font-size: 18px;
  text-align: center;
}
.slider__title[data-v-40ec4fee] {
  font-size: 28px;
}

.guide[data-v-32c5a522] {
  display: flex;
  width: 424px;
  height: 378px;
  flex-shrink: 0;
  flex-direction: column;
  position: fixed;
  top: 20px;
  right: 20px;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0 3px 6px #00000038;
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.5;
  z-index: 2147483647;
}
.guide_referral[data-v-32c5a522] {
  width: 296px;
  height: 264px;
}
.guide__popup[data-v-32c5a522] {
  position: initial;
  border-radius: 0;
}
.guide hr[data-v-32c5a522] {
  width: 80%;
  border: 1px solid #70707033;
}
.guide__logo[data-v-32c5a522] {
  margin-right: 14px;
  width: 30px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.guide__title[data-v-32c5a522] {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.guide__title_referral[data-v-32c5a522] {
  font-size: 18px;
}
.guide__text[data-v-32c5a522] {
  font-size: 24px;
  color: gray;
}
.guide__text_referral[data-v-32c5a522] {
  font-size: 16px;
  text-align: center;
  font-weight: 300;
}
.guide__header[data-v-32c5a522] {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
}
.guide__header_referral[data-v-32c5a522] {
  height: 70px;
}
[data-v-32c5a522] .guide__body {
  width: 90%;
  height: 210px;
}
[data-v-32c5a522] .guide__body_referral {
  height: 106px;
}
[data-v-32c5a522] .guide__body ol :first-child {
  margin-top: 40px;
}
[data-v-32c5a522] .guide__body li {
  margin-top: 6px;
  font-size: 18px;
  color: gray;
  list-style: none;
}
[data-v-32c5a522] .guide__body li b {
  margin-right: 10px;
  font-size: 23px;
  color: gray;
}
[data-v-32c5a522] .guide__body li p {
  margin: 0;
  margin-left: 30px;
}
.guide__footer[data-v-32c5a522] {
  width: 100%;
  display: flex;
}
.guide__button[data-v-32c5a522] {
  display: flex;
  height: 40px;
  width: 300px;
  margin: auto;
  margin-top: 14px;
  padding: 10px 25px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.guide__button_referral[data-v-32c5a522] {
  width: 220px;
}
.guide__close[data-v-32c5a522] {
  display: flex;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23000%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M10.85%200L0%2010.85M10.85%2010.85L0%200%22%20transform%3D%22translate(1%201)%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
  filter: invert(1);
}

.error-message[data-v-2ba3066a] {
  display: flex;
  width: 296px;
  height: 264px;
  flex-shrink: 0;
  flex-direction: column;
  position: fixed;
  top: 20px;
  right: 20px;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0 3px 6px #00000038;
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.5;
  z-index: 2147483647;
}
.error-message hr[data-v-2ba3066a] {
  width: 80%;
  border: 1px solid #70707033;
}
.error-message__logo[data-v-2ba3066a] {
  margin-right: 14px;
  width: 30px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.error-message__title[data-v-2ba3066a] {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.error-message__text[data-v-2ba3066a] {
  font-size: 15px;
  text-align: center;
  font-weight: 300;
}
.error-message__header[data-v-2ba3066a] {
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
}
.error-message__body[data-v-2ba3066a] {
  width: 90%;
  height: 106px;
}
.error-message__footer[data-v-2ba3066a] {
  width: 100%;
  display: flex;
}
.error-message__button[data-v-2ba3066a] {
  display: flex;
  height: 40px;
  width: 220px;
  margin: auto;
  margin-top: 14px;
  padding: 10px 25px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.error-message__close[data-v-2ba3066a] {
  display: flex;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23000%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M10.85%200L0%2010.85M10.85%2010.85L0%200%22%20transform%3D%22translate(1%201)%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
  filter: invert(1);
}

.vb {
  height: 96%;
  padding-bottom: 10px;
}
.vb > .vb-dragger {
  z-index: 5;
  width: 5px;
  min-height: 15px;
  right: 2px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.25);
}
.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  -webkit-transition: background-color 100ms ease-out, margin 100ms ease-out, height 100ms ease-out;
  transition: background-color 100ms ease-out, margin 100ms ease-out, height 100ms ease-out;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 5px 0 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  min-height: 15px;
  display: none;
}
.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(0, 0, 0, 0.1);
}
.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
}
.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0px;
  height: 100%;
}
.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(0, 0, 0, 0.25);
}
.app {
  font-family: 'Roboto', Helvetica, sans-serif;
}

