.stream_previews {
    max-width: 440px !important;
    margin: 6px 0 !important;
    transition: opacity .1s ease-out !important;

    border-radius: .375rem;
}

.stream_previews_hidden {
    opacity: 0;
}

.test-tic {
    background-color: deeppink;
}
