.prompttoggle {
  cursor: pointer;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  height: 40px;
  border-radius: 8px;
}
.prompttoggle .toggle-text {
  font-size: 15px;
}
.prompttoggle .toggle-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.prompttoggle .dummy-space {
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
          flex-grow: 1;
}
.prompttoggle .toggle-row {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
}
.prompttoggle .md-toggle,
.prompttoggle .md-toggle-checked {
  margin-right: 4px;
  -webkit-align-self: center;
          align-self: center;
}

.keeper-rtl .prompttoggle .toggle-icon {
  margin-left: 8px;
}