body {
  color: #333;
  width: 800px;
  font-size: 12px;
  margin: 10px auto;
  align-items: center;
  font-family: arial, sans-serif;
}

.options input[type='text'] {
  padding: 0;
  color: #555;
  margin: 5px;
  width: 100%;
  height: 38px;
  outline: none;
  font-size: 12px;
  text-indent: 10px;
  box-sizing: border-box;
  border: solid 1px rgba(0,0,0,0.2);
  font-family: monaco, "andale mono", "lucida console", "courier new", monospace;
}

.options input[type='checkbox'] {
  margin: 5px;
  vertical-align: middle;
}

.content {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
  -webkit-flex-direction: column;
}

.options table {
  width: 100%;
  color: #333;
  font-size: 12px;
  border-spacing: 10px 20px;
  border-collapse: separate;
  font-family: arial, sans-serif;
}

.options table tr td:nth-child(odd) {
  font-weight: 600;
  border-right: solid 1px rgba(0,0,0,0.1);
}

.options table tr td {
  padding: 0;
  text-align: left;
  vertical-align: middle;
}

.options table tr td span {
  padding: 10px;
  display: inline-block;
}

.options .note {
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-align: left;
  line-height: 22px;
  text-indent: 10px;
  color: #777 !important;
}