.item {
    width: 158px;
    padding: 0 2px 10px 2px;
}

.site-name {
    margin: -24px 0 0 51px;
    text-align: left;
    opacity: 1;
    font-size: 14px;
}

.count {
    margin: 0 1px 13px 0;
}

.waves {
    margin: 0 2px 13px 0;
}

.linked {
    margin: 18px 0 0 37px;
    background-color: #9c9c9c59;
    display: block;
}

.linked.on {
    background-color: #87dc87;
}

.buttons {
    margin: 11px 0 0 114px;
}

.grid.edit-mode .item:hover .linked.on {
    display: block;
}
