.toggle-switch_main__EUw_f {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 400; }
  .toggle-switch_main__EUw_f[aria-disabled="true"] {
    cursor: not-allowed;
    color: #62737a; }

.toggle-switch_full-width__StN-E {
  width: 100%;
  justify-content: space-between; }

.toggle-switch_label__38gcT.toggle-switch_left__lyt4u {
  order: 0; }

.toggle-switch_label__38gcT.toggle-switch_right__3bqHC {
  order: 2; }

/*
	  This will hide the focus indicator if the element receives focus via the mouse,
	  but it will still show up on keyboard focus.
	  More information at: https://github.com/WICG/focus-visible
	*/
html .toggle-switch_switch-btn__T-5sE:focus:not(:focus-visible) {
  outline: none; }

html .toggle-switch_switch-btn__T-5sE::-moz-focus-inner {
  border: 0; }

.toggle-switch_switch-btn__T-5sE {
  order: 1;
  position: relative;
  margin: 0;
  border: 1px solid #62737a;
  border-radius: 1rem;
  width: 3rem;
  height: 2rem;
  background-color: #ffffff;
  outline: 0;
  cursor: pointer; }
  .toggle-switch_switch-btn__T-5sE::before {
    content: "";
    position: absolute;
    display: block;
    top: 0.1875rem;
    left: 0.1875rem;
    height: 1.375rem;
    width: 1.375rem;
    background: #ffffff;
    border-radius: 125rem;
    border: 1px solid #62737a;
    transition: left 0.2s; }
  .toggle-switch_switch-btn__T-5sE:hover:not(:disabled) {
    border-color: #2666f1;
    box-shadow: 0 0 0 0.1875rem rgba(27, 78, 161, 0.2); }
  .toggle-switch_switch-btn__T-5sE:focus-visible:not(:disabled) {
    outline: 0;
    box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.25rem #2666f1; }
  .toggle-switch_switch-btn__T-5sE:disabled {
    cursor: not-allowed;
    border-color: #e8e9ec; }
    .toggle-switch_switch-btn__T-5sE:disabled::before {
      background-color: #f4f5f6;
      border-color: #e8e9ec; }
  .toggle-switch_switch-btn__T-5sE:active {
    background-color: #ebf6ff; }
    .toggle-switch_switch-btn__T-5sE:active::before {
      background: #2666f1;
      border-color: #2666f1; }
  .toggle-switch_switch-btn__T-5sE.toggle-switch_selected__2qDT1 {
    background-color: #ebf6ff;
    border-color: #2666f1;
    border-width: 2px;
    outline: 0; }
    .toggle-switch_switch-btn__T-5sE.toggle-switch_selected__2qDT1::before {
      background: #2666f1;
      border-color: #2666f1;
      top: 0.125rem;
      left: 1.0625rem;
      transition: left 0.2s; }
    .toggle-switch_switch-btn__T-5sE.toggle-switch_selected__2qDT1:disabled {
      background-color: #f4f5f6;
      border-color: #e8e9ec;
      cursor: not-allowed; }
      .toggle-switch_switch-btn__T-5sE.toggle-switch_selected__2qDT1:disabled::before {
        background: #e8e9ec;
        border-color: #e8e9ec; }
