.trend-formatter_trend-formatter__38lFn {
  display: flex;
  gap: 0.25rem; }

.trend-formatter_arrow__1P4oJ.trend-formatter_up__vwy0c {
  transform: rotateZ(180deg); }

.trend-formatter_arrow__1P4oJ.trend-formatter_down__2Yyg6 {
  transform: rotateZ(0deg); }

.trend-formatter_arrow__1P4oJ.trend-formatter_neutral__2NMWD {
  transform: rotateZ(-90deg); }
