.form_form__3pOPd {
  width: 100%;
  margin: 0;
  padding: 0; }

.form_form__3pOPd.form_regular__1iepv {
  /* placeholder to generate type */ }

.form_form__3pOPd.form_slim__Svg9p {
  max-width: 37.5rem;
  margin: auto; }

.form_form__3pOPd.form_horizontal__362lV {
  /* placeholder to generate type */ }

.form_form-heading__2Fntv {
  display: flex;
  margin-bottom: 1.5rem; }
  .form_form-heading__2Fntv > div:first-child {
    flex: 1; }
  .form_form-heading__2Fntv > div:last-child {
    flex: 2;
    margin-left: 1rem; }

.form_container__3TIZK > :last-child {
  margin-bottom: 0; }

.form_errors-container__1v-Mr {
  list-style: none; }

.form_validation-error__3BuhE {
  margin-top: 0.25rem;
  background: url("data:image/svg+xml,%3C%3Fxml version%3D%221.0%22 encoding%3D%22utf-8%22%3F%3E%3Csvg role%3D%22presentation%22 version%3D%221.1%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22 x%3D%220px%22 y%3D%220px%22%09 viewBox%3D%220 0 48 48%22 style%3D%22enable-background%3Anew 0 0 48 48%3B%22 xml%3Aspace%3D%22preserve%22%3E%3Cstyle type%3D%22text%2Fcss%22%3E%09.st0%7Bfill%3A%23D35910%3B%7D%3C%2Fstyle%3E%3Cg%3E%09%3Cpath class%3D%22st0%22 d%3D%22M24%2C0C10.75%2C0%2C0%2C10.75%2C0%2C24s10.75%2C24%2C24%2C24s24-10.75%2C24-24S37.25%2C0%2C24%2C0z M36.25%2C32.48l-3.77%2C3.77L24%2C27.77%09%09l-8.48%2C8.48l-3.77-3.77L20.23%2C24l-8.48-8.48l3.77-3.77L24%2C20.23l8.48-8.48l3.77%2C3.77L27.77%2C24L36.25%2C32.48z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat left center;
  background-size: 0.875rem;
  line-height: 1;
  padding-left: 1rem;
  font-size: 0.75rem; }
