/*
	  This will hide the focus indicator if the element receives focus via the mouse,
	  but it will still show up on keyboard focus.
	  More information at: https://github.com/WICG/focus-visible
	*/
html .input-field_input__3Ii27:focus:not(:focus-visible) {
  outline: none; }

html .input-field_input__3Ii27::-moz-focus-inner {
  border: 0; }

/*                              text height                              +    top/bot padding    +  border */
.input-field_input__3Ii27 {
  box-sizing: border-box;
  position: relative;
  padding: 0 0.75rem;
  height: 2rem;
  line-height: 1;
  font-family: "Roboto", arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #1f2b3f;
  background-color: #ffffff;
  border: 0.0625rem solid #62737a;
  border-radius: 0.1875rem;
  appearance: none;
  -webkit-appearance: none;
  text-decoration: none; }
  .input-field_input__3Ii27::placeholder {
    color: #62737a; }
  .input-field_input__3Ii27:hover {
    z-index: 55;
    border-color: #2666f1;
    box-shadow: 0 0 0 0.1875rem rgba(27, 78, 161, 0.2); }
  .input-field_input__3Ii27:focus-visible {
    z-index: 100;
    outline: 0;
    box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.25rem #2666f1; }
  .input-field_input__3Ii27:disabled {
    pointer-events: none;
    color: #62737a;
    background-color: #f4f5f6;
    border-color: #e8e9ec; }

.input-field_input__3Ii27.input-field_large__2qRJY {
  height: 2.5rem; }

.input-field_input__3Ii27[type="search"] {
  padding-left: 2rem;
  background: url("data:image/svg+xml,%3C%3Fxml version%3D%221.0%22 encoding%3D%22utf-8%22%3F%3E%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%09 viewBox%3D%220 0 50 50%22 %3E%09%3Cpath fill%3D%22currentColor%22 d%3D%22M50%2C20C50%2C9.3%2C41.3%2C0.6%2C30.6%2C0.6S11.1%2C9.3%2C11.1%2C20c0%2C3.8%2C1.1%2C7.4%2C3%2C10.4l-14%2C14.1L5%2C49.5l13.8-13.9%09%09c3.3%2C2.5%2C7.3%2C4%2C11.8%2C4C41.3%2C39.5%2C50%2C30.8%2C50%2C20z M45.5%2C20c0%2C8.2-6.6%2C14.9-14.9%2C14.9c-8.2%2C0-14.9-6.6-14.9-14.9%09%09c0-8.2%2C6.6-14.9%2C14.9-14.9C38.8%2C5.1%2C45.5%2C11.8%2C45.5%2C20z%22%2F%3E%3C%2Fsvg%3E") no-repeat left 0.75rem center white;
  background-size: 0.75rem 0.75rem; }

.input-field_input__3Ii27.input-field_invalid__39czw {
  border-color: #e8465e; }
  .input-field_input__3Ii27.input-field_invalid__39czw:hover {
    box-shadow: 0 0 0 0.1875rem rgba(232, 70, 94, 0.2); }

.input-field_input__3Ii27.input-field_full-width__27O3X {
  width: 100%; }

.input-field_slug-group__25_8j {
  display: flex; }
  .input-field_slug-group-item__316Cc,
  .input-field_slug-group-item__316Cc input,
  .input-field_slug-group-item__316Cc button {
    border-radius: 0; }
  .input-field_slug-group-item__316Cc:first-child,
  .input-field_slug-group-item__316Cc:first-child input,
  .input-field_slug-group-item__316Cc:first-child button {
    border-radius: 0.1875rem 0 0 0.1875rem; }
  .input-field_slug-group-item__316Cc:last-child,
  .input-field_slug-group-item__316Cc:last-child input,
  .input-field_slug-group-item__316Cc:last-child button {
    border-radius: 0 0.1875rem 0.1875rem 0; }

.input-field_slug__1ftwc {
  display: flex;
  align-items: center;
  background-color: #f4f5f6; }
  .input-field_slug__1ftwc.input-field_primitive__GHwBp {
    padding: 0 0.5rem;
    border: 1px solid #62737a; }
  .input-field_slug__1ftwc:first-child {
    margin-right: -1px; }
  .input-field_slug__1ftwc:last-child {
    margin-left: -1px; }
  .input-field_slug__1ftwc.input-field_disabled__1O0vH {
    border-color: #e8e9ec; }
