/*
	  This will hide the focus indicator if the element receives focus via the mouse,
	  but it will still show up on keyboard focus.
	  More information at: https://github.com/WICG/focus-visible
	*/
html .text-area_text-area__UPpZI:focus:not(:focus-visible) {
  outline: none; }

html .text-area_text-area__UPpZI::-moz-focus-inner {
  border: 0; }

.text-area_text-area__UPpZI {
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
  line-height: 1.4;
  font-family: "Roboto", arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #1f2b3f;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #62737a;
  border-radius: 0.1875rem;
  appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
  resize: vertical;
  margin: 0; }
  .text-area_text-area__UPpZI::placeholder {
    color: #62737a; }
  .text-area_text-area__UPpZI:hover {
    border-color: #2666f1;
    box-shadow: 0 0 0 0.1875rem rgba(27, 78, 161, 0.2); }
  .text-area_text-area__UPpZI:focus-visible {
    outline: none;
    box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.25rem #2666f1; }
  .text-area_text-area__UPpZI:disabled {
    pointer-events: none;
    color: #62737a;
    background-color: #f4f5f6;
    border-color: #e8e9ec; }
  .text-area_text-area__UPpZI.text-area_invalid__H5JRP {
    border-color: #e8465e; }
    .text-area_text-area__UPpZI.text-area_invalid__H5JRP:hover {
      box-shadow: 0 0 0 0.1875rem rgba(232, 70, 94, 0.2); }
  .text-area_text-area__UPpZI.text-area_no-resize__2xvhM {
    resize: none; }
