.text-highlight_highlight-light__bJzLF {
  padding: 0px;
  background-color: #fff8cc;
  color: #222;
  font-weight: bold; }

.text-highlight_highlight-dark__1RrJK {
  padding: 0px;
  background-color: transparent;
  color: #f3b549;
  font-weight: bold; }
