/*
	  This will hide the focus indicator if the element receives focus via the mouse,
	  but it will still show up on keyboard focus.
	  More information at: https://github.com/WICG/focus-visible
	*/
html .checkbox_checkbox__30R4l:focus:not(:focus-visible) {
  outline: none; }

html .checkbox_checkbox__30R4l::-moz-focus-inner {
  border: 0; }

.checkbox_checkbox-label__2BKE8 {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer; }
  .checkbox_checkbox-label__2BKE8:not(:last-of-type) {
    margin-bottom: 0.25rem; }
  .checkbox_checkbox-label__2BKE8 .checkbox_checkbox__30R4l {
    flex-shrink: 0;
    margin-top: -1px; }
  .checkbox_checkbox-label__2BKE8 svg {
    flex-shrink: 0;
    min-width: 1rem;
    min-height: 1rem;
    fill: #1f2b3f; }
  .checkbox_checkbox-label__2BKE8 .checkbox_checkbox__30R4l[disabled] + svg {
    fill: #62737a; }

.checkbox_checkbox__30R4l {
  height: 1rem;
  width: 1rem;
  position: relative;
  vertical-align: middle;
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #62737a;
  border-radius: 0.1875rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
  transition: 0.1s;
  -webkit-print-color-adjust: exact !important; }
  .checkbox_checkbox__30R4l::before {
    content: "";
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 16 16%22%3E%3Cpath fill%3D%22%23fff%22 fill-rule%3D%22evenodd%22 d%3D%22M13.59 3.916a1.387 1.387 0 00-1.98 0L6.57 9.054 4.39 6.83a1.38 1.38 0 00-1.98 0 1.448 1.448 0 000 2.018l3.17 3.233a1.381 1.381 0 001.98 0l6.03-6.148a1.448 1.448 0 000-2.018v.001z%22 clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E") no-repeat center center;
    background-size: contain;
    transform: scale(0);
    transition: 0.2s; }
  .checkbox_checkbox__30R4l::-ms-check {
    border-color: #62737a;
    color: #ffffff;
    background-color: transparent; }
    @supports (-ms-ime-align: auto) {
      .checkbox_checkbox__30R4l::-ms-check {
        border-width: 0 !important; } }
  .checkbox_checkbox__30R4l:hover:not(:disabled):not(:active) {
    border-color: #2666f1;
    box-shadow: 0 0 0 0.1875rem rgba(27, 78, 161, 0.2); }
  .checkbox_checkbox__30R4l:focus-visible:not(:disabled):not(:active) {
    outline: 0;
    box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.25rem #2666f1; }
  .checkbox_checkbox__30R4l:checked:not(:disabled), .checkbox_checkbox__30R4l:indeterminate:not(:disabled) {
    border-color: #2666f1;
    background-color: #2666f1; }
    .checkbox_checkbox__30R4l:checked:not(:disabled)::-ms-check, .checkbox_checkbox__30R4l:indeterminate:not(:disabled)::-ms-check {
      border-color: #2666f1; }
    .checkbox_checkbox__30R4l:checked:not(:disabled)::before, .checkbox_checkbox__30R4l:indeterminate:not(:disabled)::before {
      transform: scale(1); }
  .checkbox_checkbox__30R4l:indeterminate:not(:disabled)::before {
    background: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2216%22 height%3D%2216%22 viewBox%3D%220 0 16 16%22%3E%3Crect fill%3D%22%23fff%22 width%3D%2210%22 height%3D%222%22 x%3D%223%22 y%3D%227%22 rx%3D%221%22%2F%3E%3C%2Fsvg%3E") no-repeat center center; }
  .checkbox_checkbox__30R4l:active:not(:disabled):not(:checked), .checkbox_checkbox__30R4l:active:not(:disabled):not(:indeterminate) {
    border-color: #2666f1;
    background: #c8e8fa; }
    .checkbox_checkbox__30R4l:active:not(:disabled):not(:checked)::-ms-check, .checkbox_checkbox__30R4l:active:not(:disabled):not(:indeterminate)::-ms-check {
      border-color: #2666f1; }
  .checkbox_checkbox__30R4l:active:not(:disabled):checked, .checkbox_checkbox__30R4l:active:not(:disabled):indeterminate {
    border-color: #26227c;
    background-color: #141155; }
  .checkbox_checkbox__30R4l:disabled {
    border-color: #e8e9ec;
    background-color: #ffffff;
    cursor: default; }
    .checkbox_checkbox__30R4l:disabled::-ms-check {
      border-color: #e8e9ec; }
    .checkbox_checkbox__30R4l:disabled ~ span {
      cursor: default; }
    .checkbox_checkbox__30R4l:disabled::before {
      transform: scale(1); }
    .checkbox_checkbox__30R4l:disabled:checked::before {
      background: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 16 16%22%3E%3Cpath fill%3D%22%23e8e9ec%22 fill-rule%3D%22evenodd%22 d%3D%22M13.59 3.916a1.387 1.387 0 00-1.98 0L6.57 9.054 4.39 6.83a1.38 1.38 0 00-1.98 0 1.448 1.448 0 000 2.018l3.17 3.233a1.381 1.381 0 001.98 0l6.03-6.148a1.448 1.448 0 000-2.018v.001z%22 clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E") no-repeat center center; }
    .checkbox_checkbox__30R4l:disabled:indeterminate::before {
      background: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2216%22 height%3D%2216%22 viewBox%3D%220 0 16 16%22%3E%3Crect fill%3D%22%23e8e9ec%22 width%3D%2210%22 height%3D%222%22 x%3D%223%22 y%3D%227%22 rx%3D%221%22%2F%3E%3C%2Fsvg%3E") no-repeat center center; }
  .checkbox_checkbox__30R4l.checkbox_invalid__18vLx {
    border-color: #e8465e !important; }
    .checkbox_checkbox__30R4l.checkbox_invalid__18vLx:disabled {
      border-color: #e8e9ec !important; }
    .checkbox_checkbox__30R4l.checkbox_invalid__18vLx:checked:not(:disabled), .checkbox_checkbox__30R4l.checkbox_invalid__18vLx:indeterminate:not(:disabled) {
      background-color: #e8465e; }
    .checkbox_checkbox__30R4l.checkbox_invalid__18vLx:active:not(:disabled) {
      background-color: #feebeb; }
      .checkbox_checkbox__30R4l.checkbox_invalid__18vLx:active:not(:disabled):checked, .checkbox_checkbox__30R4l.checkbox_invalid__18vLx:active:not(:disabled):indeterminate {
        background-color: #b4232d; }
    .checkbox_checkbox__30R4l.checkbox_invalid__18vLx::-ms-check {
      border-color: #e8465e !important; }
    .checkbox_checkbox__30R4l.checkbox_invalid__18vLx:hover {
      box-shadow: 0 0 0 0.1875rem rgba(232, 70, 94, 0.2) !important; }

.checkbox_checkbox-group__1qLb- {
  display: flex; }
  .checkbox_checkbox-group__1qLb-.checkbox_vertical__1DgDR {
    flex-direction: column; }
  .checkbox_checkbox-group__1qLb-.checkbox_horizontal__q8zhH > .checkbox_checkbox-label__2BKE8 {
    margin-right: 1rem; }
