.form-element-wrapper_form-element__2TYwy {
  margin-bottom: 1.5rem; }
  .form-element-wrapper_form-element__2TYwy.form-element-wrapper_horizontal__4qUc2 {
    display: flex; }

.form-element-wrapper_form-label__2NKlp {
  margin-bottom: 0.25rem;
  font-weight: 700;
  display: flex;
  gap: 0.25rem; }
  .form-element-wrapper_form-label__2NKlp.form-element-wrapper_horizontal__4qUc2 {
    justify-content: flex-end;
    flex: 1;
    text-align: right;
    padding-right: 0.5rem; }
  .form-element-wrapper_form-label__2NKlp:not(.form-element-wrapper_horizontal__4qUc2) > span {
    display: flex;
    align-items: center; }

.form-element-wrapper_form-content__TXN-A.form-element-wrapper_horizontal__4qUc2 {
  flex: 2;
  padding-left: 0.5rem; }

.form-element-wrapper_form-helptext__3e5qn {
  color: #62737a;
  line-height: 1.2;
  font-size: 0.75rem; }

/* the above/below classes are used for helptext */
.form-element-wrapper_above__1x5Jg {
  margin-bottom: 0.25rem; }

:not(.form-element-wrapper_horizontal__4qUc2) .form-element-wrapper_above__1x5Jg {
  margin-top: -0.25rem; }

.form-element-wrapper_below__1l1a5 {
  margin-top: 0.25rem; }

.form-element-wrapper_error__3Ulwq {
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.25rem; }
  .form-element-wrapper_error__3Ulwq svg {
    fill: #e8465e; }

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-element-wrapper_error__3Ulwq {
    height: 1.25rem; } }
