.table-toolbar_table-toolbar__3RArM {
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; }

.table-toolbar_table-toolbar-controls__1gmyd {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; }

.table-toolbar_left__1d4U4,
.table-toolbar_right__3boPR {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5rem; }
  .table-toolbar_left__1d4U4 > *:not(:first-child),
  .table-toolbar_right__3boPR > *:not(:first-child) {
    margin-left: 0; }

.table-toolbar_left__1d4U4 {
  align-self: flex-start;
  margin-right: auto; }
  .table-toolbar_left__1d4U4 ::after {
    content: "";
    position: absolute; }

.table-toolbar_right__3boPR {
  align-self: flex-end;
  margin-left: auto; }
  .table-toolbar_right__3boPR ::before {
    content: "";
    position: absolute; }
