.chart-context-menu_context-menu-list__2bmf6 {
  background-color: #ffffff;
  border-radius: 0.1875rem;
  overflow: hidden; }

.chart-context-menu_item__2R9UU {
  width: 100%;
  transition: 0.2s;
  padding: 0.75rem 1rem;
  gap: 0.25rem; }

.chart-context-menu_button__1rwyC > span {
  margin: 0 !important;
  padding: 0 0.25rem; }

.chart-context-menu_toggle-item__cz6Tx {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .chart-context-menu_toggle-item-label__1xTKD {
    padding: 0 0.25rem; }
