.list-table_list-table-container__26z74 {
  background-color: #f4f5f6;
  padding: 1rem; }

.list-table_list-table__26DLX {
  box-shadow: inset 0 0 0 1px #e8e9ec; }
  .list-table_list-table__26DLX .list-table_th__1ngBU {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0; }
  .list-table_list-table__26DLX .list-table_tr__BWbai:last-child .list-table_td__1_PSp {
    border-bottom: none; }
  .list-table_list-table__26DLX .list-table_td__1_PSp {
    padding: 1.5rem 0.75rem !important; }
    .list-table_list-table__26DLX .list-table_td__1_PSp:first-child {
      padding-left: 1.5rem !important; }
    .list-table_list-table__26DLX .list-table_td__1_PSp:last-child {
      padding-right: 1.5rem i !important; }

.list-table_sort-bar__15HB4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem; }

.list-table_sort-select__140JB {
  display: flex;
  align-items: center;
  gap: 0.25rem; }

.list-table_footer__vO7c5 {
  display: flex;
  justify-content: center;
  padding: 1rem; }

.list-table_pagination-wrapper__1yLrl {
  padding: 1rem 0 0; }
