.multi-segment-progress-bar_progress-bar__Nkf8f {
  border-radius: 125rem;
  background-color: #e8e9ec; }
  .multi-segment-progress-bar_progress-bar__Nkf8f.multi-segment-progress-bar_small__2Ucsb {
    height: 0.125rem; }
    .multi-segment-progress-bar_progress-bar__Nkf8f.multi-segment-progress-bar_small__2Ucsb > .multi-segment-progress-bar_segments-wrapper__zMYvX {
      height: 0.25rem;
      top: -0.0625rem; }
  .multi-segment-progress-bar_progress-bar__Nkf8f.multi-segment-progress-bar_medium__3w536 {
    height: 0.375rem; }
    .multi-segment-progress-bar_progress-bar__Nkf8f.multi-segment-progress-bar_medium__3w536 > .multi-segment-progress-bar_segments-wrapper__zMYvX {
      height: 0.5rem;
      top: -0.0625rem; }
  .multi-segment-progress-bar_progress-bar__Nkf8f.multi-segment-progress-bar_large__3uPt7 {
    height: 0.5rem; }
    .multi-segment-progress-bar_progress-bar__Nkf8f.multi-segment-progress-bar_large__3uPt7 > .multi-segment-progress-bar_segments-wrapper__zMYvX {
      height: 0.75rem;
      top: -0.125rem; }

.multi-segment-progress-bar_segments-wrapper__zMYvX {
  display: flex;
  position: relative;
  max-width: 100%;
  width: var(--width, 0);
  transition: width 300ms ease-in-out; }
  .multi-segment-progress-bar_segments-wrapper__zMYvX.multi-segment-progress-bar_initial-animation__2_KxX {
    animation: multi-segment-progress-bar_zeroToFullWidth__8olax 500ms ease-in-out forwards;
    transform-origin: 0% 50%; }

.multi-segment-progress-bar_first-segment__2Vrc_ {
  border-radius: 125rem 0 0 125rem;
  margin-right: 0.125rem; }

.multi-segment-progress-bar_middle-segment__1_7GM {
  margin-right: 0.125rem; }

.multi-segment-progress-bar_last-segment__2f4vd {
  border-radius: 0 125rem 125rem 0; }

.multi-segment-progress-bar_single-segment__3qxR8 {
  border-radius: 125rem; }

@keyframes multi-segment-progress-bar_zeroToFullWidth__8olax {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(var("--width", 0)); } }
