.breadcrumbs_breadcrumbs__3wInf {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 0.5rem; }
  .breadcrumbs_breadcrumbs__3wInf .breadcrumbs_breadcrumb__3bOYA {
    display: flex;
    align-items: center; }
    .breadcrumbs_breadcrumbs__3wInf .breadcrumbs_breadcrumb__3bOYA + .breadcrumbs_breadcrumb__3bOYA::before {
      display: inline-block;
      content: "";
      height: 0.9em;
      margin: 0 0.75rem;
      border-right: 0.1em solid #a5aeb4;
      transform: rotate(18deg); }
    .breadcrumbs_breadcrumbs__3wInf .breadcrumbs_breadcrumb__3bOYA:last-child[aria-current="page"] a {
      color: #1f2b3f;
      text-decoration: none; }
