/* stylelint-disable property-no-unknown */

.side-navigation_side-navigation__LoPV0 {
  background-color: #000026;
  color: #ffffff;
  width: 4.5rem;
  height: 100%; }
  .side-navigation_side-navigation__LoPV0.side-navigation_nav-expanded__1vT9G {
    width: 19rem; }

.side-navigation_search-field__ZxzDN {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem; }
  .side-navigation_nav-expanded__1vT9G .side-navigation_search-field__ZxzDN {
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 0.75rem; }

.side-navigation_search-navigation__1Sakf {
  flex: none; }

.side-navigation_expand-button-tooltip__ufrI- {
  display: flex !important; }
  .side-navigation_nav-expanded__1vT9G .side-navigation_expand-button-tooltip__ufrI- {
    margin-left: auto; }

.side-navigation_expand-button__1wKh3 {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  display: flex;
  padding: 0.5rem;
  flex: 1; }
  .side-navigation_expand-button__1wKh3:hover {
    text-decoration: none !important; }
  .side-navigation_expand-button__1wKh3:hover {
    border-radius: 0.1875rem;
    background-color: #39394d; }
  .side-navigation_expand-button__1wKh3:focus-visible {
    border-radius: 0.1875rem;
    box-shadow: 0 0 0 0.125rem #ffffff;
    outline: none;
    position: relative; }
  .side-navigation_expand-button__1wKh3:focus {
    border-radius: 0.1875rem;
    box-shadow: 0 0 0 0.125rem #ffffff;
    text-decoration: none !important;
    position: relative; }
  .side-navigation_expand-button__1wKh3:active {
    background-color: #19193b; }
  .side-navigation_expand-button__1wKh3.side-navigation_active__3QUWC {
    border-radius: 0.1875rem;
    background-color: #39394d;
    border-left: 3px solid #ffffff; }
  .side-navigation_expand-button__1wKh3:active, .side-navigation_expand-button__1wKh3.side-navigation_active__3QUWC {
    border-left-color: transparent; }
  .side-navigation_nav-expanded__1vT9G .side-navigation_expand-button__1wKh3 {
    margin-left: 0.5rem; }

.side-navigation_search-field-divider__3y4Gz {
  border-color: #39394d !important; }

.side-navigation_nav-container__38fU6 {
  position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100% - 4rem); }
  .side-navigation_nav-expanded__1vT9G .side-navigation_nav-container__38fU6 {
    overflow-x: hidden; }

.side-navigation_main-nav__15s5E {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.side-navigation_main-nav-top__2semj {
  list-style: none;
  padding-left: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition-duration: 0.2s;
  visibility: hidden;
  transform: translateX(-100%);
  transition-property: transform; }
  .side-navigation_main-nav-top__2semj.side-navigation_shown__3Tw24 {
    visibility: visible;
    transform: none; }
  .side-navigation_main-nav-top__2semj.side-navigation_no-transition__2Bmqj {
    transition: none; }

.side-navigation_main-nav-bottom__1sOj5 {
  list-style: none;
  padding-left: 0;
  margin: 0; }

.side-navigation_main-nav-list-item__3deu8 {
  margin: 0.75rem; }

.side-navigation_main-nav-item__6UcfS {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: calc(3.5rem - (4 * 3px));
  box-sizing: content-box; }
  .side-navigation_main-nav-item__6UcfS:hover {
    text-decoration: none !important; }
  .side-navigation_main-nav-item__6UcfS:hover {
    border-radius: 0.1875rem;
    background-color: #39394d; }
  .side-navigation_main-nav-item__6UcfS:focus-visible {
    border-radius: 0.1875rem;
    box-shadow: 0 0 0 0.125rem #ffffff;
    outline: none;
    position: relative; }
  .side-navigation_main-nav-item__6UcfS:focus {
    border-radius: 0.1875rem;
    box-shadow: 0 0 0 0.125rem #ffffff;
    text-decoration: none !important;
    position: relative; }
  .side-navigation_main-nav-item__6UcfS:active {
    background-color: #19193b; }
  .side-navigation_main-nav-item__6UcfS.side-navigation_active__3QUWC {
    border-radius: 0.1875rem;
    background-color: #39394d;
    border-left: 3px solid #ffffff; }
  .side-navigation_nav-expanded__1vT9G .side-navigation_main-nav-item__6UcfS {
    width: 100%;
    width: calc(100% - 1rem);
    padding-right: 0.5rem; }

.side-navigation_side-nav-icon__24woa {
  display: flex;
  justify-content: center;
  width: calc(3.5rem - (4 * 3px)); }
  .side-navigation_side-nav-icon__24woa svg {
    width: 1.5rem;
    height: 1.5rem; }

.side-navigation_main-nav-title__343WP {
  font-family: "Gilroy", arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
  color: #ffffff;
  margin-left: 0.5rem;
  text-align: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.side-navigation_item-labels__r3HpC {
  padding-left: 0.25rem; }

.side-navigation_item-label__faJJJ {
  padding-left: 0.25rem; }

.side-navigation_chevron__1pAkX {
  display: flex; }

.side-navigation_spinner__19DnT {
  display: flex;
  align-items: right; }

.side-navigation_main-nav-divider__gfA9g {
  margin-top: auto !important;
  border-color: #39394d !important; }

.side-navigation_sub-nav__1WaKa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 0.2s;
  visibility: hidden; }
  .side-navigation_sub-nav__1WaKa.side-navigation_shown__3Tw24 {
    transform: translateX(0);
    visibility: visible; }
  .side-navigation_sub-nav__1WaKa.side-navigation_no-transition__2Bmqj {
    transition: none; }

.side-navigation_back-button__19Rs5 {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  font-size: 0.875rem;
  display: flex;
  gap: 0.25rem;
  line-height: normal;
  width: calc(100% - (2 * 0.75rem));
  margin: 0.75rem;
  padding: 1rem 0.25rem; }
  .side-navigation_back-button__19Rs5:hover {
    text-decoration: none !important; }
  .side-navigation_back-button__19Rs5:hover {
    border-radius: 0.1875rem;
    background-color: #39394d; }
  .side-navigation_back-button__19Rs5:focus-visible {
    border-radius: 0.1875rem;
    box-shadow: 0 0 0 0.125rem #ffffff;
    outline: none;
    position: relative; }
  .side-navigation_back-button__19Rs5:focus {
    border-radius: 0.1875rem;
    box-shadow: 0 0 0 0.125rem #ffffff;
    text-decoration: none !important;
    position: relative; }
  .side-navigation_back-button__19Rs5:active {
    background-color: #19193b; }
  .side-navigation_back-button__19Rs5.side-navigation_active__3QUWC {
    border-radius: 0.1875rem;
    background-color: #39394d;
    border-left: 3px solid #ffffff; }
  .side-navigation_back-button__19Rs5:active, .side-navigation_back-button__19Rs5.side-navigation_active__3QUWC {
    border-left-color: transparent; }

.side-navigation_sub-nav-container__14_dV {
  position: relative;
  height: calc(100% - 4.5rem); }

.side-navigation_sub-nav-group__1EViH {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  height: 100%; }
  .side-navigation_sub-nav-group__1EViH.side-navigation_shown__3Tw24 {
    display: block; }

.side-navigation_sub-nav-icon-title__2mm8D {
  display: flex;
  align-items: center;
  margin: 0.75rem;
  padding: 0 0.25rem;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent; }

.side-navigation_sub-nav-title__3Tnjp {
  font-family: "Gilroy", arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
  color: #ffffff;
  margin-left: 0.5rem; }

.side-navigation_sub-nav-list__1hLyw {
  list-style: none;
  padding-left: 0;
  margin: 0;
  overflow-y: auto;
  padding-top: 3px;
  height: calc(100% - (1rem * 1.6) - (2 * 0.75rem)); }

.side-navigation_sub-nav-item__3msay {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  margin: 0 0.75rem;
  padding: 1rem 0.5rem 1rem 2rem;
  color: #ffffff !important;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - (2 * 0.75rem));
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6; }
  .side-navigation_sub-nav-item__3msay:hover {
    text-decoration: none !important; }
  .side-navigation_sub-nav-item__3msay:hover {
    border-radius: 0.1875rem;
    background-color: #39394d; }
  .side-navigation_sub-nav-item__3msay:focus-visible {
    border-radius: 0.1875rem;
    box-shadow: 0 0 0 0.125rem #ffffff;
    outline: none;
    position: relative; }
  .side-navigation_sub-nav-item__3msay:focus {
    border-radius: 0.1875rem;
    box-shadow: 0 0 0 0.125rem #ffffff;
    text-decoration: none !important;
    position: relative; }
  .side-navigation_sub-nav-item__3msay:active {
    background-color: #19193b; }
  .side-navigation_sub-nav-item__3msay.side-navigation_active__3QUWC {
    border-radius: 0.1875rem;
    background-color: #39394d;
    border-left: 3px solid #ffffff; }

.side-navigation_sub-nav-nested__1AmR2 {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  overflow: hidden;
  visibility: hidden;
  transition: visibility 0s 0.3s, max-height 0.2s; }
  .side-navigation_sub-nav-nested__1AmR2 a,
  .side-navigation_sub-nav-nested__1AmR2 button {
    padding-left: calc(0.75rem + 2.5rem); }
  .side-navigation_sub-nav-nested__1AmR2.side-navigation_shown__3Tw24 {
    visibility: visible;
    transition: max-height 0.2s; }

.side-navigation_sub-nav-nested__1AmR2 > li > .side-navigation_sub-nav-nested__1AmR2 a,
.side-navigation_sub-nav-nested__1AmR2 > li > .side-navigation_sub-nav-nested__1AmR2 button {
  padding-left: calc(0.75rem + 3.75rem); }

.side-navigation_sub-nav-nested__1AmR2 > li > .side-navigation_sub-nav-nested__1AmR2 > li > .side-navigation_sub-nav-nested__1AmR2 a,
.side-navigation_sub-nav-nested__1AmR2 > li > .side-navigation_sub-nav-nested__1AmR2 > li > .side-navigation_sub-nav-nested__1AmR2 button {
  padding-left: calc(0.75rem + 5rem); }
