/*
	  This will hide the focus indicator if the element receives focus via the mouse,
	  but it will still show up on keyboard focus.
	  More information at: https://github.com/WICG/focus-visible
	*/
html .starred_btn__10BKm:focus:not(:focus-visible) {
  outline: none; }

html .starred_btn__10BKm::-moz-focus-inner {
  border: 0; }

.starred_starred-btn__3QkYn > svg {
  fill: #62737a; }

.starred_starred-btn__3QkYn.starred_starred__uD0Vr > svg, .starred_starred-btn__3QkYn:hover > svg {
  fill: #26227c; }
