.dialog-header_header__20DPm {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.3125rem 0.3125rem 0 0;
  padding: 1rem; }
  .dialog-header_header__20DPm .dialog-header_header-icon__2l3Q9 {
    margin-right: 0.75rem;
    display: flex; }
  .dialog-header_header__20DPm > h2 {
    margin-right: 1rem; }
  .dialog-header_header__20DPm .dialog-header_close__q0gc6 {
    align-self: flex-start;
    flex-shrink: 0;
    margin-left: auto;
    fill: #2c384b; }
