.learn-info-box_learn-button__2Bg1u {
  border-color: #2666f1; }
  .learn-info-box_learn-button__2Bg1u:after {
    z-index: 1;
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: calc(50% - 0.75rem);
    width: 0;
    height: 0;
    opacity: 0;
    transform: rotate(360deg);
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-style: solid;
    border-width: 0.75rem 0.75rem 0;
    border-color: #2666f1 transparent transparent; }
  .learn-info-box_learn-button__2Bg1u.learn-info-box_expanded__1yEkp:after {
    opacity: 1;
    transform: rotate(0deg); }

.learn-info-box_learn-wrapper__20j-L {
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: 0;
  display: none; }
  .learn-info-box_learn-wrapper__20j-L.learn-info-box_openExpanded__22SOK {
    height: auto;
    display: block; }

.learn-info-box_header__3KV7b {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .learn-info-box_header__3KV7b .learn-info-box_close__1bBmR {
    flex-shrink: 0;
    margin-left: auto;
    fill: #2c384b;
    transition: none; }
  .learn-info-box_header__3KV7b.learn-info-box_tabbed-header__lFOEJ {
    justify-content: space-between; }
    .learn-info-box_header__3KV7b.learn-info-box_tabbed-header__lFOEJ .learn-info-box_close__1bBmR {
      margin-left: 0; }

.learn-info-box_learn-icon__1esnD {
  margin-right: 1rem; }

.learn-info-box_show__2tlNw {
  display: block; }

.learn-info-box_hide__3JyXH {
  display: none; }

.learn-info-box_learn-content-container__6pepT {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  .learn-info-box_learn-content-container__6pepT > * {
    padding-top: 2rem;
    margin: 0 1.25rem;
    flex: 1; }
  .learn-info-box_learn-content-container__6pepT .learn-info-box_illustration__1AtTd {
    flex: none;
    padding: 0;
    margin: 0 1.25rem; }

@media (max-width: 48rem) {
  .learn-info-box_learn-content-container__6pepT {
    flex-direction: column; }
    .learn-info-box_learn-content-container__6pepT > * {
      margin: 0; }
    .learn-info-box_learn-content-container__6pepT .learn-info-box_illustration__1AtTd {
      align-self: center; } }

.learn-info-box_reverse-content__29Fkw {
  flex-direction: row-reverse; }

@media (max-width: 36rem) {
  .learn-info-box_learn-button__2Bg1u {
    margin-left: 0 !important;
    max-width: 5.375rem; } }
