.horizontal-navigation_horizontal-navigation__2OITG {
  background-color: #2666f1;
  padding: 0 1.25rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .horizontal-navigation_horizontal-navigation__2OITG .fancy-Popover a,
  .horizontal-navigation_horizontal-navigation__2OITG .fancy-Popover button {
    text-decoration: none !important; }

.horizontal-navigation_logo__37Dy7 {
  color: #ffffff; }
  .horizontal-navigation_logo__37Dy7:focus, .horizontal-navigation_logo__37Dy7:focus-visible {
    box-shadow: inset 0 0 0 0.125rem #ffffff, inset 0 0 0 0.25rem #2666f1 !important;
    outline: 0; }
  .horizontal-navigation_logo__37Dy7 svg {
    width: 7.75rem;
    height: 2.5rem;
    display: block; }

.horizontal-navigation-action-menu-button:hover {
  box-shadow: none !important;
  border-radius: 0.1875rem;
  background-color: #39394d; }

.horizontal-navigation-action-menu-button:focus-visible {
  box-shadow: inset 0 0 0 0.125rem #ffffff, inset 0 0 0 0.25rem #2666f1 !important;
  outline: none; }

.horizontal-navigation-action-menu-button:active, .horizontal-navigation-action-menu-button[aria-expanded="true"] {
  background-color: #19193b !important; }

.horizontal-navigation-action-menu-button svg {
  fill: #ffffff !important; }

.horizontal-navigation_initials__3_Bzj {
  background-color: #ebf6ff;
  width: 2rem !important;
  height: 2rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #26227c;
  font-family: "Gilroy", arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.0375rem; }
