.chart_chart-container__1V1oP {
  position: relative; }

.chart_context-menu__3bZsN {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99; }

.chart_context-menu-without-legend__2b6l1 {
  position: relative;
  text-align: right;
  padding-bottom: 0.25rem;
  z-index: 99; }
  .chart_context-menu-without-legend__2b6l1 * {
    text-align: left; }

.chart_show-annotations__2OPma {
  position: absolute;
  top: 0;
  right: calc(0.5rem + 2rem);
  z-index: 99; }

.chart_toolbar__Z0qeR {
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem; }
  .chart_toolbar__Z0qeR .chart_left__1mvdF,
  .chart_toolbar__Z0qeR .chart_right__2vBm1 {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem; }
  .chart_toolbar__Z0qeR .chart_left__1mvdF {
    align-self: flex-start;
    margin-right: auto; }
  .chart_toolbar__Z0qeR .chart_right__2vBm1 {
    align-self: flex-start;
    margin-left: auto; }

.chart_overflowable__3UwI1 {
  overflow: visible; }
  .chart_overflowable__3UwI1:hover {
    z-index: 1; }
  .chart_overflowable__3UwI1 svg,
  .chart_overflowable__3UwI1 [data-component="chart"],
  .chart_overflowable__3UwI1 .highcharts-container {
    overflow: visible !important; }
  .chart_overflowable__3UwI1 .highcharts-tooltip {
    z-index: 999999999; }

.chart-annotations-table .fancy-BaseTable thead th {
  background-color: #ffffff !important; }

.highcharts-legend-item text {
  color: #1f2b3f !important;
  fill: #1f2b3f !important; }

.highcharts-legend-checkbox {
  margin: 0;
  border: 1px solid #62737a;
  background: #ffffff;
  border-radius: 0.1875rem;
  outline: none;
  cursor: pointer; }
  .highcharts-legend-checkbox:hover {
    border-color: #2666f1;
    box-shadow: 0 0 0 0.1875rem rgba(27, 78, 161, 0.2); }
