.data-picker-with-input_validation-message__1NHyy {
  visibility: hidden;
  padding: 0.25rem 0; }

.data-picker-with-input_validation-message-visible__OhCz- {
  visibility: visible; }

.data-picker-with-input_popover-box__vfCIL {
  display: inline-block;
  margin: 0.25rem 0 0 0;
  padding: 1rem;
  max-width: 18.75rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(31, 43, 63, 0.12), 0 0.125rem 0.25rem 0 rgba(31, 43, 63, 0.08);
  background-color: #ffffff;
  border-radius: 0.1875rem; }
