.message_message__2LzGu {
  display: flex;
  width: 100%;
  align-items: stretch;
  background: #ffffff;
  border: 1px solid #2666f1;
  border-radius: 0.3125rem;
  overflow: hidden; }
  .message_message__2LzGu.message_neutral__3QjIp {
    border-color: #2666f1; }
    .message_message__2LzGu.message_neutral__3QjIp .message_icon-container__1giL8 {
      background-color: #2666f1; }
  .message_message__2LzGu.message_positive__1MLuJ {
    border-color: #38773f; }
    .message_message__2LzGu.message_positive__1MLuJ .message_icon-container__1giL8 {
      background-color: #38773f; }
  .message_message__2LzGu.message_warning__3xbLq {
    border-color: #f3b549; }
    .message_message__2LzGu.message_warning__3xbLq .message_icon-container__1giL8 {
      background-color: #f3b549; }
  .message_message__2LzGu.message_negative__13Us7 {
    border-color: #d04257; }
    .message_message__2LzGu.message_negative__13Us7 .message_icon-container__1giL8 {
      background-color: #d04257; }
  .message_message__2LzGu.message_critical__53Wds {
    border-color: #b3521e; }
    .message_message__2LzGu.message_critical__53Wds .message_icon-container__1giL8 {
      background-color: #b3521e; }
  .message_message__2LzGu .message_icon-container__1giL8 {
    display: flex;
    align-items: center;
    padding: 1rem 0.75rem; }
  .message_message__2LzGu .message_content-container__35uqR {
    padding: 1rem; }
  .message_message__2LzGu .message_title__2R4KM {
    margin-bottom: 0.25rem; }
  .message_message__2LzGu .message_message-footer__39Wgk {
    margin-top: 0.5rem; }
  .message_message__2LzGu.message_compact__3q_Gc .message_icon-container__1giL8 {
    padding: 0.5rem; }
  .message_message__2LzGu.message_compact__3q_Gc .message_content-container__35uqR {
    padding: 0.5rem 0.75rem; }
  .message_message__2LzGu.message_compact__3q_Gc .message_title__2R4KM {
    margin-bottom: 0; }
  .message_message__2LzGu.message_compact__3q_Gc .message_message-footer__39Wgk {
    margin-top: 0.25rem; }
