.progress-bar_horizontal-progress-bar__2SnV9 {
  padding-bottom: 0.9375rem; }
  .progress-bar_horizontal-progress-bar__2SnV9 .progress-bar_info-bar__1LIL1 {
    display: flex;
    justify-content: space-between;
    line-height: 1.5em; }
    .progress-bar_horizontal-progress-bar__2SnV9 .progress-bar_info-bar__1LIL1 .progress-bar_info-bar-title__8MEOs {
      display: inline; }
    .progress-bar_horizontal-progress-bar__2SnV9 .progress-bar_info-bar__1LIL1 .progress-bar_info-bar-values__1K2h3 {
      white-space: nowrap; }
      .progress-bar_horizontal-progress-bar__2SnV9 .progress-bar_info-bar__1LIL1 .progress-bar_info-bar-values__1K2h3 .progress-bar_total-value__3miJf {
        font-size: 0.8em; }

.progress-bar_progress-container__2FxJO {
  height: 0.1875rem;
  position: relative;
  background: #e8eced; }
  .progress-bar_progress-container__2FxJO .progress-bar_progress-wrapper__MYJKx,
  .progress-bar_progress-container__2FxJO [role="progressbar"] {
    position: relative;
    display: block;
    height: 100%; }
  .progress-bar_progress-container__2FxJO [role="progressbar"] {
    top: -0.0625rem;
    height: 0.3125rem;
    border-radius: 0.125rem;
    transform-origin: 0% 50%; }
    .progress-bar_progress-container__2FxJO [role="progressbar"].progress-bar_single-color__2RRzO {
      animation: progress-bar_progressBarAnimationSingleColor__m8yub 2s linear forwards; }
    .progress-bar_progress-container__2FxJO [role="progressbar"].progress-bar_heat-range-warm__1DXWu {
      animation: progress-bar_progressBarAnimationWarm__3hJDg 2s linear forwards; }
    .progress-bar_progress-container__2FxJO [role="progressbar"].progress-bar_heat-range-warm-reverse__1IH0h {
      animation: progress-bar_progressBarAnimationWarmReversed__33pVW 2s linear forwards; }
    .progress-bar_progress-container__2FxJO [role="progressbar"].progress-bar_heat-range-cool__2SWDH {
      animation: progress-bar_progressBarAnimationCool__3nJyV 2s linear forwards; }
    .progress-bar_progress-container__2FxJO [role="progressbar"].progress-bar_heat-range-cool-reverse__3qeDM {
      animation: progress-bar_progressBarAnimationCoolReversed__3VgEo 2s linear forwards; }

.progress-bar_progress-wrapper__MYJKx {
  display: inline-block;
  width: 100%;
  margin: 0.125rem 0 0.625rem 0; }

.progress-bar_wrapper__1Liih {
  display: flex;
  margin-right: 0.25rem; }

.progress-bar_conformance-icon__2J0U4 {
  margin-right: 0.5rem; }

.progress-bar_target-tooltip__1EbRW {
  position: absolute;
  margin: -0.8125rem 0 0 -0.8125rem;
  animation: progress-bar_targetAnimation__GZNUS 1s linear forwards; }

.progress-bar_tooltip-content__2vHPh {
  padding: 0.25rem;
  text-align: center; }
  .progress-bar_tooltip-content__2vHPh .progress-bar_title__3RdkU {
    margin: 0; }
  .progress-bar_tooltip-content__2vHPh .progress-bar_score__2k1Ho {
    font-size: 1rem;
    font-weight: 700; }

@keyframes progress-bar_progressBarAnimationSingleColor__m8yub {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }

@keyframes progress-bar_progressBarAnimationWarm__3hJDg {
  0% {
    background-color: #e8465e;
    transform: scaleX(0); }
  30% {
    background-color: #f36759;
    transform: scaleX(0.3); }
  40% {
    background-color: #fa8759;
    transform: scaleX(0.4); }
  50% {
    background-color: #fea45f;
    transform: scaleX(0.5); }
  60% {
    background-color: #ffc16d;
    transform: scaleX(0.6); }
  65% {
    background-color: #ffdc83;
    transform: scaleX(0.65); }
  70% {
    background-color: #e4e98d;
    transform: scaleX(0.7); }
  80% {
    background-color: #c8dc7d;
    transform: scaleX(0.8); }
  85% {
    background-color: #accf6e;
    transform: scaleX(0.85); }
  90% {
    background-color: #8ec262;
    transform: scaleX(0.9); }
  95% {
    background-color: #6fb457;
    transform: scaleX(0.95); }
  100% {
    background-color: #4ba74f;
    transform: scaleX(1); } }

@keyframes progress-bar_progressBarAnimationWarmReversed__33pVW {
  0% {
    background-color: #4ba74f;
    transform: scaleX(0); }
  30% {
    background-color: #6fb457;
    transform: scaleX(0.3); }
  40% {
    background-color: #8ec262;
    transform: scaleX(0.4); }
  50% {
    background-color: #accf6e;
    transform: scaleX(0.5); }
  60% {
    background-color: #c8dc7d;
    transform: scaleX(0.6); }
  65% {
    background-color: #e4e98d;
    transform: scaleX(0.65); }
  70% {
    background-color: #ffdc83;
    transform: scaleX(0.7); }
  80% {
    background-color: #ffc16d;
    transform: scaleX(0.8); }
  85% {
    background-color: #fea45f;
    transform: scaleX(0.85); }
  90% {
    background-color: #fa8759;
    transform: scaleX(0.9); }
  95% {
    background-color: #f36759;
    transform: scaleX(0.95); }
  100% {
    background-color: #e8465e;
    transform: scaleX(1); } }

@keyframes progress-bar_progressBarAnimationCool__3nJyV {
  0% {
    background-color: #ccf1ff;
    transform: scaleX(0); }
  30% {
    background-color: #ace9ff;
    transform: scaleX(0.3); }
  40% {
    background-color: #92d6f4;
    transform: scaleX(0.4); }
  50% {
    background-color: #78c3ea;
    transform: scaleX(0.5); }
  60% {
    background-color: #5faedf;
    transform: scaleX(0.6); }
  65% {
    background-color: #4a9ad3;
    transform: scaleX(0.65); }
  70% {
    background-color: #4a9ad3;
    transform: scaleX(0.7); }
  80% {
    background-color: #3789c9;
    transform: scaleX(0.8); }
  85% {
    background-color: #2775bd;
    transform: scaleX(0.85); }
  90% {
    background-color: #1d62b0;
    transform: scaleX(0.9); }
  95% {
    background-color: #1d62b0;
    transform: scaleX(0.95); }
  100% {
    background-color: #1b4ea1;
    transform: scaleX(1); } }

@keyframes progress-bar_progressBarAnimationCoolReversed__3VgEo {
  0% {
    background-color: #1b4ea1;
    transform: scaleX(0); }
  30% {
    background-color: #1d62b0;
    transform: scaleX(0.3); }
  40% {
    background-color: #2775bd;
    transform: scaleX(0.4); }
  50% {
    background-color: #3789c9;
    transform: scaleX(0.5); }
  60% {
    background-color: #4a9ad3;
    transform: scaleX(0.6); }
  65% {
    background-color: #5faedf;
    transform: scaleX(0.65); }
  70% {
    background-color: #5faedf;
    transform: scaleX(0.7); }
  80% {
    background-color: #78c3ea;
    transform: scaleX(0.8); }
  85% {
    background-color: #78c3ea;
    transform: scaleX(0.85); }
  90% {
    background-color: #92d6f4;
    transform: scaleX(0.9); }
  95% {
    background-color: #ace9ff;
    transform: scaleX(0.95); }
  100% {
    background-color: #ccf1ff;
    transform: scaleX(1); } }

@keyframes progress-bar_targetAnimation__GZNUS {
  0% {
    left: 0; } }

@media (prefers-reduced-motion: reduce) {
  .progress-bar_progress-container__2FxJO [role="progressbar"] {
    animation-duration: 0s; }
  .progress-bar_target-tooltip__1EbRW {
    animation-duration: 0s; } }
