/*
	  This will hide the focus indicator if the element receives focus via the mouse,
	  but it will still show up on keyboard focus.
	  More information at: https://github.com/WICG/focus-visible
	*/
html .select_invalid__DzI48:focus:not(:focus-visible) {
  outline: none; }

html .select_invalid__DzI48::-moz-focus-inner {
  border: 0; }

.select_popover-container__2fR8M {
  display: flex; }

.select_popover-content__1lroF {
  min-width: 15rem;
  max-width: 37.5rem;
  border-radius: 0.1875rem;
  list-style: none;
  overflow: hidden; }
  .select_popover-content__1lroF.select_no-min-width__UXDHj {
    min-width: auto; }
  .select_popover-content__1lroF.select_no-max-width__ZylX7 {
    max-width: unset; }

.select_popover-button__14J5H {
  line-height: 1.3 !important; }

.select_badge__33AD9 {
  margin-right: 0.25rem; }

.select_search-input-field__1tmZX {
  padding: 0.75rem; }

.select_no-matches-message__2LVH3 {
  padding: 0.75rem 1rem; }

.select_bulk-actions__2adRH {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem; }

.select_full-width__2MSQR {
  width: 100%; }

.select_spinner-container__3IZj0 {
  padding: 0.75rem 1rem; }

.select_search-help-text__1AR4e {
  padding: 0.25rem 1rem 0.75rem; }

.select_max-number-items__2IPL8 {
  color: #62737a;
  font-weight: 400;
  font-size: 0.75rem; }

.select_badge-max-number-items__1AxTC {
  color: #ebf6ff;
  font-weight: 400;
  font-size: 0.75rem; }
