.pill_pill__FKUYd {
  display: inline-flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  white-space: nowrap;
  border-radius: 125rem;
  background-color: #e8e9ec;
  vertical-align: middle;
  border: 1px solid transparent; }
  .pill_pill__FKUYd:empty {
    display: none; }

.pill_small__2ZA3V {
  height: 1.25rem; }

.pill_medium__3gSWk {
  height: 1.375rem; }

.pill_large__miCh- {
  height: 1.5rem; }

.pill_interactive__3Ad6s {
  background-color: #ffffff;
  border-color: #62737a;
  cursor: pointer; }
  .pill_interactive__3Ad6s:hover {
    border: 1px solid #2666f1;
    box-shadow: 0 0 0 0.1875rem rgba(27, 78, 161, 0.2); }
  .pill_interactive__3Ad6s:focus-visible {
    box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.25rem #2666f1;
    outline: 0; }
  .pill_interactive__3Ad6s:active {
    border: 1px solid #2666f1;
    background-color: #c8e8fa;
    box-shadow: none; }
