/*
	  This will hide the focus indicator if the element receives focus via the mouse,
	  but it will still show up on keyboard focus.
	  More information at: https://github.com/WICG/focus-visible
	*/
html .tooltip_plain-button__2q8ry:focus:not(:focus-visible) {
  outline: none; }

html .tooltip_plain-button__2q8ry::-moz-focus-inner {
  border: 0; }

.tooltip_reference-wrapper__3vlZE {
  display: inline-block; }

.tooltip_reference-anchor__3Prau {
  display: inline-block; }

.tooltip_plain-button__2q8ry {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  line-height: 0;
  vertical-align: middle;
  transition: 0.1s; }
  .tooltip_plain-button__2q8ry:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.25rem #2666f1;
    border-radius: 0.1875rem; }

.tooltip_text-and-icon-wrapper__1yB_O {
  display: inline-flex;
  align-items: center; }
  .tooltip_text-and-icon-wrapper__1yB_O > button {
    margin-left: 0.25rem; }

.tooltip_tooltip__2-UTg {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.3125rem;
  background-color: #1f2b3f;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(31, 43, 63, 0.12), 0 0.125rem 0.25rem 0 rgba(31, 43, 63, 0.08);
  white-space: pre-wrap;
  width: max-content;
  letter-spacing: initial;
  text-align: initial; }

.tooltip_tooltip-text__22DRO.tooltip_tooltip-text__22DRO {
  display: inline-block;
  max-width: 48ch;
  overflow-wrap: break-word; }

.tooltip_tooltip-arrow__1AWQX {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #1f2b3f;
  box-shadow: 0 0.25rem 0.25rem rgba(31, 43, 63, 0.12), 0 0.125rem 0rem rgba(31, 43, 63, 0.08); }
