.button {
	background-color: #832814;
	color: white;
	width: 50%;
	height: 2rem;
}
#container {
	border: 1px solid black;
	padding: 0 0 1rem 1rem;
}

#firstRun {
	border: 1px solid black;
	padding: 0 0 1rem 1rem;
}

.hidden {
	display: none;
}

.indicator-on {
  transition: background-color 0.5s ease;
  background-color: green;
}

.indicator-off {
  transition: background-color 0.5s ease;
  background-color: #832814;
}