*:focus {
    outline: 5px solid white;
    outline-offset: 2px;
}

* {
    font-family: "Open Sans - Regular";
}

@font-face {
    font-family: 'Open Sans - Regular'; src : url(public/font/open-sans-v18-latin-regular.woff2) format('woff2');
    font-weight: 400; font-style: normal
}

.sr_only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

#totalErrors {
    background: #303439 0% 0% no-repeat padding-box;
    border-radius: 12px;
    width: fit-content;
    padding: 10px;
}

canvas {
    background: #303439 0% 0% no-repeat padding-box;
    border-radius: 11px;
    padding: 10px;
}

#ruleResults > tbody tr:nth-child(even) {
    background: #303439 0% 0% no-repeat padding-box;
    border-radius: 12px;
}

#ruleResults > tbody > tr > td:first-child {
    width: 40%;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}
#ruleResults > tbody > tr > td:last-child {
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    font-weight: bold;
}

#ruleResults > tbody > tr > td {
    padding: 8px;
}

#ruleResults {
    border-collapse: collapse;
}


#ruleResults > tbody {
    height: 40px;
}

.errorPerClass {
    text-align: left;
    background: #303439 0% 0% no-repeat padding-box;
    border-radius: 11px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
}

body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(38, 38, 38, 1) 100%);
    color: white;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
}

span {
    margin-right: 10px;
    vertical-align: top;
    font-weight: bold;
}

.sr_only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

textarea {
    width: 80%;
    height: 80px;
    font-size: 20px;
    border-radius: 14px;
    padding: 13px;
    margin-top: 10px;
}

.divider {
    border-top: 3px solid #bbb;
    border-radius: 5px;
    background: #bbb;
    opacity: 0.29;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-area {
    background: #303439 0% 0% no-repeat padding-box;
    border-radius: 11px;
    padding: 15px;
}

input {
    width: 50px;
    height: 25px;
    float: right;
    text-align: center;
    border-radius: 5px;
}

.buttonArea {
    font-weight: bold;
}

.buttonArea > button {
    margin-left: 45px;
}

.buttonArea > p {
    margin-top: 20px;
}

button {
    height: 40px;
    font-size: 17px;
    width: 300px;
    border-radius: 20px;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #FFFFFF81;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    font-weight: bold;
}

button:hover {
    background-color: #ccc;
}

label {
    vertical-align: top;
    font-weight: bold;
}

#ruleResultsBody > tr > td > img {
    width: 40px;
}

body::-webkit-scrollbar {
    width: 10Px;
    background: #313131;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background: rgb(129, 136, 137);
    background: -webkit-linear-gradient(bottom, rgba(129, 136, 137, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(0deg, rgba(129, 136, 137, 1) 0%, rgba(255, 255, 255, 1) 100%);

}

label::after, span::after {
    content: "";
}

.includeBox {
    padding: 20px;
    margin: 20px 5px 5px;
    border: 2px solid silver;
    border-radius: 20px;
    background: linear-gradient(
            180deg, rgba(255, 255, 255, 1) 0%, rgba(220, 211, 222, 1) 100%);
    color: black;
}

p {
    font-size: 16px;
    max-width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
}

h1 {
    width: 80%;
    font-size: 25px;
    margin-top: 22px;
}

h2 {
    font-size: 20px;
}

.bottomBorder {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #04bfd2;
    border-bottom: 4px solid #eb568b;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}

.eyeAbleChecker_container{
    display:none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 34px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 8px;
    border: 5px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

.lds-ring.loading-circle div{
    margin-left: -40px;
    margin-top: 20px;
    height: 30px;
    width: 30px;
    border-color: #303439 transparent transparent transparent ;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* remove clock symbol and empty space from input type time */
input[type="time"]::-webkit-calendar-picker-indicator { background: none; display:none; }

.displayFlexRows{
    display: flex; 
    flex-wrap: wrap;
    gap: 45px; 
    margin-left: 45px;
}
.displayFlexRowsItem{
   
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 50%;
	flex-basis: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}