<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Tribunal de Justiça do Maranhão - PJE</title>
    <script src="../assets/js/jquery-3.2.0.min.js"></script>
    <script src="../assets/js/constants.js" type="text/javascript"></script>
    <script src="../assets/js/services.js" type="text/javascript"></script>
    <script src="../assets/js/login.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
  </head>
  <body>
    <div class="cabecalho">
      <h3>Extensão TJMA-PJE</h3>
      <img src="../assets/img/logo-tjma.png" width="350" />
    </div>
    <div id="login-message" class=""><div class="c-loader"></div></div>
    <div class="acoes">
      <button id="btnNavigate" type="button">Acessar NUGEPNAC</button>
    </div>
    <div class="rodape">
      <p>TJMA - Tribunal de Justiça do Maranhão</p>
    </div>
  </body>
</html>
