html, body {
  width: 100px;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.0em;
  cursor: pointer;
}

.modeOff:hover {
  background-color: #88F2F2;
}

.modeOff {
  background-color: #CFF2F2;
}

.mode1stParty:hover {
  background-color: #FF7777;
}

.mode1stParty {
  background-color: #FF9999;
}

.mode3rdPartyVisitedOnly:hover {
  background-color: #FF7777;
}

.mode3rdPartyVisitedOnly {
  background-color: #FF9999;
}

.modeAllowAll:hover {
  background-color: #FF7777;
}

.modeAllowAll {
  background-color: #FF9999;
}

.clear {
  background-color: #FBFBC9;
}

.clear:hover {
  background-color: #EAEA9D;
}

.selected {
  border: 3px solid #0000ff;
 }
