/** { 
	border-collapse:collapse;
}
*/
body {
	font-size: 1rem;
}
.webext * {
	box-sizing: border-box;
	font-family: sans-serif;
}

h1 {
	color:#00008f;
	background-color:inherit;
	font-size:175%;
/*	display:inline;*/
}
button {
	width:15em;
}

table.exif_output {
	border:1px solid black;
/*	border-collapse:collapse; */
}

table.exif_output td {
	border:1px solid black;
/*	border-collapse:collapse; */
	padding:5px;
}

table.exif_output td.first {
	white-space:nowrap;
}

textbox {
	height:2em;
}

.biggerText {
	font-size:150%;
	font-weight:bold;
}

.fileLabel {
	width:8em;
}

.thumbnail {
	border:2px solid #000099;
	margin:5px;
/*	min-height:3em;
	min-width:4em;
*/
	vertical-align:top;
}

button {
	margin-left:10px;
}
#mainBtn {
	font-weight:bold;
}
#controls {
	border:2px solid #000099;
	padding:5px;
	clear:both;
}

#mainControls {
	display:block;
	margin-bottom:5px;
	width:100%;
}
#local_file ,  #remote_file{
	width:15em;
}

#options , #options2 {
	border:1px solid #888888;
	margin-left:5px;
	padding:5px;
}
#outputDiv {
	border:2px solid #000099;
	font-size:100%;
	overflow:auto;
	padding:0.5em;
	width:100%;
}
.webext #outputDiv {
	background-color: #FFFFCC;
	/*border-radius: 5px;*/
	overflow-x: hidden;
}

.separator {
	clear:both;
}

#outputDiv.basic #outputDiv_img , #outputDiv.basic h2{
	display: none;
}
#outputDiv.basic table {
	width: 97%;
}
#outputDiv.basic table tr td:nth-of-type(1) {
	width: 50%;
}

#outputDiv div  {
	clear:left;
}
 
#outputDiv_head {
	width:100%;
}
#outputDiv_img {
	float:right !important;
}
/*#outputDiv_ifd0 ,*/ #outputDiv_iptc /*, #outputDiv_iptc_core*/ {
	float:left;
	width:auto !important;
}
#outputDiv_msg {
	color:red;
	font-weight:bold;
}

#pickFields {
	border:1px solid #888888;
	padding:5px;
}

#fileDiv {
	font-weight: bold;
	/*border:2px solid #000099;*/
	margin:5px 0 5px 0;
	padding:5px 5px 15px 5px;
}

.fileImage {
	list-style-image: url(file.gif);
}
.openImage {
	list-style-image: url(open.gif);
}
.closeImage {
	list-style-image: url(close.gif);
}

.link {
	text-decoration: underline;
	cursor: pointer;
}

#xmp_legend {
	float: right;
	display: none;
}

#navDiv {
	margin-bottom: 0.25em;
}
#aboutDiv {
	margin-top: 0.25em;
}
#navDiv a , #aboutDiv a {
	display: inline-block;
	/*xwidth: 12.175%;*/
	height: 2em;
	line-height: 1.5em;
	text-align: center;
	border: 2px solid navy;
	border-radius: 5px;
	text-decoration: none;
	background-color: #ccc;	/*orange;*/
	padding: 0.25em 0.5em;
	font-size: 85%;
}
#navDiv a {
	/*border-bottom: none;*/
}
#aboutDiv a {
	/*border-top: none;*/
}
#navDiv a:hover , #aboutDiv a:hover {
	text-decoration: underline;
}

#controls {
	max-width: 100%;
	float: left;
	margin-bottom: 10px;
}
#controls fieldset {
	min-width: 10em;
	float: left;
	border: 1px solid navy;
}
#controls fieldset label {
	width: 50%;
	float: left;
	clear: both;
	white-space: nowrap;
}
#controls fieldset legend {
	color: navy;
}

#outputDiv_head {
	clear: both;
}

#histograms {
	display: none;
	padding: 0.5em;
	text-align: center;
	position: absolute;
	left: 5%;
	top: 18%;
	height: 72%;
	width: 90%;
	overflow-y: auto;
	background-color: #CCCCCC;
	border: 2px solid navy;
}
#histograms canvas {
	margin: 0 5px;
}