.keeper-extension-simple {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  padding: 20px;
  gap: 20px;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
}
.keeper-extension-simple .keeper-extension-simple-message {
  font-size: 15px;
  line-height: 24px;
}
.keeper-extension-simple .keeper-button {
  background-color: #ffc700 !important;
  width: 100% !important;
}