.label-d8 {
  color: #d8d8d8;
}

div#keeper-extension-root > #keeper-extension.recordEditPrompt ~ .overlayalert.dark-mode .multiple-folder-overlay-alert .body-container .messages-container p.text {
  color: #f0f0f0;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.dark-mode .record-edit-container .keeper-button-inactive-full-width {
  color: #000 !important;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.high-contrast-mode .folder-selector-field.error .record-edit-field-content span > div > div[class^=keeper-select] {
  border: 2px solid LinkText;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.high-contrast-mode .folder-selector-field.error + .error-container .keeper-iconbutton-error path {
  fill: LinkText;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.high-contrast-mode .folder-selector-field.error + .error-container span.text {
  color: LinkText;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.rtl .folder-selector-field + .error-container span.text {
  text-align: right;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.dark-mode keeper-button.keeper-button-inactive-full-width.dark {
  color: black !important;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.dark-mode .folder-selector-field [class^=keeper-select] svg ~ span {
  color: white;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.dark-mode .folder-selector-field + .error-container .keeper-iconbutton-error path {
  fill: #ce021b;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-selector-field [class^=keeper-select].keeper-select-disabled {
  cursor: pointer;
  opacity: 1;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-selector-field [class^=keeper-select].keeper-select-disabled ~ div svg path {
  fill-opacity: 1;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-selector-field.error {
  margin-bottom: 12px;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-selector-field.error .record-edit-field-content span > div > div[class^=keeper-select] {
  border: 2px solid #ce021b;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-selector-field + .error-container {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
          flex-direction: row;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
  gap: 8px;
  margin-bottom: 16px;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-selector-field + .error-container .keeper-iconbutton-error {
  width: 24px;
  height: 24px;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-selector-field + .error-container .keeper-iconbutton-error path {
  fill: #ce021b;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt .folder-selector-field + .error-container span.text {
  color: #ce021b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt ~ .overlayalert.default {
  width: 374px;
  height: 625px;
  border-radius: 8px;
  left: 10px;
  top: 10px;
}
div#keeper-extension-root > #keeper-extension.recordEditPrompt.record-edit-container .keeper-button-active-full-width {
  font-weight: 400;
  color: #000;
}