.label-d8 {
  color: #d8d8d8;
}

div#keeper-extension-root p,
div#keeper-extension-root span:not(.password-char, .disclaimer-span),
div#keeper-extension-root label,
div#keeper-extension-root .keeper-record-label,
div#keeper-extension-root .keeper-record-field {
  color: #333;
}
div#keeper-extension-root .generatePasswordPrompt {
  font-size: 14px;
}
div#keeper-extension-root .generatePasswordPrompt.dark-mode {
  background-color: #262626 !important;
}
div#keeper-extension-root .overlayalert.light-mode .text {
  color: white;
}
div#keeper-extension-root .overlayalert.dark-mode:not(.default) {
  border: 1px solid #888 !important;
  background: #1f1f1f !important;
}
div#keeper-extension-root #keeper-extension.rtl {
  direction: rtl;
}
div#keeper-extension-root #keeper-extension.rtl .keeper-header .keeper-logo,
div#keeper-extension-root #keeper-extension.rtl .keeper-header keeper-logo {
  background-position-x: 98%;
}
div#keeper-extension-root #keeper-extension.rtl .keeper-header #menubutton #edit-menu {
  right: inherit !important;
  left: 36px !important;
}
div#keeper-extension-root #keeper-extension.dark-mode .keeper-header #menubutton #edit-menu {
  color: white;
}
div#keeper-extension-root #keeper-extension.dark-mode .keeper-header #menubutton #edit-menu .keeper-div:hover {
  background-color: #585858;
}
div#keeper-extension-root #keeper-extension.dark-mode .prompt-container *:not(div.keeper-button, .themed-text, .themed-text *) {
  color: white !important;
}
div#keeper-extension-root #keeper-extension.dark-mode .prompt-container svg[class^=keeper-iconbutton-]:not(.same-color-on-color-modes):not(.themed-svg) {
  fill: white !important;
}
div#keeper-extension-root #keeper-extension.dark-mode .prompt-container svg[class^=keeper-iconbutton-]:not(.same-color-on-color-modes):not(.themed-svg) path,
div#keeper-extension-root #keeper-extension.dark-mode .prompt-container svg[class^=keeper-iconbutton-]:not(.same-color-on-color-modes):not(.themed-svg) rect {
  fill: white !important;
}
div#keeper-extension-root #keeper-extension.dark-mode .prompt-container svg.checked path,
div#keeper-extension-root #keeper-extension.dark-mode .prompt-container svg.unchecked path {
  fill: #48b6ff !important;
}
div#keeper-extension-root #keeper-extension.dark-mode .prompt-container .record-fields .icons svg path {
  fill: white !important;
}
div#keeper-extension-root #keeper-extension.dark-mode .fill-record-button {
  background: #1f1f1f !important;
}
div#keeper-extension-root #keeper-extension.dark-mode .toast {
  border: 1px solid #888 !important;
  background: #1f1f1f !important;
}
div#keeper-extension-root #keeper-extension .keeper-header {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
          flex-direction: row;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
}
div#keeper-extension-root #keeper-extension .keeper-header #popup-back-button-container {
  width: initial;
  margin: 0;
}
div#keeper-extension-root #keeper-extension .prompt-container {
  padding: 16px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  gap: 16px;
  max-height: 513px;
  overflow: hidden overlay;
}
div#keeper-extension-root #keeper-extension .prompt-container > div.prompt-site-info {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 8px;
}
div#keeper-extension-root #keeper-extension .prompt-container > div.prompt-site-info > img {
  width: 20px;
  height: 20px;
}
div#keeper-extension-root #keeper-extension .prompt-container > div.prompt-site-info > p {
  font-size: 15px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div#keeper-extension-root #keeper-extension .prompt-container .login-details {
  color: #333;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
}
div#keeper-extension-root #keeper-extension .prompt-container .login-details > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}
div#keeper-extension-root #keeper-extension .prompt-container .login-details > span:nth-child(1) {
  font-size: 13px;
}
div#keeper-extension-root #keeper-extension .prompt-container .login-details > span:nth-child(2) {
  font-size: 12px;
}
div#keeper-extension-root #keeper-extension .prompt-container > label {
  display: block;
}
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-login, div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-address, div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-card {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
          flex-direction: row;
  border: 1px solid black;
  padding: 6px 8px 4px;
  border-radius: 5px;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  width: 278px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  cursor: pointer;
  gap: 10px;
  height: 52px;
}
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-login .keeper-card-image,
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-login .keeper-favicon,
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-login .keeper-record-field-address, div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-address .keeper-card-image,
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-address .keeper-favicon,
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-address .keeper-record-field-address, div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-card .keeper-card-image,
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-card .keeper-favicon,
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-card .keeper-record-field-address {
  padding: 0;
  margin-right: 0 !important;
}
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-login > div, div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-address > div, div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-card > div {
  margin-left: 0 !important;
  position: initial;
}
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-login > div:nth-child(2), div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-address > div:nth-child(2), div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-card > div:nth-child(2) {
  width: 100%;
}
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-login > div:nth-child(2) .keeper-record-label,
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-login > div:nth-child(2) .keeper-record-field, div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-address > div:nth-child(2) .keeper-record-label,
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-address > div:nth-child(2) .keeper-record-field, div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-card > div:nth-child(2) .keeper-record-label,
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-card > div:nth-child(2) .keeper-record-field {
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  max-width: 178px;
}
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-login > .keeper-record-chooser > .keeper-list, div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-address > .keeper-record-chooser > .keeper-list, div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-card > .keeper-record-chooser > .keeper-list {
  width: 278px;
  top: initial !important;
  margin: 0 16px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  left: 0 !important;
  right: 0 !important;
  -webkit-transform: translateY(12px);
     -moz-transform: translateY(12px);
      -ms-transform: translateY(12px);
          transform: translateY(12px);
}
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-login > .keeper-record-chooser > .keeper-list .keeper-list-container .title-for-keeper-list,
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-login > .keeper-record-chooser > .keeper-list .keeper-list-container .username-for-keeper-list, div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-address > .keeper-record-chooser > .keeper-list .keeper-list-container .title-for-keeper-list,
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-address > .keeper-record-chooser > .keeper-list .keeper-list-container .username-for-keeper-list, div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-card > .keeper-record-chooser > .keeper-list .keeper-list-container .title-for-keeper-list,
div#keeper-extension-root #keeper-extension .prompt-container > .keeper-record-field-card > .keeper-record-chooser > .keeper-list .keeper-list-container .username-for-keeper-list {
  display: block !important;
}
div#keeper-extension-root #keeper-extension .prompt-container .keeper-record-field-password {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 100%;
  margin-bottom: 4px;
}
div#keeper-extension-root #keeper-extension .prompt-container .keeper-record-field-password > div {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
}
div#keeper-extension-root #keeper-extension .prompt-container .keeper-record-field-password > div .keeper-record-field {
  width: 100%;
}
div#keeper-extension-root #keeper-extension .prompt-container .keeper-record-field-password > div .keeper-record-field .keeper-password {
  width: 100%;
}
div#keeper-extension-root #keeper-extension .prompt-container .keeper-record-field-password > div .keeper-record-field .keeper-password > div {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
          flex-direction: row;
  width: 100%;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
}
div#keeper-extension-root #keeper-extension .prompt-container .keeper-record-field-password > div .keeper-record-field .keeper-password > div .keeper-input {
  line-break: anywhere;
  font-size: 13px;
  height: initial;
  cursor: text;
  color: #333;
}
div#keeper-extension-root #keeper-extension .prompt-container .keeper-record-field-password > div .keeper-record-field .keeper-password > div .icons {
  gap: 8px;
}
div#keeper-extension-root #keeper-extension .prompt-container .keeper-record-field-password > div .keeper-record-field .keeper-password > div .icons .keeper-iconbutton-fill {
  display: none;
}
div#keeper-extension-root #keeper-extension .prompt-container .keeper-record-field-password > div .keeper-record-field .keeper-password > .keeper-password-privacy-screen {
  display: none !important;
}
div#keeper-extension-root #keeper-extension .prompt-container .keeper-record-field-password > div .keeper-record-field .keeper-password > .keeper-password-strength {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 100%;
}
div#keeper-extension-root #keeper-extension .prompt-container .password-privacy-screen {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
          flex-direction: row;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  padding: 4px 0;
  gap: 6px;
}
div#keeper-extension-root #keeper-extension .prompt-container .password-privacy-screen svg {
  width: 20px;
}
div#keeper-extension-root #keeper-extension .prompt-container .password-privacy-screen p {
  font-size: 11px;
  margin: 0;
}
div#keeper-extension-root #keeper-extension .prompt-container > h1 {
  margin: 0;
  font-size: 16px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
  text-align: initial;
}
div#keeper-extension-root #keeper-extension .prompt-container > p {
  margin: 0;
  font-size: 16px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
  text-align: initial;
}
div#keeper-extension-root #keeper-extension .prompt-container > .password-prompt-animation-instruction {
  height: 62px;
}
div#keeper-extension-root #keeper-extension .prompt-container > textarea.keeper-input {
  border-bottom: 1px solid #000;
  border-radius: 0;
  margin-top: 8px !important;
  cursor: text;
}
div#keeper-extension-root #keeper-extension .prompt-container > div.prompt-button-group {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  gap: 16px;
}
div#keeper-extension-root #keeper-extension .prompt-container > div.prompt-button-group.single-button-group .keeper-button {
  width: 100%;
  background: #ffc700 !important;
}
div#keeper-extension-root #keeper-extension .prompt-container > div.prompt-button-group .keeper-button:nth-child(1) {
  background: #f0f0f0;
}
div#keeper-extension-root #keeper-extension .prompt-container > div.prompt-button-group keeper-button:nth-child(2) {
  background: #ffc700;
}
div#keeper-extension-root #keeper-extension .prompt-container > div.prompt-button-group.dark .keeper-button:nth-child(1) {
  background: #404040;
  color: white;
}
div#keeper-extension-root #keeper-extension .prompt-container > .revert-password-change-message {
  cursor: pointer;
  text-align: center;
}
div#keeper-extension-root #keeper-extension .prompt-container > .no-record-found {
  font-size: 13px;
}
div#keeper-extension-root #keeper-extension .prompt-container > .fill-record-button {
  width: 278px;
  background: #f0f0f0;
  gap: 8px;
  color: #333;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  height: 30px;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  font-size: 13px;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  margin: 0;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-detail-button {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  color: #333;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
          flex-direction: row;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 13px;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields {
  gap: 12px;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-password {
  width: 100%;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-password .keeper-password {
  width: 100%;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-password .keeper-record-label {
  color: rgba(0, 0, 0, 0.6);
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-password .keeper-iconbutton-fill {
  display: block !important;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .field > div {
  margin-top: 0 !important;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .field .value {
  margin: 0;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .field .label {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .field .icons {
  gap: 8px;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .field .icons svg {
  bottom: initial !important;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-totp {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
          flex-direction: row;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #b4b4b5;
  padding-bottom: 7px;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-totp .label-field-container {
  width: 100%;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-totp .label-field-container .keeper-record-label {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  color: rgba(0, 0, 0, 0.6);
  line-height: 16px;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-totp .label-field-container .keeper-record-field {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  line-height: 16px;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-totp svg.countdown-circle {
  margin-right: initial;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-totp .icons {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
          flex-direction: row;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 8px;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-totp .icons .keeper-iconbutton-eyeball {
  margin: 0;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-extra {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #b4b4b5;
  padding-bottom: 7px;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-extra > div:nth-child(1) {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  gap: 2px;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-extra > div:nth-child(1) .keeper-record-field {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-extra > div:nth-child(1) .keeper-record-label {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  color: rgba(0, 0, 0, 0.6);
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-extra > div:nth-child(2).icons {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
          flex-direction: row;
  gap: 8px;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-extra > div:nth-child(2).icons .keeper-iconbutton-fill,
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .keeper-record-field-extra > div:nth-child(2).icons .keeper-iconbutton-eyeball {
  top: initial;
  bottom: initial;
  right: initial;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .prompttoggle {
  gap: 6px;
}
div#keeper-extension-root #keeper-extension .prompt-container > .record-fields .prompttoggle .toggle-icon {
  margin: 0;
}
div#keeper-extension-root #keeper-extension .record-edit-container .record-edit {
  max-height: 473px;
  overflow: hidden overlay;
  padding: 16px;
}
div#keeper-extension-root #keeper-extension .record-edit-container .keeper-button-active-full-width {
  width: -moz-calc(100% - 32px) !important;
  width: calc(100% - 32px) !important;
  margin: 16px !important;
}
div#keeper-extension-root #keeper-extension .record-edit-container .keeper-button-inactive-full-width {
  width: -moz-calc(100% - 32px) !important;
  width: calc(100% - 32px) !important;
  margin: 16px !important;
  background-color: #ebebeb !important;
}
div#keeper-extension-root #keeper-extension .field .field-value {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  gap: 2px;
}
div#keeper-extension-root #keeper-extension .field .field-value div {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

div#keeper-extension-root #keeper-extension .toast {
  background-color: rgba(0, 0, 0, 0.8);
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 200px;
  padding: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9999;
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
div#keeper-extension-root #keeper-extension .toast.fade-out {
  -webkit-animation: fade-out 0.25s linear forwards;
     -moz-animation: fade-out 0.25s linear forwards;
          animation: fade-out 0.25s linear forwards;
}
div#keeper-extension-root #keeper-extension .toast > .toast-message {
  text-align: center;
  font-size: 14px;
  font-family: Outfit, sans-serif;
  color: white;
  white-space: pre-wrap;
  margin: 0;
}