body {
  display: block;
  margin: 0 2em 2em 2em;
  background-color: #f9f9fa;
}
button:disabled {
  color: #999;
  opacity: .5;
}
h1 {
  font-size: 1.83em;
  font-weight: normal;
}
h2 {
  font-size: 1.33em;
  margin-bottom: .25em;
}
[data-ctl=css] {
  width: 100%;
}
[data-ctl=savecss] {
  width: 8em;
  text-align: center;
  float: right;
}
.browser-style {
  font-size: 1.167em;
}
.bookmark {
  height: 8em;
}
.bookmark > div {
  color: #666;
}
.grid {
  display: grid;
  grid-template-columns: 10em 1fr;
  margin: 0 0 .5em 0;
}
.grid dt {
  margin-top: 0;
}
.grid dd {
  margin-left: 0;
}
