@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #F8F8F8;
    border-radius: 0;
    border: 0;
    font-family: 'Comfortaa', cursive;
    height: 100%;
    margin: 0px;
    width: 360px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a{
    text-decoration: none;
    color: #525260;
}
a:hover{
    text-decoration: none;
    color: #FF344C;
}

.d-none{
    display:none !important;
}

.btn {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background-color: transparent;
    border-radius: .25rem;
    border: 1px solid transparent;
    color: #212529;
    display: inline-block;
    font-weight: 400;
    margin: 0px 5px;
    padding: .375rem .75rem;
    text-align: center;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;
    vertical-align: middle;
}

.btn-login {
    color: #FF344C;
    cursor: pointer;
    background: white;
    border: 1px solid #FF344C;
    text-shadow: none;
    border-radius: 25px;
    font-size: 12px;
    padding: 5px 10px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0 10px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 25px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

input-group-append .btn{
    position: relative;
    z-index: 2;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #B6382F; /* red hover */
    border-color: #B6382F; /* red hover */
}

.btn:focus, .btn:hover {
    text-decoration: none;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

.btn-outline-secondary,
.btn-red {
    background-image: none;
    margin: 0;
    border-radius: 0px 25px 25px 0px;
    background-color: #FF344C; /* red beruby */
    color: white;
    border-color: #FF344C;
}

.btn-red{
    border-radius: 25px;
}
.btn-red:hover {
    color: #FF344C;
    background-color: #FFFFFF; /* red hover */
    border-color: #FF344C; /* red hover */
}

.d-flex-space{
    display: flex;
    justify-content: space-evenly;
}

.text-center{
    text-align: center;
}

#beruby-header-container {
    background-color: #FFFFFF ;
    color: #525260;
    font-size: 12px;
    margin: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-flow: wrap;
}

#beruby-logo{
    cursor: pointer;
    width: 35%;
    display: inline-block;
    margin:0;
}

#beruby-logo img{
    width: 100%;
}

#beruby-footer-container{
    background-color: #fff;
    position: relative;
    box-shadow: 0 -1px 3px 0 rgb(0 0 0 / 10%);
}

ul#beruby-footer-list,
ul#beruby-header-list{
    margin: 0;
    padding: 0;
    display: flex;
}

ul#beruby-header-list{
    flex-direction: column;
}

#user-account{
    width: 61%;
    display: inline-block;
    margin:0;
}

#user-account.unlogged{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

ul#beruby-footer-list li.beruby-footer-item,
ul#beruby-header-list li.beruby-header-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    cursor: pointer;
    border-right: 1px solid #eee;
}

ul#beruby-header-list li.beruby-header-item{
    border-right: none;
    flex-direction: row;
    width: 100%;
}

ul#beruby-footer-list li.beruby-footer-item a,
ul#beruby-header-list li.beruby-header-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #757575;
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    font-size: 18px;
}

ul#beruby-header-list li.beruby-header-item a{
    color:#525260;
    display: block;
    text-align: right;
    padding: 0px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-direction: row;
}

a.beruby-close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #525260;
    z-index: 20;
}

ul#beruby-footer-list li.beruby-footer-item a:hover,
ul#beruby-header-list li.beruby-header-item a:hover{
    color:#FF344C;
}

ul#beruby-footer-list li.beruby-footer-item a.active,
ul#beruby-header-list li.beruby-header-item a.active{
    color: #FF344C;
}

ul#beruby-footer-list li.beruby-footer-item a span,
ul#beruby-header-list li.beruby-header-item a span{
    margin-top: 5px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 5px;
}

ul#beruby-footer-list li.beruby-footer-item a span{
    margin-right: 0px;
    margin-bottom: 5px;
}

#balance,
#categories,
#searcher-container,
#advertisers,
#user-balance,
#policy-advise {
    height: 350px;
    width: 100%;
    overflow-y: scroll;
    margin:0;
    max-width: 350px;
    padding:0;
    text-align: center;
}

#searcher {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


#balance,
#searcher-container{
    overflow-y: auto;
}

#user-balance{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-balance::-webkit-scrollbar {
  display: none;
}

#policy-advise p{
    padding: 15px;
    text-align: justify;
}

.badge{
    cursor: pointer;
    width: 43%;
    display: inline-block;
    padding: 7px;
}

.category-list{
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    height: 365px;
    width: 100%;
}

.category{
    width: 50%;
    text-align: center;
    display: inline-block;
    margin: 10px 0px;
}

.category-img{
    background: #fff; 
    border-radius: 15px;
    width: 40%;
}

.category-item h6{
    font-size: 12px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.bycategory{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

#back{
    font-size: 30px;
    margin-left: 20px;
}

.by-category-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; 
}

.by-category-text img.category-img{
    max-width: 30px;
    margin-right: 5px;
}

.by-category-text h1{
    margin: 0;
}

.widget_image{
    width: 10%;
    border-radius: 50%;
}

.widget_name{
    width: 58%;
    padding-left: 15px;
    font-size: 16px;
    margin: 0;
}

.widget_payment{
    width: 30%;
    text-align: right;
    font-size: 16px;
    margin: 0;
    color:#FF344C;
}

.vip-widget-row {
  padding: 60px 0px;
}

.vip-widget-row h1{
    text-align: center;
    font-size: 20px;
    color: #525260;
}
.vip-widget-row .vip-widget {
    min-width: 150px;
    min-height: 140px;
    box-shadow: 2px 2px 15px rgba(160, 172, 173, 0.6);
    border-radius: 10px;
    overflow: hidden;
    transition: transform .5s;
    position: relative;
    text-align: center;
}

.vip-widget-row .vip-widget:hover {
    transform: scale(1.05);
    transition: transform .5s;
}

.vip-widget-row .vip-widget:hover .vip-widget-description h3 {
    color: #FF344C;
}

.vip-widget-row .vip-widget:hover .vip-widget-description p {
    color: #FF344C;
}

.vip-widget-row .vip-widget .vip-widget-img {
    padding: 10px 0px;
    background: #ffffff;
    height: 60px;
}

.vip-widget-row .vip-widget .vip-widget-description {
    position: absolute;
    bottom: 0px;
    background: #FFF5E3;
    height: auto;
    min-height: 40px;
    width: 100%;
    padding: 10px 5px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vip-widget-row .vip-widget .vip-widget-description h3 {
    font-size: 12px;
    font-family: "Comfortaa", cursive;
    color: #373A3C;
    letter-spacing: -1px;
    margin:0;
}

.vip-widget-row .vip-widget .vip-widget-description p {
    font-family: 'Montserrat';
    color: #373A3C;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 0px;
    margin: 0;
}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px;
}

.avatar-img{
    border-radius:50%;
    width: 30px;
    height: 30px;
}
.table{
    width:90%;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    overflow: hidden;
    margin-top:15px;
}

.table-header,
.table-body,
.table-footer{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.table-header{
    font-family: 'Montserrat';
    background-color: #FF344C;
    color: #FFFFFF;
}

.table-footer{
    font-family: 'Montserrat';
    background-color: #a9a9a9;
}

.table-column{
    align-items: center;
    border-right: 1px solid lightgrey;
    display: flex;
    height: 25px;
    justify-content: center;
    padding: 3px;
    text-align: center;
    width: 100%;
    font-size: 11px;
}

.table-column:last-child{
    border-right: unset;
}