
/* #region drop */

.drop_ {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  flex-shrink: 0;
}
.drop_.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.drop_.search_drop_ .drop_pop_ {
  width: 280px;
}
.drop_.search_drop_ .drop_pop_ {
  width: 280px;
}

.drop_ + .drop_,
.drop_ + .multi_select_button_,
.tt-buttons-cluster + .drop_,
.multi_select_button_ + .drop_ {
  margin-left: 10px;
}

.drop_ .drop_pop_ {
  min-width: 0;
  width: 180px;
  left: 50%;
  top: 35px;
  margin-left: -91px;
  display: none;
  z-index: 10;
  position: absolute;
}
.drop_ .drop_pop_ .drop_padding_ {
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
}
.drop_ .drop_pop_.fluid_,
.drop_.fluid_ .drop_pop_ {
  width: auto;
  padding: 0;
}

.drop_.vue_ .drop_pop_ {
  display: inline-block;
}

.drop_.vue_.input {
  width: 100%;
  margin-bottom: var(--FORMS-space);
}
.drop_.vue_.input:last-child {
  margin-bottom: 0;
}
.drop_.vue_.input .drop_pop_ {
  top: 70px;
  width: 100%;
  min-width: 250px;
}
.drop_.vue_.input .input_ {
  margin-bottom: 0;
}

.drop_.right_ .drop_pop_ {
  left: auto!important;
  right: 0!important;
  margin: 0!important;
}
.drop_.left_ .drop_pop_ {
  left: 0!important;
  right: auto!important;
  margin: 0!important;
}
.drop_.up_ .drop_pop_ {
  top: auto!important;
  bottom: 35px!important;
}


.drop_.large_ .drop_pop_ {
  width: 250px;
}

.drop_.active .drop_pop_,
.drop_.on_hover_:hover .drop_pop_ {
  display: inline-block;
}
.drop_.on_hover_:hover::before {
  width: 100%;
  height: 20px;
  content: '';
  position: absolute;
  top: 29px;
  left: 0;
}
.drop_.on_hover_.up_:hover::before {
  top: -19px;
}

.drop_ .drop_save_fotter_ {
  margin-top: 15px;
}

/* #endregion */

/* #region drop scroll */

.drop_scroll_ {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.drop_scroll_ .scroll_ {
  width: 100%;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}

/* #endregion */

/* #region drop pop */

.drop_pop_ {
  -webkit-border-radius: var(--APP-radius);
  -moz-border-radius: var(--APP-radius);
  border-radius: var(--APP-radius);
  background-color: var(--APP-gama-0);
  border: 1px solid var(--APP-border-color);
  width: 150px;
  min-height: 15px;
  -webkit-box-shadow: var(--APP-shadow);
  -moz-box-shadow: var(--APP-shadow);
  box-shadow: var(--APP-shadow);
}
.drop_pop_.data_list_ {
  overflow: hidden!important;
}

/* #endregion */

/* #region drop pop float close */

.drop_pop_float_close_ {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  color: var(--APP-text-color);
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0.5;
}
.drop_pop_float_close_:hover {
  opacity: 1;
}

/* #endregion */

/* #region drop space */

.drop_.drop_pop_space_ {
  padding-top: 0;
  padding-bottom: 0;
}

.drop_pop_space_,
.drop_.drop_pop_space_ .drop_pop_ {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* #endregion */

/* #region drop list */

.drop_list_ {
  width: 100%;
  min-height: 30px;
  font-size: 0;
  display: inline-block;
  vertical-align: top;
}
.drop_list_:empty {
  display: none!important;
}

.drop_list_[data-comp="recommendedList"] {
  padding-bottom: 5px;
  margin-bottom: 5px;
  min-height: 0!important;
  border-bottom: 1px solid var(--APP-border-color);
}

.drop_list_ li {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.drop_list_ li u small {
  color: var(--APP-gama-15);
  font-size: 8px;
  line-height: 8px;
  height: 8px;
  display: block;
}

.drop_list_ li.add_item_ {
  padding: 0 15px;
  box-sizing: border-box;
}

.drop_list_ li.separator_ {
  height: 0;
  margin: 5px 0!important;
}
.drop_list_ li.separator_line_ {
  height: 1px;
  background-color: var(--APP-border-color);
  margin: 5px 0;
}

.drop_list_ li.section_ {
  width: 100%;
  height: 1px;
  background-color: var(--APP-border-color);
}

.drop_list_ li.active a,
.drop_list_ li a.active,
.drop_list_ li a.preselected,
.drop_list_ li.preselected a {
  color: var(--APP-focus-color);
  background-color: var(--APP-focus-selected-color);
  font-weight: 700;
}

.drop_list_ .default_transform {
  text-transform: initial;
}

.drop_list_ li.section_ {
  width: 100%;
  height: 1px;
  background-color: var(--APP-border-color);
}

.drop_list_ li.ui-sortable-placeholder {
  height: 36px;
  background-color: var(--APP-item-list-hover);
}
.drop_list_ li.ui-sortable-helper {
  -webkit-border-radius: var(--APP-radius);
  -moz-border-radius: var(--APP-radius);
  border-radius: var(--APP-radius);
  border: 1px solid var(--APP-border-color);
  -webkit-box-shadow: var(--APP-shadow);
  -moz-box-shadow: var(--APP-shadow);
  box-shadow: var(--APP-shadow);
  overflow: hidden;
  background-color: var(--APP-gama-0);
}

.drop_list_ .check_ {
  width: 100%;
  padding: 4px 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.drop_list_ li a:not(.button_):not(.button_inline_),
.drop_list_ li .static_button_ {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  padding: 8px 15px;
  text-align: left;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  box-sizing: border-box;
  position: relative;
  -webkit-border-radius: var(--APP-radius);
  -moz-border-radius: var(--APP-radius);
  border-radius: var(--APP-radius);
  user-select: none;
}
.drop_list_ li a:not(.button_):not(.button_inline_):hover,
.drop_list_ li a:not(.button_):not(.button_inline_):focus {
  background-color: var(--APP-item-list-hover);
}
.drop_list_ li a:not(.button_) u {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font-variant-numeric: tabular-nums;
}
.drop_list_ li a:not(.button_) u::first-letter {
  text-transform: uppercase;
}
.drop_list_ li a:not(.button_):not(.button_inline_).delete,
.drop_list_ li a:not(.button_):not(.button_inline_).delete .ico_ {
  color: var(--APP-error-color);
}

.drop_list_ li a:not(.button_):not(.button_inline_) input,
.drop_list_ li .static_button_ input {
  font-weight: 700;
  display: inline-block;
  width: 100%;
  max-width: 130px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.drop_list_ li .static_button_.drag_style_ {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.drop_list_ li .static_button_.drag_style_:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.drop_list_ li.blocked .static_button_.drag_style_ {
  cursor: default;
}

.drop_list_ strong {
  font-weight: 700;
}

.drop_list_ li a.disabled {
  opacity: 0.5;
}

.drop_list_ .float_action_ {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  box-sizing: border-box;
  opacity: 0.3;
}
.drop_list_ .float_action_ i {
  top: 1px;
  font-size: 14px;
}
.drop_list_ .float_action_ .button_inline_ + .button_ {
  margin-left: 5px;
}
.drop_list_ .float_action_ .button_,
.drop_list_ .float_action_ .button_inline_ {
  height: 24px;
  line-height: 25px;
  padding: 0 5px;
  font-size: 12px;
}
.drop_list_ li .float_action_:hover {
  opacity: 1;
}

.drop_list_ .ico_ {
  position: absolute;
  top: 50%;
  left: 15px;
  font-size: 12px;
  font-style: normal;
  margin-top: -5px;
  color: var(--APP-gama-24);
}
.drop_list_ .ico_.fal {
  margin-top: -4px;
}
.drop_list_ .ico_ + u {
  padding-left: 20px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}
.drop_list_ .ico_.bigger_ {
  left: 15px;
  font-size: 14px;
  margin-top: -7px;
}

.drop_list_ .ico_.more_space {
  left: 20px;
}
.drop_list_ .ico_.more_space + u {
  padding-left: 25px;
}

.drop_list_ .right_ico_ .ico_ {
  right: 15px;
  left: auto;
}
.drop_list_ .right_ico_ .ico_ + u {
  padding-left: 0;
  padding-right: 20px;
}

.drop_list_ .pill_,
.drop_list_ .project-color {
  width: 14px;
  height: 14px;
  line-height: 15px;
  text-align: center;
  font-size: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 15px;
  background-color: #cfdae0;
  color: #fff!important;
}
.drop_list_ .pill_ + u,
.drop_list_ .project-color + u {
  padding-left: 20px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}
.drop_list_ .pill_ + .tt-third-party-icon,
.drop_list_ .project-color + .tt-third-party-icon {
  left: 35px;
}
.drop_list_ .pill_ + .tt-third-party-icon + u,
.drop_list_ .project-color + .tt-third-party-icon + u {
  padding-left: 40px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.drop_list_ .task-priority-color {
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  font-size: 12px;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 15px;
  overflow: hidden;
  white-space: nowrap;
}
.drop_list_ .task-priority-color + u {
  padding-left: 20px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.drop_list_ .tt-third-party-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 15px;
}
.drop_list_ .tt-third-party-icon + u {
  padding-left: 20px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.drop_list_ .collapsable_button_ {
  cursor: pointer;
}
.drop_list_ .collapsable_button_ a:not(.button_):not(.button_inline_) {
  font-weight: 900;
  font-size: 12px;
}
.drop_list_ .collapsable_button_ a:not(.button_):not(.button_inline_) .drop_ {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: -10px;
}
.drop_list_ .collapsable_button_ a:not(.button_):not(.button_inline_).open .drop_ {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.drop_list_ .tt-account-avatar {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -10px;
}
.drop_list_ .tt-account-avatar + u {
  padding-left: 25px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
}

.drop_list_ .hidden {
  display: none!important;
}

.drop_list_ a:hover .delete {
  color: var(--APP-error-color);
}

.drop_list_ .client {
  color: var(--APP-gama-24);
}

.drop_list_ .assingUser {
  width: auto;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 22px;
  cursor: pointer;
}
.drop_list_ .assingUser span {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
  display: none;
}
.drop_list_ .assingUser span[data-comp="assignButton"] {
  display: inline-block;
}
.drop_list_ .assigned .assingUser span[data-comp="assignButton"] {
  display: none;
}
.drop_list_ .assigned .assingUser span[data-comp="unassignButton"] {
  display: inline-block;
}

.drop_list_ .userToAssign a:not(.button_):not(.button_inline_) {
  text-decoration: none!important;
  cursor: default;
}

.drop_list_ .drag_ {
  width: 20px;
  height: 30px;
  color: var(--APP-gama-15);
  line-height: 31px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 5px;
  display: none;
}
.drop_list_ li:hover .drag_ {
  display: inline-block;
}

.drop_list_ .external_link_ {
  position: absolute;
  top: 7px;
  right: 15px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 0;
  text-align: center;
  z-index: 10;
  visibility: hidden;
  opacity: 0.3;
}
.drop_list_ .external_link_:hover {
  opacity: 1;
}
.drop_list_ .external_link_ i {
  font-size: 12px;
  top: 1px;
}
.drop_list_ .external_link_ + a:not(.button_):not(.button_inline_) {
  padding-right: 50px;
}
.drop_list_ li:hover > .external_link_ {
  visibility: visible;
}

.drop_list_ .second_action_ {
  width: 30px;
	height: 31px;
  line-height: 31px;
  padding: 0!important;
	cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
}
.drop_list_ .second_action_ * {
	pointer-events: none;
}
.drop_list_ .second_action_ + a {
  padding-right: 50px!important;
  box-sizing: border-box;
}

.drop_list_ .input_project_item_ {
  margin: 0;
  line-height: 24px;
}

/* #endregion */

/* #region drop separator */

.drop_separator_ {
  width: 100%;
  font-size: 9px;
  color: var(--APP-gama-24);
  font-weight: 900;
  padding: 10px 15px 0px 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.drop_separator_.less_padding {
  padding-top: 5px;
}

.drop_table_ + .drop_separator_ {
  padding-top: 0;
}
.drop_separator_ + .drop_table_ .cell_ {
  padding-top: 0;
}
.drop_separator_ + .drop_list_ {
  margin-top: 5px;
}
.drop_list_ + .drop_separator_ {
  padding-top: 10px;
}

.drop_separator_.collapse_ {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
}
.drop_separator_.collapse_ .drop_ {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 10px;
  font-size: 16px;
  line-height: 10px;
  margin-left: 10px;
}
.drop_separator_.collapse_.open .drop_ {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.drop_separator_ .button_inline_ico {
  margin-left: 10px;
  vertical-align: top;
  font-size: 9px;
  line-height: 9px;
  padding-left: 12px;
  font-weight: 700;
}
.drop_separator_ .button_inline_ico i {
  font-size: 9px;
  line-height: 9px;
  width: 9px;
  height: 9px;
}

/* #endregion */

/* #region drop notifications */

.drop_notifications_ {
  width: 100%;
  box-sizing: border-box;
}
.drop_notifications_ ul {
	width: 100%;
	font-size: 0;
}
.drop_notifications_ li {
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	position: relative;
  text-align: left;
}
.drop_notifications_ li.empty {
	width: 100%;
	padding: 20px 10px;
  text-align: center;
  font-size: 15px;
  color: var(--APP-text-color);
  font-weight: 700;
  background-color: transparent!important;
}

.drop_notifications_ .close_message {
  width: 16px;
	height: 16px;
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;
}
.drop_notifications_ .close_message a {
	width: 16px;
	height: 16px;
	line-height: 17px;
	text-align: center;
	font-size: 9px;
  vertical-align: top;
	display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: var(--APP-gama-0);
  color: var(--APP-text-color);
	box-sizing: border-box;
}
.drop_notifications_ .close_message a:hover {
  background-color: var(--APP-error-color);
  color: var(--APP-text-light);
}

.drop_notifications_ .message {
  width: 100%;
  box-sizing: border-box;
  padding-right: 20px;
}
.drop_notifications_ .message a {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.drop_notifications_ .message strong {
  display: block;
  font-size: 10px;
  margin-bottom: 2px;
  font-weight: 600;
  color: var(--APP-border-color);
}
.drop_notifications_ .message span {
  display: block;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: var(--APP-text-color);
}

.drop_notifications_ li:hover {
	background-color: var(--APP-item-list-hover);
}
.drop_notifications_ li:hover .close_message {
  display: inline-block;
}

/* #endregion */

/* #region drop color picker */

.drop_color_picker_ {
  width: 100%;
  font-size: 0;
  padding: 5px 10px 10px 15px;
  box-sizing: border-box;
}
.drop_color_picker_:last-child {
  padding-bottom: 0;
}
.drop_color_picker_ .pill_,
.drop_color_picker_ .color_pill_ {
  width: 28px;
  height: 24px;
  margin: 0 6px 6px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #cfdae0;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}
.drop_color_picker_ .pill_:hover,
.drop_color_picker_ .pill_.selected_,
.drop_color_picker_ .color_pill_:hover,
.drop_color_picker_ .color_pill_.selected_ {
  border: 2px solid rgba(0, 0, 0, 0.2);
  line-height: 22px;
}


.drop_color_picker_ .drop_separator_ {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
}

/* #endregion */

/* #region drop pattern picker */

.drop_pattern_picker_ {
  width: 100%;
  font-size: 0;
  padding: 5px 10px 10px 15px;
  box-sizing: border-box;
}
.drop_pattern_picker_:last-child {
  padding-bottom: 0;
}
.drop_pattern_picker_ .pill_ {
  width: 28px;
  height: 24px;
  margin: 0 6px 6px 0;
  -webkit-border-radius: var(--APP-radius);
  -moz-border-radius: var(--APP-radius);
  border-radius: var(--APP-radius);
  background-color: var(--APP-gama-2);
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  box-sizing: border-box;
  background-position: center center;
  background-size: auto 190%;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  border: 2px solid transparent;
}
.drop_pattern_picker_ .pill_ i {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  font-size: 14px;
  margin-bottom: 2px;
}
.drop_pattern_picker_ .pill_:hover,
.drop_pattern_picker_ .pill_.selected_ {
  border-color: rgba(0, 0, 0, 0.2);
}

.drop_pattern_picker_ .drop_separator_ {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
}

/* #endregion */

/* #region drop priority picker */

.drop_priority_picker_ {
  width: 100%;
  font-size: 0;
  padding: 5px 10px 10px 15px;
  box-sizing: border-box;
}
.drop_priority_picker_ .priority_ {
  width: 36px;
  height: 24px;
  margin: 0 6px 0 0;
  -webkit-border-radius: var(--APP-radius);
  -moz-border-radius: var(--APP-radius);
  border-radius: var(--APP-radius);
  border: 1px solid var(--APP-border-color);
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 12px;
  color: var(--APP-gama-24);
  font-weight: 700;
  text-align: center;
  line-height: 22px;
}
.drop_priority_picker_ .priority_:hover {
  background-color: var(--APP-item-list-hover);
}
.drop_priority_picker_ .priority_[data-val="4"] {
  display: none;
}

.drop_priority_picker_ .drop_separator_ {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
}

/* #endregion */

/* #region drop schedule picker */

.drop_schedule_picker_ {
  width: 100%;
  font-size: 0;
  padding: 5px 10px 10px 15px;
  box-sizing: border-box;
}
.drop_schedule_picker_ .schedule_ {
  width: 36px;
  height: 24px;
  margin: 0 6px 0 0;
  -webkit-border-radius: var(--APP-radius);
  -moz-border-radius: var(--APP-radius);
  border-radius: var(--APP-radius);
  border: 1px solid var(--APP-border-color);
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 12px;
  text-indent: -2px;
  font-weight: 700;
  color: var(--APP-gama-24);
  text-align: center;
  line-height: 22px;
}
.drop_schedule_picker_ .schedule_.custom {
  font-size: 12px;
  text-indent: 0;
  line-height: 25px;
}
.drop_schedule_picker_ .schedule_:hover {
  background-color: var(--APP-item-list-hover);
}

.drop_schedule_picker_ .drop_separator_ {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
}
.drop_schedule_picker_ .drop_separator_:first-child {
  padding-top: 5px;
}

.drop_schedule_picker_ + .drop_priority_picker_ .drop_separator_ {
  padding-top: 0;
}

/* #endregion */

/* #region drop search */

.drop_search_ {
  width: 100%;
  padding: 20px 15px 10px 15px;
  box-sizing: border-box;
  position: relative;
}
.drop_search_.hidden_ {
  height: 0;
  padding: 0;
  visibility: hidden;
}

.drop_search_ .search_ {
  width: 100%;
  position: relative;
}
.drop_search_ .search_ i {
  position: absolute;
  top: 50%;
  left: 12px;
  font-size: 14px;
  margin-top: -7px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  pointer-events: none;
  color: var(--APP-text-color);
}
.drop_search_ .search_ input {
  width: 100%;
  height: 30px;
  min-height: 30px;
  box-sizing: border-box;
  padding-left: 32px;
  color: var(--FORMS-value);
  font-size: 12px;
  -webkit-border-radius: var(--APP-radius);
  -moz-border-radius: var(--APP-radius);
  border-radius: var(--APP-radius);
  border: 1px solid var(--APP-border-color);
  background: transparent;
}
.drop_search_ .search_ .button_.active + input {
  padding-right: 50px;
}
.drop_search_ .search_ .button_ {
  position: absolute;
  top: 4px;
  right: 4px;
  display: none;
  height: 22px;
  text-transform: uppercase;
  line-height: 22px;
  font-size: 10px;
  z-index: 10;
}
.drop_search_ .search_ .button_.active {
  display: inline-block;
}
.drop_search_ .search_ input:focus {
  border-color: var(--APP-focus-color)!important;
}
.drop_search_ .search_ input::-webkit-input-placeholder {
  color: var(--FORMS-value-placeholder);
  opacity: 1;
}
.drop_search_ .search_ input::-moz-placeholder {
  color: var(--FORMS-value-placeholder);
  opacity: 1;
}
.drop_search_ .search_ input:-ms-input-placeholder {
  color: var(--FORMS-value-placeholder);
  opacity: 1;
}
.drop_search_ .search_ input:-moz-placeholder {
  color: var(--FORMS-value-placeholder);
  opacity: 1;
}

.drop_search_ .drop_help_ {
  display: none;
  padding: 10px 0 0 0;
}
.drop_search_ .drop_help_.active {
  display: inline-block;
}
.drop_search_ .drop_help_:last-child {
  padding-bottom: 0;
}

.drop_search_ .search_.loading_and_block::after {
  display: none;
}
.drop_search_ .search_.loading_and_block::before {
  margin-left: 0;
  margin-right: 0;
  right: 5px;
  left: auto;
  width: 20px;
  height: 20px;
  margin-top: -10px;
}
.drop_search_ .search_.loading_and_block .button_.active {
  display: none;
}

.drop_search_ .goToViewLink {
  display: none;
  width: 20px;
  height: 30px;
  line-height: 30px;
  text-align: right;
  font-size: 15px;
  color: var(--APP-gama-24);
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 10;
}
.drop_search_ .goToViewLink:hover {
  color: var(--APP-text-color);
}
.drop_search_ .goToViewLink + .search_ input {
  padding-right: 30px;
}

/* #endregion */

/* #region drop help */

.drop_help_ {
  width: 100%;
	padding: 10px 15px 10px 15px;
  box-sizing: border-box;
  text-align: left;
}
.drop_help_:empty {
  display: none;
}
.drop_help_ h2 {
	color: var(--APP-text-color);
  font-size: 15px;
  line-height: 17px;
  font-weight: 700;
}
.drop_help_ p {
	color: var(--APP-gama-24);
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}
.drop_help_ strong {
  font-weight: 700;
}
.drop_help_ small {
	color: var(--APP-gama-24);
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
}
.drop_help_:last-child {
  padding-bottom: 25px;
}
.drop_help_ p a:hover {
	text-decoration: underline;
}

.drop_help_.center_ {
  text-align: center;
}

/* #endregion */

/* #region drop switch */

.drop_switch_ {
  width: 100%;
	padding: 10px 15px;
  box-sizing: border-box;
  text-align: left;
  vertical-align: top;
}

.drop_switch_ + .drop_separator_ {
  padding-top: 10px;
}

/* #endregion */

/* #region drop edit */

.drop_edit_ {
  position: absolute;
  top: -30px;
  right: 20px;
  line-height: 20px!important;
  height: 20px!important;
  display: none!important;
}

/* #endregion */

/* #region drop tag users */

.drop_tag_users_ {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px 0 15px;
  font-size: 0;
}
.drop_tag_users_:empty {
  display: none;
}

.drop_tag_users_ .tags_container {
  width: 100%;
}

.drop_tag_users_ li {
  background-color: var(--APP-gama-3);
  display: inline-block;
  vertical-align: top;
  margin: 10px 10px 0 0;
  max-width: 160px;
  height: 24px;
  position: relative;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 10px;
  overflow: hidden;
}

.drop_tag_users_ li.no_user {
  background-color: transparent;
  font-size: 14px;
  line-height: 24px;
  height: auto;
  font-weight: 700;
  color: var(--APP-text-color);
  max-width: inherit;
  margin: 10px 0 0 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
}

.drop_tag_users_ .userBox {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  /* overflow: hidden; */
}
.drop_tag_users_ .userBox .image_container {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
}
.drop_tag_users_ .userBox .image {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}

.drop_tag_users_ .removeBox {
  width: 100%;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  display: none;
}
.drop_tag_users_ .removeBox .remove {
  width: 100%;
  height: 24px;
  display: inline-block;
  vertical-align: top;
  background-color: var(--APP-error-color);
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}
.drop_tag_users_ .removeBox a {
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
  color: var(--APP-text-light);
  display: inline-block;
  vertical-align: top;
}

.drop_tag_users_ .text {
  width: 100%;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  color: var(--APP-text-color);
  font-weight: 600;
}
.drop_tag_users_ .text .email,
.drop_tag_users_ .text br {
  display: none;
}

.drop_tag_users_ li:hover .removeBox {
  display: inline-block;
}

/* #endregion */

/* #region drop select */

.drop_select_ {
  padding: 10px 15px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}

.drop_select_ + .drop_select_ {
  padding-top: 0;
}
.drop_separator_ + .drop_select_ {
  margin-top: -10px;
}

.drop_select_.disabled {
  opacity: 0.8;
  pointer-events: none;
}
.drop_select_ select.hidden {
  pointer-events: none;
  opacity: 0.5;
}

/* #endregion */

/* #region drop input */

.drop_input_ {
  padding: 10px 15px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}

.drop_input_ + .drop_input_ {
  padding-top: 0;
}
.drop_input_ + .drop_separator_ {
  padding-top: 0;
}

.drop_input_ .dates_picker_container_ {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.drop_input_ .dates_picker_container_ input:first-child {
  margin-right: 15px;
}
.drop_input_ .dates_picker_container_ .qs-datepicker-container {
  left: 0!important;
  width: 100%!important;
}

/* #endregion */

/* #region drop month calendar */

.drop_month_calendar_ {
	position: fixed;
	z-index: 1000;
	width: 280px;
}
.drop_month_calendar_.static {
	position: relative;
	width: 280px;
}

.drop_month_calendar_ .monthCalendaHeader {
  width: 100%;
	padding-bottom: 20px;
	padding-top: 20px;
	position: relative;
}
.drop_month_calendar_ .monthCalendaHeader .monthCalYear {
  width: 100%;
	text-align: center;
	line-height: 16px;
	font-size: 16px;
	font-weight: 900;
	color: var(--APP-text-color);
  display: inline-block;
  vertical-align: top;
}
.drop_month_calendar_ .monthCalendaHeader .monthCalNav {
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	cursor: pointer;
	box-sizing: border-box;
	color: var(--APP-text-color);
	z-index: 1;
	font-size: 0;
	overflow: hidden;
  font-size: 20px;
}
.drop_month_calendar_ .monthCalendaHeader .monthCalNav[href="#prevYear"] {
	left: 15px;
}
.drop_month_calendar_ .monthCalendaHeader .monthCalNav[href="#nextYear"] {
	right: 15px;
}
.drop_month_calendar_ .monthCalendaHeader .monthCalNav:hover {
  color: var(--APP-focus-color)!important;
}

.drop_month_calendar_ .monthCalendaBody {
	width:100%;
	text-align:center;
  padding: 0 0 20px 0;
}
.drop_month_calendar_ .monthCalendaBody .button_ {
  margin: 5px;
  width: 67px;
  height: 24px;
  line-height: 24px;
}

/* #endregion */

/* #region drop divisor */

.drop_divisor_ {
  width: 100%;
  height: 1px;
  background-color: var(--APP-border-color);
  display: none;
}

/* #endregion */

/* #region drop table */

.drop_table_ {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 15px;
  table-layout: fixed;
}
.drop_table_ .cell_ {
  width: 50%;
  padding: 0 5px;
  box-sizing: border-box;
}
.drop_table_ .cell_:first-child {
  padding-left: 0;
}
.drop_table_ .cell_:last-child {
  padding-right: 0;
}

.drop_table_ .drop_input_,
.drop_table_ .drop_select_ {
  padding: 0;
}

.drop_separator_ + .drop_table_ {
  padding-top: 5px;
}

/* #endregion */

/* #region drop option button */

.drop_option_button_ {
  width: 100%;
}

/* #endregion */

/* #region drop full button */

.drop_full_button {
  padding: 15px 15px 10px 15px;
  width: 100%;
  box-sizing: border-box;
}
.drop_full_button .button_ {
  width: 100%;
}

/* #endregion */

/* #region drop clipboard */

.drop_clipboard_ {
  padding: 5px 15px 10px 15px;
  width: 100%;
  box-sizing: border-box;
}

.drop_clipboard_ .title_ {
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  color: var(--APP-text-color);
}

.drop_clipboard_ .clip_ {
  width: 100%;
  background-color: var(--APP-gama-2);
  -webkit-border-radius: var(--APP-radius);
  -moz-border-radius: var(--APP-radius);
  border-radius: var(--APP-radius);
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 30px 0 10px;
  cursor: pointer;
}
.drop_clipboard_ .clip_.disabled {
  opacity: 0.7;
  pointer-events: none;
}
.drop_clipboard_ .clip_ input {
	position: absolute;
	left: -9999px;
	top: 0;
}
.drop_clipboard_ .clip_ h2 {
	width: 100%;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	font-weight: 700;
	color: var(--APP-text-color);
	box-sizing: border-box;
}

.drop_clipboard_ .clip_ .ico_ {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	z-index: 0;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	color: var(--APP-gama-24);
}
.drop_clipboard_ .clip_:hover .ico_ {
	color: var(--APP-text-color);
}

.drop_clipboard_ .clip_ .message_ {
	font-weight: 700;
	color: var(--APP-done-color);
	background-color: var(--APP-gama-0);
	-webkit-border-radius: var(--APP-radius);
	-moz-border-radius: var(--APP-radius);
	border-radius: var(--APP-radius);
	line-height: 20px;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	transition: all 0.4s;
	overflow: hidden;
	max-width: 0;
	display: inline-block;
	vertical-align: top;
	-webkit-box-shadow: var(--APP-shadow);
	-moz-box-shadow: var(--APP-shadow);
	box-shadow: var(--APP-shadow);
	position: absolute;
	top: 50%;
	font-size: 12px;
	margin-top: -10px;
	right: 5px;
}
.drop_clipboard_ .clip_.copy .message_ {
	opacity: 1;
  max-width: 100px;
  padding: 0 10px;
}
.drop_clipboard_.disabled {
  opacity: 0.8;
  pointer-events: none;
}

/* #endregion */

/* #region drop users with options */

.drop_users_w_options_ {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.drop_users_w_options_.disabled {
  pointer-events: none;
}
.drop_users_w_options_.disabled .add_ {
  opacity: 0.7;
}

.drop_users_w_options_ .list_ {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}


.drop_users_w_options_ .empty_message_ {
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  font-size: 14px;
  font-weight: 600;
  color: var(--APP-gama-24);
}

.drop_users_w_options_ .user_ {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  margin-right: -5.50px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: var(--APP-gama-15);
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}

.drop_users_w_options_ .user_ .avatar_ {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 3;
}

.drop_users_w_options_ .user_ .name_ {
  min-width: 30px;
  max-width: 200px;
  display: none;
  padding: 0 10px 0 35px;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--APP-gama-0);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: var(--APP-shadow);
  -moz-box-shadow: var(--APP-shadow);
  box-shadow: var(--APP-shadow);
  z-index: 0;
  text-overflow: ellipsis;
}
.drop_users_w_options_ .user_ .name_ u {
  font-size: 13px;
  font-weight: 600;
  color: var(--APP-text-color);
}

.drop_users_w_options_ .user_ .remove_ {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 33px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: var(--APP-text-light);
  background-color: var(--APP-error-color);
  z-index: 4;
  font-size: 15px;
  display: none;
}

.drop_users_w_options_ .user_:hover {
  z-index: 10;
}
.drop_users_w_options_ .user_:hover .name_,
.drop_users_w_options_ .user_:hover .remove_ {
  display: block;
}

.drop_users_w_options_ .add_ {
  width: 100%;
  text-align: left;
}
.drop_users_w_options_ .add_ .drop_ {
  width: 100%;
}
.drop_users_w_options_ .add_ .drop_ .drop_pop_ {
  width: 100%;
  top: 0;
}

/* #endregion */

/* #region drop add input */

.drop_add_input_ {
  width: 100%;
  padding: 5px 0;
  box-sizing: border-box;
  position: relative;
}
.drop_add_input_.loading_and_block::before {
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
}
.drop_add_input_.loading_and_block::after {
  opacity: 0.5;
}

.drop_add_input_ .button_ {
  position: absolute;
  top: 7px;
  height: 26px;
  line-height: 26px;
  right: 3px;
  width: auto;
  visibility: hidden;
}

.drop_add_input_ i {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -7px;
  color: var(--FORMS-value-placeholder);
  font-size: 14px;
  pointer-events: none;
}

.drop_add_input_ input[type="text"] {
  width: 100%;
  height: 30px;
  font-weight: 500;
  padding-left: 18px;
  cursor: pointer;
  margin: 0;
  font-size: 13px!important;
}
.drop_add_input_ input[type="text"]::-webkit-input-placeholder {
  color: var(--FORMS-value-placeholder);
  opacity: 1;
}
.drop_add_input_ input[type="text"]::-moz-placeholder {
  color: var(--FORMS-value-placeholder);
  opacity: 1;
}
.drop_add_input_ input[type="text"]:-ms-input-placeholder {
  color: var(--FORMS-value-placeholder);
  opacity: 1;
}
.drop_add_input_ input[type="text"]:-moz-placeholder {
  color: var(--FORMS-value-placeholder);
  opacity: 1;
}

.drop_add_input_ input[type="text"]:hover,
.drop_add_input_ input[type="text"]:focus,
.drop_add_input_ input[type="text"].has-content {
  padding-left: 32px;
}
.drop_add_input_ input[type="text"]:hover + i,
.drop_add_input_ input[type="text"]:focus + i,
.drop_add_input_ input[type="text"].has-content + i {
  left: 10px;
}

.drop_add_input_ input[type="text"]:focus + i + .button_,
.drop_add_input_ input[type="text"].has-content + i + .button_ {
  visibility: visible;
}

.drop_add_input_ input[type="text"]:focus,
.drop_add_input_ input[type="text"].has-content {
  cursor: text;
}
.drop_add_input_ input[type="text"]:focus + i,
.drop_add_input_ input[type="text"].has-content + i {
  color: var(--FORMS-value);
}
.drop_add_input_ input[type="text"]:focus::-webkit-input-placeholder {
  color: var(--FORMS-value-placeholder);
}
.drop_add_input_ input[type="text"]:focus::-moz-placeholder {
  color: var(--FORMS-value-placeholder);
}
.drop_add_input_ input[type="text"]:focus:-ms-input-placeholder {
  color: var(--FORMS-value-placeholder);
}
.drop_add_input_ input[type="text"]:focus:-moz-placeholder {
  color: var(--FORMS-value-placeholder);
}

/* #endregion */

/* #region drop text */

.drop_text_ {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px 5px 15px;
}
.drop_text_ .form_text_ {
  margin: 0;
}
.drop_text_ .form_text_ p {
  font-size: 12px;
  line-height: 16px;
}

/* #endregion */

/* #region drop disclaimer */

.drop_disclaimer_ {
  width: 100%;
  text-align: left;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
  box-sizing: border-box;
  line-height: 20px;
  padding: 0 15px;
}
.drop_disclaimer_:empty {
  display: none;
}

/* #endregion */

/* #region drop sortable group footer */

.drop_sortable_group_footer_ {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 0 15px;
}

.drop_footer_options_ {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 0 15px;
}

/* #endregion */

/* #region calendar drop */

.drop_calendar_ {
  width: 650px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}
.drop_calendar_ .c_l_ {
  width: 140px;
  flex-shrink: 0;
  margin-right: 10px;
}
.drop_calendar_ .c_r_ {
  width: 100%;
}

.drop_calendar_ .c_l_ .reload_ + .drop_list_ {
  padding-bottom: 45px;
}
.drop_calendar_ .c_l_ .reload_ {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 0 15px;
}

.drop_calendar_ .calendars_ {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.drop_calendar_ .calendars_ .qs-datepicker-container {
  border-left: 1px solid var(--APP-border-color);
  padding: 0 10px;
  box-sizing: border-box;
}

.drop_calendar_ .drop_footer_options_ {
  height: auto;
  padding: 0;
}
.drop_calendar_ .drop_footer_options_ .button_ {
  margin-top: 10px;
}

/* #endregion */
