
/* BUSCAR Y REMPLAZAR */
/* icon-icontt_trackingtime / logo-pro-blanco.svg / logo-pro.svg */

/* #region logo */

.tt-tracking-time-logo {
  width: 140px;
  height: 25px;
  display: inline-block;
  vertical-align: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: var(--LOGO-full);
  background-position: center center;
}

/* --- */

a.tt-tracking-time-logo {
  cursor: pointer;
}

/* #endregion */