
body {

	/* #region gama https://coolors.co/gradient-palette/ffffff-626576?number=25 */
	--APP-gama-0: #ffffff;
	--APP-gama-1: #f8f9f9;
	--APP-gama-2: #f2f2f4;
	--APP-gama-3: #ebecee;
	--APP-gama-4: #e5e5e8;
	--APP-gama-5: #dedfe2;
	--APP-gama-6: #d8d9dd;
	--APP-gama-7: #d1d2d7;
	--APP-gama-8: #cbccd1;
	--APP-gama-9: #c4c5cc;
	--APP-gama-10: #bebfc6;
	--APP-gama-11: #b7b8c0;
	--APP-gama-12: #b1b2bb;
	--APP-gama-13: #aaacb5;
	--APP-gama-14: #a3a5af;
	--APP-gama-15: #9d9fa9;
	--APP-gama-16: #9698a4;
	--APP-gama-17: #90929e;
	--APP-gama-18: #898c98;
	--APP-gama-19: #838593;
	--APP-gama-20: #7c7f8d;
	--APP-gama-21: #767887;
	--APP-gama-22: #6f7281;
	--APP-gama-23: #696b7c;
	--APP-gama-24: #626576;
	
	/* #endregion */

	/* #region general */
	--APP-error-color: #f15858;
	--APP-error-color-hover: #d74b4b;
	--APP-track-color: #04bda4;
	--APP-track-color-hover: #019c87;
	--APP-done-color: #49c7b5;
	--APP-done-color-hover: #d5efeb;
	--APP-approve-color: #D2ECDB;
	--APP-approve-color-hover: #abc7b5;
	--APP-loading-color: #F54337;
	--APP-focus-color: #808ce0;
	--APP-focus-selected-color: #e6e9fd;
	--APP-text-color: #12131e;
	--APP-text-light: #ffffff;
	--APP-text-dark: #12131e;
	--APP-button-background: #12131e;
	--APP-edit-color: #f7e596;
	--APP-background-lightbox-color: rgb(0 0 0 / 70%);
	--APP-border-color: var(--APP-gama-2);
	--APP-item-list-hover: var(--APP-gama-1);
	--APP-shadow: 0px 0 10px 0px rgb(0 0 0 / 10%);
	--APP-radius: 5px;
	--APP-current-day-color: #FBFBF4;
	/* #endregion */

	/* #region auto track status */
	--AUTO-TRACK-status-not-enabled: #efefef;
	--AUTO-TRACK-status-on: #b6e1a2;
	--AUTO-TRACK-status-off: #ffc2c2;
	--AUTO-TRACK-status-stand-by: #ffeb7d;
	--AUTO-TRACK-status-snoozed: #ffb97c;
	/* #endregion */

	/* #region timeoffs */
	--TIMEOFFS-pending: #F7D1C7;
  --TIMEOFFS-approved: #D2ECDB;
	/* #endregion */

	/* #region timecards */
  --TIMECARD-signed: #D2ECDB;
  --TIMECARD-approved: #D2ECDB;
  --TIMECARD-pending: #F7D1C7;
	--TIMECARD-submitted: #ecebd2;
  --TIMECARD-generate: #707070;
	--TIMECARD-rejected: #ecd2d2;
	/* #endregion */

	/* #region invoice */
	--INVOICE-open: var(--APP-focus-color);
	--INVOICE-draft: #fbcc4b;
	--INVOICE-overdue: #f05858;
	--INVOICE-paid: #72bf8d;
	--INVOICE-void: #818282;
	--INVOICE-uncollectible: #818282;
	--INVOICE-default-header-color: #555f6e;
	/* #endregion */

	/* #region forms */
	
	/* settings */
	--FORMS-font-size: 12px;
  --FORMS-font-size-label: 10px;
	--FORMS-space: 15px;
	--FORMS-height: 45px;

	/* colors */
	--FORMS-focus: var(--APP-focus-color);
	--FORMS-border: var(--APP-border-color);
	--FORMS-label: var(--APP-gama-24);
	--FORMS-value: var(--APP-text-color);
	--FORMS-disabled: var(--APP-gama-2);
	--FORMS-background: var(--APP-gama-0);
	--FORMS-value-placeholder: var(--APP-gama-24);
	
	/* select */
	--FORMS-select-arrow-ico: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath fill='%2312131e' d='M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z'/%3E%3C/svg%3E");
	
	/* checkbox */
	--FORMS-checkbox-ico: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23fff' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'/%3E%3C/svg%3E");
  --FORMS-checkbox-ico-disabled: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23b1b1b1' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'/%3E%3C/svg%3E");
  --FORMS-checkbox-ico-done: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%2349c7b5' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'/%3E%3C/svg%3E");
  --FORMS-checkbox-toggle-ico: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23fff' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");
  --FORMS-checkbox-toggle-ico-disabled: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23b1b1b1' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");

	/* radio */
	--FORMS-radio-ico: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23fff' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");
  --FORMS-radio-ico-disabled: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23b1b1b1' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");

	/* #endregion */

	/* #region events */
	
	/* tracking time */
	--EVENTS-color-1: #f95a4e;
	--EVENTS-color-1-not-logged: #ff8c83;
	--EVENTS-color-2: #fbcc4c;
	--EVENTS-color-2-not-logged: #ffe08d;
	--EVENTS-color-3: #44ca99;
	--EVENTS-color-3-not-logged: #74d0ae;
	--EVENTS-color-4: #3cbcfb;
	--EVENTS-color-4-not-logged: #71d0ff;
	--EVENTS-color-5: #f99d4e;
	--EVENTS-color-5-not-logged: #ffbc82;
	--EVENTS-color-6: #ec692b;
	--EVENTS-color-6-not-logged: #ec8959;
	--EVENTS-color-7: #1ba774;
	--EVENTS-color-7-not-logged: #3ba77f;
	--EVENTS-color-8: #1c98d4;
	--EVENTS-color-8-not-logged: #49a5d2;
	--EVENTS-color-9: #e460b0;
	--EVENTS-color-9-not-logged: #e083bb;
	--EVENTS-color-10: #d641d8;
	--EVENTS-color-10-not-logged: #db70dc;
	--EVENTS-color-11: #692be2;
	--EVENTS-color-11-not-logged: #8657e0;

	/* asana */
	--EVENTS-asana-dark-red: #fa5779;
	--EVENTS-asana-dark-orange: #ff7512;
	--EVENTS-asana-light-orange: #ffa800;
	--EVENTS-asana-dark-brown: #ffd100;
	--EVENTS-asana-light-green: #ace50e;
	--EVENTS-asana-dark-green: #15db7e;
	--EVENTS-asana-light-teal: #00d4c7;
	--EVENTS-asana-dark-teal: #48dafd;
	--EVENTS-asana-dark-purple: #6456f9;
	--EVENTS-asana-light-purple: #9f46e4;
	--EVENTS-asana-light-pink: #ff78fe;
	--EVENTS-asana-dark-pink: #ff4ba6;
	--EVENTS-asana-light-red: #fe93af;
	--EVENTS-asana-light-warm-gray: #5a7895;
	--EVENTS-asana-light-blue: #0063fb;

	/* trello */
	--EVENTS-trello-0179bf: #0179bf;
	--EVENTS-trello-d19034: #d19034;
	--EVENTS-trello-529739: #529739;
	--EVENTS-trello-af4632: #af4632;
	--EVENTS-trello-89609e: #89609e;
	--EVENTS-trello-cd5a91: #cd5a91;
	--EVENTS-trello-4abf6a: #4abf6a;
	--EVENTS-trello-04adcb: #04adcb;
	--EVENTS-trello-838c90: #838c90;
	
	/* #endregion */

	/* #region lighbox */
	--LIGHTBOX-focus-color: var(--APP-focus-color);
	--LIGHTBOX-radius: 5px;
	--LIGHTBOX-remove-color: var(--APP-error-color);
	/* #endregion */

}

body.dark-theme-on {

	/* #region gama https://coolors.co/gradient-palette/2a313c-7a8db3?number=25 / https://coolors.co/gradient-palette/3f4247-b3b9c6?number=25 */
	--APP-gama-0: #2a313c;
	--APP-gama-1: #2d3541;
	--APP-gama-2: #313946;
	--APP-gama-3: #343d4b;
	--APP-gama-4: #374050;
	--APP-gama-5: #3b4455;
	--APP-gama-6: #3e485a;
	--APP-gama-7: #414c5f;
	--APP-gama-8: #455064;
	--APP-gama-9: #485469;
	--APP-gama-10: #4b576e;
	--APP-gama-11: #6f747c;
	--APP-gama-12: #747981;
	--APP-gama-13: #797e87;
	--APP-gama-14: #7e828c;
	--APP-gama-15: #888c96;
	--APP-gama-16: #8c919c;
	--APP-gama-17: #9196a1;
	--APP-gama-18: #969ba6;
	--APP-gama-19: #9ba0ac;
	--APP-gama-20: #9ba0ac;
	--APP-gama-21: #a0a5b1;
	--APP-gama-22: #a5aab6;
	--APP-gama-23: #a9afbb;
	--APP-gama-24: #aeb4c1;
	/* #endregion */

	/* #region general */
	--APP-focus-color: #7183ff;
	--APP-focus-selected-color: #141624;
	--APP-text-color: #ffffff;
	--APP-button-background: #0c1013;
	--APP-current-day-color: #292a35;
	/* #endregion */

	/* #region forms */

	/* select */
	--FORMS-select-arrow-ico: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath fill='%23ffffff' d='M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z'/%3E%3C/svg%3E");

	/* checkbox */
	--FORMS-checkbox-ico: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23fff' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'/%3E%3C/svg%3E");
  --FORMS-checkbox-ico-disabled: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23b1b1b1' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'/%3E%3C/svg%3E");
  --FORMS-checkbox-ico-done: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%2349c7b5' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'/%3E%3C/svg%3E");
  --FORMS-checkbox-toggle-ico: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23fff' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");
  --FORMS-checkbox-toggle-ico-disabled: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23b1b1b1' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");

	/* radio */
	--FORMS-radio-ico: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23fff' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");
	--FORMS-radio-ico-disabled: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23b1b1b1' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");

	/* #endregion */

}

.MSTEAMS.dark_mode_ body {

	/* #region gama https://coolors.co/gradient-palette/201e1e-b0a5a5?number=25 */
	--APP-gama-0: #201e1e;
	--APP-gama-1: #262424;
	--APP-gama-2: #2c2929;
	--APP-gama-3: #322f2f;
	--APP-gama-4: #383434;
	--APP-gama-5: #3e3a3a;
	--APP-gama-6: #444040;
	--APP-gama-7: #4a4545;
	--APP-gama-8: #504b4b;
	--APP-gama-9: #565151;
	--APP-gama-10: #5c5656;
	--APP-gama-11: #625c5c;
	--APP-gama-12: #686262;
	--APP-gama-13: #6e6767;
	--APP-gama-14: #746d6d;
	--APP-gama-15: #7a7272;
	--APP-gama-16: #807878;
	--APP-gama-17: #867e7e;
	--APP-gama-18: #8c8383;
	--APP-gama-19: #928989;
	--APP-gama-20: #988f8f;
	--APP-gama-21: #9e9494;
	--APP-gama-22: #a49a9a;
	--APP-gama-23: #aa9f9f;
	--APP-gama-24: #b0a5a5;
	/* #endregion */

	/* #region general */
	--APP-focus-selected-color: #32375b;
	--APP-text-color: #ffffff;
	--APP-current-day-color: #23231c;
	--APP-button-background: #131313;
	/* #endregion */
  
	/* #region forms */
	
	/* select */
	--FORMS-select-arrow-ico: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath fill='%23ffffff' d='M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z'/%3E%3C/svg%3E");

	/* checkbox */
	--FORMS-checkbox-ico: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23fff' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'/%3E%3C/svg%3E");
	--FORMS-checkbox-ico-disabled: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23b1b1b1' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'/%3E%3C/svg%3E");
	--FORMS-checkbox-ico-done: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%2349c7b5' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'/%3E%3C/svg%3E");
	--FORMS-checkbox-toggle-ico: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23fff' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");
	--FORMS-checkbox-toggle-ico-disabled: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23b1b1b1' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");
	
	/* radio */
	--FORMS-radio-ico: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23fff' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");
	--FORMS-radio-ico-disabled: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23b1b1b1' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");
	
	/* #endregion */

}

.MSTEAMS.deep_dark_mode_ body {

	/* #region gama https://coolors.co/gradient-palette/000000-bfbfbf?number=25 */
	--APP-gama-0: #000000;
	--APP-gama-1: #080808;
	--APP-gama-2: #101010;
	--APP-gama-3: #181818;
	--APP-gama-4: #202020;
	--APP-gama-5: #282828;
	--APP-gama-6: #303030;
	--APP-gama-7: #383838;
	--APP-gama-8: #404040;
	--APP-gama-9: #484848;
	--APP-gama-10: #505050;
	--APP-gama-11: #585858;
	--APP-gama-12: #606060;
	--APP-gama-13: #676767;
	--APP-gama-14: #6f6f6f;
	--APP-gama-15: #777777;
	--APP-gama-16: #7f7f7f;
	--APP-gama-17: #878787;
	--APP-gama-18: #8f8f8f;
	--APP-gama-19: #979797;
	--APP-gama-20: #9f9f9f;
	--APP-gama-21: #a7a7a7;
	--APP-gama-22: #afafaf;
	--APP-gama-23: #b7b7b7;
	--APP-gama-24: #bfbfbf;
	/* #endregion */

	/* #region general */
	--APP-focus-color: #ebeb01;
	--APP-focus-selected-color: #818100;
	--APP-text-color: #ffffff;
	--APP-current-day-color: #23231c;
	--APP-button-background: #131313;
	/* #endregion */
  
	/* #region forms */

	/* select */
	--FORMS-select-arrow-ico: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath fill='%23ffffff' d='M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z'/%3E%3C/svg%3E");

	/* checkbox */
	--FORMS-checkbox-ico: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23fff' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'/%3E%3C/svg%3E");
	--FORMS-checkbox-ico-disabled: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23b1b1b1' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'/%3E%3C/svg%3E");
	--FORMS-checkbox-ico-done: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%2349c7b5' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'/%3E%3C/svg%3E");
	--FORMS-checkbox-toggle-ico: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23000' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");
	--FORMS-checkbox-toggle-ico-disabled: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23b1b1b1' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");
	
	/* radio */
	--FORMS-radio-ico: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23000' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");
	--FORMS-radio-ico-disabled: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath fill='%23b1b1b1' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");
	
	/* #endregion */

}