body {
  --list-bg: #ebecf0;
  --list-fg: #474747;
}

.bmko_hide {
  display: none;
}

.bmko_list-highlighter-applied .Sb_QqNKeadm2oq,
.bmko_list-highlighter-applied [data-testid=list] {
  transition: background 0.15s, opacity 0.25s;
}
.bmko_list-highlighter-applied .Sb_QqNKeadm2oq > div,
.bmko_list-highlighter-applied .Sb_QqNKeadm2oq > a,
.bmko_list-highlighter-applied [data-testid=list] > div,
.bmko_list-highlighter-applied [data-testid=list] > a {
  transition: filter 0.25s;
}

#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover .Sb_QqNKeadm2oq.bmko_temporarily-undimmed-list, #trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover .Sb_QqNKeadm2oq.bmko_unmatched-list.bmko_temporarily-undimmed-list, #trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover .Sb_QqNKeadm2oq.bmko_undimmed-list, #trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover .Sb_QqNKeadm2oq:hover,
#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover [data-testid=list].bmko_temporarily-undimmed-list,
#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover [data-testid=list].bmko_unmatched-list.bmko_temporarily-undimmed-list,
#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover [data-testid=list].bmko_undimmed-list,
#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover [data-testid=list]:hover {
  opacity: 1;
}
#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover .Sb_QqNKeadm2oq.bmko_temporarily-undimmed-list > div,
#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover .Sb_QqNKeadm2oq.bmko_temporarily-undimmed-list > a, #trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover .Sb_QqNKeadm2oq.bmko_unmatched-list.bmko_temporarily-undimmed-list > div,
#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover .Sb_QqNKeadm2oq.bmko_unmatched-list.bmko_temporarily-undimmed-list > a, #trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover .Sb_QqNKeadm2oq.bmko_undimmed-list > div,
#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover .Sb_QqNKeadm2oq.bmko_undimmed-list > a, #trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover .Sb_QqNKeadm2oq:hover > div,
#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover .Sb_QqNKeadm2oq:hover > a,
#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover [data-testid=list].bmko_temporarily-undimmed-list > div,
#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover [data-testid=list].bmko_temporarily-undimmed-list > a,
#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover [data-testid=list].bmko_unmatched-list.bmko_temporarily-undimmed-list > div,
#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover [data-testid=list].bmko_unmatched-list.bmko_temporarily-undimmed-list > a,
#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover [data-testid=list].bmko_undimmed-list > div,
#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover [data-testid=list].bmko_undimmed-list > a,
#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover [data-testid=list]:hover > div,
#trello-root.bmko_list-highlighter-applied.bmko_undim-on-hover [data-testid=list]:hover > a {
  filter: grayscale(0%);
}

.bmko_other_list_rules_applied .bmko_unmatched-list,
.bmko_list_opacity_applied {
  opacity: var(--opacity);
}

.bmko_list_grayscale_applied {
  filter: grayscale(100%);
}

.bmko_list_strikethrough_applied .RD2CmKQFZKidd6,
.bmko_list_strikethrough_applied [data-testid=list-cards] {
  text-decoration: line-through;
}

#trello-root.body-color-blind-mode-enabled .bmko_list_changed_background_color {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent);
  background-size: 2pc 2pc;
}
