body.OcultaRubricasActivado div.s-prose{
    display: none !important;
}
body.OcultaRubricasActivado div.itemRespuesta{
    display: none !important;
}
body.OcultaRubricasActivado div.modal-calificacion{
    display: none !important;
}
body.OcultaCriteriosActivado label.mr-2{
    display: none !important;
}
body.OcultaCriteriosActivado hr.modalcuaderno{
    display: none !important;
}
body:not(OcultaCriteriosActivado) label.abreviada{
    display: none !important;
}
body.OcultaCriteriosActivado label.abreviada{
    display: block !important;
}






