.country-ad .flag {
  background: url('icons/flags/ad.svg') no-repeat center center;
  background-size: contain;
}
.country-ae .flag {
  background: url('icons/flags/ae.svg') no-repeat center center;
  background-size: contain;
}
.country-af .flag {
  background: url('icons/flags/af.svg') no-repeat center center;
  background-size: contain;
}
.country-ag .flag {
  background: url('icons/flags/ag.svg') no-repeat center center;
  background-size: contain;
}
.country-ai .flag {
  background: url('icons/flags/ai.svg') no-repeat center center;
  background-size: contain;
}
.country-al .flag {
  background: url('icons/flags/al.svg') no-repeat center center;
  background-size: contain;
}
.country-am .flag {
  background: url('icons/flags/am.svg') no-repeat center center;
  background-size: contain;
}
.country-ao .flag {
  background: url('icons/flags/ao.svg') no-repeat center center;
  background-size: contain;
}
.country-aq .flag {
  background: url('icons/flags/aq.svg') no-repeat center center;
  background-size: contain;
}
.country-ar .flag {
  background: url('icons/flags/ar.svg') no-repeat center center;
  background-size: contain;
}
.country-as .flag {
  background: url('icons/flags/as.svg') no-repeat center center;
  background-size: contain;
}
.country-at .flag {
  background: url('icons/flags/at.svg') no-repeat center center;
  background-size: contain;
}
.country-au .flag {
  background: url('icons/flags/au.svg') no-repeat center center;
  background-size: contain;
}
.country-aw .flag {
  background: url('icons/flags/aw.svg') no-repeat center center;
  background-size: contain;
}
.country-ax .flag {
  background: url('icons/flags/ax.svg') no-repeat center center;
  background-size: contain;
}
.country-az .flag {
  background: url('icons/flags/az.svg') no-repeat center center;
  background-size: contain;
}
.country-ba .flag {
  background: url('icons/flags/ba.svg') no-repeat center center;
  background-size: contain;
}
.country-bb .flag {
  background: url('icons/flags/bb.svg') no-repeat center center;
  background-size: contain;
}
.country-bd .flag {
  background: url('icons/flags/bd.svg') no-repeat center center;
  background-size: contain;
}
.country-be .flag {
  background: url('icons/flags/be.svg') no-repeat center center;
  background-size: contain;
}
.country-bf .flag {
  background: url('icons/flags/bf.svg') no-repeat center center;
  background-size: contain;
}
.country-bg .flag {
  background: url('icons/flags/bg.svg') no-repeat center center;
  background-size: contain;
}
.country-bh .flag {
  background: url('icons/flags/bh.svg') no-repeat center center;
  background-size: contain;
}
.country-bi .flag {
  background: url('icons/flags/bi.svg') no-repeat center center;
  background-size: contain;
}
.country-bj .flag {
  background: url('icons/flags/bj.svg') no-repeat center center;
  background-size: contain;
}
.country-bl .flag {
  background: url('icons/flags/bl.svg') no-repeat center center;
  background-size: contain;
}
.country-bm .flag {
  background: url('icons/flags/bm.svg') no-repeat center center;
  background-size: contain;
}
.country-bn .flag {
  background: url('icons/flags/bn.svg') no-repeat center center;
  background-size: contain;
}
.country-bo .flag {
  background: url('icons/flags/bo.svg') no-repeat center center;
  background-size: contain;
}
.country-bq .flag {
  background: url('icons/flags/bq.svg') no-repeat center center;
  background-size: contain;
}
.country-br .flag {
  background: url('icons/flags/br.svg') no-repeat center center;
  background-size: contain;
}
.country-bs .flag {
  background: url('icons/flags/bs.svg') no-repeat center center;
  background-size: contain;
}
.country-bt .flag {
  background: url('icons/flags/bt.svg') no-repeat center center;
  background-size: contain;
}
.country-bv .flag {
  background: url('icons/flags/bv.svg') no-repeat center center;
  background-size: contain;
}
.country-bw .flag {
  background: url('icons/flags/bw.svg') no-repeat center center;
  background-size: contain;
}
.country-by .flag {
  background: url('icons/flags/by.svg') no-repeat center center;
  background-size: contain;
}
.country-bz .flag {
  background: url('icons/flags/bz.svg') no-repeat center center;
  background-size: contain;
}
.country-ca .flag {
  background: url('icons/flags/ca.svg') no-repeat center center;
  background-size: contain;
}
.country-cc .flag {
  background: url('icons/flags/cc.svg') no-repeat center center;
  background-size: contain;
}
.country-cd .flag {
  background: url('icons/flags/cd.svg') no-repeat center center;
  background-size: contain;
}
.country-cf .flag {
  background: url('icons/flags/cf.svg') no-repeat center center;
  background-size: contain;
}
.country-cg .flag {
  background: url('icons/flags/cg.svg') no-repeat center center;
  background-size: contain;
}
.country-ch .flag {
  background: url('icons/flags/ch.svg') no-repeat center center;
  background-size: contain;
}
.country-ci .flag {
  background: url('icons/flags/ci.svg') no-repeat center center;
  background-size: contain;
}
.country-ck .flag {
  background: url('icons/flags/ck.svg') no-repeat center center;
  background-size: contain;
}
.country-cl .flag {
  background: url('icons/flags/cl.svg') no-repeat center center;
  background-size: contain;
}
.country-cm .flag {
  background: url('icons/flags/cm.svg') no-repeat center center;
  background-size: contain;
}
.country-cn .flag {
  background: url('icons/flags/cn.svg') no-repeat center center;
  background-size: contain;
}
.country-co .flag {
  background: url('icons/flags/co.svg') no-repeat center center;
  background-size: contain;
}
.country-cr .flag {
  background: url('icons/flags/cr.svg') no-repeat center center;
  background-size: contain;
}
.country-cu .flag {
  background: url('icons/flags/cu.svg') no-repeat center center;
  background-size: contain;
}
.country-cv .flag {
  background: url('icons/flags/cv.svg') no-repeat center center;
  background-size: contain;
}
.country-cw .flag {
  background: url('icons/flags/cw.svg') no-repeat center center;
  background-size: contain;
}
.country-cx .flag {
  background: url('icons/flags/cx.svg') no-repeat center center;
  background-size: contain;
}
.country-cy .flag {
  background: url('icons/flags/cy.svg') no-repeat center center;
  background-size: contain;
}
.country-cz .flag {
  background: url('icons/flags/cz.svg') no-repeat center center;
  background-size: contain;
}
.country-de .flag {
  background: url('icons/flags/de.svg') no-repeat center center;
  background-size: contain;
}
.country-dj .flag {
  background: url('icons/flags/dj.svg') no-repeat center center;
  background-size: contain;
}
.country-dk .flag {
  background: url('icons/flags/dk.svg') no-repeat center center;
  background-size: contain;
}
.country-dm .flag {
  background: url('icons/flags/dm.svg') no-repeat center center;
  background-size: contain;
}
.country-do .flag {
  background: url('icons/flags/do.svg') no-repeat center center;
  background-size: contain;
}
.country-dz .flag {
  background: url('icons/flags/dz.svg') no-repeat center center;
  background-size: contain;
}
.country-ec .flag {
  background: url('icons/flags/ec.svg') no-repeat center center;
  background-size: contain;
}
.country-ee .flag {
  background: url('icons/flags/ee.svg') no-repeat center center;
  background-size: contain;
}
.country-eg .flag {
  background: url('icons/flags/eg.svg') no-repeat center center;
  background-size: contain;
}
.country-eh .flag {
  background: url('icons/flags/eh.svg') no-repeat center center;
  background-size: contain;
}
.country-er .flag {
  background: url('icons/flags/er.svg') no-repeat center center;
  background-size: contain;
}
.country-es .flag {
  background: url('icons/flags/es.svg') no-repeat center center;
  background-size: contain;
}
.country-et .flag {
  background: url('icons/flags/et.svg') no-repeat center center;
  background-size: contain;
}
.country-eu .flag {
  background: url('icons/flags/eu.svg') no-repeat center center;
  background-size: contain;
}
.country-fi .flag {
  background: url('icons/flags/fi.svg') no-repeat center center;
  background-size: contain;
}
.country-fj .flag {
  background: url('icons/flags/fj.svg') no-repeat center center;
  background-size: contain;
}
.country-fk .flag {
  background: url('icons/flags/fk.svg') no-repeat center center;
  background-size: contain;
}
.country-fm .flag {
  background: url('icons/flags/fm.svg') no-repeat center center;
  background-size: contain;
}
.country-fo .flag {
  background: url('icons/flags/fo.svg') no-repeat center center;
  background-size: contain;
}
.country-fr .flag {
  background: url('icons/flags/fr.svg') no-repeat center center;
  background-size: contain;
}
.country-ga .flag {
  background: url('icons/flags/ga.svg') no-repeat center center;
  background-size: contain;
}
.country-uk .flag,
.country-gb .flag {
  background: url('icons/flags/gb.svg') no-repeat center center;
  background-size: contain;
}
.country-gb-eng .flag {
  background: url('icons/flags/gb-eng.svg') no-repeat center center;
  background-size: contain;
}
.country-gb-nir .flag {
  background: url('icons/flags/gb-nir.svg') no-repeat center center;
  background-size: contain;
}
.country-gb-sct .flag {
  background: url('icons/flags/gb-sct.svg') no-repeat center center;
  background-size: contain;
}
.country-gb-wls .flag {
  background: url('icons/flags/gb-wls.svg') no-repeat center center;
  background-size: contain;
}
.country-gd .flag {
  background: url('icons/flags/gd.svg') no-repeat center center;
  background-size: contain;
}
.country-ge .flag {
  background: url('icons/flags/ge.svg') no-repeat center center;
  background-size: contain;
}
.country-gf .flag {
  background: url('icons/flags/gf.svg') no-repeat center center;
  background-size: contain;
}
.country-gg .flag {
  background: url('icons/flags/gg.svg') no-repeat center center;
  background-size: contain;
}
.country-gh .flag {
  background: url('icons/flags/gh.svg') no-repeat center center;
  background-size: contain;
}
.country-gi .flag {
  background: url('icons/flags/gi.svg') no-repeat center center;
  background-size: contain;
}
.country-gl .flag {
  background: url('icons/flags/gl.svg') no-repeat center center;
  background-size: contain;
}
.country-gm .flag {
  background: url('icons/flags/gm.svg') no-repeat center center;
  background-size: contain;
}
.country-gn .flag {
  background: url('icons/flags/gn.svg') no-repeat center center;
  background-size: contain;
}
.country-gp .flag {
  background: url('icons/flags/gp.svg') no-repeat center center;
  background-size: contain;
}
.country-gq .flag {
  background: url('icons/flags/gq.svg') no-repeat center center;
  background-size: contain;
}
.country-gr .flag {
  background: url('icons/flags/gr.svg') no-repeat center center;
  background-size: contain;
}
.country-gs .flag {
  background: url('icons/flags/gs.svg') no-repeat center center;
  background-size: contain;
}
.country-gt .flag {
  background: url('icons/flags/gt.svg') no-repeat center center;
  background-size: contain;
}
.country-gu .flag {
  background: url('icons/flags/gu.svg') no-repeat center center;
  background-size: contain;
}
.country-gw .flag {
  background: url('icons/flags/gw.svg') no-repeat center center;
  background-size: contain;
}
.country-gy .flag {
  background: url('icons/flags/gy.svg') no-repeat center center;
  background-size: contain;
}
.country-hk .flag {
  background: url('icons/flags/hk.svg') no-repeat center center;
  background-size: contain;
}
.country-hm .flag {
  background: url('icons/flags/hm.svg') no-repeat center center;
  background-size: contain;
}
.country-hn .flag {
  background: url('icons/flags/hn.svg') no-repeat center center;
  background-size: contain;
}
.country-hr .flag {
  background: url('icons/flags/hr.svg') no-repeat center center;
  background-size: contain;
}
.country-ht .flag {
  background: url('icons/flags/ht.svg') no-repeat center center;
  background-size: contain;
}
.country-hu .flag {
  background: url('icons/flags/hu.svg') no-repeat center center;
  background-size: contain;
}
.country-id .flag {
  background: url('icons/flags/id.svg') no-repeat center center;
  background-size: contain;
}
.country-ie .flag {
  background: url('icons/flags/ie.svg') no-repeat center center;
  background-size: contain;
}
.country-il .flag {
  background: url('icons/flags/il.svg') no-repeat center center;
  background-size: contain;
}
.country-im .flag {
  background: url('icons/flags/im.svg') no-repeat center center;
  background-size: contain;
}
.country-in .flag {
  background: url('icons/flags/in.svg') no-repeat center center;
  background-size: contain;
}
.country-io .flag {
  background: url('icons/flags/io.svg') no-repeat center center;
  background-size: contain;
}
.country-iq .flag {
  background: url('icons/flags/iq.svg') no-repeat center center;
  background-size: contain;
}
.country-ir .flag {
  background: url('icons/flags/ir.svg') no-repeat center center;
  background-size: contain;
}
.country-is .flag {
  background: url('icons/flags/is.svg') no-repeat center center;
  background-size: contain;
}
.country-it .flag {
  background: url('icons/flags/it.svg') no-repeat center center;
  background-size: contain;
}
.country-je .flag {
  background: url('icons/flags/je.svg') no-repeat center center;
  background-size: contain;
}
.country-jm .flag {
  background: url('icons/flags/jm.svg') no-repeat center center;
  background-size: contain;
}
.country-jo .flag {
  background: url('icons/flags/jo.svg') no-repeat center center;
  background-size: contain;
}
.country-jp .flag {
  background: url('icons/flags/jp.svg') no-repeat center center;
  background-size: contain;
}
.country-ke .flag {
  background: url('icons/flags/ke.svg') no-repeat center center;
  background-size: contain;
}
.country-kg .flag {
  background: url('icons/flags/kg.svg') no-repeat center center;
  background-size: contain;
}
.country-kh .flag {
  background: url('icons/flags/kh.svg') no-repeat center center;
  background-size: contain;
}
.country-ki .flag {
  background: url('icons/flags/ki.svg') no-repeat center center;
  background-size: contain;
}
.country-km .flag {
  background: url('icons/flags/km.svg') no-repeat center center;
  background-size: contain;
}
.country-kn .flag {
  background: url('icons/flags/kn.svg') no-repeat center center;
  background-size: contain;
}
.country-kp .flag {
  background: url('icons/flags/kp.svg') no-repeat center center;
  background-size: contain;
}
.country-kr .flag {
  background: url('icons/flags/kr.svg') no-repeat center center;
  background-size: contain;
}
.country-kw .flag {
  background: url('icons/flags/kw.svg') no-repeat center center;
  background-size: contain;
}
.country-ky .flag {
  background: url('icons/flags/ky.svg') no-repeat center center;
  background-size: contain;
}
.country-kz .flag {
  background: url('icons/flags/kz.svg') no-repeat center center;
  background-size: contain;
}
.country-la .flag {
  background: url('icons/flags/la.svg') no-repeat center center;
  background-size: contain;
}
.country-lb .flag {
  background: url('icons/flags/lb.svg') no-repeat center center;
  background-size: contain;
}
.country-lc .flag {
  background: url('icons/flags/lc.svg') no-repeat center center;
  background-size: contain;
}
.country-li .flag {
  background: url('icons/flags/li.svg') no-repeat center center;
  background-size: contain;
}
.country-lk .flag {
  background: url('icons/flags/lk.svg') no-repeat center center;
  background-size: contain;
}
.country-lr .flag {
  background: url('icons/flags/lr.svg') no-repeat center center;
  background-size: contain;
}
.country-ls .flag {
  background: url('icons/flags/ls.svg') no-repeat center center;
  background-size: contain;
}
.country-lt .flag {
  background: url('icons/flags/lt.svg') no-repeat center center;
  background-size: contain;
}
.country-lu .flag {
  background: url('icons/flags/lu.svg') no-repeat center center;
  background-size: contain;
}
.country-lv .flag {
  background: url('icons/flags/lv.svg') no-repeat center center;
  background-size: contain;
}
.country-ly .flag {
  background: url('icons/flags/ly.svg') no-repeat center center;
  background-size: contain;
}
.country-ma .flag {
  background: url('icons/flags/ma.svg') no-repeat center center;
  background-size: contain;
}
.country-mc .flag {
  background: url('icons/flags/mc.svg') no-repeat center center;
  background-size: contain;
}
.country-md .flag {
  background: url('icons/flags/md.svg') no-repeat center center;
  background-size: contain;
}
.country-me .flag {
  background: url('icons/flags/me.svg') no-repeat center center;
  background-size: contain;
}
.country-mf .flag {
  background: url('icons/flags/mf.svg') no-repeat center center;
  background-size: contain;
}
.country-mg .flag {
  background: url('icons/flags/mg.svg') no-repeat center center;
  background-size: contain;
}
.country-mh .flag {
  background: url('icons/flags/mh.svg') no-repeat center center;
  background-size: contain;
}
.country-mk .flag {
  background: url('icons/flags/mk.svg') no-repeat center center;
  background-size: contain;
}
.country-ml .flag {
  background: url('icons/flags/ml.svg') no-repeat center center;
  background-size: contain;
}
.country-mm .flag {
  background: url('icons/flags/mm.svg') no-repeat center center;
  background-size: contain;
}
.country-mn .flag {
  background: url('icons/flags/mn.svg') no-repeat center center;
  background-size: contain;
}
.country-mo .flag {
  background: url('icons/flags/mo.svg') no-repeat center center;
  background-size: contain;
}
.country-mp .flag {
  background: url('icons/flags/mp.svg') no-repeat center center;
  background-size: contain;
}
.country-mq .flag {
  background: url('icons/flags/mq.svg') no-repeat center center;
  background-size: contain;
}
.country-mr .flag {
  background: url('icons/flags/mr.svg') no-repeat center center;
  background-size: contain;
}
.country-ms .flag {
  background: url('icons/flags/ms.svg') no-repeat center center;
  background-size: contain;
}
.country-mt .flag {
  background: url('icons/flags/mt.svg') no-repeat center center;
  background-size: contain;
}
.country-mu .flag {
  background: url('icons/flags/mu.svg') no-repeat center center;
  background-size: contain;
}
.country-mv .flag {
  background: url('icons/flags/mv.svg') no-repeat center center;
  background-size: contain;
}
.country-mw .flag {
  background: url('icons/flags/mw.svg') no-repeat center center;
  background-size: contain;
}
.country-mx .flag {
  background: url('icons/flags/mx.svg') no-repeat center center;
  background-size: contain;
}
.country-my .flag {
  background: url('icons/flags/my.svg') no-repeat center center;
  background-size: contain;
}
.country-mz .flag {
  background: url('icons/flags/mz.svg') no-repeat center center;
  background-size: contain;
}
.country-na .flag {
  background: url('icons/flags/na.svg') no-repeat center center;
  background-size: contain;
}
.country-nc .flag {
  background: url('icons/flags/nc.svg') no-repeat center center;
  background-size: contain;
}
.country-ne .flag {
  background: url('icons/flags/ne.svg') no-repeat center center;
  background-size: contain;
}
.country-nf .flag {
  background: url('icons/flags/nf.svg') no-repeat center center;
  background-size: contain;
}
.country-ng .flag {
  background: url('icons/flags/ng.svg') no-repeat center center;
  background-size: contain;
}
.country-ni .flag {
  background: url('icons/flags/ni.svg') no-repeat center center;
  background-size: contain;
}
.country-nl .flag {
  background: url('icons/flags/nl.svg') no-repeat center center;
  background-size: contain;
}
.country-no .flag {
  background: url('icons/flags/no.svg') no-repeat center center;
  background-size: contain;
}
.country-np .flag {
  background: url('icons/flags/np.svg') no-repeat center center;
  background-size: contain;
}
.country-nr .flag {
  background: url('icons/flags/nr.svg') no-repeat center center;
  background-size: contain;
}
.country-nu .flag {
  background: url('icons/flags/nu.svg') no-repeat center center;
  background-size: contain;
}
.country-nz .flag {
  background: url('icons/flags/nz.svg') no-repeat center center;
  background-size: contain;
}
.country-om .flag {
  background: url('icons/flags/om.svg') no-repeat center center;
  background-size: contain;
}
.country-pa .flag {
  background: url('icons/flags/pa.svg') no-repeat center center;
  background-size: contain;
}
.country-pe .flag {
  background: url('icons/flags/pe.svg') no-repeat center center;
  background-size: contain;
}
.country-pf .flag {
  background: url('icons/flags/pf.svg') no-repeat center center;
  background-size: contain;
}
.country-pg .flag {
  background: url('icons/flags/pg.svg') no-repeat center center;
  background-size: contain;
}
.country-ph .flag {
  background: url('icons/flags/ph.svg') no-repeat center center;
  background-size: contain;
}
.country-pk .flag {
  background: url('icons/flags/pk.svg') no-repeat center center;
  background-size: contain;
}
.country-pl .flag {
  background: url('icons/flags/pl.svg') no-repeat center center;
  background-size: contain;
}
.country-pm .flag {
  background: url('icons/flags/pm.svg') no-repeat center center;
  background-size: contain;
}
.country-pn .flag {
  background: url('icons/flags/pn.svg') no-repeat center center;
  background-size: contain;
}
.country-pr .flag {
  background: url('icons/flags/pr.svg') no-repeat center center;
  background-size: contain;
}
.country-ps .flag {
  background: url('icons/flags/ps.svg') no-repeat center center;
  background-size: contain;
}
.country-pt .flag {
  background: url('icons/flags/pt.svg') no-repeat center center;
  background-size: contain;
}
.country-pw .flag {
  background: url('icons/flags/pw.svg') no-repeat center center;
  background-size: contain;
}
.country-py .flag {
  background: url('icons/flags/py.svg') no-repeat center center;
  background-size: contain;
}
.country-qa .flag {
  background: url('icons/flags/qa.svg') no-repeat center center;
  background-size: contain;
}
.country-re .flag {
  background: url('icons/flags/re.svg') no-repeat center center;
  background-size: contain;
}
.country-ro .flag {
  background: url('icons/flags/ro.svg') no-repeat center center;
  background-size: contain;
}
.country-rs .flag {
  background: url('icons/flags/rs.svg') no-repeat center center;
  background-size: contain;
}
.country-ru .flag {
  background: url('icons/flags/ru.svg') no-repeat center center;
  background-size: contain;
}
.country-rw .flag {
  background: url('icons/flags/rw.svg') no-repeat center center;
  background-size: contain;
}
.country-sa .flag {
  background: url('icons/flags/sa.svg') no-repeat center center;
  background-size: contain;
}
.country-sb .flag {
  background: url('icons/flags/sb.svg') no-repeat center center;
  background-size: contain;
}
.country-sc .flag {
  background: url('icons/flags/sc.svg') no-repeat center center;
  background-size: contain;
}
.country-sd .flag {
  background: url('icons/flags/sd.svg') no-repeat center center;
  background-size: contain;
}
.country-se .flag {
  background: url('icons/flags/se.svg') no-repeat center center;
  background-size: contain;
}
.country-sg .flag {
  background: url('icons/flags/sg.svg') no-repeat center center;
  background-size: contain;
}
.country-sh .flag {
  background: url('icons/flags/sh.svg') no-repeat center center;
  background-size: contain;
}
.country-si .flag {
  background: url('icons/flags/si.svg') no-repeat center center;
  background-size: contain;
}
.country-sj .flag {
  background: url('icons/flags/sj.svg') no-repeat center center;
  background-size: contain;
}
.country-sk .flag {
  background: url('icons/flags/sk.svg') no-repeat center center;
  background-size: contain;
}
.country-sl .flag {
  background: url('icons/flags/sl.svg') no-repeat center center;
  background-size: contain;
}
.country-sm .flag {
  background: url('icons/flags/sm.svg') no-repeat center center;
  background-size: contain;
}
.country-sn .flag {
  background: url('icons/flags/sn.svg') no-repeat center center;
  background-size: contain;
}
.country-so .flag {
  background: url('icons/flags/so.svg') no-repeat center center;
  background-size: contain;
}
.country-sr .flag {
  background: url('icons/flags/sr.svg') no-repeat center center;
  background-size: contain;
}
.country-ss .flag {
  background: url('icons/flags/ss.svg') no-repeat center center;
  background-size: contain;
}
.country-st .flag {
  background: url('icons/flags/st.svg') no-repeat center center;
  background-size: contain;
}
.country-sv .flag {
  background: url('icons/flags/sv.svg') no-repeat center center;
  background-size: contain;
}
.country-sx .flag {
  background: url('icons/flags/sx.svg') no-repeat center center;
  background-size: contain;
}
.country-sy .flag {
  background: url('icons/flags/sy.svg') no-repeat center center;
  background-size: contain;
}
.country-sz .flag {
  background: url('icons/flags/sz.svg') no-repeat center center;
  background-size: contain;
}
.country-tc .flag {
  background: url('icons/flags/tc.svg') no-repeat center center;
  background-size: contain;
}
.country-td .flag {
  background: url('icons/flags/td.svg') no-repeat center center;
  background-size: contain;
}
.country-tf .flag {
  background: url('icons/flags/tf.svg') no-repeat center center;
  background-size: contain;
}
.country-tg .flag {
  background: url('icons/flags/tg.svg') no-repeat center center;
  background-size: contain;
}
.country-th .flag {
  background: url('icons/flags/th.svg') no-repeat center center;
  background-size: contain;
}
.country-tj .flag {
  background: url('icons/flags/tj.svg') no-repeat center center;
  background-size: contain;
}
.country-tk .flag {
  background: url('icons/flags/tk.svg') no-repeat center center;
  background-size: contain;
}
.country-tl .flag {
  background: url('icons/flags/tl.svg') no-repeat center center;
  background-size: contain;
}
.country-tm .flag {
  background: url('icons/flags/tm.svg') no-repeat center center;
  background-size: contain;
}
.country-tn .flag {
  background: url('icons/flags/tn.svg') no-repeat center center;
  background-size: contain;
}
.country-to .flag {
  background: url('icons/flags/to.svg') no-repeat center center;
  background-size: contain;
}
.country-tr .flag {
  background: url('icons/flags/tr.svg') no-repeat center center;
  background-size: contain;
}
.country-tt .flag {
  background: url('icons/flags/tt.svg') no-repeat center center;
  background-size: contain;
}
.country-tv .flag {
  background: url('icons/flags/tv.svg') no-repeat center center;
  background-size: contain;
}
.country-tw .flag {
  background: url('icons/flags/tw.svg') no-repeat center center;
  background-size: contain;
}
.country-tz .flag {
  background: url('icons/flags/tz.svg') no-repeat center center;
  background-size: contain;
}
.country-ua .flag {
  background: url('icons/flags/ua.svg') no-repeat center center;
  background-size: contain;
}
.country-ug .flag {
  background: url('icons/flags/ug.svg') no-repeat center center;
  background-size: contain;
}
.country-um .flag {
  background: url('icons/flags/um.svg') no-repeat center center;
  background-size: contain;
}
.country-un .flag {
  background: url('icons/flags/un.svg') no-repeat center center;
  background-size: contain;
}
.country-us .flag {
  background: url('icons/flags/us.svg') no-repeat center center;
  background-size: contain;
}
.country-uy .flag {
  background: url('icons/flags/uy.svg') no-repeat center center;
  background-size: contain;
}
.country-uz .flag {
  background: url('icons/flags/uz.svg') no-repeat center center;
  background-size: contain;
}
.country-va .flag {
  background: url('icons/flags/va.svg') no-repeat center center;
  background-size: contain;
}
.country-vc .flag {
  background: url('icons/flags/vc.svg') no-repeat center center;
  background-size: contain;
}
.country-ve .flag {
  background: url('icons/flags/ve.svg') no-repeat center center;
  background-size: contain;
}
.country-vg .flag {
  background: url('icons/flags/vg.svg') no-repeat center center;
  background-size: contain;
}
.country-vi .flag {
  background: url('icons/flags/vi.svg') no-repeat center center;
  background-size: contain;
}
.country-vn .flag {
  background: url('icons/flags/vn.svg') no-repeat center center;
  background-size: contain;
}
.country-vu .flag {
  background: url('icons/flags/vu.svg') no-repeat center center;
  background-size: contain;
}
.country-wf .flag {
  background: url('icons/flags/wf.svg') no-repeat center center;
  background-size: contain;
}
.country-ws .flag {
  background: url('icons/flags/ws.svg') no-repeat center center;
  background-size: contain;
}
.country-ye .flag {
  background: url('icons/flags/ye.svg') no-repeat center center;
  background-size: contain;
}
.country-yt .flag {
  background: url('icons/flags/yt.svg') no-repeat center center;
  background-size: contain;
}
.country-za .flag {
  background: url('icons/flags/za.svg') no-repeat center center;
  background-size: contain;
}
.country-zm .flag {
  background: url('icons/flags/zm.svg') no-repeat center center;
  background-size: contain;
}
.country-zw .flag {
  background: url('icons/flags/zw.svg') no-repeat center center;
  background-size: contain;
}
