:root {
    font-size: 18px;
}

body {
    padding: 1rem;
    background-color: #333 !important;
}

img {
    max-width: 640px;
    height: auto
}

img[data-type="svg"] {
    max-width: 120px;
}

#ux-images {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    text-align: center;
}

.ux-image img {
    margin-bottom: 1em;
}

.ux-image p {
    color: #fff;
    font-family: roboto, arial, sans-serif;
    text-align: center;
    line-height: 1.65em;
    margin: 0;
}

p.ux-type {
    color: #FC9722;
    font-size: 1.2em;
}

p.ux-size {
    font-size: 0.85em;
}