// These are separators:
.groups_separator {
    #groups > a {
        box-shadow: 1px 0 0 0 #4D4D4D inset;
    }
    &.white #groups > a {
        box-shadow: 1px 0 0 0 #D5D5D5 inset;
    }
    #groups > a.selected + a {  // hide separator on the next element that would overflow the blue line on the top
        box-shadow: none;
    }
}
