@media print  {
    .print-invoice-alibill {
        display: none;
    }
    .sidebar-alibill {
        display: none;
    }
    .seller-box {
        font-size: 10px;
        line-height: 1.2;
    }
    .order-logistics-info-content,
    .order-detail-info-content {
        font-size: 12px;
        line-height: 0.6;
    }
    div#account-page { border: none !important; box-shadow: none !important; }
}

.alibill-single-btn {
    width: 100%;
    display: flex;
    align-items: center;
    color:#2d4059;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #2d4059;
}

.alibill-single-btn:hover {
    text-decoration: none;
    background-color:#2d4059;
    color: white;
}

.modal-message {
    font-size: 20px;
}

.pulsing-shadow {
    border: 2px solid rgb(83, 221, 159);
    box-shadow: 0 0 17px black;
    animation: pulsate 1s ease-out infinite;
}
@keyframes pulsate {
    0%   { box-shadow: 0 0 0 rgb(83, 221, 159); }
    50%  { box-shadow: 0 0 10px 5px rgb(83, 221, 159); }
    100% { box-shadow: 0 0 0 rgb(83, 221, 159); }
}

.tooltip-alib {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-alib .tooltiptext-alib {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 50;
    top: 120%;
    left: 0%;
    margin-left: -60px;
    padding: 5px;
}

.tooltip-alib:hover .tooltiptext-alib {
    visibility: visible;
}