// Offer card
.mu-offer-card {
    background-color: var(--offer_card_background)!important;
    border: 1px solid var(--offer_card_border_color)!important;
    &:hover {
        border-color: var(--offer_card_hover_border_color)!important;
    }
    &__favorite {
        //
        .fa-heart {
            color: #b2b2b2;
            color: var(--minsk)!important;
        }
        &.active-fav {
            //
            .fa-heart {
                color: #ff4f61;
                color: var(--prague)!important;
            }
        }
    }
    &.staticBig {
        box-shadow: none!important;
    }
    &.staticSmall {
        box-shadow: none!important;
    }
    .offer-name {
        color: var(--offer_card_offer_name_color)!important;
    }
    .text-info {
        color: var(--offer_card_offer_cashback_phrase_color)!important;
    }
    .text-percentage {
        color: var(--offer_card_cashback_color)!important;
    }
}
// /Offer card

// Loader
.el-loading-spinner {
    //
    .path {
        stroke: #000000!important;
        stroke: var(--text_primary)!important;
    }
}
// /Loader
