:root {
    --sydney: #000000;
    --moscow: #404040;
    --london: #7f7f7f;
    --minsk: #b2b2b2;
    --montreal: #e5e5e5;
    --ottawa: #f2f2f2;
    --paris: #f7f7f7;
    --vancouver: #cffc00;
    --toronto: #00bdff;
    --calgary: #ff54bf;
    --budapest: #00d961;
    --prague: #ff4f61;
    --munich: #85ebf5;
    --frankfurt: #ff9ce8;
    --vilnius: #b5ff73;
    --vienna: #fcabad;
    --tokyo: #ffff33;
    --zurich: #ffffff;

    --text_primary: var(--sydney);

    --app_background: var(--zurich);
    --global_preloader_background_color: var(--vancouver);
    --main_text_color: var(--sydney);

    // Header
    --header_background: var(--zurich);
    --header_border_bottom_color: var(--minsk);
    --header_icon_color: var(--minsk);

    // Dropdown
    --dropdown_item_color: var(--london);
    --dropdown_item_hover_color: var(--sydney);
    --dropdown_item_hover_background: var(--paris);

    // Tabs
    --tabs_active_color: var(--sydney);
    --tabs_inactive_color: var(--minsk);

    // Buttons
    --link_color: var(--sydney);
    --icon_color: var(--sydney);

    // Logo
    --text-main-logo-color: var(--sydney);
    --text-sub-logo-color: var(--minsk);

    // User balance
    --user_balance_background: var(--zurich);
    --user_balance_border_color: var(--montreal);
    --user_balance_done_color: var(--budapest);
    --user_balance_wait_color: var(--minsk);

    // Order item
    --order_item_border_color: var(--montreal);
    --order_item_backgorund: var(--zurich);
    --order_item_date_color: var(--moscow);
    --order_item_order_count_color: var(--minsk);
    --order_item_order_number_color: var(--sydney);
    --order_item_order_number_copy_icon_color: var(--minsk);
    --order_item_cashback_color: var(--sydney);
    --order_item_price_color: rgba(var(--sydney),0.75);
    --order_item_header_waiting: var(--minsk);
    --order_item_header_pending: var(--minsk);
    --order_item_header_completed: var(--budapest);
    --order_item_header_rejected: var(--prague);
    --empty_order_dot_color: var(--sydney);
    --empty_order_line_color: var(--montreal);

    // Dynamic price
    --dynamic_price_empty_text_color: var(--london);
    --dynamic_price_min_max_price_background: var(--zurich);
    --dynamic_price_min_max_price_border_color: var(--montreal);
    --dynamic_price_min_price_color: var(--budapest);
    --dynamic_price_max_price_color: var(--prague);
    --dynamic_price_warning_message: var(--london);

    // Options
    --options_background: var(--zurich);
    --options_title_color: var(--sydney);
    --options_label_color: var(--moscow);
    --options_footer_color: var(--minsk);
    --options_text_color: var(--moscow);


    // Speeddial
    --speeddial_default_icon_background: var(--sydney);
    --speeddial_default_icon_color: var(--zurich);

    // Offer card
    --offer_card_background: var(--zurich);
    --offer_card_border_color: var(--montreal);
    --offer_card_hover_border_color: var(--minsk);
    --offer_card_offer_name_color: var(--minsk);
    --offer_card_offer_cashback_phrase_color: var(--moscow);
    --offer_card_cashback_color: var(--sydney);
}
