body {
	font-size: 13px
}

#tpm_logo {
	background: url("../img/logo.jpg") no-repeat;
	padding-left: 70px;
	height: 45px;
	float: left;
}

h1 {
	font-size: 20px;
	color: #2a5db0;
	margin: 0;
	padding: 0;
	line-height: 25px;
}

#tpm_save_pwd {
	font-size: 14px;
	color: #2a5db0;
}

#tpm_errors {
	color: red;
}

#tpm_errors_group {
	display: none;
}

.control-label {
	font-size: 13px !important;
}

.tpm-archived {
	font-weight: normal;
}

#tpm_pwd_name {
	font-size: 13px;
}

.form-horizontal .control-label {
    float: left;
    width: 110px;
    padding-top: 2px;
    text-align: left;
}

.form-horizontal .controls {
    margin-left: 120px;
}

#tpm_saver_header {
	padding: 10px;
	border-bottom: 1px solid #eee;
}

#tpm_saver_body {
	padding: 10px 10px 0px 10px;
	position: relative;
	overflow-y: auto;
	/*min-height: 300px;
    max-height: 300px;*/
    height: 312px;
    margin-bottom: 0;
}

#tpm_saver_projects {
	padding-left: 20px;
	background: url("../img/projects.png") no-repeat;
}

#tpm_saver_footer {    
	background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    margin-bottom: 0;
    height: 60px;
}

#tpm_saver_buttons {
	margin-left: 120px;
	margin-top: 15px;
}




