html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Liberation Sans';
}

body {
    width: 380px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.hidden {
    display: none !important;
}

a:visited {
    color: inherit;
}

body>h1 {
    text-align: center;
}

.setting {
    border: 1px solid;
    padding: 1rem;
    display: grid;
    gap: 1rem;
}

.setting>.heading>h2 {
    margin: 0;
}

.setting>.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#anonymous-tokens .status {
    display: flex;
    gap: 1rem;
}

#anonymous-tokens .description {
    display: grid;
    gap: 1rem;
}

/*
* Styles for custom settings slider
*/
.switch {
    display: inline-block;
    height: 27px;
    position: relative;
    width: 50px;
}

.switch input {
    display: none;
}

.switch .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.switch .slider:before {
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 20px;
    left: 3px;
    position: absolute;
    transition: .4s;
    width: 20px;
}

.switch input:checked+.slider {
    background-color: #66bb6a;
}

.switch input:checked+.slider:before {
    transform: translateX(23px);
}

.switch .slider.round {
    border-radius: 34px;
}

.switch .slider.round:before {
    border-radius: 50%;
}