* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.welcome_block {
    border-radius: 10px;
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
    background: #FFF;
    box-shadow: -4px 4px 40px 0px rgba(0, 0, 0, 0.05);
}

.welcome_head {
    padding: 22px 49px;
    background-color: #008ECA;
    filter: drop-shadow(-4px 4px 40px rgba(0, 0, 0, 0.05));
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
    border-radius: 10px 10px 0 0;
}

.welcome_body {
    padding: 91px 39px;
    border: 1px solid #EAEAEA;
    border-top: 0;
    border-radius: 0 0 10px 10px;
}

.body_txt .txt {
    color: rgba(6, 19, 27, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
}

.body_txt hr {
    margin: 24px 0;
    border-color: rgba(0, 0, 0, 0.10);
    color: rgba(0, 0, 0, 0.10);
    background-color: rgba(0, 0, 0, 0.10);
}
.body_txt .body_link.mb {
    margin-bottom: 19px;
}
.body_txt .body_link {
    color: #06131B;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
}

.body_txt .body_link a {
    cursor: pointer;
    color: #008ECA;
    text-decoration: underline;
}

.body_txt .body_link a:hover {
    text-decoration: none;
}