@font-face {
  font-family: "poppins-semibold";
  src: url(../font/Poppins-SemiBold.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "poppins-medium";
  src: url(../font/Poppins-Medium.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "montserrat-medium";
  src: url(../font/Montserrat-Medium.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "montserrat-semibold";
  src: url(../font/Montserrat-SemiBold.ttf);
  font-weight: 400;
  font-style: normal;
}

@page {
  size: A4;
  margin: 0;
}
/* css reset to remove little white space in header/footer */
* {
  -webkit-print-color-adjust: exact;
}

h1 {
  font-size: 16pt;
}

h2 {
  margin: 25px 0px 0px;
  display: inline-flex;
  border: solid 2px;
  border-radius: 25px;
  padding: 8px 20px;
  text-align: center;
  font-size: 14pt;
  font-family: "poppins-semibold";
}
h3 {
  font-size: 13pt;
  font-family: "poppins-medium";
}
h4 {
  font-size: 11pt;
  font-family: "poppins-medium";
}
h5 {
  font-size: 10pt;
  font-family: "montserrat-semibold";
}
h6 {
  font-size: 9pt;
  font-family: "montserrat-semibold";
}

.h3RuleHead,
.h4CategoryHead,
.h5RuleHead,
.h5TextBlock,
.h6TextBlock {
  padding: 5px 20px;
}

.h6TextBlock {
  margin-bottom: 20px;
}

.explanationBeginn {
  font-family: "montserrat-medium";
  font-size: 10pt;
  padding: 5px 20px;
  margin: 15px 0px;
}

.preBlockTextResult {
  font-family: "montserrat-medium";
  font-size: 9pt;
  padding: 10px 20px;
}

.numberOfErrors {
  font-family: "montserrat-semibold";
  font-size: 9pt;
  padding: 0px 20px;
}

.pInMainCatPreBlock {
  font-size: 10pt;
  font-family: "montserrat-medium";
}

.pInMainRuleBlocks {
  font-size: 9pt;
  font-family: "montserrat-medium";
}

.topN {
  border-collapse: collapse;
  width: 100%;
}

.bold {
  font-weight: bold;
}

td.urlColumn {
  width: 25%;
}
td.codeColumn {
  background-color: #121212;
  width: 45%;
  border-bottom: 1px solid grey !important;
}

td.previewColumn {
  width: 30%;
}

/*wrap around code Block inside one tablecell*/
.codeContainer {
  padding: 5px;
  overflow-x: hidden;
  max-width: 100%;
}

/*fix to wide columns in code block*/
.codeContainer span {
  display: inline-block;
}

/*no backgroundcolor in prism code*/
:not(pre) > code[class*='language-'] {
  background-color: transparent !important;
}

.pathP {
  word-wrap: break-word;
  color: white;
}

/*top N table*/

td.urlColumnTopN {
  width: 14%;
}
td.codeColumnTopN {
  width: 30%;
  background-color: #121212;
  border-bottom: 1px solid grey !important;
}
td.codeColumnTopN code {
  word-break: break-all;
}

td.textColumnTopN {
  text-align: center;
  width: 12%;
}
td.errorContentColumnTopN {
  text-align: center;
  width: 20%;
}

td.previewTopN {
  width: 24%;
}

/* visualization */
.visContainer {
  width: 100%;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visImage {
  max-width: 100px;
  max-height: 100px;
}
.visOuterHtml {
  max-width: 150px;
  overflow-x: hidden;
}

.content-table {
  border-collapse: collapse;
  width: 100%;
}

.content-table thead th {
  background-color: #ffd050;
  color: #121212;
  text-align: center;
  font-weight: bold;
  font-family: 'poppins-semibold';
  font-size: 8pt;
  padding: 15px;
}

.content-table td {
  word-break: break-all;
  padding: 5px 20px;
  border: 2px solid #ffffff;
  font-family: 'montserrat-medium';
  font-size: 8pt;
}

.content-table th {
  padding: 8px 13px;
  border: 2px solid #ffffff;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #e6e6e6;
}
.content-table tbody tr:nth-of-type(odd) {
  background-color: #d9d9d9;
}

.smallTD {
  padding: 5px 13px !important;
}

a:visited {
  color: black;
  font-weight: bold;
}

a {
  color: black;
}

.container-svg {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

/* for visualization */
.previewImageError {
  max-width: 100%;
  max-height: 100px;
}

.contrastInfoContainer {
  display: block;
  flex-direction: column;
  align-items: center;
}

.contrastInfoTxt {
  background: #121212;
  color: white;
  margin-bottom: 2px;
  padding: 5px;
  border-radius: 15px 15px 0px 0px;
  margin-top: 0;
}

.page-header,
.page-header-space {
  display: none;
  height: 2.65cm;
  width: 100%;
  margin-bottom: 15px;
}

.page-footer,
.page-footer-space {
  display: none;
  height: 2.65cm;
  width: 100%;
  margin-top: 15px;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  .marginBody {
    padding-right: 1.5cm;
    padding-left: 1.5cm;
  }

  body {
    margin: 0;
  }

  table {
    page-break-inside: auto;
    margin: auto;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }

  .page-header,
  .page-header-space {
    display: inline-block;
    height: 2.65cm;
    width: 100%;
  }

  .page-footer,
  .page-footer-space {
    display: inline-block;
    height: 2.65cm;
    width: 100%;
  }

  .page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .page-header {
    position: fixed;
    top: 0;
    width: 100%;
  }
}
