.logout-overlay .image {
    margin-bottom: 8px;
}
.logout-overlay .image i {
    width: 90px;
    height: 90px;
    background-size: contain;
    display: block;
}
.logout-overlay .image i.bell {
    background-image: url('../../images/reminder-bell.png');
    margin: 16px auto 16px 16px;
}
.logout-overlay .image i.password {
    background-image: url('../../images//empty-autofill.png');
    margin: 8px auto 8px 8px;
}
.logout-overlay .title h1 {
    margin-bottom: 16px;
}
.logout-overlay .content {
    height: 100%;
}
.recovery-key-logout {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.recovery-key-logout span.text {
    font: var(--font-copy-regular);
    margin-bottom: 12px;
}
.recovery-key-logout .skip-link {
    margin-top: auto;
    margin-bottom: 24px;
}
.recovery-key-logout .skip-link span {
    font: var(--font-label-bold);
}
.recovery-key-logout .text.info a {
    color: var(--link-primary);
    text-decoration: underline;
}
.recovery-key-logout .pass-reminder-forgot {
    margin-top: 16px;
    text-align: center;
}
.recovery-key-logout .pass-reminder-forgot a {
    margin: 0 4px;
    color: var(--link-primary);
    text-decoration: underline;
}
.recovery-key.container {
    display: flex;
    flex-flow: column nowrap;
}
.recovery-key.blurb {
    color: var(--text-primary);
    font: var(--font-caption-large-bold);
    margin-bottom: 4px;
}
.recovery-key.container .dlButton {
    height: 48px;
    margin-top: 24px;
}
.recovery-key.input {
    position: relative;
}
.recovery-key.string {
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    padding: 14px 12px;
    border: 1px solid var(--border-strong);
    border-radius: var(--border-radius-medium);
    color: var(--text-primary);
    font: var(--font-input-regular);
    background-color: var(--page-background);
    outline: none;
}
input.recovery-key.string:focus {
    border-color: var(--border-strong-selected);
}
.recovery-key.input button.icon-only {
    position: absolute;
    right: 2px;
    top: 4px;
}
