html {
    width: 800px;
    height: 600px;
    overflow: hidden;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--page-background);
}
.main-layout {
    display: grid;
    grid-template-columns: 1.4fr 2fr;
    grid-template-rows: auto 1fr;
    height: 100%;
}
.main-layout.full-screen {
    grid-template-columns: 1fr auto;
}
.main-layout.full-screen #side-nav {
    display: none;
}
