.mega-overlay.two-factor .main {
    padding-top: 48px;
}
.two-factor-verification {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.two-factor-verification > * {
    margin-bottom: 24px;
}
fieldset.code-container {
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 0;
    width: 98%;
}
.code-container input {
    text-align: center;
}
fieldset.code-container .mega-input input {
    background: var(--page-background);
}
.two-factor-content {
    color: var(--text-primary);
    font: var(--font-copy-regular);
    align-self: flex-start;
    text-align: left;
}
fieldset.code-container.success .mega-input {
    border-color: var(--support-success);
}
fieldset.code-container.error .mega-input {
    border-color: var(--support-error);
}
.two-factor-verification .pm.mega-input.box-style {
    width: 53px;
    position: static;
}
.two-factor-verification .pm.mega-input input {
    padding: 0;
}
fieldset.code-container.error .pm.mega-input.box-style {
    position: relative;
}
fieldset.code-container.error .pm.mega-input .message-container {
    white-space: nowrap;
}
