.mm_download_button .byd_plus_button {
  width: 8px;
  height: 8px;
  background: url("moz-extension://__MSG_@@extension_id__/files/icons/plus.png") 0px 0px no-repeat scroll transparent;
  display: inline-block;
}

.mm_download_button .byd_arrow_button {
  width: 8px;
  height: 8px;
  background: url("moz-extension://__MSG_@@extension_id__/files/icons/arrow.png") 0px 0px no-repeat scroll transparent;
  display: inline-block;
  margin-left:3px;
  margin-right:0px;
  padding-top: 2px;
}

.mm_download_button
{
  /* Additional */
  border: 1px solid transparent !important;
  -moz-border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
  border-radius: 2px !important;
  margin-left: 3px !important;
  margin-top: 6px !important;
  margin-right: 8px !important;
  background-color: #e62117 !important;
  height: 24px !important;
  box-shadow: none !important;
  line-height: 22px !important;
  outline: none !important;
}
ytd-menu-renderer .mm_download_button.short .addto-label {
	font-size: 0px;
}

.mm_download_button span
{
  color:#ffffff !important;
  text-shadow:none !important;  
}

.mm_download_button .icon {
  /* Size */
  width: 12px !important;
  height: 12px !important;
  float: left !important;
  
  /* Icon */
  background-image: url("moz-extension://__MSG_@@extension_id__/files/icons/arrow2.png")!important;
  background-repeat: no-repeat!important;
  
  /* Class: yt-uix-button-icon */ 
  margin-right: 7px;
  margin-top: 3px;
}

.mm_download_button .arrow
{
  /*vertical-align: baseline !important;  
  margin-top: 30px !important;*/
  margin-left: 2px !important;
  
}

.mm_download_menu
{
  min-width: 110px !important;
  position: absolute !important;
  background-color:#ebebeb !important;
  visibility: hidden;
  z-index: 1000;
}

.mm_download_menu .content
{
  font-weight: bold !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  list-style-type: none!important;
}

.mm_download_menu .content span
{
  border-radius: 3px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
  font: 14px tahoma,sans-serif !important;
  /*color:#555555 !important;*/
  text-shadow:none !important;

  background-image:linear-gradient(to bottom,#ebebeb 0,#ebebeb 100%);
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ebebeb),color-stop(100%,#ebebeb));
  background-image:-o-linear-gradient(top,#ebebeb 0,#ebebeb 100%);
  background-image:-moz-linear-gradient(top,#ebebeb 0,#ebebeb 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ebebeb');
}

.mm_download_menu .content span:hover
{
  background-image:linear-gradient(to bottom,#c22126 0,#ed3d3e 100%);
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#c22126),color-stop(100%,#ed3d3e));
  background-image:-o-linear-gradient(top,#c22126 0,#ed3d3e 100%);
  background-image:-moz-linear-gradient(top,#c22126 0,#ed3d3e 100%);
  filter:progid:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c22126', endColorstr='#ed3d3e');
  cursor:pointer !important;
}


