/* Modal ----------------------------------------------------------------------------------*/
.gs_modal_link {
	text-decoration: none;
	border-bottom: 1px dotted #000;
}
.gs_modal_link:active,
.gs_modal_link:hover {
	border-bottom: 1px solid #333;
}
.gs_main_modal {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: auto;
	background-color: rgba(0,0,0,0.75);
	z-index: 999;
}
.gs_main_modal .gs_modal {
	background-color: #FFF;
	color: #000;
	max-width: 600px;
	min-width: 300px;
	margin: 20px auto;
	padding: 0;
}
.gs_main_modal .gs_modal .gs_modal_title {
	font-size: 1.4em;
	padding: 0.4em 0.4em;
	margin: 0;
	border-left: 3px solid #E56655;
	border-right: 3px solid #E56655;
	border-top: 1px dotted #DDD;
	border-bottom: 1px dotted #DDD;
}
.gs_main_modal .gs_modal .gs_modal_content {
	padding: 5px 20px 10px;
}
.gs_main_modal .gs_modal .gs_row_text {
	border: 1px dotted #DDD;
	margin: 0.6em 0 0.4em;
	padding: 0.5em;
}
.gs_main_modal .gs_modal .gs_row_btn {
	text-align: center;
	margin: 0.6em 0 0.4em;
}
.gs_main_modal .gs_modal .gs_row_btn input[type="button"] {
	padding: 6px 12px;
	min-width: 134px;
	margin: 0;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.2em;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	white-space: nowrap;
	outline: none;
	vertical-align: top;
	overflow: visible;
	border: 2px solid #5594E5;
	background-color: transparent;
	color: #5594E5;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.gs_main_modal .gs_modal .gs_row_btn input[type="button"]:hover {
	background-color: #5D98E3;
	color: #FFF;
}
.gs_close_button {
	color: #BBB;
	cursor: pointer;
	position: relative;
	float: right;
	top: -2px;
	vertical-align: middle;
	overflow: auto;
	font-size: 1em;
	font-weight: 600;
	line-height: 1.4em;
	padding: 0 2px;
	border: 1px dotted transparent;
}
.gs_close_button:hover {
	color: #990000;
	border: 1px dotted #990000;
}