.at-base {
  font-family: 'AT Open Sans', 'Open Sans', Arial, sans-serif;
  color: var(--color-base);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6em;
  direction: ltr;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.at-base a {
  text-decoration: none;
}
.at-base a span {
  border: none;
  text-decoration: none;
}
.at-base * {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.at-panel-wrapper {
  position: fixed;
  bottom: 35px;
  left: 2px;
  z-index: 2147483647;
}
.at-svg-wrapper {
  height: 0;
  width: 0;
  position: absolute;
  left: -999px;
  visibility: hidden;
}
.at-panel__main {
  z-index: 3;
  position: absolute;
  left: 16px;
  border-radius: 4px;
  bottom: -16px;
  min-width: 68px;
  background-color: var(--color-back);
}
.at-panel__main--hide {
  z-index: 1;
}
.at-panel__main--left-step {
  left: 57px;
}
.at-panel__aside {
  z-index: 3;
  position: absolute;
  left: calc(100% + 8px);
  bottom: 0;
  width: 64px;
  height: 64px;
  border-radius: 4px;
  background-color: var(--color-back);
  transform: translate3d(0, 0, 0);
}
.at-panel__body {
  z-index: 2;
  position: absolute;
  left: 16px;
  border-radius: 4px;
  bottom: 56px;
  background-color: var(--color-back);
  min-width: 400px;
  width: auto;
  min-height: 378px;
}
.at-panel__body--low {
  height: 322px;
}
.at-panel__body--low .at-panel__shadow-1,
.at-panel__body--low .at-panel__shadow-2,
.at-panel__body--low .at-panel__shadow-3 {
  height: 322px;
}
.at-panel__body--low .at-tab-empty {
  height: 236px;
}
.at-panel__body--leftStep {
  left: 57px;
}
.at-link {
  color: var(--color-accent);
  text-decoration: none;
}
.at-link:active,
.at-link:link,
.at-link:visited,
.at-link:hover {
  color: var(--color-accent);
}
.at-link:hover {
  text-decoration: underline;
}
.at-modal__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 9999999999;
}
.at-modal__body {
  margin-top: 0;
  position: relative;
  max-width: 750px;
}
.at-modal__close {
  position: absolute;
  top: -53px;
  right: -53px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.at-modal__close:hover {
  opacity: 1;
}
.at-modal__close svg {
  width: 24px;
  height: 24px;
  fill: var(--color-inversed);
}
@media (max-width: 950px) {
  .at-modal__overlay {
    display: block;
    text-align: center;
  }
  .at-modal__body {
    display: inline-block;
    margin: 50px auto;
    text-align: left;
  }
  .at-modal__close {
    top: -50px;
    right: -53px;
  }
}
@media (max-height: 950px) {
  .at-modal__overlay {
    display: block;
    text-align: center;
  }
  .at-modal__body {
    display: inline-block;
    margin: 50px auto;
    text-align: left;
  }
  .at-modal__close {
    top: -50px;
    right: -53px;
  }
}

.lTSSY {
  width: 562px;
  top: 0;
  background-color: var(--color-settings-back);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.lTSSY.py6ML {
  position: sticky;
  top: 0;
  z-index: 2;
}

.Nbg7Z  {
  margin: 0;
  padding: 22px 25px 0 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-base);
}

.vprrp {
  margin: 0;
  padding: 7px 25px 0 25px;

  border-bottom: 1px solid var(--color-chart-border);
}

.Knl8E {
  display: inline-flex;

  margin: 0 0 -1.5px 0;
  padding: 0 13px;

  cursor: pointer;

  user-select: none;
  color: var(--color-base) !important;
  opacity: .65;
  transition: opacity .25s ease-out;
}

.Knl8E:hover {
  opacity: .9;

  text-decoration: none !important;
  border: none !important;
}
.Knl8E:visited {
  text-decoration: none !important;
  border: none !important;
}

.Knl8E:first-child { padding-left: 0; }
.Knl8E.Lfh_v {
  color: rgb(78, 190, 169) !important;;
  cursor: default;
  pointer-events: none;
  opacity: 1;
}
.Knl8E.cDDC_ {
  opacity: .55;
  pointer-events: none;
}

.o6FyP {
  margin: 0;
  padding: 12.5px 0;
  font-family: 'AT Open Sans', 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  text-transform: none !important;
}

.o6FyP.Lfh_v {
  color: rgb(78, 190, 169);
  border-bottom: 2px solid rgb(78, 190, 169);
}

.GdEKH {
  margin: 0;
  position: absolute;
  top: 7px; right: 7px;

  display: inline-flex;

  transition: margin-top .005s ease-in-out;
  opacity: .85;
  z-index: 2;
  cursor: pointer;

  transform: scale(0.6);
}

.pghA9 {
  transform: scale(.5);
  fill: var(--color-grey-59);
  fill-rule: evenodd;
  transition: opacity .25s ease-out, fill .25s ease-out;
  width: 48px !important;
  height: 48px !important;
}

.GdEKH:hover .pghA9 {
  opacity: .75;
}

.Y0aXM {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;

  background-color: rgba(250, 250, 250, .75);

  z-index: 2147483647;
  cursor: pointer;
}
.Y0aXM.zBLi6 {
  animation: LlI5R 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  animation-fill-mode: forwards;
}
.Y0aXM.SPs6Q {
  animation: LDeFH 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  animation-fill-mode: forwards;
}

.veMwp {
  cursor: default;
  margin: 118px 0 118px;
  opacity: 1;
  transform: translateY(0px);

  border-radius: 4px;
  box-shadow: 0 20px 80px -10px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.1);

  background-color: var(--color-settings-back);

  transition: margin .25s ease-in-out;
}
.veMwp.zBLi6 {
  animation: ZMBt4 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  animation-fill-mode: forwards;
}
.veMwp.SPs6Q {
  animation: gZjqw 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  animation-fill-mode: forwards;
}

.e8CHF {
  opacity: 1;
  height: 0;
  transition: opacity .35s ease-in-out, min-height 0s ease-in-out;
  will-change: transition, min-height;
}
.e8CHF.Kd_7h {
  opacity: 0;
  transition: opacity .15s ease-in-out,  min-height .1s ease-in-out;
}

.x5VLB {
  height: 0;
  width: 100%;
  color: transparent;
  font-size: 1px;
  background-color: red;
}

@keyframes LlI5R {
  0% { background-color: rgba(250, 250, 250, .35); }
  100% { background-color: rgba(250, 250, 250, .75); }
}

@keyframes LDeFH {
  0% { background-color: rgba(250, 250, 250, .75); }
  100% { background-color: rgba(250, 250, 250, .35); }
}

@keyframes ZMBt4 {
  0% {
    opacity: .35;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes gZjqw {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(60px);
    opacity: 0;
  }
}

.at-select {
  position: relative !important;
}
.at-select__control {
  padding: 11px 44px 11px 16px !important;
  border-radius: 4px !important;
  background-color: var(--color-accent-pale) !important;
  color: var(--color-accent) !important;
  font-size: 14px !important;
  line-height: 16px !important;
  font-weight: 400 !important;
  border: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  transition: all 0.3s ease !important;
  outline: none !important;
  width: 100% !important;
  height: unset !important;
  background-image: none !important;
  opacity: 1 !important;
  visibility: visible !important;
  display: block !important;
}
.at-select__control:focus {
  background-color: var(--color-accent-pale-hover) !important;
}
.at-select__arrow {
  position: absolute;
  top: 16px;
  right: 14px;
  fill: var(--color-accent);
  pointer-events: none;
}
.at-settings-select__control--lang .at-select__control {
  padding: 10px 34px 10px 23px !important;
}
.sb_selectContainer {
  float: none !important;
  font-size: 12px !important;
}
.sb_selectContainer .sb_select {
  display: none !important;
}
/* Fixing for mediamarkt.es */
select.at-select__control:not(.ms-select):not(.disabled):not(.readonly),
select.at-select__control:focus:not(.ms-select):not(.disabled):not(.readonly) {
  box-shadow: unset !important;
  font-family: var(--font-family-default) !important;
}

.ie93e {
  padding: 40px 0;
}

.wn1ZL {
  margin-bottom: 16px;
  padding: 0 64px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.wn1ZL:last-child { margin-bottom: 0; }

.KuQGP {
  width: 80px;

  font-size: 14px;
  line-height: 14px;
  color: var(--color-base);
}

.kq0PD {
  margin-right: auto;
  width: 190px;
  height: 38px;
}

.at-checkbox {
  display: inline-flex;
}
.at-checkbox__input {
  display: none !important;
}
.at-checkbox__control {
  box-sizing: border-box;
  top: -1px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: solid 1px var(--color-warm);
  background-color: var(--color-white);
  position: relative;
  vertical-align: sub;
  transition: all 0.3s ease;
}
.at-checkbox__control--checked {
  border: solid 1px #44a694;
}
.at-checkbox__control--checked:after {
  top: 0;
  left: 0;
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANlJREFUeNpi+v//PwOJWA2IjwCxOojPwkAa0AbiPUAsAcQHgNiFiQTNhlBNElA+iO4n1gALIN4HxCJIYieAOAxmgDoQHwNiDSya7YF4FxALIIkdAmI3IP4AChQdIH7+HwJeAbERUoC5AfHX/6hgJxBzwdQwQAWQwUcgtgNiPyD+gSa3CYjZkWMFRPAD8UE0hd+A+Cea2EogZkOPVhgD5KQt/3GDhUDMjC1dIHNApi/DonkGEDPhSljoAsxQDTDQB8SM+FImekr8C8SZ4OhhYPgHxFWEEghAgAEAxE6I2OKDXasAAAAASUVORK5CYII=) center center no-repeat #4ebea9;
  background-size: 8px 6px;
  box-sizing: border-box;
}
.at-checkbox__control--disabled:after {
  background-color: transparent;
}

.BkdfL {
  margin: 0 0 18px 0;
  padding: 0 65px;
  display: flex;
  flex-direction: column;
}

.G1nvV {
  margin: 0;
  padding: 0 0 18px 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  cursor: default;

  user-select: none;
}

.oruvM {
  margin: -3px 0 1px 8px;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  color: var(--color-base);
  text-transform: none;
  font-weight: normal;
}

.xlZca {
  margin: 0 0 15px 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.6px;
  color: var(--color-base);
  text-transform: uppercase;
}

.K96LX {
  box-sizing: border-box !important;
  margin-right: 8px !important;
  width: 15px !important;
  height: 15px !important;
  border: 1px solid #44a694 !important;
  border-radius: 50% !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.LVzp6 {
  display: inline-block !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  width: 13px !important;
  height: 13px !important;
  border-radius: 50% !important;
  background-color: rgb(255, 255, 255) !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearence: none !important;
  outline: none !important;
  bottom: 0 !important;
  padding: 0 !important;
  border: none !important;
}

.LVzp6.YOSlT { border: solid 4px rgb(78, 190, 169) !important; }

.Ep7WM {
  margin: 0;
  padding: 1px 65px;
}

.qH8BL {
  margin: 0 0 12px 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.6px;
  color: var(--color-base);
  text-transform: uppercase;
}

.bxlhU {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.eE5_4 {
  padding: 9px 12px 12px;
  margin-right: 16px;
  width: 191px;
  border: solid 2px transparent;
  border-radius: 4px;
  background-color: rgba(78, 190, 169, .1);
  cursor: pointer !important;
  box-sizing: border-box;
  user-select: none;
  transition: background-color .25s ease-out;
  text-transform: none;
}

.eE5_4:hover {
    background-color: hsla(169, 46%, 53%, 0.2);
  }

.eE5_4.ReRMk {
  border: solid 2px rgb(78, 190, 169);
  cursor: default;
}

.eE5_4.ReRMk:hover {
    background-color: rgba(78, 190, 169, .1);
  }

.OtsNs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Sn3SE {
  font-family: 'Open Sans AT', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  color: rgb(78, 190, 169);
}

.kz57V {
  margin: 10px 0 0;
  width: 126px;
  height: 141px;
}

.KRAr_ {
  margin: 0 0 22px 0;
  padding: 0 65px;
  display: flex;
  flex-direction: column;
}

.C0Ok8 {
  margin: 0;
  padding: 0 0 18px 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  cursor: default;

  user-select: none;
}

.iUoSX {
  margin: -3px 0 1px 8px;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  color: var(--color-base);
  text-transform: none;
  font-weight: normal;
}

.UeLpV {
  margin: 0 0 15px 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.6px;
  color: var(--color-base);
  text-transform: uppercase;
}

.RCveV {
  color: var(--color-grey-46);
  font-size: 12px;
  line-height: 16px;

  margin: -5px 0 16px;
  padding: 12px 24px 12px;

  border-radius: 4px;
  border: 1px solid var(--color-grey-90);
}

.ImlxN {
  margin: 22px 0 0;
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.67;
  text-align: left;
  color: var(--color-base);
  opacity: .5;
}

.ImY69 {
  margin: 0;
  padding: 40px 60px 17px 60px;
  font-family: 'Open Sans AT', sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: rgb(51, 51, 51);
}

.hr7_X {
  padding: 0 60px;
}

.dSx19 {
  margin: 0;
  padding: 0 60px;
  display: block;
  flex-direction: row;
}

.dSx19 button {
  margin: 6px 4px;
}


.Xtdek {
  overflow: hidden;
  width: 520px;
  z-index: -1;
  border-radius: 4px;
}
.Xtdek img {
  margin: -224px 0 -5px;
  width: 520px;
}

.oKZZ1 {
  position: relative;
  margin: 0;
  padding: 11px 23px;

  width: auto;
  height: 38px;

  font-family: 'AT Open Sans', 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;

  border: 1px solid transparent;
  border-radius: 4px;

  cursor: pointer;
  outline: none;
}
.oKZZ1.rM_ui {
  color: var(--color-accent);
  background-color: var(--color-accent-pale);
}
.oKZZ1.rM_ui:hover, .oKZZ1.rM_ui.comUF {
  background-color: var(--color-accent-pale-hover);
}
.oKZZ1.HB35R {
  color: var(--color-back);
  background-color: var(--color-accent);
}
.oKZZ1.HB35R:hover {
  opacity: 0.9;
}
.oKZZ1:disabled {
  color: var(--color-button-foreground-disabled);
  background-color: var(--color-button-background-disabled);
  cursor: default;
  pointer-events: none;
}
.oKZZ1.oZUsb {
  color: var(--color-accent);
  border: 1px solid var(--color-accent-pale-hover);
  background-color: var(--color-back);
}
.oKZZ1.oZUsb:disabled {
  color: var(--color-grey-59);
  border: 1px solid var(--color-grey-59);
}
.oKZZ1.oZUsb:hover, .oKZZ1.oZUsb.comUF {
  background-color: var(--color-accent-pale);
}
.oKZZ1.pjvoC {
  color: var(--color-grey-46);
  border: 1px solid var(--color-grey-90);
  background-color: var(--color-always-white);
}
.oKZZ1.pjvoC:hover, .oKZZ1.pjvoC.comUF {
  background-color: rgba(78, 190, 169, .1);
}
.oKZZ1.pjvoC.comUF {
  border-color: var(--color-primary-20);
}
.oKZZ1.CaNHz {
  border-radius: 4px;
  color: #D54123;
  background: rgba(213, 65, 35, 0.1) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJ+SURBVHgB7ZdRbhJBGMf/3261MWrEE3RDjUmTkrSeYOkNjBeAG9QTFE5geoJyA+ODr3Tiu0pSlcS0dHgxxkhFm4ZS2P38BhhAqcAiCy/9vczu7Ox8v/lmdmcXWDJ0XWXjwPNat+FjflHqQROlh1mtRy8N8UMCu6t0IIc+4kEFTc4Oi9BfwQ/l0EO8aJFIWwnH1vZG7iF+bJY7dDLQG/2prWx+Aa7OCK3vmAvufeDeY+6Ullur8O48O62udBqsYMuU3ARqbwgNTZg3v94R7orEgyddkdYlp6W60J0CB4ngHPj60okluOXiM+Hbawd8Najrr4GfYtg+R+yYGDVFfwpc6q7domhUCRcnQwK1ty4WTa3oDgSCs383ZOZ9AmtEhkshc56B+rhWzvg+8GpTVXYDdrKISMjO85Sq5IigMKsAEa+Zso12CRGx91CIBGYVYJD33vcS20rXicePZBiZspK5p9MHjd9Xxk8BkFjtbUwBKI8pCZn2TfnBX89MajtJQEbgvjBlSh0r6XiiREiU31QnBXMsU7g3qf1EAcH7tJO0EjlmZK97KuQtomWanqaKxzlzXvaTEpy8SZ2vYAqYabe8k6xvFCt2dIUj/5EvIl7nOkibDNn2JrhkIjdN31MJGCT9uY/p9UzIQTaltBoOaDnyPd8ldy+M8EEztUAPzyH3UES05FyFIVdNpQNak/n2zVPD0fqLLNAXkbxnHBrsH4zZ9pJpFmGs3AgsTcBBUO+WgotAYcHIki31BTaU1lE2m/9FHlVlYvYFukZBdrYPj2iYV7YrLzN73hfoZiFMc4yZMCMnDtJ29D2hUcq+/JzC3RK7BOZES9bZthr9OV06vwFKK/6yDpGASAAAAABJRU5ErkJggg==) no-repeat 15px center;
  background-size: 16px;
  width: 148px;
  height: 32px;
  padding: 0 23px;
  font-size: 13px;

  box-shadow: none;
  border: 1px solid transparent;

  will-change: background, border, box-shadow;
  transition: background .2s ease-in-out, border .2s ease-in-out, box-shadow .2s ease-in-out;
}

.oKZZ1.CaNHz:hover, .oKZZ1.CaNHz.comUF {
  background: rgba(215, 65, 35, 0.2) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJ+SURBVHgB7ZdRbhJBGMf/3261MWrEE3RDjUmTkrSeYOkNjBeAG9QTFE5geoJyA+ODr3Tiu0pSlcS0dHgxxkhFm4ZS2P38BhhAqcAiCy/9vczu7Ox8v/lmdmcXWDJ0XWXjwPNat+FjflHqQROlh1mtRy8N8UMCu6t0IIc+4kEFTc4Oi9BfwQ/l0EO8aJFIWwnH1vZG7iF+bJY7dDLQG/2prWx+Aa7OCK3vmAvufeDeY+6Ullur8O48O62udBqsYMuU3ARqbwgNTZg3v94R7orEgyddkdYlp6W60J0CB4ngHPj60okluOXiM+Hbawd8Najrr4GfYtg+R+yYGDVFfwpc6q7domhUCRcnQwK1ty4WTa3oDgSCs383ZOZ9AmtEhkshc56B+rhWzvg+8GpTVXYDdrKISMjO85Sq5IigMKsAEa+Zso12CRGx91CIBGYVYJD33vcS20rXicePZBiZspK5p9MHjd9Xxk8BkFjtbUwBKI8pCZn2TfnBX89MajtJQEbgvjBlSh0r6XiiREiU31QnBXMsU7g3qf1EAcH7tJO0EjlmZK97KuQtomWanqaKxzlzXvaTEpy8SZ2vYAqYabe8k6xvFCt2dIUj/5EvIl7nOkibDNn2JrhkIjdN31MJGCT9uY/p9UzIQTaltBoOaDnyPd8ldy+M8EEztUAPzyH3UES05FyFIVdNpQNak/n2zVPD0fqLLNAXkbxnHBrsH4zZ9pJpFmGs3AgsTcBBUO+WgotAYcHIki31BTaU1lE2m/9FHlVlYvYFukZBdrYPj2iYV7YrLzN73hfoZiFMc4yZMCMnDtJ29D2hUcq+/JzC3RK7BOZES9bZthr9OV06vwFKK/6yDpGASAAAAABJRU5ErkJggg==) no-repeat 15px center;
  background-size: 16px;
}

.oKZZ1.vsUVR {
  border-radius: 4px;
  font-size: 13px;
  height: 33px;

  color: var(--color-always-white);
  background-color: var(--color-primary);

  padding: 7px 14px 8px;

  box-shadow: none;
  text-transform: none;
}

.oKZZ1.vsUVR:hover, .oKZZ1.vsUVR.comUF {
  background-color:var(--color-accent-darker);
  color: var(--color-always-white) !important;
}

.oKZZ1.BLMNC {
  cursor: pointer;
  outline: none;
  padding: 0 14px;
  border-radius: 4px;
  font-size: 12px;

  font-weight: 600;
  transition: all .3s;
  height: 33px;
  margin-top: 0;

  color: var(--color-balloon-button);
  background: var(--color-inversed);
  border: 1px solid var(--color-inversed);
  margin-right: 7px;
}

.oKZZ1.BLMNC:focus {
    background: var(--color-inversed);
    border: 1px solid var(--color-inversed);
  }

.oKZZ1.BLMNC:hover {
    background: var(--color-inversed-80);
    border-color: rgba(255, 255, 255, 0);
  }

.oKZZ1.BLMNC:active {
    background: var(--color-inversed-60);
    border-color: rgba(255, 255, 255, 0);
  }

.oKZZ1.MJq4h {
  cursor: pointer;
  outline: none;
  padding: 0 14px;
  border-radius: 4px;
  font-size: 12px;

  font-weight: 600;
  transition: all .3s;
  height: 33px;
  margin-top: 0;

  background-color: transparent;
  border-color: var(--color-always-white);
  color: var(--color-always-white);
}

.oKZZ1.MJq4h:hover  {
    border-color: rgba(255, 255, 255, .5);
  }

.oKZZ1.Xrj6P {
  display: none;
}

.u3g4R {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid var(--color-back);
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: E6gvi 2s linear infinite;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
}

.fvZBk {
  padding-left:19px;
  padding-right: 15px;
  width: 226px;
  text-align: center;
}

@keyframes E6gvi {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.kifH3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 40px 0;
}

.duNA5 { margin: 0 0 24px; }

.aTnfg {
  margin: 0 0 8px;
  max-width: 310px;

  color: var(--color-black);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.OSZKr {
  max-width: 310px;

  color: var(--color-black);
  text-align: center;
  font-size: 14px;
}

.HP4nO {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 24px 0 0;
  padding: 0;

  width: 196px;
  height: 92px;
}

.Hh1LD {
  margin: 40px 0 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 58px;
  height: 58px;
  border: solid 1px rgb(225, 225, 225);
  border-radius: 50%;
  background-color: var(--color-back);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.qLPAo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-back);
  fill: rgb(225, 225, 225);
}

.hGXGQ {
  margin: 12px auto 0;
  width: 390px;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: solid 1px var(--color-chart-border);
  border-radius: 4px;
}

.JLgaI {
  width: 390px;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.ESS9h {
  margin-left: 20px;
  margin-right: 20px;
  width: 22px;
  height: 12.5px;
  fill: #45668e;
  fill-rule: evenodd;
}

.Y8TAD {
  margin-left: 20px;
  margin-right: 26px;
  width: 16px;
  height: 16px;
  fill: #3b5998;
  fill-rule: evenodd;
}

.pmrkP {
  margin-left: 20px;
  margin-right: 26px;
  width: 16px;
  height: 17px;
  fill: #dd4b39;
  fill-rule: evenodd;
}

.T2cV6 {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-base);
  margin-right: auto;
  max-width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.xHH4s {
  margin: 0;
  padding: 24px 20px;
  cursor: pointer;
}

.xHH4s svg {
  fill: #969696;
  fill-rule: evenodd;
}
.xHH4s:hover svg { fill: var(--color-base); }

.xHH4s.R5Wkj {
  opacity: .65;
  pointer-events: none;
}

.xHH4s.HIzzf {
  display: none;
}

.SrKbo {
  margin-right: 20px;
}

.Dbs67 {
  margin: 0 20px 16px;
  box-sizing: border-box;
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 58px;
  border-radius: 4px;
  background-color: var(--color-back);
  color: var(--color-base);
}
.Dbs67.wB5vg { border: solid 1px var(--color-bad); }
.Dbs67.SIwa6 { border: solid 1px var(--color-normal); }

.xg0Zh.wB5vg { color: var(--color-bad); }
.xg0Zh.SIwa6 { color: var(--color-normal); }

.DO5ST {
  vertical-align: middle;
  margin-right: 9px;
  width: 30px;
}

.DO5ST.wB5vg { fill: var(--color-bad); }
.DO5ST.SIwa6 { fill: var(--color-normal); }

.nDVsu {
  color: var(--color-base);
  font-size: 12px;
  line-height: 16px;
}

.eECwj {
  display: flex;
  flex-direction: column;
}

.Fi61y {
  position: relative;
  margin-top: 16px;
  width: 100%;
  min-height: 38px;
  border-radius: 4px;
  border: solid 1px var(--color-input-border);
  background-color: var(--color-input-background);
  box-shadow: inset 0 1px 2px 0 var(--color-input-shadow);
}

.Fi61y.dbtvk {
  opacity: .35;
  pointer-events: none;
}

.Fi61y.VxYFc { border: 1px solid var(--color-bad); }

.ORjpZ {
  padding: 10px 16px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  outline: none;
  border: none;
  border-radius: 4px;
  width: calc(100% - 32px);
  color: var(--color-input-text);
  background: transparent;
}
.ORjpZ::placeholder { color: var(--color-input-placeholder) }

.RfRdr {
  position: absolute;
  right: 0; top: 0;
  cursor: pointer;
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.uak6z {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-input-icon);
  transition: fill .25s ease-out;
}
.RfRdr:hover .uak6z { fill: var(--color-input-icon-hover) }

.uak6z.h270B { width: 22px; }
.uak6z.jUalY { width: 22px; }

.DopRx {
  font-size: 12px;
  margin-top: 4px;
}

.DopRx.fFp2m {
  text-align: left;
  color: var(--color-bad);
  width: 100%;
}

.DopRx._bYmU {
  text-align: right;
  color: var(--color-input-hint);
  width: 100%;
}

.v6D68 {
  box-sizing: border-box;
  position: relative;
  margin: 32px auto 0;
  padding: 16px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 390px;
  min-height: 70px;
  border: solid 1px var(--color-chart-border);
  border-radius: 4px;
}

.cLkNP {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-base);
  max-width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.md8Yr {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.p0RZ9 {
  margin: 0;
  padding: 12px 0 0 ;
  font-size: 16px;
  color: var(--color-base);
}

.PMl9V {
  margin: 26px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  width: 100%;
}

.i1FzC {
  margin: 4px 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.srUeQ {
  margin: -4px 0 8px 8px;
  font-size: 14px;
}

.KwZfI {
  color: var(--color-base);
}

.XDHPd {
  font-size: 14px;
  color: rgb(78, 190, 169);
  text-decoration: underline;
}

.cQ3bc {
  margin: 16px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.v4tt0 {
  box-sizing: border-box;
  position: relative;
  margin: 32px auto 0;
  padding: 16px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 390px;
  min-height: 70px;
  border: solid 1px var(--color-chart-border);
  border-radius: 4px;
}

.kUUX0 {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-base);
  max-width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kwjc_ {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  color: rgb(78, 190, 91);
}

.SKRn_ {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.I6Mz0 {
  margin: 0;
  padding: 12px 0 0 ;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  color: var(--color-base);
}

.H0uZ1 {
  margin: 16px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.uW57c {
  box-sizing: border-box;
  position: relative;
  margin: 12px auto 0;
  padding: 16px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 390px;
  min-height: 70px;
  border: solid 1px var(--color-chart-border);
  border-radius: 4px;
}

.hiG52 {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-base);
  max-width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.F5oLk {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  color: rgb(78, 190, 91);
}

.F7QV0 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.IVLvB {
  margin: 0;
  padding: 12px 0 0 ;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  color: var(--color-base);
}

.tdg8c {
  margin: 16px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.toTv3 {
  margin: 32px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rRUud {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 41px 0 0;
  padding: 0 64px;

  min-height: 420px;
}

.soXz6 {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 392px;
  height: 280px;

  border-radius: 4px;
  background-color: var(--color-disabled-sites-bg);
}

.BJ2hc {
  margin: 48px auto 10px;

  color: var(--color-black);

  text-align: center;
  font-family: var(--font-family-default);
  font-size: 14px;
}

.ERHuR {
  width: 100%;
  height: auto;
}

.wJ0xL {
  margin: 0;
  padding: 0 0 18px 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  cursor: default;

  user-select: none;
}

.Uz2di {
  margin: -3px 0 1px 8px;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  color: var(--color-base);
  text-transform: none;
  font-weight: normal;
}

.FXrfz {
  font-size: 12px;
  color: var(--color-base);
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  display: flex;

  padding-bottom: 8px;
  padding-top: 14px;
}

.IU6U2 {
  background: var(--color-disabled-sites-bg);
  border-radius: 4px;

  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 11px 0 18px;
  margin-bottom: 8px;
}

.kT6Jn {
  width: 100%;
  font-size: 14px;
  margin-left: 10px;
}

.txCWz {
  padding: 5px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  fill: var(--color-grey-59);
  transition: fill .3s ease;
}
.txCWz:hover {
  opacity: .75;
}

.zzVLt {
  margin: 22px 0 0;
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.67;
  text-align: left;
  color: var(--color-base);
  opacity: .5;
}

.UZ89H {
  display: flex;
  flex-direction: column;
}

.ePLaQ {
  font-size: 12px;
  color: var(--color-base);
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  display: flex;

  padding-bottom: 8px;
  padding-top: 14px;
}

.r9IdO {
  display: flex;
  flex-direction: column;
}

.s64BV {
  background: var(--color-disabled-sites-bg);
  border-radius: 4px;

  height: 38px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 11px 0 18px;
  margin-bottom: 8px;
}

.o15lY {
  width: 100%;
  font-size: 14px;
  margin-left: 10px;
}

.svlEh {}

.eJyHU {
  padding: 5px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.IceDl {
  fill: var(--color-grey-59);

  transition: opacity var(--transition-hover-default);
  will-change: opacity;
}

.eJyHU:hover .IceDl { opacity: .75; }

.PdKv6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 41px 0 0;
  min-height: 420px;
}

.E9YKc {
  display: flex;
  flex-direction: column;
  width: 392px;
}

.Ve9XC {
  margin: 0;
  padding: 0 0 18px 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  cursor: default;

  user-select: none;
}

.SfcRY {
  margin: -3px 0 1px 8px;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  color: var(--color-base);
  text-transform: none;
  font-weight: normal;
}

.qN8p3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 280px;
  border-radius: 4px;
  background-color: var(--color-disabled-sites-bg);
}

.M1Rv0 {
  margin: 48px auto 10px;

  color: var(--color-black);

  text-align: center;
  font-family: var(--font-family-default);
  font-size: 14px;
}

.r66_7 {
  width: 100%;
  height: auto;
}

.VrepG {
  margin: 22px 0 0;
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.67;
  text-align: left;
  color: var(--color-base);
  opacity: .5;
}

.SR0NH {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 41px 0 0;
  min-height: 420px;
}

.slWHC {
  display: flex;
  flex-direction: column;
  width: 392px;
}

.CTm1h {
  margin: 0;
  padding: 0 0 18px 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  cursor: default;

  user-select: none;
}

.zkW9p {
  margin: -3px 0 1px 8px;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  color: var(--color-base);
  text-transform: none;
  font-weight: normal;
}

.EAST5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 280px;
  border-radius: 4px;
  background-color: var(--color-disabled-sites-bg);
}

.ut9OO {
  margin: 48px auto 10px;

  color: var(--color-black);

  text-align: center;
  font-family: var(--font-family-default);
  font-size: 14px;
}

.TXxSW {
  width: 100%;
  height: auto;
}

.EUp1S {
  margin: 22px 0 0;
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.67;
  text-align: left;
  color: var(--color-base);
  opacity: .5;
}

.at-theme-light {
  --color-default-back: rgba(51, 51, 51, 0.1);
  --color-button-foreground-disabled: rgba(51, 51, 51, 0.25);
  --color-button-background-disabled: rgba(51, 51, 51, 0.1);
  --color-base: #333333;
  --color-base-50: rgba(51, 51, 51, 0.5);
  --color-warm: #969696;
  --color-back: #fafafa;
  --color-back-90: rgba(250, 250, 250, 0.9);
  --color-modal-back: #ffffff;
  --color-settings-back: #ffffff;
  --color-hidden: #cdcdcd;
  --color-accent: #4ebea9;
  --color-accent-darker: #33A691;
  --color-deep-blue: #0a84ff;
  --color-deep-blue-hover: #1e409e;
  --color-accent-pale: rgba(78, 190, 169, 0.1);
  --color-accent-pale-hover: rgba(78, 190, 169, 0.2);
  --color-inversed: #ffffff;
  --color-inversed-25: rgba(255, 255, 255, 0.25);
  --color-inversed-50: rgba(255, 255, 255, 0.5);
  --color-inversed-60: rgba(255, 255, 255, 0.6);
  --color-inversed-80: rgba(255, 255, 255, 0.8);
  --color-inversed-90: rgba(255, 255, 255, 0.9);
  --color-good: #4ebe5b;
  --color-normal: #f2a621;
  --color-bad: #ff3333;
  --gradient-product-hover: linear-gradient(to right, #e8f4f2, #fafafa);
  --color-chart-label: rgba(51, 51, 51, 0.35);
  --color-chart2-label: #757575;
  --color-chart-border: rgba(51, 51, 51, 0.1);
  --color-separator: rgba(51, 51, 51, 0.1);
  --color-chart2-current: rgba(20, 20, 20, 0.05);
  --color-chart2-nodynamic: #333333;
  --chart2-custom-scroll-track: #F1F1F1;
  --chart2-custom-scroll-thumb: #c1c1c1;
  --color-popup-background: rgba(51, 51, 51, 0.05);
  --color-invisible: #e1e1e1;
  --color-review-background: #ffffff;
  --color-scrollable-shadow-top: rgba(51, 51, 51, 0.12);
  --color-scrollable-shadow-bottom: var(--color-hidden);
  --color-feedback-background: #fafafa;
  --color-similar-price: #333333;
  --color-mobile-discount: #969696;
  --color-input-border: #e1e1e1;
  --color-input-background: #ffffff;
  --color-input-text: #333333;
  --color-input-placeholder: rgba(51, 51, 51, 0.33);
  --color-input-hint: rgba(51, 51, 51, 0.5);
  --color-input-icon: rgba(51, 51, 51, 0.25);
  --color-input-icon-hover: rgba(51, 51, 51, 0.85);
  --color-input-shadow: rgba(0, 0, 0, 0.1);
  --shadow-tooltip: 0 8px 16px rgba(0, 0, 0, 0.095), 0 1px 2px rgba(0, 0, 0, 0.095);
  --color-white-balloon-bg: #fafafa;
  --color-price-tooltip-bg: rgba(255, 255, 255, 0.95);
  --color-axis-price-label: #757575;
  --color-price-line-label: #333;
  --color-drop-down-bg: #fff;
  --color-favorite-item--hover: rgba(78, 190, 169, 0.1);
  --color-popup-favorites-grey: #757575;
  --color-scroll-rail: #c8c8c8;
  --color-banner-blue: rgba(76, 139, 245, 0.95);
  --color-balloon-blue: #4c8bf5;
  --color-balloon-button: #333333;
  --color-notice-button: #333333;
  --color-chart-price: #969696;
  --color-emty-page-description-text: #757575;
  --color-remove-message-background: rgba(51, 51, 51, 0.95);
  --color-remove-timer-background: rgba(255, 255, 255, 0.25);
  --color-popup-tooltip-text: #ffffff;
  --color-popup-tooltip-bg: rgba(51, 51, 51, 0.95);
  --color-way-points-divider: #e5e5e5;
  --color-way-points-divider-accent: rgba(78, 190, 169, 0.3);
  --color-inactive-way-point: #c8c8c8;
  --color-way-point-border-inactive: #e5e5e5;
  --color-way-point-border: transparent;
  --color-way-point-bg: rgba(78, 190, 169, 0.1);
  --color-way-point-invalid: #e5e5e5;
  --color-grey-external-link-icon: #c8c8c8;
  --color-popup-tooltip-bg--blue: #4c8bf5;
  --color-grey-46-text: #757575;
  --color-similar-item-bg: #ffffff;
  --color-price-tab-explanation: #333;
  --color-disabled-sites-bg: #fafafa;
  --color-search-by-image-button-alternative: rgba(51, 51, 51, 0.25);
  --color-search-by-image-button: #fafafa;
  --color-search-by-image-border: #e5e5e5;
  --color-image-search-dots: #757575;
  --color-image-search-dots-hover: #333333;
  --color-history-array-color-hover: #333;
  --color-sidebar-close-button: rgba(255, 255, 255, 0.75);
  --color-sidebar-close-button--hover: #ffffff;
  --color-popup-interesting-red: #ff4747;
  --color-popup-interesting-red-darker: #e63535;
  --color-external-links-tab-text: #4EBEA9;
  --color-external-links-store--hover: #4EBEA9;
  --color-external-links-tab-border: rgba(78, 190, 169, 0.2);
  --color-external-links-tab-arrow-border: #cde8e3;
  --color-external-links-tab-arrow-body: #eaf4f2;
  --color-external-links-empty: #E5E5E5;
  --color-external-links-store: #757575;
  --color-external-links-back-cloud: #ffffff;
  --color-advice-stripe--hover: #ffffff;
  --color-item-card-image-back: #fafafa;
  --color-price-history-tab-back: #fff;
  --color-price-history-tab-border: #4EBEA9;
  --color-price-history-tab-acive-text: #fff;
  --color-price-history-text: #575757;
  --color-price-history-demo-tab-text: #000;
  --color-white: #fff;
  --color-always-white: #fff;
  --color-always-white-lite: #fafafa;
  --color-black: #333;
  --color-always-black: #333;
  --color-primary: #4ebea9;
  --color-primary-025: rgba(78, 190, 169, 0.025);
  --color-primary-10: rgba(78, 190, 169, 0.1);
  --color-primary-20: rgba(78, 190, 169, 0.2);
  --color-primary-30: rgba(78, 190, 169, 0.3);
  --color-green: #4ebe5b;
  --color-red: #ff3333;
  --color-red-10: rgba(245, 85, 69, 0.1);
  --color-grey-90: #e5e5e5;
  --color-grey-78: #c8c8c8;
  --color-grey-59: #969696;
  --color-grey-46: #757575;
  --color-red-unfavorite: #f55545;
  --color-always-blue: #4C8BF5;
  --color-sale-tab-badge-wrap: #eaf4f2;
  --color-sale-link-badge-wrap: #fbeae8;
  --input-inset-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  --transition-hover-default: 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  --font-family-default: 'AT Open Sans', 'Open Sans', Arial, sans-serif;
}
.at-theme-dark,
.at-theme-default {
  --color-default-back: rgba(255, 255, 255, 0.1);
  --color-button-foreground-disabled: rgba(255, 255, 255, 0.25);
  --color-button-background-disabled: rgba(255, 255, 255, 0.1);
  --color-base: #fafafa;
  --color-base-50: rgba(250, 250, 250, 0.5);
  --color-warm: #969696;
  --color-back: #333333;
  --color-back-90: rgba(51, 51, 51, 0.9);
  --color-modal-back: #333333;
  --color-settings-back: #333333;
  --color-hidden: #646464;
  --color-accent: #3fab97;
  --color-accent-darker: #33A691;
  --color-deep-blue: #0a84ff;
  --color-deep-blue-hover: #1e409e;
  --color-accent-pale: rgba(63, 171, 151, 0.1);
  --color-accent-pale-hover: rgba(63, 171, 151, 0.2);
  --color-inversed: #ffffff;
  --color-inversed-25: rgba(255, 255, 255, 0.25);
  --color-inversed-50: rgba(255, 255, 255, 0.5);
  --color-inversed-60: rgba(255, 255, 255, 0.6);
  --color-inversed-80: rgba(255, 255, 255, 0.8);
  --color-inversed-90: rgba(255, 255, 255, 0.9);
  --color-good: #4ebe5b;
  --color-normal: #f2a621;
  --color-bad: #ff3333;
  --gradient-product-hover: linear-gradient(to right, #36413f, #333333);
  --color-chart-label: #646464;
  --color-chart2-label: #757575;
  --color-chart-border: rgba(100, 100, 100, 0.2);
  --color-chart2-current: rgba(255, 255, 255, 0.05);
  --color-chart2-nodynamic: #fafafa;
  --chart2-custom-scroll-track: #383838;
  --chart2-custom-scroll-thumb: #2b2b2b;
  --color-popup-background: rgba(185, 185, 185, 0.05);
  --color-invisible: #262626;
  --color-review-background: #262626;
  --color-scrollable-shadow-top: #262626;
  --color-scrollable-shadow-bottom: var(--color-hidden);
  --color-feedback-background: #333333;
  --color-similar-price: hsla(0, 0%, 98%, 0.5);
  --color-mobile-discount: #969696;
  --color-input-border: #333333;
  --color-input-background: #ffffff;
  --color-input-text: #333333;
  --color-input-placeholder: rgba(125, 125, 125, 0.33);
  --color-input-hint: rgba(250, 250, 250, 0.5);
  --color-input-icon: rgba(51, 51, 51, 0.25);
  --color-input-icon-hover: rgba(51, 51, 51, 0.85);
  --color-input-shadow: rgba(0, 0, 0, 0.3);
  --shadow-tooltip: 0 8px 16px rgba(0, 0, 0, 0.095), 0 1px 2px rgba(0, 0, 0, 0.095);
  --color-white-balloon-bg: #fafafa;
  --color-price-tooltip-bg: rgba(255, 255, 255, 0.95);
  --color-axis-price-label: #969696;
  --color-price-line-label: #fafafa;
  --color-drop-down-bg: #1d1d1d;
  --color-favorite-item--hover: rgba(78, 190, 169, 0.1);
  --color-popup-favorites-grey: #969696;
  --color-scroll-rail: #969696;
  --color-banner-blue: rgba(76, 139, 245, 0.95);
  --color-balloon-blue: #4c8bf5;
  --color-balloon-button: #333333;
  --color-notice-button: #333333;
  --color-chart-price: #969696;
  --color-emty-page-description-text: #969696;
  --color-remove-message-background: rgba(117, 117, 117, 0.95);
  --color-remove-timer-background: rgba(255, 255, 255, 0.25);
  --color-popup-tooltip-text: #ffffff;
  --color-popup-tooltip-bg: rgba(117, 117, 117, 0.95);
  --color-way-points-divider: #757575;
  --color-way-points-divider-accent: rgba(78, 190, 169, 0.3);
  --color-inactive-way-point: #969696;
  --color-way-point-border-inactive: #757575;
  --color-way-point-border: rgba(78, 190, 169, 0.3);
  --color-way-point-bg: transparent;
  --color-way-point-invalid: #c8c8c8;
  --color-grey-external-link-icon: #757575;
  --color-popup-tooltip-bg--blue: #4c8bf5;
  --color-grey-46-text: #969696;
  --color-similar-item-bg: #333333;
  --color-price-tab-explanation: rgba(250, 250, 250, 0.75);
  --color-disabled-sites-bg: #3d3d3d;
  --color-search-by-image-button-alternative: rgba(51, 51, 51, 0.25);
  --color-search-by-image-button: #333;
  --color-search-by-image-border: #757575;
  --color-image-search-dots: #757575;
  --color-image-search-dots-hover: #ffffff;
  --color-history-array-color-hover: #fff;
  --color-sidebar-close-button: rgba(255, 255, 255, 0.75);
  --color-sidebar-close-button--hover: #ffffff;
  --color-popup-interesting-red: #ff4747;
  --color-popup-interesting-red-darker: #e63535;
  --color-external-links-tab-text: #4EBEA9;
  --color-external-links-store--hover: #4EBEA9;
  --color-external-links-tab-border: rgba(78, 190, 169, 0.2);
  --color-external-links-tab-arrow-body: #37413f;
  --color-external-links-tab-arrow-border: #3e5a55;
  --color-external-links-empty: #969696;
  --color-external-links-store: #969696;
  --color-external-links-back-cloud: #333333;
  --color-advice-stripe--hover: #262626;
  --color-item-card-image-back: #fafafa;
  --color-price-history-tab-back: transparent;
  --color-price-history-tab-border: #256256;
  --color-price-history-tab-acive-text: #333333;
  --color-price-history-text: #A6A6A6;
  --color-price-history-demo-tab-text: #A6A6A6;
  --color-white: #3e3e3e;
  --color-always-white: #fff;
  --color-always-white-lite: #fafafa;
  --color-black: #fff;
  --color-always-black: #333;
  --color-primary: #4ebea9;
  --color-primary-025: rgba(78, 190, 169, 0.025);
  --color-primary-10: rgba(78, 190, 169, 0.1);
  --color-primary-20: rgba(78, 190, 169, 0.2);
  --color-primary-30: rgba(78, 190, 169, 0.3);
  --color-green: #4ebe5b;
  --color-red: #ff3333;
  --color-red-10: rgba(245, 85, 69, 0.1);
  --color-grey-90: rgba(100, 100, 100, 0.2);
  --color-grey-78: #c8c8c8;
  --color-grey-59: #969696;
  --color-grey-46: #757575;
  --color-red-unfavorite: #f55545;
  --color-always-blue: #4C8BF5;
  --color-sale-tab-badge-wrap: #37413f;
  --color-sale-link-badge-wrap: #473735;
  --input-inset-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.1);
  --transition-hover-default: 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  --font-family-default: 'AT Open Sans', 'Open Sans', Arial, sans-serif;
}

.HYeQf {
  display: flex;
  flex-direction: column;

  width: 562px;
}

.at-scrollable {
  height: calc(100%);
}
.at-scrollable__content {
  height: 100%;
}
.at-scrollable__content.ps {
  position: relative;
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}
.at-scrollable--shadow-top {
  border-top: solid 1px var(--color-scrollable-shadow-top);
}
.at-scrollable--shadow-bottom {
  position: relative;
}
.at-scrollable--shadow-bottom:after {
  display: block;
  box-shadow: inset 0px -1px 2px 0 var(--color-scrollable-shadow-bottom);
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
}
/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}
.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}
.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}
.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9;
}
/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}
.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}
.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 11px;
}
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 11px;
}
/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}

.at-drop-down {
  position: relative;
}
.at-drop-down__open-button {
  font-family: var(--font-family-default);
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-accent);
  display: inline-flex;
  align-items: center;
  margin-left: 12px;
  cursor: pointer;
  width: 100%;
}
.at-drop-down__open-button:hover svg {
  transition: transform 0.25s;
  transform: translateY(2px);
}
.at-drop-down__down-img-wrap {
  align-items: center;
  display: flex;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-left: 2px;
}
.at-drop-down__down-img-wrap--open {
  transform: rotateX(180deg);
}
.at-drop-down__label {
  font-family: var(--font-family-default);
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.at-drop-down__down-img {
  width: 11px;
  padding-left: 4px;
}
.at-drop-down__menu-wrap {
  position: fixed;
  transform: translate(-9px, -19px);
  z-index: 100;
  padding: 25px 5px 5px;
  display: none;
  cursor: pointer;
}
.at-drop-down__menu-wrap--animate-enter {
  opacity: 0.01;
  transform: translate(-9px, -27px);
  display: block;
}
.at-drop-down__menu-wrap--animate-enter-active {
  opacity: 1;
  transform: translate(-9px, -19px);
  transition: all 0.2s ease-in;
  display: block;
}
.at-drop-down__menu-wrap--animate-enter-done {
  display: block;
}
.at-drop-down__menu-wrap--animate-exit {
  opacity: 1;
  display: block;
  transform: translate(-9px, -19px);
}
.at-drop-down__menu-wrap--animate-exit-active {
  opacity: 0.01;
  transform: translate(-9px, -27px);
  transition: all 0.2s ease-in;
  display: block;
}
.at-drop-down__menu-wrap--animate-exit-done {
  opacity: 0;
  display: none;
}
.at-drop-down__menu {
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1);
  display: inline-block;
  min-width: 132px;
  width: fit-content;
  background: var(--color-drop-down-bg);
  overflow: hidden;
}
.at-drop-down__item {
  font-family: var(--font-family-default);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  padding-left: 16px;
  padding-right: 24px;
  line-height: 36px;
  transition: background 0.3s;
  color: var(--color-base);
}
.at-drop-down__item:hover {
  background: var(--color-accent-pale);
}
.at-drop-down__item div {
  font-family: var(--font-family-default);
  font-size: 14px;
  font-weight: 600;
}

.Aq1QX {
  position: absolute;

  width: max-content;

  padding: 5px 12px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1);

  z-index: 10;
}

.Aq1QX.RU_NO {
  position: fixed;
}

.Aq1QX.YaEYr {
  background: var(--color-popup-tooltip-bg);
  color: var(--color-popup-tooltip-text);
}

.Aq1QX.uDmOb {
  background: var(--color-popup-tooltip-bg--blue);
  color: var(--color-popup-tooltip-text);
}

.Aq1QX.H4uc_ {
  position: relative;
  width: 100%;
  padding: 16px 24px 20px;
}

.Aq1QX.H4uc_ .daAZt {
  font-size: 14px;
}

.Aq1QX.uDmOb.H4uc_:after {
  content: '';
  display: inline-flex;
  position: absolute;
  left: 33px;
  bottom: -7px;
  transform: translate(-50%, 0) rotate(45deg);
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: linear-gradient(to top left, var(--color-popup-tooltip-bg--blue) 50%, rgba(0,0,0, 0) 50%);
}

.Aq1QX.D4mtI {
  transform: translateX(-50%) translateY(100%);
}

.Aq1QX.D4mtI:before {
  content: '';
  display: inline-flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -9px) rotate(45deg);
  width: 9px;
  height: 9px;
}

.Aq1QX.D4mtI.YaEYr:before {
  background: linear-gradient(to bottom right, var(--color-popup-tooltip-bg) 50%, rgba(0,0,0, 0) 50%);
}

.Aq1QX.D4mtI.uDmOb:before {
  background: linear-gradient(to bottom right, var(--color-popup-tooltip-bg--blue) 50%, rgba(0,0,0, 0) 50%);
}

.Aq1QX.jPlJF {
  transform: translateX(-50%) translateY(-100%);
}

.Aq1QX.XGap3 {
  transform: translateX(-50%) translateY(-100%);
}

.Aq1QX.jPlJF:after {
  content: '';
  display: inline-flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0) rotate(45deg);
  width: 9px;
  height: 9px;
}

.Aq1QX.qHQfc:after {
  content: '';
  display: inline-flex;
  position: absolute;
  left: 20%;
  bottom: -7px;
  transform: translate(-50%, 0) rotate(45deg);
  width: 16px;
  height: 16px;
}

.Aq1QX.XGap3:after {
  content: '';
  display: inline-flex;
  position: absolute;
  right: 10%;
  bottom: -7px;
  transform: translate(-50%, 0) rotate(45deg);
  width: 16px;
  height: 16px;
}

.Aq1QX.jPlJF.YaEYr:after {
  background: linear-gradient(to top left, var(--color-popup-tooltip-bg) 50%, rgba(0,0,0, 0) 50%);
}
.Aq1QX.jPlJF.uDmOb:after {
  background: linear-gradient(to top left, var(--color-popup-tooltip-bg--blue) 50%, rgba(0,0,0, 0) 50%);
}
.Aq1QX.qHQfc.uDmOb:after {
  background: linear-gradient(to top left, var(--color-popup-tooltip-bg--blue) 50%, rgba(0,0,0, 0) 50%);
}
.Aq1QX.XGap3.uDmOb:after {
  background: linear-gradient(to top left, var(--color-popup-tooltip-bg--blue) 50%, rgba(0,0,0, 0) 50%);
}

.Aq1QX.xOR7B {
  transform: translateX(0%) translateY(-25%);
}

.Aq1QX.xOR7B:before {
  content: '';
  display: inline-flex;
  position: absolute;
  left: 0%;
  top:  17px;
  transform: translate(-50%, -5px) rotate(315deg);
  width: 5px;
  height: 5px;
}

.Aq1QX.xOR7B.YaEYr:before {
  background:linear-gradient(to bottom right, var(--color-popup-tooltip-bg) 50%, rgba(0,0,0, 0) 50%);
}

.Aq1QX.xOR7B.uDmOb:before {
  background:linear-gradient(to bottom right, var(--color-popup-tooltip-bg--blue) 50%, rgba(0,0,0, 0) 50%);
}

.Aq1QX.H4uc_:after {
  display: inline-flex;
  position: absolute;
  left: 50%;
  bottom: -7px;
  transform: translate(-50%, 0) rotate(45deg);
  width: 14px;
  height: 14px;
}

.Aq1QX.D4mtI.eMBtH {
  transform: translate(0, 100%);
}
.Aq1QX.D4mtI.eMBtH:before {
  left: 12px;
  transform: translate(0, -9px) rotate(45deg);
}

.Aq1QX.MzmkF {
  padding: 16px 24px;
}

.Aq1QX.D4mtI.MzmkF:before {
  top: 3px;
  width: 12px;
  height: 12px;
}

.Aq1QX.sTsQx {
  animation: zbz0q 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  animation-fill-mode: forwards;
}
.Aq1QX.KRCQF {
  animation: vBIFp 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  animation-fill-mode: forwards;

}

.Aq1QX.jPlJF.MzmkF:after {
  width: 12px;
  height: 12px;
  bottom: -6px;
}

.daAZt.MzmkF {
  font-size: 14px;
}

.daAZt {
  font-size: 12px;
}

.YKRfB {
  position: absolute;
  padding: 4px;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  fill: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s ease;
}
.YKRfB:hover {
  opacity: 0.5;
}

@keyframes zbz0q {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(calc(100% - 30px));
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(100%);
  }
}
@keyframes vBIFp {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(100%);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(calc(100% - 30px));
  }
}

