.ozCRY {
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 2147483647;
  margin: 16px;
  top: 0;
  right: 0;
}

.wGzCO {
  display: none;
}

.x80Rv {
  position: relative;
}

.XibG7 {
  width: 372px;

  background: #fff;
  border-radius: 4px;

  margin-bottom: 16px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.1);

  transition: right .5s ease;

  cursor: pointer;
}

.UvgGw {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 9px 11px 18px 16px;
}

.T2RQt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.DEtBz {
  display: flex;
  align-items: center;

  font-size: 13px;
  line-height: 18px;

  font-weight: 600;

  color: #757575;
}

.DEtBz .WPZzr {
    width: 8px;
    height: 12px;
  }

.DEtBz .dGcjw {
    color: #4ebea9;
    margin-right: 3px;
  }

.Pt25l {
  width: 12px;
  height: 12px;

  cursor: pointer;
}

.Pt25l path {
  transition: fill .3s ease;
}

.Pt25l:hover path {
  fill: #757575;
}

.Jjv_Q {
  display: flex;
  margin-top: 12px;
  width: 100%;
}

.Jjv_Q .EMXp9 {
    width: 64px;
    height: 64px;

    min-width: 64px;
    max-width: 64px;
    max-height: 64px;
    min-height: 64px;

    position: relative;

    border-radius: 2px;
    background-size: cover;
  }

.Jjv_Q .SvcfZ {
    display: flex;
    flex-direction: column;

    margin-left: 16px;
    width: 252px;
  }

.Jjv_Q .SvcfZ .JBb_r {
      font-size: 16px;
      line-height: 22px;

      color: #333333;
      font-weight: bold;

      width: 100%;
    }

.Jjv_Q .SvcfZ .PT1Rx {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;

      margin: 4px 0 5px 0;

      width: 100%;

      color: #333333;
    }

.gGWW0 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 41px;
  background-color: rgba(78, 190, 169, 0.1);
  border-radius: 0 0 4px 4px;
  border: none;
  border-top: rgba(78, 190, 169, 0.2) solid 1px;

  color: #4ebea9;
  font-weight: 600;

  cursor: pointer;

  font-size: 13px;
  line-height: 18px;

  transition: background-color .3s ease, color .3s ease;

  position: relative;
}

.gGWW0:hover {
  background-color: #4ebea9;
  color: #fff;
}

.gGWW0:hover path {
  fill: #fff;
}

.W4uyM {
  width: 8px;
  height: 8px;

  opacity: 0.5;

  position: absolute;

  top: 7px;
  right: 6px;

  transition: fill .3s ease;
}

.XibG7:hover .gGWW0 {
  background-color: #4ebea9;
  color: #fff;
}

.XibG7:hover .gGWW0 path {
  fill: #fff;
}

.JRw5H {
  background-color: rgba(78, 190, 169, 0.1) !important;
  color: #4ebea9 !important;
}

.JRw5H path {
  fill: #4ebea9 !important;
}

.GYWpD {
  transform: translateX(400px);
  display: block !important;
}

.O5GFJ {
  transform: translateX(0px);
  transition: transform .5s cubic-bezier(0.42, 0, 0.58, 1);
  display: block !important;
}

._MjnW {
  transform: translateX(0px);
  display: block !important;
}

.DYaJ9 {
  transform: translateX(0px);
  display: block !important;
}

.CGQ3z {
  transform: translateX(400px);
  transition: transform .5s cubic-bezier(0.42, 0, 0.58, 1);
  display: block !important;
}

.BNsRs {
  transform: translateX(400px);
}

