.IVbto {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: fixed;
  padding: 0 !important;
  z-index: 2147483646;

  top: 57px;
  right: 0;
}

.Rn5zs {
  opacity: 0;
  display: none;

  position: absolute;
  margin-right: 27px;
  margin-bottom: -10px;
  padding: 5px 5px 30px 5px;
}

.qUy20 {
  position: absolute;

  opacity: 0;
  display: none;

  top: 298px;
}

.IsRnV, .A42Zf {
  opacity: 0;
  display: block !important;
}

.mlDm9, .b4MIR {
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.esoLa, .mVlfo {
  opacity: 1;
  display: block !important;
}

.ztgXk {
  opacity: 1;
  display: block !important;
}

.yoVmo {
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.KSSaw {
  opacity: 0;
  display: block !important;
}

.GXLAa {
  z-index: 2147483645;
  position: fixed;
  top: 347px;
  right: 72px;
}

.ImoFO {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 64px;
  height: 64px;

  background: var(--color-primary);

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 20px 60px rgba(0, 0, 0, 0.15);
  border-radius: 8px 0 0 8px;
}

.ZO25H {
  background: #FFFFFF;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 20px 60px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.OSOEJ {
  width: 228px;
  height: 272px;

  padding: 32px 23px 36px;
  color: var(--color-grey-46);

  display: flex;
  flex-direction: column;
}

.IPlEo {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
}

.v3qrn path {
  width: 48px;
  fill: var(--color-grey-59);
}

.uZdtb {
  width: 12px;
  height: 12px;
  position: absolute;
  cursor: pointer;
  top: 29px;
  right: 29px;
}

.uZdtb:hover path {
  fill: #000000;
  transition: fill .3s ease;
}

.v3qrn:hover path {
  fill: var(--color-primary) !important;
}

.tJOrr {
  width: 100px;
  height: 68px;
}

._WpRo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}

.VaTqu {
  font-size: 14px;
  font-weight: 600;
  text-align: center;

  margin-top: 4px;

  color: var(--color-always-black);
}

.JVyLQ {
  margin-top: 2px;
  margin-bottom: 19px;

  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

._YpM8 {
  display: flex;
  justify-content: center;

  height: 40px;
}

.at-balloon {
  position: relative;
  padding: 18px 24px 18px;
  margin: 8px;
  border-radius: 4px;
  background: var(--color-balloon-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.at-balloon--with-aside {
  flex-direction: row;
  padding: 16px 40px;
}
.at-balloon--with-aside-tiny {
  flex-direction: row;
  padding: 16px 32px;
}
.at-balloon--with-aside-lilliputian {
  flex-direction: row;
  padding: 16px 24px;
}
.at-balloon__container {
  /* ENTER TOP */
  /* ENTER RIGHT */
  /* ENTER BOTTOM */
  /* ENTER LEFT */
  /* ENTER POSITION MIDDLE */
  /* ENTER POSITION BOTTOM */
  /* EXIT START POSITION */
  /* EXIT TOP */
  /* EXIT RIGHT */
  /* EXIT BOTTOM */
  /* EXIT LEFT */
  /* END ANIMATION */
}
.at-balloon__container--animate--top-top-enter,
.at-balloon__container--animate--top-right-enter,
.at-balloon__container--animate--top-bottom-enter,
.at-balloon__container--animate--top-left-enter {
  opacity: 0.01;
  transform: translateY(30px);
}
.at-balloon__container--animate--right-top-enter,
.at-balloon__container--animate--right-right-enter,
.at-balloon__container--animate--right-bottom-enter,
.at-balloon__container--animate--right-left-enter {
  opacity: 0.01;
  transform: translateX(-30px);
}
.at-balloon__container--animate--bottom-top-enter,
.at-balloon__container--animate--bottom-right-enter,
.at-balloon__container--animate--bottom-bottom-enter,
.at-balloon__container--animate--bottom-left-enter {
  opacity: 0.01;
  transform: translateY(-30px);
}
.at-balloon__container--animate--left-top-enter,
.at-balloon__container--animate--left-right-enter,
.at-balloon__container--animate--left-bottom-enter,
.at-balloon__container--animate--left-left-enter {
  opacity: 0.01;
  transform: translateX(30px);
}
.at-balloon__container--animate--left-top-enter-active,
.at-balloon__container--animate--left-right-enter-active,
.at-balloon__container--animate--left-bottom-enter-active,
.at-balloon__container--animate--left-left-enter-active,
.at-balloon__container--animate--right-top-enter-active,
.at-balloon__container--animate--right-right-enter-active,
.at-balloon__container--animate--right-bottom-enter-active,
.at-balloon__container--animate--right-left-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0.6s;
}
.at-balloon__container--animate--bottom-top-enter-active,
.at-balloon__container--animate--bottom-right-enter-active,
.at-balloon__container--animate--bottom-bottom-enter-active,
.at-balloon__container--animate--bottom-left-enter-active,
.at-balloon__container--animate--top-top-enter-active,
.at-balloon__container--animate--top-right-enter-active,
.at-balloon__container--animate--top-bottom-enter-active,
.at-balloon__container--animate--top-left-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0.6s;
}
.at-balloon__container--animate--right-top-enter-done,
.at-balloon__container--animate--right-right-enter-done,
.at-balloon__container--animate--right-bottom-enter-done,
.at-balloon__container--animate--right-left-enter-done,
.at-balloon__container--animate--left-top-enter-done,
.at-balloon__container--animate--left-right-enter-done,
.at-balloon__container--animate--left-bottom-enter-done,
.at-balloon__container--animate--left-left-enter-done {
  transform: translateX(0px);
}
.at-balloon__container--animate--top-top-enter-done,
.at-balloon__container--animate--top-right-enter-done,
.at-balloon__container--animate--top-bottom-enter-done,
.at-balloon__container--animate--top-left-enter-done,
.at-balloon__container--animate--bottom-top-enter-done,
.at-balloon__container--animate--bottom-right-enter-done,
.at-balloon__container--animate--bottom-bottom-enter-done,
.at-balloon__container--animate--bottom-left-enter-done {
  transform: translateY(0px);
}
.at-balloon__container--animate--top-top-exit,
.at-balloon__container--animate--right-top-exit,
.at-balloon__container--animate--bottom-top-exit,
.at-balloon__container--animate--left-top-exit,
.at-balloon__container--animate--top-right-exit,
.at-balloon__container--animate--right-right-exit,
.at-balloon__container--animate--bottom-right-exit,
.at-balloon__container--animate--left-right-exit,
.at-balloon__container--animate--top-bottom-exit,
.at-balloon__container--animate--right-bottom-exit,
.at-balloon__container--animate--bottom-bottom-exit,
.at-balloon__container--animate--left-bottom-exit,
.at-balloon__container--animate--top-top-exit,
.at-balloon__container--animate--right-top-exit,
.at-balloon__container--animate--bottom-top-exit,
.at-balloon__container--animate--left-top-exit {
  opacity: 1;
  transform: translateY(0px);
}
.at-balloon__container--animate--top-top-exit-active,
.at-balloon__container--animate--right-top-exit-active,
.at-balloon__container--animate--bottom-top-exit-active,
.at-balloon__container--animate--left-top-exit-active {
  opacity: 0.01;
  transform: translateY(-30px);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}
.at-balloon__container--animate--top-right-exit-active,
.at-balloon__container--animate--right-right-exit-active,
.at-balloon__container--animate--bottom-right-exit-active,
.at-balloon__container--animate--left-right-exit-active {
  opacity: 0.01;
  transform: translateX(30px);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}
.at-balloon__container--animate--top-bottom-exit-active,
.at-balloon__container--animate--right-bottom-exit-active,
.at-balloon__container--animate--bottom-bottom-exit-active,
.at-balloon__container--animate--left-bottom-exit-active {
  opacity: 0.01;
  transform: translateY(30px);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}
.at-balloon__container--animate--top-left-exit-active,
.at-balloon__container--animate--right-left-exit-active,
.at-balloon__container--animate--bottom-left-exit-active,
.at-balloon__container--animate--left-left-exit-active {
  opacity: 0.01;
  transform: translateX(-30px);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}
.at-balloon__container--animate--top-top-exit-done,
.at-balloon__container--animate--right-top-exit-done,
.at-balloon__container--animate--bottom-top-exit-done,
.at-balloon__container--animate--left-top-exit-done,
.at-balloon__container--animate--top-right-exit-done,
.at-balloon__container--animate--right-right-exit-done,
.at-balloon__container--animate--bottom-right-exit-done,
.at-balloon__container--animate--left-right-exit-done,
.at-balloon__container--animate--top-bottom-exit-done,
.at-balloon__container--animate--right-bottom-exit-done,
.at-balloon__container--animate--bottom-bottom-exit-done,
.at-balloon__container--animate--left-bottom-exit-done,
.at-balloon__container--animate--top-left-exit-done,
.at-balloon__container--animate--right-left-exit-done,
.at-balloon__container--animate--bottom-left-exit-done,
.at-balloon__container--animate--left-left-exit-done {
  display: none;
}
.at-balloon__content {
  display: flex;
  flex-direction: column;
}
.at-balloon__content--with-aside {
  justify-content: center;
}
.at-balloon__aside-content {
  display: flex;
}
.at-balloon__header {
  font-size: 16px;
  color: var(--color-inversed);
  margin-bottom: 6px;
  font-weight: 600;
  min-width: fit-content;
  white-space: nowrap;
}
.at-balloon__text {
  font-size: 14px;
  color: var(--color-inversed);
  margin-bottom: 14px;
}
.at-balloon__button-box {
  display: flex;
  width: 100%;
  min-width: 250px;
  font-size: 12px;
}
.at-balloon__button {
  cursor: pointer;
  outline: none;
  padding: 0 14px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  transition: all 0.3s;
  height: 33px;
  border: 1px solid transparent;
  margin-top: 0;
}
.at-balloon__button--white {
  color: var(--color-balloon-button);
  background: var(--color-inversed);
  border-color: var(--color-inversed);
  margin-right: 7px;
}
.at-balloon__button--white:hover {
  background: var(--color-inversed-90);
  border-color: var(--color-inversed-90);
}
.at-balloon__button--transparent {
  color: var(--color-inversed);
  background: transparent;
  border-color: var(--color-inversed-50);
}
.at-balloon__button--transparent:hover {
  background: var(--color-inversed-25);
  border-color: transparent;
}
.at-balloon__angle {
  font-size: 0;
  line-height: 0;
  width: 0;
  border-top: 10px solid var(--color-balloon-blue);
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
}
.at-balloon__angle--top-left {
  top: -18px;
  bottom: auto;
  right: auto;
  left: 21px;
  transform: rotate(180deg);
}
.at-balloon__angle--left-bottom {
  bottom: -20px;
  right: auto;
}
.at-balloon__angle--top-right {
  top: 23px;
  right: -20px;
  transform: rotate(-90deg);
}
.at-balloon__angle--center-bottom {
  bottom: -20px;
  right: calc(50% + -10px);
}
.at-balloon__angle--search-explanation {
  right: 97px;
  top: -20px;
  transform: rotate(180deg);
}

.JZBPF {
  display: flex;
  flex-direction: column;
}

.p8YyK {
  padding: 36px 26px 15px 24px;
}

.ampxr {
  height: 307px;
  padding-bottom: 5px;
}

.xG7O0 {
  margin-top: 18px;
}

.qGEe8 {
  margin-top: 9px;
  font-size: 12px;
  font-weight: 600;
  color: var(--color-grey-46);
}

.IssQV {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.VygHe {
  height: 2px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #CAECE5;
  transition: background-color .3s ease-in;
}

.VygHe:last-child {
  margin-right: 0;
}

.VygHe.ZQHy7 {
  background-color: #4EBEA9;
}

.VygHe.SdCOm {
  animation: AEkVE .8s linear infinite alternate;
}

@keyframes AEkVE {
  0% {
    background-color: #CAEBE5;
  }
  100% {
    background-color: #379583;
  }
}

.vjzrD {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.dQ8yI {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.iVVhn {
  margin-top: 1px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-grey-46);
}

.svqNO {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, .75);
}

.XHw1p {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.XHw1p .HuCWR {
    width: 571px;
    height: 375px;

    z-index: 4;

    padding: 16px;
    background: #4C8BF5;
    border-radius: 6px;

    position: absolute;

    overflow: hidden;

    transition: right .5s ease;
  }

.XHw1p .HuCWR.LewC1 {
    padding: 24px 32px;
    border-radius: 4px;
    opacity: 1;
  }

.XHw1p .HuCWR.mL_Fy {
    border-radius: 8px;
    padding: 0;

    background: var(--color-always-white);
    color: var(--color-always-black);

    opacity: 1;
  }

.XHw1p .Y9aTV {
    display: flex;
    flex-direction: column;

    position: relative;
    max-width: 385px;

    margin-top: 71px;
    margin-left: 108px;
    color: #fff;
    z-index: 0;
  }

.XHw1p .Y9aTV.LewC1 {
    margin: 0;
    max-width: 100%;
  }

.XHw1p .Y9aTV.mL_Fy {
    margin: 0;
    max-width: 100%;
    color: #000000;
  }

.XHw1p .UUhKj {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding: 4px;
    z-index: 1;
  }

.XHw1p .UUhKj svg {
      fill: #ffffff;
      transition: all .2s;
    }

.XHw1p .UUhKj:hover svg {
      fill: rgba(0, 0, 0, .5);
    }

.XHw1p .UUhKj.mL_Fy {
    width: 28px;
    height: 28px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 0;
  }

.XHw1p .UUhKj.mL_Fy svg {
      width: 12px !important;
      height: 12px !important;
    }

.XHw1p .UUhKj.mL_Fy path {
    fill: var(--color-grey-59);
    transition: all .2s;
  }

.XHw1p .UUhKj.mL_Fy:hover path {
    fill: var(--color-always-black);
  }

.XHw1p .yX4JP {
    position: absolute;
    top: 12px;
    right: 34px;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    padding: 4px;
    z-index: 1;

    font-size: 14px;
    line-height: 1;
    color: #fff;
  }

.XHw1p .yX4JP svg {
      fill: #ffffff;
      transition: all .2s;
    }

.XHw1p .JAj_Y {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

.ZfOcF {
  opacity: 0.01;
}

.crnVz {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.iaTPY {
  opacity: 1;
}

.WnC6x {
  opacity: 1;
}

.PPvI8 {
  opacity: 0.01;
  transition: opacity .3s ease-in-out;
}

.VMH8l {
  opacity: 0;
}

.DMRZ4 {
  transform: translateY(30px);
}

.UdH_Z {
  transform: translateY(0px);
  transition: transform .3s cubic-bezier(0.42, 0, 0.58, 1);
}

.N2Cb9 {
  transform: translateY(0px);
}

.kq6CY {
  transform: translateY(0px);
}

.clajp {
  transform: translateY(30px);
  transition: transform .3s cubic-bezier(0.42, 0, 0.58, 1);
}

.C8WA5 {
  transform: translateY(30px);
}

.YrJPR {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  max-height: 150px;
  position: relative;
}

.Bz8CJ {
  position: absolute;
  z-index: 1;
}

.Bz8CJ.G0Aqg path { fill: #F3FBF9; }
.Bz8CJ.brdHa path { fill: #FFFBF2; }
.Bz8CJ.jrrAT path { fill: #F0FFF3; }
.Bz8CJ.DdQ20 path { fill: #FCF2F1; }

.sVLEf {
  max-width: 200px;
  max-height: 150px;
  z-index: 2;
}

.ZANSe {
  display: flex;
  justify-content: space-between;

  height: 88px;
  padding: 24px;

  background-color: #FAFAFA;
}

.nTXnz {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.qbG0P {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.sI_6P {
  width: 156px;
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}

.sI_6P.lVl8t {
  font-size: 12px;
}

.sbs-container .fade-enter {
  opacity: 0;
}
.sbs-container .fade-exit {
  opacity: 1;
}
.sbs-container .fade-enter-active {
  opacity: 1;
}
.sbs-container .fade-exit-active {
  opacity: 0;
}
.sbs-container .fade-enter-active,
.sbs-container .fade-exit-active {
  transition: opacity 0.6s;
}

.wBoXP {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding-top: 64px;
}

.rhuus {
  margin-top: 40px;
  padding: 20px 27px 35px 26px;
}

.zlMDa {
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 2147483647;
  margin: 16px;
  top: 0;
  right: 0;
}

.NpUiB {
  display: none;
}

.uEa5A {
  position: relative;
}

.XibG7 {
  width: 372px;

  background: #fff;
  border-radius: 4px;

  margin-bottom: 16px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.1);

  transition: right .5s ease;

  cursor: pointer;
}

.UvgGw {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 9px 11px 18px 16px;
}

.T2RQt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.DEtBz {
  display: flex;
  align-items: center;

  font-size: 13px;
  line-height: 18px;

  font-weight: 600;

  color: #757575;
}

.DEtBz .WPZzr {
    width: 8px;
    height: 12px;
  }

.DEtBz .dGcjw {
    color: #4ebea9;
    margin-right: 3px;
  }

.Pt25l {
  width: 12px;
  height: 12px;

  cursor: pointer;
}

.Pt25l path {
  transition: fill .3s ease;
}

.Pt25l:hover path {
  fill: #757575;
}

.Jjv_Q {
  display: flex;
  margin-top: 12px;
  width: 100%;
}

.Jjv_Q .EMXp9 {
    width: 64px;
    height: 64px;

    min-width: 64px;
    max-width: 64px;
    max-height: 64px;
    min-height: 64px;

    position: relative;

    border-radius: 2px;
    background-size: cover;
  }

.Jjv_Q .SvcfZ {
    display: flex;
    flex-direction: column;

    margin-left: 16px;
    width: 252px;
  }

.Jjv_Q .SvcfZ .JBb_r {
      font-size: 16px;
      line-height: 22px;

      color: #333333;
      font-weight: bold;

      width: 100%;
    }

.Jjv_Q .SvcfZ .PT1Rx {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;

      margin: 4px 0 5px 0;

      width: 100%;

      color: #333333;
    }

.gGWW0 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 41px;
  background-color: rgba(78, 190, 169, 0.1);
  border-radius: 0 0 4px 4px;
  border: none;
  border-top: rgba(78, 190, 169, 0.2) solid 1px;

  color: #4ebea9;
  font-weight: 600;

  cursor: pointer;

  font-size: 13px;
  line-height: 18px;

  transition: background-color .3s ease, color .3s ease;

  position: relative;
}

.gGWW0:hover {
  background-color: #4ebea9;
  color: #fff;
}

.gGWW0:hover path {
  fill: #fff;
}

.W4uyM {
  width: 8px;
  height: 8px;

  opacity: 0.5;

  position: absolute;

  top: 7px;
  right: 6px;

  transition: fill .3s ease;
}

.XibG7:hover .gGWW0 {
  background-color: #4ebea9;
  color: #fff;
}

.XibG7:hover .gGWW0 path {
  fill: #fff;
}

.JRw5H {
  background-color: rgba(78, 190, 169, 0.1) !important;
  color: #4ebea9 !important;
}

.JRw5H path {
  fill: #4ebea9 !important;
}

.GYWpD {
  transform: translateX(400px);
  display: block !important;
}

.O5GFJ {
  transform: translateX(0px);
  transition: transform .5s cubic-bezier(0.42, 0, 0.58, 1);
  display: block !important;
}

._MjnW {
  transform: translateX(0px);
  display: block !important;
}

.DYaJ9 {
  transform: translateX(0px);
  display: block !important;
}

.CGQ3z {
  transform: translateX(400px);
  transition: transform .5s cubic-bezier(0.42, 0, 0.58, 1);
  display: block !important;
}

.BNsRs {
  transform: translateX(400px);
}

