div-pt.podborka-turov-dialog {
	display: none; 
	position: fixed; 
	top: 0px; 
	left: 0px; 
	right: 0px; 
	bottom: 0px; 
	overflow: auto; 
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 99999;
}

div-pt.podborka-turov-dialog-inner {
    margin: 60px auto 0px auto;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.4);
}

div-pt.podborka-turov-dialog-header { 
	background-color: #eee; 
	font-size: 14px; 
	display: table; 
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
}

div-pt.podborka-turov-dialog-title {
	padding: 16px;
	font-size: 14px;
	display: table-cell; 
	vertical-align: middle;
	color: #9e9e9e;
}

div-pt.podborka-turov-dialog-close {
	display: table-cell; 
	width: 50px;
	text-align: center;
    vertical-align: middle;
	padding-top: 2px;
	opacity: 0.25 !important;
	cursor: pointer;
}

div-pt.podborka-turov-dialog-close > a {
	font-size: 16px !important;
	color: #000 !important; 
	font-weight: 700 !important; 
	text-decoration: none !important;
}

div-pt.podborka-turov-dialog-close:hover {
	opacity: 1 !important;
}

div-pt.podborka-turov-dialog-body {
	
}