div-pt.podborka-turov-load-ratings-block {
	font-family: "Open Sans",sans-serif,"Helvetica Neue",Helvetica,Arial;
	font-size: 11px;
	font-weight: normal;
	margin-top: 2px;
}

div-pt.podborka-turov-load-ratings-block-inner {
	display: inline-block;
	background-color: #ffffff;
    padding: 2px 4px;
    border: 1px solid #cccccc;
    border-radius: 2px;
}

div-pt.podborka-turov-load-ratings-loader-block-loader {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/loader.gif');
}

@-moz-document url-prefix() { 
	div-pt.podborka-turov-load-ratings-loader-block-loader {
		background-image: url('moz-extension://__MSG_@@extension_id__/images/loader.gif');
	}
}

a.podborka-turov-load-ratings-a {
	text-decoration: none !important;
	border-bottom: 1px dashed #006699 !important;
}

a.podborka-turov-load-ratings-a:hover {
	border-bottom: none !important;
}

a.podborka-turov-load-ratings-a > span-pt {
	color: #006699;
}

span-pt.podborka-turov-load-ratings-loader-block {
	display: none;
}

span-pt.podborka-turov-load-ratings-filter-block {
	display: none;
}

input.podborka-turov-load-ratings-filter-input {
    width: 32px !important;
}