div-pt.podborka-turov-rating-block {
	font-family: "Open Sans",sans-serif,"Helvetica Neue",Helvetica,Arial;
	font-size: 11px;
	font-weight: normal; 
	display: block;
	margin-top: 2px;
	background-color: #fff;
    padding: 2px 4px;
	border-radius: 4px;
}

div-pt.podborka-turov-rating-block-color {
	display: inline-block; 
	padding: 2px 4px; 
	border-radius: 4px; 
	color: #fff; 
	font-weight: bold; 
	margin-right: 5px;	
}

div-pt.podborka-turov-rating-block-links {
	display: inline-block; 
}
