div-pt.podborka-turov-toggle-tour-button {
	width: 21px;
	height: 20px;
	cursor: pointer;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/buttons/button.png');
	margin-bottom: 4px;
}

div-pt.podborka-turov-toggle-tour-button:hover {
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/buttons/button-hover.png');
}

div-pt.podborka-turov-toggle-tour-button.active {
	cursor: default;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/buttons/button-active.png');
}

@-moz-document url-prefix() {
	div-pt.podborka-turov-toggle-tour-button {
		background-image: url('moz-extension://__MSG_@@extension_id__/images/buttons/button.png');
	}

	div-pt.podborka-turov-toggle-tour-button:hover {
		background-image: url('moz-extension://__MSG_@@extension_id__/images/buttons/button-hover.png');
	}

	div-pt.podborka-turov-toggle-tour-button.active {
		background-image: url('moz-extension://__MSG_@@extension_id__/images/buttons/button-active.png');
	}
}

div-pt.podborka-turov-toggle-tour-button-full {
	padding: 8px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #111111;
	border-radius: 5px;
	cursor: pointer;
	height: 48px;
	min-width: 240px;
	display: inline-block;
}

div-pt.podborka-turov-toggle-tour-button-full:hover {
	background-color: #EEEEEE;
	border: 1px solid #BBBBBB;
}

div-pt.podborka-turov-toggle-tour-button-full-row {
	display: table-row;
}

div-pt.podborka-turov-toggle-tour-button-full-cell {
	display: table-cell;
	vertical-align: middle;
}

div-pt.podborka-turov-toggle-tour-button-full div-pt.podborka-turov-toggle-tour-button-full-image {
	width: 32px;
	height: 32px;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/buttons/pt-32.png');
}

div-pt.podborka-turov-toggle-tour-button-full div-pt.podborka-turov-toggle-tour-button-full-title {
	font-size: 12px;
	font-weight: bold;
	margin-left: 8px;
}

@-moz-document url-prefix() {
	div-pt.podborka-turov-toggle-tour-button-full div-pt.podborka-turov-toggle-tour-button-full-image {
		background-image: url('moz-extension://__MSG_@@extension_id__/images/buttons/pt-32.png');
	}
}