@import url('../../assets/font/roboto-font.css');

body {
  margin: 0;
  padding: 0;
  background: #f6f6f6;
  font-family: 'Roboto', Arial, 'Helvetica' !important;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  margin-bottom: 8px;
  font-family: 'Inter', Arial, 'Helvetica' !important;
}

section {
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 24px;
  color: #222;
}

section > h2 {
  font-size: 20px;
}

section > h3 {
  font-size: 16px;
}

section > ol {
  padding-left: 15px;
}

section > ul > li,
section > ol > li {
  font-weight: bold;
  margin: 16px 0 8px;
}

section > ul > ul > li {
  margin-bottom: 6px;
}

.logo {
  display: block;
  padding: 64px 32px 32px;
  width: 544px;
  margin: auto;
}

.wrapper {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
  width: 544px;
  margin: auto;
  padding: 32px;
  margin-bottom: 80px;
}

.wrapper h1 {
  font-size: 24px;
  margin-bottom: 16px;
  font-family: 'Inter', Arial, 'Helvetica';
}

.divider {
  border-bottom: 1px solid #ddd;
  margin-bottom: 32px;
}

.link {
  text-decoration: underline;
}

ol {
  margin: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.font-bold {
  font-weight: 700;
}
