@import url('../../assets/font/roboto-font.css');

body {
  background: #f6f6f6;
  font-family: 'Roboto', Arial, 'Helvetica' !important;
}

.logo {
  display: block;
  padding: 20px 0;
}

.logo img {
  margin: 0 auto;
  display: block;
}

.wrapper {
  background: #fff;
  border: 1px solid #dddcdc;
  width: 400px;
  height: 290px;
  margin: 0 auto;
  padding: 30px;
}

h1 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 0;
}

.content {
  display: block;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 15px;
  color: #666666;
}

.btn {
  border-radius: 3px;
  background: #23ae4a;
  text-decoration: none;
  width: 176px;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  height: 31px;
  line-height: 31px;
}
