/* Overpass - latin-ext_latin */
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 400;
  src: local("Outfit Regular"), local("Outfit"), url(/fonts/custom/OutfitKS-Regular.woff2) format("woff2"); /* Modern Browsers */
}
/* overpass-600 - latin-ext_latin */
@font-face {
  font-family: Outfit-SemiBold;
  font-style: normal;
  font-weight: 500;
  src: local("Outfit SemiBold"), local("Outfit-SemiBold"), url(/fonts/custom/OutfitKS-Medium.woff2) format("woff2"); /* Modern Browsers */
}
html {
  background: var(--gradient-blue, radial-gradient(138.46% 138.89% at 1.25% 96.18%, #1b78e0 0%, #004899 100%));
  color: #fff;
  text-align: center;
  height: 100%;
}

body {
  margin: 0;
}

.hidden {
  display: none;
}

.mock-head {
  margin-bottom: 72px;
  background: #000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  padding: 16px 95px;
}

.title {
  font-size: 36px;
  height: 55px;
  font-family: Outfit, sans-serif;
  font-weight: 700;
  display: inline;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 56px;
  height: 37px;
  font-family: Outfit, sans-serif;
}

.browser-selected {
  padding: 0 24px;
}

.browser-selector {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  padding: 64px;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}

.browser {
  padding: 16px;
  margin-right: 16px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: #0b4486;
  border-radius: 8px;
  margin-bottom: 16px;
}

.browser-title {
  color: #fff;
  text-align: center;
  font-family: Outfit, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-top: 8px;
}

svg.title-icon-one,
svg.title-icon-two {
  position: relative;
  top: 3px;
  padding: 0 8px;
  height: 24px;
  width: 24px;
}

.animation {
  height: 348px;
}