html,
body {
    margin: 0;
    padding: 0;
    color: #686669;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

html {
    width: 330px;
    min-height: 200px;
}

body {
    padding: 15px;
    font-size: 13px;
}

h1 {
    font-size: 15px;
}

#container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.d-none {
    display: none;
}

img {
    width: 250px;
    margin-right: 50px;
    margin-bottom: 15px;
}

h3 {
    background: #f0eff0;
    margin: 0;
    padding: 8px 0 0 15px;
    font-size: 20px;
    font-weight: normal;
}

.panel {
    background: #f0eff0;
    padding: 15px;
}

.panel p {
    margin: 0;
}

.row {
    padding: 0 0 15px 0;
}

.row:last-child {
    padding: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
}

.buttons {
    padding: 15px 0 0;
}

.pull-right {
    float: right;
    font-size: 18px;
    border: 0;
    padding: 10px 16px;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

a {
    color: #686669;
}

.btn {
    font-size: 18px;
    color: #fff;
    padding: 20px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    text-shadow: -1px 1px rgba(0, 0, 0, 0.3);
}

span#ProvideButton {
    display: block;
    background: #20a0d2 url(/Resources/Images/provide_arrow.svg) center 35px no-repeat;
    margin-bottom: 15px;
    padding-bottom: 20px;
    transition: all ease 0.25s;
    border-radius: 3px;
}

span#ProvideButton:hover {
    background: #959496 url(/Resources/Images/provide_arrow.svg) center 30px no-repeat;
}

span#ProvideButton a.btn {
    display: block;
    padding-top: 130px;
    background: url(/Resources/Images/provide_ring.svg) center 35px no-repeat;
}

span#RetrieveButton,
#buttonSave {
    display: block;
    background: #a5a5a5;
    transition: all ease 0.25s;
    border-radius: 3px;
}

span#RetrieveButton:hover,
#buttonSave:hover {
    background: #959496;
}

#buttonSave {
    background: #20a0d2;
}

#buttonBack {
    text-decoration: none;
}

.fa-lg {
    text-decoration: none;
}

.float-left .fa {
    margin-right: 10px;
}

.float-right .fa {
    margin-left: 10px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.options .radio {
    margin-right: 10px;
}

.options small {
    margin-left: 28px;
}

.options ul {}

.card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 3px;
    margin-bottom: 15px;
}

.card-header {
    padding: .75rem .5rem .5rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-radius: 3px 3px 0 0;
}

.card-body {
    padding: 0.25rem 1.25rem;
}

.card-body.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 3px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}