/*Стили для виджета*/
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #212529;
}

.window {
    width: 270px;
    margin: 0 auto;
}

.main {
    padding: 15px;
}

.text-center {
    text-align: center;
}

.text-danger {
    color: #dc3545
}

.text-info {
    color: #037e9a
}

.ext-header {
    font-size: 18px;
    color: #1b2f58;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
    padding: 10px;
}

.ext-header span {
    font-weight: 700;
}

.btn {
    padding: 3px 15px;
    color: #fff;
    font-size: 14px;
    line-height: 2;
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.btn:hover {
    text-decoration: none;
}

.btn-primary {
    background-color: #0052CC;
    border-color: #0052CC;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-lightblue {
    color: #fff;
    background-color: #1482e0;
    border-color: #1482e0;
}

.btn-lightblue:hover {
    color: #fff;
    background-color: #2f9fff;
    border-color: #0062cc;
}

.btn-link {
    color:#005ec3;
    padding: 0;
}

.btn-link:hover {
    text-decoration: underline;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}
