.label-d8 {
  color: #d8d8d8;
}

div#keeper-extension-root > #keeper-extension.recordPrompt .prompt-container {
  gap: 8px;
  padding: 16px 16px 8px 16px;
  max-height: 479px;
}
div#keeper-extension-root > #keeper-extension.recordPrompt .prompt-container > .record-type {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  font-size: 13px;
  font-family: "Outfit-SemiBold", sans-serif;
}
div#keeper-extension-root > #keeper-extension.recordPrompt .prompt-container > label.matching-logins {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  font-size: 12px;
  color: #606060;
}
div#keeper-extension-root > #keeper-extension.recordPrompt .prompt-container > .record-fields {
  gap: 16px;
}
div#keeper-extension-root > #keeper-extension.recordPrompt .prompt-container > .record-fields .field {
  margin-top: 0;
  padding-bottom: 7px;
}
div#keeper-extension-root > #keeper-extension.recordPrompt .prompt-container > .record-fields .prompttoggle {
  height: 20px;
}
div#keeper-extension-root > #keeper-extension.recordPrompt .prompt-container > .record-fields .prompttoggle .toggle-text {
  font-size: 14px;
}
div#keeper-extension-root > #keeper-extension.recordPrompt .prompt-container .prompt-button-group .keeper-button.keeper-button-disabled {
  border-radius: 8px;
  background: #f0f0f0 !important;
  cursor: not-allowed;
}