html {
  overflow: hidden;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  overflow: hidden;
  padding: 30px 0 0 0 !important;
}

.ad-panel,
.gsa-promo,
.community-promo,
div[role="banner"],
div[class="cp-banner"],
div[class="footer-bottom"],
iframe[id*="-prompt-iframe"],
div[class="community-bottom"] {
  display: none !important;
  visibility: hidden !important;
}

div[class="gp-footer"] {
  height: 0 !important;
  padding: 0 !important;
}

div[type="GTL-button-home"],
div[type="GTL-button-support"],
div[type="GTL-button-settings"] {
  top: 0;
  margin: 0;
  border: 0;
  opacity: 0.5;
  height: 20px;
  padding: 4px 0;
  font-size: 12px;
  cursor: pointer;
  line-height: 20px;
  position: absolute;
  text-align: center;
  width: calc(100% / 3);
  vertical-align: middle;
  background-color: transparent;
  font-family: 'Google Sans',sans-serif;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

div[type="GTL-button-home"] {left: 33%}
div[type="GTL-button-support"] {right: 0}
div[type="GTL-button-settings"] {left: 0}
