<div id="disconnect-dialog" class="mdc-dialog mdc-dialog--fullscreen">
    <div class="mdc-dialog__container">
      <div
        class="mdc-dialog__surface"
        role="dialog"
        aria-modal="true"
        aria-labelledby="my-dialog-title"
        aria-describedby="my-dialog-content"
      >
        <div class="mdc-dialog__header">
          <button
            id="disconnected-close"
            class="mdc-icon-button material-icons mdc-dialog__close"
            data-mdc-dialog-action="close"
          >
            close
          </button>
          <h2 class="mdc-dialog__title">Disconnected</h2>
          <div id="disconnected-continue" class="proxyext-warning__disable">
            Continue free
          </div>
        </div>
        <div class="mdc-dialog__content">
          <div>
            <p>
              You have been disconnected per VPN session limit, you may reconnect 
              to start a new VPN session or upgrade to premium to get unlimited time
            </p>
            <div></div>
          </div>
          <div style="text-align: center">
            <button class="mdc-button mdc-button--raised" id="disconnected-upgrade">
                <span class="mdc-button__label">Upgrade to unlimited</span>
              </button>
              <p></p>
              <button class="mdc-button" id="disconnected-cancel">
                <span class="mdc-button__label">Reconnect</span>
              </button>
          </div>
        </div>
      </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
  </div>
  