#youtube-to-mp3-button {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: -3px 10px 0 10px;
}

#youtube-to-mp3-img {
  width: 42px;
  height: 100%;
  margin: auto;
  opacity: 0.80;
  cursor: pointer;
}

#youtube-to-mp3-img:hover {
  opacity: 1.00;
  transition: 300ms ease opacity;
}

#sentiment.ytd-video-primary-info-renderer {
  left: 48px !important;
}

.status-banner-item,
.status-banner-item p,
.status-banner-item a,
.status-banner-item span,
.status-banner-container {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 42px !important;
  outline: none !important;
  direction: ltr !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  text-align: left !important;
  box-shadow: none !important;
  transition: none !important;
  line-height: 42px !important;
  user-select: none !important;
  text-shadow: none !important;
  z-index: 2147483647 !important;
  text-decoration: none !important;
  letter-spacing: normal !important;
  font-family: monospace !important;
  background-image: none !important;
  color: rgb(236, 236, 236) !important;
  background-color: transparent !important;
}

.status-banner-container {
  left: 0 !important;
  bottom: 28px !important;
  height: auto !important;
  position: fixed !important;
}

.status-banner-item {
  margin: 1px 0 !important;
  background-color: rgba(0,0,0,0.8) !important;
  outline: solid 1px rgba(255, 255, 255, 0.1) !important;
}

.status-banner-item a {
  width: 28px !important;
  text-indent: 8px !important;
  vertical-align: top !important;
  display: inline-block !important;
}

.status-banner-item p {
  text-indent: 10px !important;
  vertical-align: top !important;
  display: inline-block !important;
  width: calc(100% - 74px) !important;
  border-left: solid 2px rgba(255, 0, 0, 0.85) !important;
}

.status-banner-item span {
  width: 42px !important;
  cursor: pointer !important;
  font-size: 10px !important;
  line-height: 44px !important;
  text-align: center !important;
  vertical-align: top !important;
  display: inline-block !important;
}

.status-banner-item span:hover {
  transition: 300ms ease all !important;
  background-color: rgba(255, 0, 0, 0.8) !important;
}

.ytmp3-page-button-class-video {
  top: 10px;
  left: 10px;
  z-index: 11;
  position: absolute;
  border-radius: 50%;
  margin: 0 !important;
  width: 48px !important;
  height: 48px !important;
  background-color: #ffffffab;
}

.ytmp3-page-button-class-video:hover {
  background-color: #ffffff;
}

@-moz-document url-prefix() {
  .status-banner-item,
  .status-banner-item p,
  .status-banner-item a,
  .status-banner-item span,
  .status-banner-container {
    font-family: monaco, "andale mono", "lucida console", "courier new", monospace !important;
  }
}