<app-beruby class="beruby-main-div">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
	<a class="beruby-close"><i class="beruby-fa fa-times" aria-hidden="true"></i></a>
	<div class="beruby-message-top">
		<img src="" width="100" class="beruby-logo">
	</div>
	<div class="beruby-message-body">
		<div class="beruby-texts">
			<!-- phrase -->
		</div>
		<div class="beruby-content">
			<a href="#" class="bttn beruby-btn-cashback"></a>
		</div>
		<div class="beruby-message-body">
		    <a href="#" class="beruby-btn-more-info" target="_blank"></a>
		</div>
	</div>
</app-beruby>