<app-beruby class="beruby-main-div">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
	<a class="beruby-close"><i class="beruby-fa fa-times" aria-hidden="true"></i></a>
	<div class="beruby-message-top">
		<img src="" width="100" class="beruby-logo">
	</div>
	<div class="beruby-message-body">
		<div class="beruby-texts">
			<!-- phrase -->
		</div>
		<div class="beruby-texts-policy">
			<!-- phrase -->
		</div>
		<div class="beruby-texts-2">
		    <div class="beruby-content-policy">
		    	<div class="beruby-content-accept">
		    		<a href="#" class="bttn beruby-btn-accept"></a>
		    	</div>
		    	<div class="beruby-content-reject">
		    		<a href="#" class="bttn beruby-btn-reject"></a>
		    	</div>
		    </div>
		    <a href="#" class="beruby-btn-back"></a>
		</div>
	</div>
</app-beruby>