/* no style*/
#button0, #button1, #button2, #button3, #button4, #button5, #button6, #button7,
#button8, #button9, #button10, #button11{
    position: absolute;
    top: 0;
    left: 102%;
    min-width: 55px;
    height: 100%;
    cursor: pointer;
    line-height: 100%;
    user-select: none;
}
.minidiv #button0,.minidiv #button1, .minidiv #button2, .minidiv #button3, .minidiv #button4, .minidiv #button5,
.minidiv #button6, .minidiv #button7, .minidiv #button8, .minidiv #button9, .minidiv #button10, .minidiv #button11 {
    height: 100%;
}

#button0 {
    box-sizing: border-box;
    background: linear-gradient(to right, gold, darkorange);
    color: white;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    font-weight: bold;
    border: 1px solid darkgoldenrod;
    border-radius: 2em;
    transform: perspective(500px) rotateY(-15deg);
    text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    overflow: hidden;
}

#button0:hover {
    transform: perspective(500px) rotateY(15deg);
    text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

#button0::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, white, transparent);
    left: -100%;
    transition: 0.5s;
}

#button0:hover::before {
    left: 100%;
}



/**/
#button1 {
    background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    border-radius:15px;
    border:1px solid #18ab29;
    display:inline-block;
    font-weight: bold;
    color:#ffffff;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
#button1:hover {
    background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
    background-color:#5cbf2a;
}


/**/
#button2 {
    background: #405C7C;
    background-image: -webkit-linear-gradient(top, #405C7C, #1E62D0);
    background-image: -moz-linear-gradient(top, #405C7C, #1E62D0);
    background-image: -ms-linear-gradient(top, #405C7C, #1E62D0);
    background-image: -o-linear-gradient(top, #405C7C, #1E62D0);
    background-image: -webkit-gradient(to bottom, #405C7C, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

#button2:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

/**/

#button3 {
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-weight: 700;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    user-select: none;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
    box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
#button3:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
}
#button3:active {
    top: 1px;
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}


/**/

#button4 {
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: rgb(68,68,68);
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;
}
#button4:hover {
    color: rgb(24,24,24);
    border: 1px solid rgb(198,198,198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#button4:active {
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

/**/
#button5 {
    color: black;
    font-size: 125%;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 1px solid rgb(250,172,17);
    border-radius: 7px;
    background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
    transition: box-shadow .2s, border-color .2s;
}
#button5:hover {
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
#button5:active {
    padding: calc(.25em + 1px) .5em calc(.25em - 1px);
    border-color: rgba(177,159,0,1);
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}

/**/

#button6 {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(212,75,56); /* фон кнопки */
    outline: none; /* убирать контур в Mozilla */
}
#button6:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
#button6:active { background: rgb(152,15,0); } /* при нажатии */

/**/

#button7 {
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: rgb(0,0,0);
    outline: none;
    border: 1px solid rgba(0,0,0,.4);
    border-top-color: rgba(0,0,0,.3);
    border-radius: 2px;
    background: linear-gradient(rgb(255,255,255), rgb(240,240,240));
    box-shadow:
            0 0 3px rgba(0,0,0,0) inset,
            0 1px 1px 1px rgba(255,255,255,.2),
            0 -1px 1px 1px rgba(0,0,0,0);
    transition: .2s ease-in-out;
}
#button7:hover:not(:active) {
    box-shadow:
            0 0 3px rgba(0,0,0,0) inset,
            0 1px 1px 1px rgba(0,255,255,.5),
            0 -1px 1px 1px rgba(0,255,255,.5);
}
#button7:active {
    background: linear-gradient(rgb(250,250,250), rgb(235,235,235));
    box-shadow:
            0 0 3px rgba(0,0,0,.5) inset,
            0 1px 1px 1px rgba(255,255,255,.4),
            0 -1px 1px 1px rgba(0,0,0,.1);
}

/**/

#button8 {
    box-sizing: border-box;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
#button8:hover:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
#button8:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
            0 0 1px rgba(0,0,0,.5) inset,
            0 2px 3px rgba(0,0,0,.5) inset,
            0 1px 1px rgba(255,255,255,.1);
}

/**/

#button9 {
    background-color: #ffffff;
    border: 1px solid #dfe1e5;
    border-radius: 80px;
    color: #336cd4;
    height: 100%;
    font-size: 14px;
    min-width: 75px;
    user-select: none;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
    transition: all 0.1s;
}

#button9:hover {
    background-color: rgb(255, 255, 255);
    color: maroon;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
}
#button9:active {
    min-width: 85px;
}
.minidiv #button9 {
    margin-bottom: 2px;
    height: 34px;
}

/**/

#button10 {
    color: #0a53be;
    background-color: transparent;
    border: none;
    font-size: 1.1em;

}
#button10:hover {
    font-weight: bold;
    color: red;
}

/**/

#button11 {
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    left: 103.5%;
    min-width: 80px;
    color: #ffffff;
    background: #1a73e8;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    /*font-size: inherit;*/
    /*line-height: 16px;*/
    border-radius: 4px;


}
#button11:hover {
    background: #417fe5;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
}