:root {
    --color-white-h-night-eye: 235;
    --color-white-s-night-eye: 16%;
    --color-white-l-night-eye: 16%;

    --color-black-h-night-eye: 0;
    --color-black-s-night-eye: 0%;
    --color-black-l-night-eye: 100%;

    --color-gunmetal: #b4bcca;
    --color-grey-300-night-eye: #3a3a3a;
}