a[data-pid] span {
    filter: inherit;
}

a[role='button']:empty,
div.jfk-button-img {
    filter: invert(1);
}

svg text {
    stroke: none !important;
}

ul[role="listbox"] {
    background-color: #242424;
}

li a[draggable="false"] span {
    filter: none !important;
}

form[role="search"] textarea {
    border-bottom: transparent;
}

:root[nighteye-domain="google.com/maps"]:not([night-eye-street-view]) canvas {
    filter: invert(100%) hue-rotate(180deg) contrast(90%);
}

:root[nighteye-domain="google.com/maps"] .app-imagery-mode canvas {
    filter: none !important;
}