*:not([style*="background-image:"]) {
    background-color: #1f1f1f !important;
    color: #b4bcca !important;
}

.carousel-slides * {
    background-color: transparent !important;
}

a {
    color: #a1b6de !important;
}

header,
header *,
footer,
footer *,
section,
section *,
nav,
nav * {
    background-color: #272727 !important;
}