html,
body {
    overflow: hidden;
}
body {
    font-family: Arial;
    font-size: 12px;
}
input[name="timeInput"] {
    width: 225px;
}
input[name="showMs"] {
    margin: 2px 0 0;
}
input.clear {
    border: 0;
    background-color: transparent;
}
.link {
    cursor: pointer;
}
.pb-10 {
    padding-bottom: 10px;
}
#hint {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 105px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 8px #000;
    opacity: 0;
    display: none;
    background-color: rgba(0, 255, 0, 0.6);
}
#hint.show {
    display: block;

    animation-name: fade-in-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-play-state: running;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
