.label-d8 {
  color: #d8d8d8;
}

.high-contrast-mode .default-overlay-alert-child-view {
  border: 1px solid CanvasText;
}
.high-contrast-mode .default-overlay-alert-child-view .body-container .button-container .keeper-button {
  color: ButtonText;
  border: 1px solid ButtonBorder;
}

.dark-mode .default-overlay-alert-child-view {
  background-color: #191919;
  border: 1px solid #565656;
}
.dark-mode .default-overlay-alert-child-view .body-container .messages-container h1 {
  color: white;
}
.dark-mode .default-overlay-alert-child-view .body-container .messages-container p.text {
  color: #b3b3b3 !important;
}

.default-overlay-alert-child-view {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  width: 100%;
  padding: 20px;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  background-color: white;
  border-radius: 8px;
  gap: 16px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.3);
}
.default-overlay-alert-child-view .keeper-iconbutton-error-outline {
  width: 32px;
  height: 32px;
}
.default-overlay-alert-child-view .keeper-iconbutton-error-outline path {
  fill: #1b74da;
}
.default-overlay-alert-child-view .body-container {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  gap: 24px;
  width: 100%;
}
.default-overlay-alert-child-view .body-container .messages-container {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 8px;
  width: 100%;
}
.default-overlay-alert-child-view .body-container .messages-container h1 {
  font-family: Outfit, sans-serif;
  margin: 0;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
}
.default-overlay-alert-child-view .body-container .messages-container p.text {
  font-family: Outfit, sans-serif;
  color: #565656;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.default-overlay-alert-child-view .body-container .button-container {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
          flex-direction: row;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
  gap: 8px;
}
.default-overlay-alert-child-view .body-container .button-container .keeper-button {
  font-size: 15px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-flex: 1 0 0;
     -moz-box-flex: 1;
          flex: 1 0 0;
  cursor: pointer;
  height: 36px;
  padding: 0 16px;
  border-radius: 8px;
  color: black;
  background-color: #ffc700;
}