@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'General Sans';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/generalsans-bold-webfont.woff2') format('woff2'),
         url('chrome-extension://__MSG_@@extension_id__/fonts/generalsans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'General Sans';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/generalsans-medium-webfont.woff2') format('woff2'),
         url('chrome-extension://__MSG_@@extension_id__/fonts/generalsans-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'General Sans';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/generalsans-regular-webfont.woff2') format('woff2'),
         url('chrome-extension://__MSG_@@extension_id__/fonts/generalsans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
/* Wrapper */
.jquery-modal.blocker {
    overflow-y: auto !important;
}

.jquery-modal.blocker .modal.current {
    display: block !important;
}

.dialog.billing_wraper.dialog-pro {
    margin: 10px auto !important;
}

.jBox-ModalBorder {
    border-radius: 8px;
    /*background: #dd3636;*/
    background: rgba(0, 0, 0, .4);
    padding: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
}

/* Container */

.jBox-ModalBorder .jBox-container {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Close button */

.jBox-ModalBorder.jBox-closeButton-box {
    border-top-right-radius: 0;
}

.jBox-ModalBorder.jBox-closeButton-box:before {
    display: none;
}

.jBox-ModalBorder.jBox-hasTitle.jBox-closeButton-box .jBox-closeButton,
.jBox-ModalBorder.jBox-closeButton-box .jBox-closeButton {
    background: rgba(0, 0, 0, .4);
    border-radius: 0 50% 50% 0;
    right: -32px;
    top: -8px;
}

.jBox-ModalBorder.jBox-closeButton-box .jBox-closeButton path {
    fill: #d2d4d6;
}

.jBox-ModalBorder.jBox-closeButton-box .jBox-closeButton:hover path {
    fill: #fff;
}

.jBox-ModalBorder.jBox-closeButton-box .jBox-closeButton:active path {
    fill: #b2b4b6;
}

.jBox-content {
    /*padding: 8px 10px;*/
    overflow: auto;
    -webkit-transition: opacity .15s;
    transition: opacity .15s;
    font-size: small;
    font-weight: bold;
    background-color: white;
    color: #222;
}

.rounded_rebump2 {
    /* border-radius: 25px; */
    height: 16px !important;
    width: 16px !important;
}

.display_text {
    margin-top: 5px;
}

.inboxsdk__button_iconImg {
    cursor: pointer;
}

.check_image .inboxsdk__button_iconImg {
    height: 14px !important;
    width: auto !important;
    vertical-align: middle !important;
}

.uncheck_image .inboxsdk__button_iconImg {
    height: 14px !important;
    width: auto !important;
    vertical-align: middle !important;
}

.inboxsdk__tooltip .T-P {
    box-shadow: none !important;
    border-color: #C8C8C8 !important;
    border-radius: 6px !important;
    overflow: hidden;
    border: 0 !important;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, .31) !important;
}

.rebump_menu_InboxSDK {
    width: 265px !important;
    padding-bottom: 0;
    border-top: 0 !important;
    padding-top: 0 !important;
}
img.icon_class {
    margin-right: 3px;
}
.rebump_menu_InboxSDK .wrapper .logo {
    background: #1485E4;
    padding: 10px 16px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    max-width: 160px;
    /* max-height: 20px; */
}
.rebump_menu_InboxSDK .wrapper .content-box .second_child_content {
    display: flex;
    align-items: center;
    padding: 18px 0 18px 16px;
    border-bottom: 1px solid #C8C8C8;
    column-gap: 6px;
    font-family: "General Sans" !important;
}

.rebump_menu_InboxSDK .wrapper .content-box .second_child_content p {
    margin: 0;
    color: #383838;
    font-size: 14px;
    line-height: normal;
    font-weight: 500;
    font-family: "General Sans" !important;

}

.rebump_menu_InboxSDK .wrapper .content-box .third_child_div {
    padding: 6px 10px 10px;
    text-align: left;
}

.rebump_menu_InboxSDK .wrapper .content-box .third_child_div h2 {
    color: #868686;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    font-family: "General Sans" !important;
}

.custom-toggle .switch_icon {
    height: 0;
    width: 0;
    visibility: hidden;
}

.custom-toggle label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 25px;
    background: #E6E6E6;
    display: inline-block;
    border-radius: 100px;
    position: relative;
}

.custom-toggle label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.custom-toggle input:checked+label {
    background: #1485E4;
}

.custom-toggle input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.custom-toggle label:active:after {
    width: 130px;
}

.icon_class {
    transform: translate(-3px, 3px)
}

.rebump_menu_InboxSDK .wrapper .content-box .third_child_div .custom-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.rebump_menu_InboxSDK .wrapper .content-box .third_child_div .custom-toggle p {
    color: #383838;
    font-size: 14px;
    line-height: normal;
    margin: 0;
    font-family: "General Sans" !important;

}

.rebump_menu_InboxSDK .wrapper .content-box .third_child_div .custom-toggle p span {
    /* border-radius: 19px; */
    background: #FF9B04;
    color: #FFF;
    font-size: 10px;
    line-height: normal;
    padding: 2px 4px;
    display: inline-block;
    margin-left: 8px;
    text-transform: uppercase;
    font-family: "General Sans" !important;
    padding: 4px;
    border-radius: 4px;
    font-weight: 500;
    text-align: center;
}

.rebump_menu_InboxSDK .wrapper .content-box .fourth_child_content {
    text-align: left;
    padding: 13px;
    border-top: 1px solid #C8C8C8;
}

.rebump_menu_InboxSDK .wrapper .content-box .fourth_child_content p {
    margin: 0;
    color: #383838;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 11px;
    font-family: "General Sans" !important;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.41px;
}

.rebump_menu_InboxSDK .wrapper .content-box .fourth_child_content p svg {
    transform: translate(-2px, 4px);
}

.rebump_menu_InboxSDK .wrapper .content-box .fourth_child_content p:last-child {
    margin-bottom: 0;
}

.rebump_menu_InboxSDK .wrapper .content-box .last_child_div {
    background: #1A85E4;
    padding: 16px 16px 26px;
}

.rebump_menu_InboxSDK .wrapper .content-box .last_child_div p {
    color: #FFF;
    font-family: "General Sans" !important;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.293px;
}
.rebump_menu_InboxSDK .wrapper .content-box .last_child_div p b {
    font-size: 12px;
    font-weight: 500 !important;
}

.rebump_menu_InboxSDK .wrapper .content-box .last_child_div button {
    color: #FFF;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.861px;
    border-radius: 8px;
    background: #FF9B04;
    padding: 10px 24px;
    border: none;
    color: #fff;
    font-size: 12px;
    /* font-weight: 700; */
    /* line-height: normal; */
}

.rebump_menu_InboxSDK .wrapper .content-box .second_child_div .registered_track_user {
    border-radius: 8px;
    background: #FF9B04;
    padding: 10px 24px;
    border: none;
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

/* new css add here */
.dialog {
    display: flex;
    justify-content: space-between;
    border-radius: 6px !important;
    background: #FFF;
    overflow: hidden;
    max-width: 100% !important;
    border: 0 !important;
}
.dialog-pro {
    display: flex;
    justify-content: space-between;
    border-radius: 6px !important;
    background: #FFF;
    overflow: hidden;
    max-width: 100% !important;
    /* border: 1px solid #000 !important; */
}
.jquery-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    height: 92%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.dialog p {
    justify-content: left;
}

.pro_plan_wrapper {
    position: relative;
    background-color: #1485E4;
    padding: 32px 32px 32px 48px;
    width: 50%;
}

.pro_plan_wrapper .pro_child_number {
    color: var(--white, #FFF);
    font-size: 73px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    line-height: normal;
    padding-bottom: 26px;
}

.pro_first_child .pro_child_text {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    margin: 0;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.264px;
    padding-bottom: 21px;
}

.pro_second_child p {
    display: flex;
    gap: 8px;
    align-items: center;
}

.pro_plan_wrapper .pro_child_number span {
    color: #DEDEDE;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pro_second_child p span {
    color: var(--white, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pro_second_child p img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
a#give_free_links {
    margin-bottom: 62px;
    padding: 10px 0px;
}
svg.center-img {
    margin: 17px 0 18px;
}
img.insert-center-img {
    margin: 27px 0 !important;
}
h1.heading-tracking {
    margin: 0 !important;
}
p.paragraph-tracking {
    margin: 16px 0 24px !important;
}
img.main-img {
    margin-top: 57px !important;
    max-height: 43px;
    height: 100%;
    width: 100%;
}
.congratulation-div .outer-modal-text img.main-img {
    margin-top: 93px !important;
}
.congratulation-div .outer-modal-text img.center-img {
    margin: 30px 0 30px !important;
}
.congratulation-div .outer-modal-text h1 {
    font-weight: 600 !important;
    line-height: 120% !important;
    letter-spacing: -0.352px !important;
    margin: 0 !important;
}
.congratulation-div .outer-modal-text a.payment_onboarding {
    margin: 39px 0px 90px !important;
    font-family: "General Sans" !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 13px 19px !important;
}

.congratulation-div .outer-modal-text{
    padding: 0 !important;
}
.upgradeTo_pro_btn{
    padding: 10px 29px !important;
}
.pro_third_child .show_upgrade_account,
.pro_third_child .show_upgrade_accounts {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    color: #fff;
    background:  #FF9B04;
    margin-top: 20px;
    padding: 10px 24px;
    border: 0;
}

.show_upgrade_account,
.show_upgrade_accounts {
    cursor: pointer;
}

.free_plan_wrapper .first_child_text {
    color: var(--black, #383838);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    line-height: 150%;
    letter-spacing: -0.264px;
    padding-bottom: 21px;
}

/* .free_plan_wrapper {
    padding: 32px 48px 42px 48px;
} */

.free_plan_wrapper .first_child_number {
    color: var(--blue, #1A85E4);
    font-style: normal;
    font-weight: 700;
    font-size: 73px;
    line-height: normal;
    margin: 0;
}

.free_plan_wrapper .first_child_number span {
    color: var(--gray, #868686);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 34px;
}

.free_second_child p {
    display: flex;
    gap: 8px;
    align-items: center;
}

.free_second_child p span {
    color: var(--black, #383838);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.free_second_child p img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.free_third_child {
    position: absolute;
    bottom: 35px;
}

/* new css add end here */


/* dialog2 css start */
#dialog2 {
    display: block !important;
    text-align: left;
    padding: 5px 20px;
    width: 30%;
    border-radius: 5px;
    margin: 0 auto !important;
    transform: translateY(15%) !important;
}

div#dialog3 {
    top: 28% !important;
}

.dailog-bg {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/new_background.svg');
    height: 590px;
    width: 600px !important;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position: right; */
    background-size: 100%; 
}

.outer-modal-text {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.outer-modal-text h1 {
    color: #FFF;
    text-align: center;
    font-family: "General Sans" !important;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.297px;
}

/* .outer-modal-text p {
    color: #fff !important;
    text-align: center !important;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.176px;
} */

.outer-modal-text a {
    width: 204px;
    padding: 10px 24px;
    border-radius: 8px;
    background: #FF9B04;
    color: #fff !important;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    margin-bottom:35px;
}

/* .outer-modal-text img {
    position: absolute;
    bottom: 24px;
} */
.outer-modal-text img {
    margin-top: 28px;
}

#dialog2 p {
    text-align: left;
    font-weight: normal;
}

#dialog2 .linkmodal_fourth_child {
    text-align: right;
}

#dialog2 .linkmodal_first_child p {
    font-size: 20px;
}

#dialog2 .linkmodal_second_child {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#dialog2 .linkmodal_second_child input {
    width: 100%;
}

/* #dialog2  .link_right_child input{
    width: 98%;
} */
#dialog2 .link_left_child {
    width: 63%;
    font-size: 14px;
}

#dialog2 .linkmodal_fourth_child button {
    padding: 10px 28px;
    border-radius: 27px;
    border: 0;
}

.enable_track_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.enable_track_link .track-toggle {
    display: flex;
    align-items: center;
    gap: 5px;
    background: #DBEEFF;
    padding: 8px;
    border-radius: 34px;
}

.enable_track_link .track-toggle .check-box {
    display: flex;
}

.enable_track_link .track-toggle span {
    font-size: 12px;
}

.enable_track_link p {
    margin: 0;
}

.linkmodal_second_child span {
    font-size: 15px;
}

.check-box .compose_checkbox {
    position: relative;
    appearance: none;
    width: 38px;
    height: 20px;
    background: #E6E6E6;
    border-radius: 40px;
    box-shadow: inset 0 0 5px #E6E6E6;
    cursor: pointer;
    transition: 0.4s;
}

.check-box input:checked[type="checkbox"] {
    background: #1485E4;
    box-shadow: inset 0 0 5px #1485E4;
}

.setting_checkbox::after {
    position: absolute;
    content: "";
    width: 16px !important;
    height: 16px !important;
    top: 2px !important;
    left: 2px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: 0.4s;
}

.check-box input[type="checkbox"]::after {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    top: 1px;
    left: 2px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: 0.4s;
}

.check-box input:checked[type="checkbox"]::after {
    left: 50%;
}



.switches-container {
    width: 10rem;
    position: relative;
    display: flex;
    padding: 0;
    position: relative;
    background: #fff;
    line-height: 32px;
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
}

/* input (radio) for toggling. hidden - use labels for clicking on */
.switches-container input {
    visibility: hidden;
    position: absolute;
    top: 0;
}

/* labels for the input (radio) boxes - something to click on */
.switches-container label {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: #1485E4;
}

/* switch highlighters wrapper (sliding left / right) 
    - need wrapper to enable the even margins around the highlight box
*/
.switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    padding: 0.1rem;
    z-index: 3;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
    /* transition: transform 1s; */
}

/* switch box highlighter */
.switch {
    border-radius: 3rem;
    background: #1485E4;
    height: 100%;
}

/* switch box labels
    - default setup
    - toggle afterwards based on radio:checked status 
*/
.switch div {
    width: 100%;
    text-align: center;
    opacity: 0;
    display: block;
    color: #fff;
    transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
}

/* slide the switch box from right to left */
.switches-container input:nth-of-type(1):checked~.switch-wrapper {
    transform: translateX(0%);
}

/* slide the switch box from left to right */
.switches-container input:nth-of-type(2):checked~.switch-wrapper {
    transform: translateX(93%);
}

/* toggle the switch box labels - first checkbox:checked - show first switch div */
.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
    opacity: 1;
}

/* toggle the switch box labels - second checkbox:checked - show second switch div */
.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
    opacity: 1;
}

.linkmodal_fourth_child .ok_button,
.linkmodal_fourth_child .cancel_button {
    cursor: pointer;
}

.signature_div {
    border: 1px solid gainsboro;
    display: block;
    border-radius: 5px;
    font-size: 10px;
}

.signature_image {
    height: 25px !important;
    width: auto !important;
}

.save_user_setting {
    color: #1485E4;
    text-align: right;
    cursor: pointer;
    margin-top: 20px
}

tr.signature_div+tr {
    opacity: 0;
}

.emailtrack_signature tbody:hover .signature_div+tr {
    opacity: 1;
}

.enable_text {
    font-size: 20px !important;
}

/* dialog css end */


.login_popup {
    height: auto !important;
    margin: 0 !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
}

.login_popup .outer-modal-text {
    padding: 50px 0 20px;
}

.login_popup .outer-modal-text h1 {
    margin: 0 0 30px;
}

.login_popup .outer-modal-text img {
    position: static;
    padding-bottom: 25px;
    width: 200px;
}

.login_popup .outer-modal-text p {
    margin: 0;
    font-size: 12px;
}

.login_popup .outer-modal-text p .remind_later {
    margin-right: 30px;
}

.login_popup .outer-modal-text p span,
.redirect_dashboard,
.help_support,
.account_setting {
    cursor: pointer;
}

.close_modal {
    color: white !important;
    font-size: 20px !important;
    cursor: pointer;
}

.dialog .close_modal {
    position: absolute;
    right: 20px;
}

.container {
    max-width: 1000px;
    text-align: center;
    padding: 0 10px;
    margin: 0 auto;
}

.intro-text {
    padding: 50px 0;
}

.intro-text a {
    text-decoration: underline;
}

/* SWITCH STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.switch-wrapperr {
    position: relative;
    display: inline-flex;
    padding: 4px;
    border: 1px solid lightgrey;
    margin-bottom: 40px;
    border-radius: 30px;
    background: #fff;
}

.switch-wrapperr [type="radio"] {
    position: absolute;
    left: -9999px;
    color: #fff;
}

.switch-wrapperr [type="radio"]:checked#monthly~label[for="monthly"],
.switch-wrapperr [type="radio"]:checked#yearly~label[for="yearly"] {
    color: #fff;
}

.switch-wrapperr [type="radio"]:checked#monthly~label[for="monthly"]:hover,
.switch-wrapperr [type="radio"]:checked#yearly~label[for="yearly"]:hover {
    background: transparent;
}

.switch-wrapperr [type="radio"]:checked#monthly+label[for="yearly"]~.highlighter {
    transform: none;
}

.switch-wrapperr [type="radio"]:checked#yearly+label[for="monthly"]~.highlighter {
    transform: translateX(100%);
}
img.star-icon {
    margin: 17px 0 18px 0 !important;
}
.switch-wrapperr label {
    font-size: 11px;
    color: #1A85E4;
    font-weight:550;
    z-index: 1;
    min-width: 100px;
    line-height: 32px;
    cursor: pointer;
    border-radius: 30px;
    transition: color 0.25s ease-in-out;
}

/* .switch-wrapperr label:hover {
    background: whitesmoke; 
  } */

.switch-wrapperr .highlighter {
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(50% - 4px);
    height: calc(100% - 8px);
    border-radius: 30px;
    background: rgb(20, 133, 228);
    color: #fff !important;
    transition: transform 0.25s ease-in-out;
}
.DDRow{
    width: 166px;
}
.compose_menu_text {
    cursor: pointer;
    margin: 0 0 7px 0;
    color: #383838;
    font-family: "General Sans" !important;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.381px;
}

.modal a.close-modal {
    display: none !important;
}

.T-P-atB .T-P-atC {
    border-top-color: rgb(20, 133, 228) !important;
}

.save_user_setting span {
    color: #fff;
    background: rgb(26, 133, 228);
    border-radius: 7px;
    padding: 7px 10px;
    border: 1px solid rgb(26, 133, 228);
}













.information_parent .information_child div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}

.information_parent .information_child .information_wrapper {
    margin-bottom: 3px;
    color: #383838;
    font-family: "General Sans" !important;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.381px;
}

.information_parent .information_child .left-content {
    column-gap: 5px;
}

.information_parent .information_child .left-content p {
    margin: 0;
    font-size: 12px;
    color: #383838;
}

.information_parent .information_child .left-content p span {
    color: #1A85E4;
}

.information_parent .information_child .right-content {
    column-gap: 20px;
}

.information_parent .information_child .right-content span {
    font-size: 12px;
    color: #868686;
}

.information_parent a {
    /* font-size: 12px; */
    color: #1A85E4;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.381px;
    font-family: "General Sans" !important;
}

.links_progress {
    margin: 8px auto 20px auto;
    width: 198px;
}


.links_progress .total {
    width: 100%;
    height: 7px;
    background: #ffffff6e;
    border-radius: 30px;
}


.links_progress .total .filled {
    height: 7px;
    background: white;
    border-radius: 30px;
}

.information_parent,
.information_empty {
    background: white;
    width: 380px;
    min-width: auto;
    z-index: 2147483647;
    position: absolute;
    padding: 10px;
    top: 30px;
    left: 50px;
    cursor: default;

    outline: 0;
    filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.15));
    border-radius: 6px;
    padding: 10px 15px !important;
    width: 415px;

}

.information_parent #view_more_btn {
    cursor: pointer;
}

.information_empty {
    min-width: 127px;
    left: 140px;
    width: 150px;
    z-index: 21474836 !important;

}

.information_empty p {
    margin: 0;
    color: rgb(134, 134, 134);
}

.image_side_pro {
    color: rgb(255, 255, 255);
    font-size: 10px;
    line-height: normal;
    display: inline-block;
    margin-left: 8px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-family: "General Sans" !important;
    background: rgb(255, 155, 4);
    padding: 4px;
    border-radius: 4px;
}

.link_wrapper.pro h1 {
    margin: 30px 0;
}

.link_wrapper.pro h1 span {
    display: block;
}

.link_wrapper.pro .pro_second_child p {
    margin: 0 0 16px;
}

.link_wrapper.pro .pro_second_child p:last-child {
    margin: 0;
}

.link_wrapper.pro .pro_second_child p img {
    position: static;
}

.link_wrapper.pro .payment_onboarding {
    display: inline-block;
    max-width: 204px;
    width: 100%;
    margin: 30px 0 50px;
}

.link_wrapper.pro .pro_second_child p img {
    margin: 0;
}

#dialog3.link_wrapper.pro .outer-modal-text {
    padding: 20px 0;
}
.dailog-bg .show_upgrade_account {
    margin-bottom: 61px;
}
.timezone_change {
    cursor: pointer;
}


#dialog3.dialog.timezone {
    top: 20% !important;
    min-width: auto;
    max-width: 400px !important;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    transform: translateY(25%);
    /* position:absolute; */
    /* transform: translate(-25%,-25%); */
}

.inboxsdk__composeButton .inboxsdk__button_icon {
    opacity: 1 !important;
}

.inboxsdk__menuContent {
    padding: 5px !important;
}
.inboxsdk__menu>.inboxsdk__menuContent {
    transition: opacity .218s;
    border: 0 !important;
    background: #fff;
    outline: 0;
    filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.15));
    border-radius: 6px;
    padding: 5px 15px !important;
}

#dialog3.dialog.timezone .close_modal {
    color: #181818 !important;
    z-index: 9999999;
    margin: 15px 0;
}

#dialog3.dialog.timezone .timezone_outermodal {
    width: 100%;
    padding: 20px;
}

#dialog3.dialog.timezone .timezone_outermodal h3 {
    margin: 0 0 15px;
    font-size: 16px;
    color: #181818;
}

#dialog3.dialog.timezone .timezone_outermodal #timezone-dropdown {
    width: 100%;
    padding: 5px 10px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid rgba(26, 133, 228);
    color: #181818;
}

#dialog3.dialog.timezone .timezone_outermodal .text_dropdown {
    margin: 20px 0 10px;
}

#dialog3.dialog.timezone .timezone_outermodal .selected_timezone {
    text-align: left;
    color: rgba(26, 133, 228);
    margin: 0 0 10px;
}

#dialog3.dialog.timezone .timezone_outermodal .time_as_timezone {
    color: #181818;
    text-align: left;
    margin: 0;
    font-weight: normal;
}

#dialog3.dialog.timezone .timezone_outermodal .dropdown_buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    margin-top: 20px;
}

#dialog3.dialog.timezone .timezone_outermodal .dropdown_buttons .close_timezone,
#dialog3.dialog.timezone .timezone_outermodal .dropdown_buttons .save_timezone {
    margin: 0;
    /* border: 1px solid rgba(26, 133, 228); */
    padding: 8px 16px;
    border-radius: 8px;
    color: #fff;
    background: rgba(26, 133, 228);
    cursor: pointer;
}

#dialog3.dialog.timezone .timezone_outermodal .dropdown_buttons .close_timezone {
    border-color: #ddd;
    background: transparent;
    color: #181818;
}

.blue_hover:hover,
.save_timezone .blue_hover:hover {
    border: 1px solid rgba(26, 133, 228);
    background: #fff !important;
    color: rgba(26, 133, 228) !important;
}

/* .white_hover,
.give_free_links .white_hover {
    border: 1px solid #fff !important;
} */

.white_hover:hover,
.give_free_links .white_hover:hover {
    background: #FFBE04 !important;
    color: #fff !important;
    /* border: 1px solid #fff !important; */
    cursor: pointer !important;
}

a#give_free_links white_hover:hover {
    background: rgb(26, 133, 228) !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    cursor: pointer !important;
}

.blocker {
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 99 !important;
    display: inherit !important;
}

.dailog-bg {
    position: static;
    display: inherit;
    height: auto !important;
    top: 0px !important;
    max-width: 600px !important;
    width: 100% !important;
    margin: 0 auto !important;
    margin-top: 2% !important;
}

.billing_wraper {
    width: 650px !important;
    margin: 0 auto;
    margin-top: 2%;
}

.login_popup {
    position: fixed;
    display: inherit !important;
    left: 50% !important;
    top: 50% !important;
    padding: 0px !important;
}

.blocker:before {
    display: none !important;
}
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.free_plan_wrapper {
    position: relative;
    padding: 32px 32px 32px 48px;
    width: 50%
}

.third_child_div {
    padding: 10px;
}
.onborading-first .outer-modal-text h1 {
    font-family: 'General Sans' !important;
    margin-bottom: 3px !important;
    font-size: 32px !important;
    font-weight: 700 !important;
    line-height: 43.2px !important;
    letter-spacing: 2.29px !important;
    color: #FFF;
}
.onborading-first .outer-modal-text h1.title-onb {
    margin: 17px 0 10px 0 !important;
}
.onborading-first .outer-modal-text a.onboarding_one, .outer-modal-text a.onboarding_two, .outer-modal-text a.onboarding_three {
    font-family: 'General Sans' !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 21.6px !important;
    letter-spacing: 1.148px !important;
    padding: 8px 0px !important;
    color: #FFF;
}
.onboarding_three_img{
    margin: 23px 0 !important;
}
.p-tag{
    margin-top: 5px !important;
}
a.onboarding_four {
    padding: 8px 0px !important;
}
.insert_h1{
    margin: 5px 0 20px 0 !important;
}
img.edit-link_img {
    margin: 52px 0 29px 0 !important;
}
/* .onborading-first {
    padding: 19px 0 0 30px !important;
} */
.outer-modal-text p {
    font-family: 'General Sans' !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 30px !important;
    letter-spacing: 1.15px !important;
    text-align: center !important;
    margin-bottom: 12px !important;
    margin-top: 0px !important;
    color: #FFF !important;
}

@media all and (max-width:1280px) {
    .blocker {
        top: -31px !important;
        height: 90%;
        z-index: 99 !important;
    }
}

@media all and (max-width:1024px) {
    .dailog-bg {

        height: 500px;
        width: 500px !important;
    }

    .outer-modal-text h1 {
        margin: 0;
        margin-top: 10px;
        padding: 0;
        font-size: 20px;
    }

    .outer-modal-text p {
        font-size: 16px;
        padding-top: 0;

    }

    .billing_wraper {
        margin-top: 7%;
    }

    .dailog-bg {
        margin-top: 7%;
    }
    .congratulation-div .outer-modal-text img.main-img {
        margin-top: 60px !important;
    }
    .congratulation-div .outer-modal-text a.payment_onboarding {
        margin: 38px 0px 60px !important;
    }
}

@media all and (max-width:767px) {}

/* 
@media all and (max-width:1440px){
  
    .onboarding_main_div {
        top: 33% !important;
    }
    .dialog{
        left: 50%;
        top: 35%;  
    }
}
@media all and (max-width:1280px){
    .dialog{
        left: 50%;
        top: 35% !important;  
    }
}
@media all and  (max-width:1023px) {
    .onboarding_main_div {
        left: 50%;
        top: 29% !important;
        height:90% !important;
        min-width: 40% !important;
        max-width: 51% !important;
    }
}
@media all and (min-width:767px)and (max-width:1023px) {

    .onboarding_main_div {
        left: 50% !important;
        top: 20% !important;
        max-width: 57% !important;
        min-width: 57% !important;
        height:60% !important;
        left: 56% !important;
    }
} */