#gradeTable {
  background-color: rgb(11, 42, 81);
}
#gradeTable .table-header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
#gradeTable .table-header__title {
  grid-column: 2;
  font-size: 1.2rem;
}
#gradeTable .table-header__helpers {
  grid-column: 3;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}
#gradeTable .table-header__helper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#gradeTable .table-header__color {
  height: 24px;
  width: 24px;
  border-radius: 4px;
}
#gradeTable .table-header__color--0 {
  background-color: rgb(0, 86, 127);
}
#gradeTable .table-header__color--1 {
  background-color: rgb(56, 199, 158);
}
#gradeTable .table-header__color--2 {
  background-color: rgb(231, 220, 220);
}
#gradeTable thead tr th {
  background-color: rgb(11, 42, 81);
}
#gradeTable thead tr th .dataTable-sorter {
  color: white;
}
#gradeTable tbody .meta td {
  background-color: rgb(0, 86, 127);
  color: white;
}
#gradeTable tbody .module td {
  background-color: #0079b2;
  color: white;
}
#gradeTable tbody .exam td {
  background-color: rgb(56, 199, 158);
  color: black;
}
#gradeTable tbody .exam-nopass td {
  background-color: rgb(231, 220, 220);
  color: black;
}

/* fix original css */
#portal-footer {
  height: inherit !important;
}