<div class="wrapper">
  <h1>Keep Muzli as your default tab</h1>
  <p>
    <strong>Quick tip:</strong> next time you open your new tab, Google will ask you to "Change back to Google"
    <br>
    To fully experience Muzli, make sure to select <strong>“Keep it”</strong> to maintain it as your default choice.
  </p>
  <div class="arrow-container">
    <img src="images/keep_it_prep.png" alt="Keep it">
    <i class="icon-arrow-curly"></i>
  </div>
  <div class="cta">
    <a href="" ng-click="vm.showKeepItPrepDialog = false;">Got it</a>
  </div>
</div>
