@font-face {
	font-family: 'Stag';
	src:url('~Fonts/Stag-BlackItalic-Web.woff2') format('woff2'),
	url('~Fonts/Stag-BlackItalic-Web.woff') format('woff');
	font-weight:  900;
	font-style:   italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'Stag';
	src:url('~Fonts/Stag-Black-Web.woff2') format('woff2'),
	url('~Fonts/Stag-Black-Web.woff') format('woff');
	font-weight:  900;
	font-style:   normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Stag';
	src:url('~Fonts/Stag-BoldItalic-Web.woff2') format('woff2'),
	url('~Fonts/Stag-BoldItalic-Web.woff') format('woff');
	font-weight:  700;
	font-style:   italic;
	font-stretch: normal;
}


@font-face {
	font-family: 'Stag';
	src:url('~Fonts/Stag-Bold-Web.woff2') format('woff2'),
	url('~Fonts/Stag-Bold-Web.woff') format('woff');
	font-weight:  700;
	font-style:   normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Stag';
	src:url('~Fonts/Stag-SemiboldItalic-Web.woff2') format('woff2'),
	url('~Fonts/Stag-SemiboldItalic-Web.woff') format('woff');
	font-weight:  600;
	font-style:   italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'Stag';
	src: url('~Fonts/Stag-Semibold-Web.woff2') format('woff2'),
	url('~Fonts/Stag-Semibold-Web.woff') format('woff');
	font-weight:  600;
	font-style:   normal;
	font-stretch: normal;
}


@font-face {
	font-family: 'Stag';
	src: url('~Fonts/Stag-MediumItalic-Web.woff2') format('woff2'),
	url('~Fonts/Stag-MediumItalic-Web.woff') format('woff');
	font-weight:  500;
	font-style:   italic;
	font-stretch: normal;
}


@font-face {
	font-family: 'Stag';
	src: url('~Fonts/Stag-Medium-Web.woff2') format('woff2'),
	url('~Fonts/Stag-Medium-Web.woff') format('woff');
	font-weight:  500;
	font-style:   normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Stag';
	src: url('~Fonts/Stag-BookItalic-Web.woff2') format('woff2'),
	url('~Fonts/Stag-BookItalic-Web.woff') format('woff');
	font-weight:  400;
	font-style:   italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'Stag';
	src: url('~Fonts/Stag-Book-Web.woff2') format('woff2'),
	url('~Fonts/Stag-Book-Web.woff') format('woff');
	font-weight:  400;
	font-style:   normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Stag';
	src: url('~Fonts/Stag-LightItalic-Web.woff2') format('woff2'),
	url('~Fonts/Stag-LightItalic-Web.woff') format('woff');
	font-weight:  300;
	font-style:   italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'Stag';
	src: url('~Fonts/Stag-Light-Web.woff2') format('woff2'),
	url('~Fonts/Stag-Light-Web.woff') format('woff');
	font-weight:  300;
	font-style:   normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Stag';
	src: url('~Fonts/Stag-ThinItalic-Web.woff2') format('woff2'),
	url('~Fonts/Stag-ThinItalic-Web.woff') format('woff');
	font-weight:  100;
	font-style:   italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'Stag';
	src: url('~Fonts/Stag-Thin-Web.woff2') format('woff2'),
	url('~Fonts/Stag-Thin-Web.woff') format('woff');
	font-weight:  100;
	font-style:   normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Stag';
	src: url('~Fonts/Stag-BoldDot-Web.woff2') format('woff2'),
	url('~Fonts/Stag-BoldDot-Web.woff') format('woff');
	font-weight:  700;
	font-style:   normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Stag';
	src: url('~Fonts/Stag-ThinDot-Web.woff2') format('woff2'),
	url('~Fonts/Stag-ThinDot-Web.woff') format('woff');
	font-weight:  200;
	font-style:   normal;
	font-stretch: normal;
}

