/* FONT PATH
 * -------------------------- */
@font-face {
	font-family: 'ProximaNova';
	src: url('~Fonts/ProximaNova-Reg.otf') format("opentype");;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('~Fonts/ProximaNova-Sbold.otf') format("opentype");;
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('~Fonts/ProximaNova-Bold.otf') format("opentype");;
	font-style: normal;
	font-weight: bold;
}