/* -------------------------- */
@font-face {
	font-family: 'Roboto';
	src: url('~Fonts/Roboto-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('~Fonts/Roboto-Light.ttf') format("truetype");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Roboto';
	src: url('~Fonts/Roboto-Bold.ttf') format("truetype");
	font-style: normal;
	font-weight: bold;
}