body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
  color: #3c3c3c;
  margin-bottom: 25vh;
}

.icon-large {
  background-image: url('./Icon128.png');
  background-repeat: no-repeat;
  height: 128px;
  width: 128px;
  margin-bottom: 3em;
}

.question {
  font-size: 13px;
  margin-bottom: 4em;
}

.title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

.download {
  display: flex;
  align-items: center;
}

.icon-download {
  background-image: url('./DownloadIcon.png');
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.text-download {
  margin-left: 7px;
  font-weight: bold;
  color: #2559A9;
}
