.message-box {
  display: flex;
  border-left-width: 2px;
  border-left-style: solid;
  flex-direction: row;
  align-items: stretch;
  height: 57px;
  width: 287px;
  margin: 7px;
}

.message-box-not-installed {
  display: none;
  background-color: #FFF8E0;
  border-left-color: #FFC235;
}

.message-box-plugin-installed {
  background-color: #F0FFDE;
  border-left-color: #75A242;
}

.message-box-plugin-installed > .icon {
  background-image: url("./SuccessIcon.png")
}


.message-box-installed {
  display: none;
  background-color: #F0FFDE;
  border-left-color: #75A242;
}

.icon {
  width: 32px;
  background-repeat: no-repeat;
  background-position: top;
  margin: 10px 6px;
}

.message-box-installed > .icon {
  background-image: url("./SuccessIcon.png")
}

.message-box-not-installed > .icon {
  background-image: url("./NotInstalledIcon.png")
}

.text {
  font-family: Arial;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px 10px 0px;
  color: #3c3c3c;
}

.message-box-download {
  display: none;
  border-left-color: transparent;
  justify-content: center;
}

.message-box-download > .icon {
  background-image: url("./DownloadIcon.png");
  cursor: pointer;
}

.message-box-download > .text {
  font-weight: bold;
  color: #2559A9;
}

.message-box-title {
  border-left-color: transparent;
}

.message-box-title > .icon{
  background-image: url("./Icon32.png");
}

.message-box-title > .text {
  font-weight: bold;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px 10px 10px;
}
