
body {
  width: 25em;
  font-family: "Open Sans Light", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  background: #c8f28b;
  width: 100%;
}
#footer {
  text-align:center;
}
#main {
  width: 300px;
  margin: 0 auto !important;
}
section.clear-options {
  padding: 0.5em 0;
  margin: 1em 0;
}
#since {
  width: 100px;
  border:1px solid #000;
}

#clear-button {
  margin: 0 1.3em 1em 0;
}

section.clear-options input,
section.clear-options>select,
#clear-button {
  float: right;
}

label {
  display: block;
  padding: 0.2em 0;
}

label:hover {
  background-color: #EAEFF2;
}

.title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
#save-button {
  cursor:pointer !important;
  border:1px solid #9c9c9c;
  padding: 5px;
  border-radius: 3px;
  background: url('moz-extension://__MSG_@@extension_id__/img/beige_paper.png') no-repeat;
}
#save-button:hover {
  border:1px solid #fff;
}
