@font-face {
    font-family: "Liberation Sans";
    src: url('LiberationSans-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Liberation Sans";
    src: url('LiberationSans-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Liberation Sans";
    src: url('LiberationSans-Italic.ttf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Liberation Sans";
    src: url('LiberationSans-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}