body{
	margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;
  background-image:
      url("icons/elk.png")}
div.tuuh { margin-left: 5px;
	font-size: 31px;
line-height: 1.6;
font-weight: 700;
	height: 50px;
	width: 460px;
	margin-top: 340px;
	border: thick double #32a1ce;
	text-align:center;
	};
