/*****************************************************************************************************
 *	              CSS ASSOCIES AU BLOCAGE D'UNE PAGE						  	
 *
 *  UTILISATION: CSS mis par ajoutblocage.js dans une page sur liste noire 
 
 *  PREREQUIS: Doit être contenu dans manifest.json dans web_accessible_resources
 *  
 ****************************************************************************************************/
#bc_blocage,#bc_attention {
	display:block;
	height:100%;
	left:0;
	position:fixed;
	top:0;
	width:100%;
	line-height:normal;
}
#bc_blocage {
	background-color: #000000;
	opacity:0.5;
	z-index: 2147484000;
}
#bc_attention {
	background-color:transparent;
	z-index: 2147484001;
	cursor:default;
}
#bc_form {
	width:100%;
}
#bc_blocage_msg,#bc_blocage_msg_local {
	background-color:#B40707;
	width:700px;
	height:300px;
	margin:10px auto 0;
	border: 1px solid #FFBD09;
	border-radius:10px;
	border-collapse:separate;
	font-family : Arial,Helvetica,sans-serif;
	color:#FFFFFF;
	font-weight:bold;
	text-shadow: none;
	text-transform:none;
	text-decoration:none;
}
#bc_blocage_msg_local {
	height:250px;
}
#bc_blocage_title_div {
	height:80px;
	text-align:center;
}
#bc_blocage_logo{
	float:left;
	width:54px;
	height:80px;
	padding-left:20px;
	padding-top:5px;
}
#bc_blocage_title{
	font-size:30px;
	display:block;
	padding-top:20px;
}
#bc_blocage_description {
	padding:20px;
	text-align:justify;
}
.bc_blocage_ligne {
	font-family : Arial,Helvetica,sans-serif;
	color:#FFFFFF;
	font-weight:normal;
	text-shadow: none;
	text-transform:none;
	text-decoration:none;
	font-size:17px;		
}
#bc_blocage_sortir {
	text-align:center;
	padding-top:5px;
}

#bc_blocage_bouton_sortir {
	text-shadow: none;
	text-transform:none;
	text-decoration:none;
}
#bc_blocage_bouton_sortir, #bc_blocage_bouton_sortir:hover,#bc_blocage_bouton_sortir:active {
	color:#490505;
	width:50%;
	height:50px;
	font-size:22px;
	border-color:#000000;
	border-width:0;
	padding:0;
	border-radius:10px;
}

#bc_blocage_bouton_sortir {
	background:#FFFEF2;
	background: -webkit-linear-gradient( #FFFEF2, #FFF1AC);
    background:    -moz-linear-gradient( #FFFEF2, #FFF1AC);
    background:     -ms-linear-gradient( #FFFEF2, #FFF1AC);
    background:      -o-linear-gradient( #FFFEF2, #FFF1AC);
    background:         linear-gradient( #FFFEF2, #FFF1AC);
    box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);	
}

#bc_blocage_bouton_sortir:hover {
	box-shadow:none;
	background:#FFF9D8;
	background: -webkit-linear-gradient( #FFF9D8, #FEEB96);
    background:    -moz-linear-gradient( #FFF9D8, #FEEB96);
    background:     -ms-linear-gradient( #FFF9D8, #FEEB96);
    background:      -o-linear-gradient( #FFF9D8, #FEEB96);
    background:         linear-gradient( #FFF9D8, #FEEB96);
    cursor:pointer;
	
}

#bc_blocage_bouton_sortir:active{
	background:#FFFEF2;
	background: -webkit-linear-gradient( #FFFEF2, #FFF1AC);
    background:    -moz-linear-gradient( #FFFEF2, #FFF1AC);
    background:     -ms-linear-gradient( #FFFEF2, #FFF1AC);
    background:      -o-linear-gradient( #FFFEF2, #FFF1AC);
    background:         linear-gradient( #FFFEF2, #FFF1AC);
    box-shadow: 1px 1px 5px black inset,
                0 1px 0 rgba( 255, 255, 255, 0.4);
}

#bc_blocage_ignorer {
	text-align:right;
	padding-right:10px;	
	padding-bottom:5px;
	padding-top:15px;
}

#bc_blocage_lien_ignorer,#bc_blocage_lien_ignorer:hover {
	color:#FFFFFF;
	font-size:13px;
	text-shadow: none;
	text-transform:none;
	font-weight:normal;
}
#bc_blocage_lien_ignorer {
	text-decoration:none;
}
#bc_blocage_lien_ignorer:hover  {
	text-decoration:underline;
	 cursor:pointer;
}