*{
	margin: 0;
	padding: 0;
}
html, body{
	width: 100%;
	height: 100%;
}
body {
	color: #000;
	background: #fff;
}
ul {
	list-style-type: none;	
}
tr:nth-child(even) {background-color: #e9e9e9}
#page-container{
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	height: 100%;
}
#settings-container{
	float: left;
	border-bottom: 1px solid black;
	width: 100%;
	padding-bottom: 10px;
}
#main-settings, #menu-settings{
	padding: 5px;
	float: left;
	width: 45%;
}
.edit-box{
	padding: 10px;
	float: left;
	width: 45%;
}
#edit-container{
	display: none;
}
#import-export-container{
	padding-top: 10px;
	border-top: 1px solid black;
	float: left;
	width: 100%;
	height: 50px;
}
#import-export-text{
	border: 1px dashed black;
	width: 100%;
	height: 100%;
}
#menu-settings-list{
	float: left;
	padding-right: 15px;
	max-width: 60%;
	min-width: 100px;
	max-height: 400px;
	overflow: auto;
}
#menu-settings-buttons{
	float: left;
	width: 40%;
}
.edit-box-settings{
	padding-left: 10px;
	float: left;
	width: 100%;
}
#option-list{
}
.option-list-row{
	
}
.option-list-row:hover{
	background-color: #d3d3d3;
}
.active {
	display: unset !important;
}