.nsc-capture-fragment-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  border: 3px solid rgb(0, 0, 0);
  pointer-events: none;
  &.nsc-select {
    border: 3px solid #189FB5;
  }
  * {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    display: block;
    text-align: center;
    pointer-events: auto;
  }
}

.nsc-capture-fragment-scroll-disable {
  overflow: hidden !important;
}

.nsc-capture-fragment-scroll-disable::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.nsc-capture-fragment-scroll-box {
  //background-color: rgba(0, 0, 0, 0.3);
  width: 0;
  height: 0;
  position: absolute;
  z-index: 9999999;
  top: 0;
  left: 0;
  cursor: pointer;
}

.nsc-capture-fragment-scroll-elem {
  &:hover, &:focus {
    border: 3px solid rgba(0, 0, 0, 0.32);
  }
  background-color: rgba(0, 0, 0, 0.1);
  border: 3px solid rgb(0, 0, 0);
  width: 0;
  height: 0;
  position: absolute;
  z-index: 99999999;
  top: 0;
  left: 0
}

.nsc-popup-action-message {
  background-color: rgb(203, 203, 203);
  color: #000;
  position: absolute;
  z-index: 9999999;
  top: 10px;
  left: 50%;
  width: 450px;
  margin-left: -225px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  padding: 15px;
}