<!DOCTYPE html>
<html>
<head>
</head>
<body class="authorization-content">
    <div class="authorization-header">
        <!--<img src="../img/logo.png" class="LOGO row" alt="ICPBravo Access">-->
        <h4 class="modal-title center-block" id="Authorize">solicitação de acesso</h4>
    </div>

    <div class="authorization-body" style="font-size:13px">
        <label class="text-center authorization-title">O seguinte domínio está solicitando acesso ao seu certificado digital.</label>

        <div class="col-md-12 authorization-info ">
            <table>
                <tr>
                    <td class="authorization-info-item">
                        <li class="labelInfo">Certificado</li>
                    </td>
                    <td class="authorization-info-value">
                        <li id="subjectName" class="li-trucate-authorize">João Silva do Nascimento Marinho Ribeiro Xavier Ramalho Costa</li>
                    </td>
                </tr>
                <tr>
                    <td class="authorization-info-item">
                        <li class="labelInfo">Emissor</li>
                    </td>
                    <td class="authorization-info-value">
                        <li id="issuerName" class="li-trucate-authorize">João Silva do Nascimento Marinho Ribeiro Xavier Ramalho Costa</li>
                    </td>
                </tr>
                <tr>
                    <td class="authorization-info-item">
                        <li class="labelInfo">Thumbprint</li>
                    </td>
                    <td class="authorization-info-value">
                        <li id="thumbprint">7BA6C55456F8041631C57CABDE9BC4A8C3CB4E99</li>
                    </td>
                </tr>
                <tr>
                    <td class="authorization-info-item">
                        <li class="labelInfo">Domínio</li>
                    </td>
                    <td class="authorization-info-value">
                        <li id="domain" class="li-trucate-authorize">scytl.com</li>
                    </td>
                </tr>

            </table>
        </div>
    </div>

    <div class="authorization-footer">
        <form id="authorize">
            <input type="submit" value="Autorizar" class="btn btn-success authorization-buttton pull-right">
        </form>
        <form id="unauthorize">
            <input type="submit" value="Não Autorizar" class="btn btn-danger authorization-buttton pull-right">
        </form>
    </div>

    <script src="../scripts/confirm_domain.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
</body>
</html>