<div class="modal-header">
    <h4 class="modal-title center-block" id="myModalLabel">{{title}}</h4>
</div>

<div class="modal-body" style="font-size:13px">
    <p>{{message}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default no-margin-bottom pull-left" ng-click="no()" style="margin-left:30px">
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> {{cancelButton}}
    </button>
    <button type="button" class="btn btn-default no-margin-bottom pull-right" ng-click="yes()" style="margin-right:30px">
        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> {{okButton}}
    </button>
</div>
