*[is_hidden="true"] {
	display: none !important;
}
*[disabled] {
	opacity: 0.7;
}
body {
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 15px;
	color: #222222;
	background-color: #EEEEEE;
}
a {
	color: #0000FF;
	text-decoration: none;
}
a:hover {
	color: #990000;
}
#addon_version {
	font-size: 0.7em;
	margin-right: 4px;
	margin-bottom: -4px;
	opacity: 0.5;
}
#current_locale {
	border: none;
	border-radius: 5px;
	width: 150px;
}
ul.tabs li a {
	min-width: 32px;
	display: inline-block;
	padding-top: 38px !important;
}
a[href="#generalTab"] {
	background: url('/skin/prefs_general.png') no-repeat;
	background-position-x: center;
	background-position-y: 5px;
}
a[href="#appearanceTab"] {
	background: url('/skin/prefs_appearance.png') no-repeat;
	background-position-x: center;
	background-position-y: 5px;
}
a[href="#virusScanTab"] {
	background-image: url('/skin/prefs_antivirus_off.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: 5px;
}
a[href="#virusScanTab"][is_enabled="true"] {
	background-image: url('/skin/prefs_antivirus.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: 5px;
}
a[href="#download_historyTab"] {
	background: url('/skin/prefs_history.png') no-repeat;
	background-position-x: center;
	background-position-y: 5px;
}
#soundPlay {
 	background-image: url(/skin/s3dm_icons.png);
	background-position: -16px -16px !important;
	height: 16px;
	width: 16px;
	margin: 0;
	margin-right: 5px;
	padding: 1px 0;
	display: block;
	box-sizing: content-box;
	cursor: pointer;
}
label {
	white-space: nowrap;
}
table.nowrap td div {
	white-space: nowrap;
}
.table_colors tr:hover {
	background-color: #E9E9E9;
}
label:not([disabled]), input[type="checkbox"]:not([disabled]) {
	cursor: pointer;
}
label:not([disabled]):hover {
	text-decoration: underline;
	text-decoration-color: rgba(127, 127, 127, 0.8);
}
label.is_middle:hover {
	text-decoration: none;
}
label.is_middle:hover span {
	border-bottom: 1px rgba(127, 127, 127, 0.8) solid;
}
label.is_middle * {
	vertical-align: middle;
}
.groupbox {
	border: 1px #E0E0E0 solid;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 5px 0;
	box-shadow: 0 0 10px #dbd9d5;
}
.groupbox:hover:not([disabled]) {
	border: 1px #AF5CCB solid;
	box-shadow: 0 0 10px #E3C5ED;
}
.groupbox:hover:not([disabled]) > .caption span, .groupbox:hover:not([disabled]) > .caption div {
	background-color: #E3C5ED;
	border: 1px #AF5CCB solid;
}
.groupbox[caption] {
	margin-top: 1.5em;
}
.groupbox .caption {
	position: relative;
	margin-top: -1.05em;
	margin-bottom: 3px;
	margin-left: -5px;
}
.groupbox > .caption span {
	background-color: #E0E0E0;
	border-radius: 5px;
	padding: 0 5px;
	line-height: 1.2em;
	display: inline-block;
	margin-bottom: 5px;
	white-space: nowrap;
}
.caption span, .caption div {
	border: 1px #E0E0E0 solid;
}
input[type="text"] {
	width: 250px;
	padding: 0 3px;
}
input[type="range"] {
	position: relative;
	top: 7px;
	cursor: pointer;
}
input[type="number"] {
	text-align: right;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
}
#hotkeys_box {
	margin-bottom: 4px;
}
#exclude_links {
	box-shadow: none !important;
	background-color: transparent;
	border: 1px #DFDFDF solid;
	position: relative;
	z-index: 10;
	flex-grow: 1;
}
#exclude_links:not(:invalid) {
	background-color: #FFFFFF;
}
#exclude_links:focus {
	background-color: #FFFFFF;
}
#exclude_links_placeholder {
	border: none;
	background-color: #FFFFFF;
	position: absolute;
	top: 0px;
	z-index: 1;
	line-height: 1.2em;
	font-size: 0.8em;
	color: #AAAAAA;
	padding: 0px;
	overflow: hidden;
	width: 100%;
}
#exclude_links_placeholder div {
	padding-left: 4px;
}
#exclude_links:not(:invalid) + #exclude_links_placeholder {
	display: none;
}
#exclude_links:focus + #exclude_links_placeholder {
	display: none;
}
.prefs_button_plus {
	padding: 2px;
	width: 14px;
	height: 14px;
	background: url("/skin/plus.png") center no-repeat !important;
	filter: contrast(0);
	-webkit-filter: contrast(0);
	background-size: contain;
	display: inline-block;
	cursor: pointer;
	border: 1px transparent solid !important;
}
.prefs_button_plus:hover {filter: none; -webkit-filter: none;}
.prefs_button_plus:active {filter: contrast(0); -webkit-filter: contrast(0);}

.prefs_button_minus {
	padding: 2px;
	margin: 2px 5px 2px 2px;
	width: 12px;
	height: 12px;
	background: url("/skin/minus.png") center no-repeat;
	filter: contrast(0);
	-webkit-filter: contrast(0);
	background-size: contain;
	float: left;
	cursor: pointer;
}
.prefs_button_minus:hover {filter: none; -webkit-filter: none;}
.prefs_button_minus:active {filter: contrast(0); -webkit-filter: contrast(0);}

#settings_saved {
	color: #009900;
	border: 1px dotted #009900;
	border-radius: 7px;
	padding: 1px 4px;
	position: fixed;
	margin-left: -105px;
	margin-top: -22px;
	background-color: rgba(238,238,238,0.7);
}
#save_settings, #load_settings, #copy_settings, #reset_settings {
	margin-top: 8px;
	cursor: pointer;
	white-space: nowrap;
}
