#GetFVid_Name_Text {
	border: none;
	outline: 0;
	padding: 5px 10px;
	margin-right: 15px;
	flex: 1;
	height: 30px;
	font-size: 15px;
	border-radius: 2px;
	font-family: "Open Sans";
	background-color: #1f222b
}

#GetFVid_Name_Text:hover {
	background-color: #22252f
}

#GetFVid_Name_Text:focus {
	background-color: #fff
}

#GetFVid_Name_Download {
	padding: 5px 12px;
	color: #fff;
	background-color: #2ecc71;
	border-radius: 2px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	cursor: pointer;
	font-family: "Open Sans"
}

#GetFVid_Name_Download:hover {
	background-color: #35dc7c
}

#GetFVid_Name_Download:active {
	background-color: #2cbd69
}