#data-body-paneui #record-edit-root {
  overflow-y: hidden;
}
#data-body-paneui #record-edit-root .ba-edit {
  padding: 8px 20px 24px;
  width: 360px;
  padding-top: 8px;
  overflow-y: scroll;
  height: 518px;
}
#data-body-paneui #record-edit-root .ba-edit .record-edit-field {
  border-bottom: 1px solid #d8d8d8;
}
#data-body-paneui #record-edit-root .ba-edit .record-edit-field.error {
  border-bottom-color: #ce021b;
}
#data-body-paneui #record-edit-root .ba-edit .password-editor .password-editor-field textarea {
  min-height: 32px;
  margin-bottom: 0;
}
#data-body-paneui #record-edit-root .ba-edit .record-edit-field,
#data-body-paneui #record-edit-root .ba-edit .password-editor {
  width: 320px;
}
#data-body-paneui #record-edit-root .ba-edit .keeper-input-password {
  line-break: anywhere;
}
#data-body-paneui #record-edit-root .ba-edit .prompttoggle {
  width: 320px;
}
#data-body-paneui .details-header {
  padding: 24px 16px 16px 20px;
}
#data-body-paneui .details-header .actions .record-details-menu {
  background: #fff;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 280px;
  z-index: 1;
}
#data-body-paneui .details-header .actions .record-details-menu .details-menu-item {
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 8px;
}
#data-body-paneui .details-header .actions .record-details-menu .details-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#data-body-paneui .details-header .actions .record-details-menu .details-menu-item .icon {
  height: 24px;
}
#data-body-paneui .details-header .actions .autofill,
#data-body-paneui .details-header .actions .share .border-ring {
  padding: 0 12px;
  height: 32px;
  border-radius: 8px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  cursor: pointer;
}
#data-body-paneui .details-header .actions .autofill {
  background-color: #1b74da;
  color: white;
}
#data-body-paneui .details-header .actions .autofill:hover {
  background-color: #054b91;
}
#data-body-paneui .details-header .actions .share {
  color: #1b74da;
  border-radius: 8px;
}
#data-body-paneui .details-header .actions .share:hover {
  background-color: #e8f2fc;
}
#data-body-paneui .details-header .actions .share .border-ring {
  border: 1px solid #1b74da;
}
#data-body-paneui .details-header .actions .options:hover svg {
  background: #d8d8d8;
}
#data-body-paneui .details-header .actions .back {
  height: 24px;
  cursor: pointer;
}
#data-body-paneui .details-header .actions .options {
  cursor: pointer;
  height: 32px;
  border-radius: 10px;
}
#data-body-paneui .details-header .actions .options svg {
  background: #f0f0f0;
  border-radius: 8px;
}
#data-body-paneui .details-header .actions .options:focus-visible svg {
  background: #f0f0f0 !important;
}
#data-body-paneui .edit-pane-header {
  height: 72px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  padding: 20px;
  padding-bottom: 12px;
  width: 360px;
  background: white;
}
#data-body-paneui .edit-pane-header .actions button {
  padding: 4px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
#data-body-paneui .edit-pane-header .actions .cancel {
  background-color: #f0f0f0;
}
#data-body-paneui .edit-pane-header .actions .save {
  background-color: #ffc700;
}
#data-body-paneui .edit-pane-header .actions .save:hover {
  background-color: #e6b300;
}
#data-body-paneui #header #search-root {
  background: transparent;
  padding-bottom: 0;
}
#data-body-paneui #search-root {
  margin-top: 20px;
  background: #fff;
  z-index: 2;
}
#data-body-paneui #search-root #search {
  z-index: 2;
  padding: 0 20px;
  height: 40px;
}
#data-body-paneui #search-root #search .search-input-icon.close {
  right: 28px;
}
#data-body-paneui #search-root #search input.has-input {
  max-width: 288px;
}
#data-body-paneui .search-results-header {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 84%;
  padding: 6px 0;
}
#data-body-paneui .sort-wrap {
  cursor: pointer;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: inline-flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  height: 32px;
  margin-left: 8px;
  border-radius: 8px;
  width: auto !important;
  z-index: 4;
}
#data-body-paneui .sort-wrap .row {
  height: 32px;
  padding-left: 12px;
}
#data-body-paneui .sort-wrap .row:focus-visible, #data-body-paneui .sort-wrap .row.selected {
  outline: 2px solid #054b91 !important;
  border: 2px solid white;
  border-radius: 8px;
  margin-right: -2px;
  padding-left: 10px !important;
}
#data-body-paneui .sort-wrap .cancel {
  height: 32px;
  width: 32px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  z-index: 2;
}
#data-body-paneui .sort-wrap .cancel:focus-visible {
  border-radius: 8px;
  outline: 2px solid #054b91 !important;
  border: 2px solid white;
  margin-right: -8px;
  width: 40px;
  height: 32px;
  padding-right: 8px;
}
#data-body-paneui .sort-wrap.fixed {
  margin-top: 0;
}
#data-body-paneui .sort-wrap:not(.multi-selected):hover {
  background-color: #f0f0f0;
}
#data-body-paneui .sort-wrap.multi-selected {
  background-color: #1b74da;
  color: white;
  padding-right: 8px;
  margin-left: 20px;
}
#data-body-paneui .sort-wrap.multi-selected svg.caret path {
  fill: white;
}
#data-body-paneui .record-header :first-child {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}
#data-body-paneui #records .record-item-divider {
  margin: 0 20px;
  width: 320px;
}
#data-body-paneui #records .no-records {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  margin-top: 48px;
}
#data-body-paneui #records .record-wrapper:hover + .record-wrapper .record-item-divider {
  background-color: #d8d8d8 !important;
}
#data-body-paneui #records .record-wrapper:hover + .record-wrapper .record-item-divider.dark-mode {
  background-color: #565656 !important;
}
#data-body-paneui #records .add-record-btn {
  width: 320px;
}
#data-body-paneui #records .add-record-btn.selected {
  width: 324px;
  border-radius: 11px;
  height: 44px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  margin-left: 18px;
  margin-top: 6px;
  outline: 2px solid #054b91;
}
#data-body-paneui #records .add-record-btn.selected .border-ring {
  margin: 2px;
}
#data-body-paneui #records .add-record-btn .border-ring {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  color: #1b74da;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  cursor: pointer;
  height: 40px;
  border-radius: 8px;
  width: 100%;
  border: 1px solid #1b74da;
}
#data-body-paneui #records .add-record-btn .border-ring.dark-mode {
  border: 1px solid #48b6ff;
  color: #48b6ff;
}
#data-body-paneui #records .add-record-btn .border-ring:focus, #data-body-paneui #records .add-record-btn .border-ring:hover {
  background-color: #dfedfb;
}
#data-body-paneui #records .add-record-btn .border-ring.dark-mode:hover {
  background-color: #3d3d3d;
}
#data-body-paneui #records .record-count {
  color: black;
  padding-left: 20px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}
.rtl #data-body-paneui #records .record-count {
  padding-right: 20px;
}
#data-body-paneui #records .record {
  padding: 0 12px;
  padding-right: 0;
  width: 346px;
  cursor: pointer;
}
#data-body-paneui #records .record.isLastItem .content {
  margin-bottom: 12px;
}
#data-body-paneui #records .record.viewingRecord .content {
  background-color: #1b74da !important;
}
#data-body-paneui #records .record.viewingRecord .content .countdown-circle .progress {
  stroke: #5398e3;
}
#data-body-paneui #records .record.viewingRecord .content .countdown-circle .base {
  stroke: white;
}
#data-body-paneui #records .record.viewingRecord .content .field-value {
  color: white;
}
#data-body-paneui #records .record.viewingRecord .content .show path {
  fill: white;
}
#data-body-paneui #records .record.viewingRecord .content .fill svg path,
#data-body-paneui #records .record.viewingRecord .content .record-menu-icon svg path {
  fill: white;
}
#data-body-paneui #records .record.viewingRecord .content .title,
#data-body-paneui #records .record.viewingRecord .content .login span {
  color: white;
}
#data-body-paneui #records .record .content {
  padding: 0 8px;
  margin: 0;
  width: auto !important;
}
#data-body-paneui #records .record .content > div:first-child {
  min-height: 52px !important;
}
#data-body-paneui #records .record .content .record-icons {
  margin: 0;
  margin-right: 12px;
}
#data-body-paneui #records .record .content .record-data {
  width: 100%;
  padding-top: 3px;
  cursor: pointer;
  min-height: 44px;
}
#data-body-paneui #records .record .content .record-data .mini-otp {
  height: 24px;
  width: 170px;
  margin-top: 4px;
}
#data-body-paneui #records .record .content .record-data .mini-otp .field-value.miniStyle span {
  font-size: 20px;
  line-height: 30px;
}
#data-body-paneui #records .record .content .record-data .mini-otp .show {
  position: absolute;
  right: 17px;
}
#data-body-paneui #records .record .content .record-data .mini-otp .show,
#data-body-paneui #records .record .content .record-data .mini-otp svg {
  width: 24px;
  height: 24px;
}
#data-body-paneui #records .record .content .record-data .mini-otp .copy {
  display: none;
}
#data-body-paneui #records .record .favorite {
  height: 16px;
  margin-right: 8px;
}
#data-body-paneui #records .record .fill,
#data-body-paneui #records .record .record-menu-icon {
  display: none;
}
#data-body-paneui #records .record:focus .fill,
#data-body-paneui #records .record:focus .record-menu-icon, #data-body-paneui #records .record:focus-within .fill,
#data-body-paneui #records .record:focus-within .record-menu-icon, #data-body-paneui #records .record:hover .fill,
#data-body-paneui #records .record:hover .record-menu-icon {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
#data-body-paneui #records .record:focus .favorite svg, #data-body-paneui #records .record:focus-within .favorite svg, #data-body-paneui #records .record:hover .favorite svg {
  width: 0;
}
#data-body-paneui #records .record:focus .record-data, #data-body-paneui #records .record:focus-within .record-data, #data-body-paneui #records .record:hover .record-data {
  width: 210px;
}
#data-body-paneui #records .record:focus .content, #data-body-paneui #records .record:focus-within .content, #data-body-paneui #records .record:hover .content {
  background-color: #f0f0f0;
}
#data-body-paneui #records .record:focus .content > div:first-child, #data-body-paneui #records .record:focus-within .content > div:first-child, #data-body-paneui #records .record:hover .content > div:first-child {
  border: none;
}
#data-body-paneui [tooltip].tooltip-left::after {
  right: -6px;
}

.record-details-pane {
  padding: 20px;
  padding-top: 0;
  padding-right: 0;
  overflow: hidden scroll;
  height: 498px;
}
.record-details-pane .prompttoggle {
  width: 320px;
}
.record-details-pane .prompttoggle:first-of-type {
  margin-top: 24px;
}
.record-details-pane .field svg {
  width: 24px;
  height: 24px;
}
.record-details-pane .field {
  position: relative;
  margin-top: 24px;
  word-wrap: break-word;
  width: 320px;
  word-break: break-word;
}
.record-details-pane .field.text .field-value {
  width: 286px;
}
.record-details-pane .field .passkey-field {
  background-color: #f0f0f0;
}
.record-details-pane .field:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.record-details-pane .field .field-value {
  color: inherit;
  border-bottom: 1px solid #d8d8d8;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  min-height: 32px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}
.record-details-pane .field .field-value.notes {
  height: auto;
  padding-bottom: 4px;
  max-width: 274px;
}
.record-details-pane .field .field-value .num {
  color: #054b91;
}
.record-details-pane .field .field-value .specialChar {
  color: #ce021b;
}
.record-details-pane .field .label-tooltip::before {
  display: none;
}
.record-details-pane .field .label-tooltip::after {
  max-width: 336px;
  left: -55px;
  min-height: 36px;
  height: auto;
  white-space: normal;
  text-align: center;
  padding: 6px 12px;
}
.record-details-pane .field .field-name {
  height: 24px;
  color: #565656;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 220px;
}
.dark-mode .record-details-pane .field .field-name {
  color: #b3b3b3;
}
.record-details-pane .field .field-subtext {
  font-size: 12px;
  opacity: 0.7;
}
.record-details-pane .field .password-strength {
  max-width: 248px;
}
.record-details-pane .field.url {
  margin-bottom: 0;
}
.record-details-pane .field.url .field-value {
  color: #1b74da;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: initial;
  white-space: nowrap;
  word-break: break-all;
}
.record-details-pane .field.url .field-value:hover {
  text-decoration: underline;
}
.record-details-pane .field.url .website-launch-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 12px;
}
.record-details-pane .field .copy {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  cursor: pointer;
  margin-left: 12px;
}
.record-details-pane .field .copy .rtl {
  margin-left: 0;
  margin-right: 12px;
}
.record-details-pane .field .copy path {
  fill: #565656;
}
.dark-mode .record-details-pane .field .copy path {
  fill: #b3b3b3 !important;
}
.record-details-pane .field.password .copy,
.record-details-pane .field.password .show, .record-details-pane .field.maskable .copy,
.record-details-pane .field.maskable .show {
  -webkit-align-self: baseline;
          align-self: baseline;
  top: 3px;
}
.record-details-pane .field.password .show, .record-details-pane .field.maskable .show {
  height: 24px;
  width: 24px;
  min-height: 24px;
  min-width: 24px;
  cursor: pointer;
  right: -2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.rtl .record-details-pane .field.password .show, .rtl .record-details-pane .field.maskable .show {
  right: unset;
}
.record-details-pane .field.password .noview .copy,
.record-details-pane .field.password .noview .show, .record-details-pane .field.maskable .noview .copy,
.record-details-pane .field.maskable .noview .show {
  display: none;
}
.record-details-pane .field.password .noview .restricted, .record-details-pane .field.maskable .noview .restricted {
  display: block;
}
.record-details-pane .field .show {
  margin-left: 12px;
}
.record-details-pane .field.password .field-value {
  font-size: 15px;
}
.record-details-pane .field.password .restricted {
  display: none;
  font-size: 10px;
}
.record-details-pane .field.password .show {
  right: -2px;
}
.record-details-pane .field.multiline {
  white-space: pre-wrap;
}
.record-details-pane .field.cardnumber .field-value {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}
.record-details-pane .field.otp {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.record-details-pane .field.otp .totp-top-container {
  width: 100%;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
}
.record-details-pane .field.otp .totp-top-container .countdown-circle {
  height: 32px;
  width: 32px;
}
.record-details-pane .field.otp .totp-top-container .countdown-circle .base {
  stroke-width: 3px;
}
.record-details-pane .field.otp .totp-top-container .field-value {
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.record-details-pane .field.otp .countdown-circle {
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-right: 15px;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
}
.record-details-pane .field.otp .field-value {
  font-size: large;
  width: 167px;
}
.record-details-pane .title {
  max-width: 272px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.record-details-pane .meta {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}
.record-details-pane .meta .record-type {
  color: #565656;
  max-width: 256px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.record-details-pane .meta .has-totp,
.record-details-pane .meta .favorite,
.record-details-pane .meta .sharing {
  height: 16px;
  width: 16px;
}

.sort-menu {
  overflow-y: auto;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  width: 280px;
  height: 424px;
  padding: 8px;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
  color: black;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 16px;
  z-index: 6;
  bottom: 16px;
}
.sort-menu.landscape {
  height: 384px;
}
.sort-menu.high-contrast-border {
  border: 1px solid rgb(0, 0, 0);
}
.sort-menu hr {
  width: 248px;
  border-top: 1px solid #d8d8d8;
  margin: 8px auto;
}
.sort-menu .sort-item {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  height: 40px;
  width: 100%;
  padding: 8px 16px;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 8px;
}
.sort-menu .sort-item:hover {
  background-color: #f0f0f0;
}
.sort-menu .sort-item.type-filter svg path {
  fill: #1b74da;
}
.sort-menu .sort-item .selected {
  position: absolute;
  right: 20px;
}

.edit-pane-header .record-icon,
.details-container .record-icon {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  padding: 7px;
}
.edit-pane-header .record-icon svg path,
.details-container .record-icon svg path {
  fill: #1b74da;
}
.rtl .edit-pane-header .record-icon,
.rtl .details-container .record-icon {
  margin: 0 8px 0 12px;
}
.edit-pane-header .record-icon.green,
.details-container .record-icon.green {
  border: 4px solid #1a9732;
}
.edit-pane-header .record-icon.green .record-icon,
.details-container .record-icon.green .record-icon {
  margin: 4px;
}
.edit-pane-header .record-icon.green .record-icon svg > path,
.details-container .record-icon.green .record-icon svg > path {
  fill: #1a9732 !important;
}
.edit-pane-header .record-icon.gray,
.details-container .record-icon.gray {
  border: 4px solid #888888;
}
.edit-pane-header .record-icon.gray .record-icon,
.details-container .record-icon.gray .record-icon {
  margin: 4px;
}
.edit-pane-header .record-icon.gray .record-icon svg > path,
.details-container .record-icon.gray .record-icon svg > path {
  fill: #888888 !important;
}
.edit-pane-header .record-icon.blue,
.details-container .record-icon.blue {
  border: 4px solid #0094cc;
}
.edit-pane-header .record-icon.blue .record-icon,
.details-container .record-icon.blue .record-icon {
  margin: 4px;
}
.edit-pane-header .record-icon.blue .record-icon svg > path,
.details-container .record-icon.blue .record-icon svg > path {
  fill: #0094cc !important;
}
.edit-pane-header .record-icon.orange,
.details-container .record-icon.orange {
  border: 4px solid #e75c00;
}
.edit-pane-header .record-icon.orange .record-icon,
.details-container .record-icon.orange .record-icon {
  margin: 4px;
}
.edit-pane-header .record-icon.orange .record-icon svg > path,
.details-container .record-icon.orange .record-icon svg > path {
  fill: #e75c00 !important;
}
.edit-pane-header .record-icon.red,
.details-container .record-icon.red {
  border: 4px solid #f20d29;
}
.edit-pane-header .record-icon.red .record-icon,
.details-container .record-icon.red .record-icon {
  margin: 4px;
}
.edit-pane-header .record-icon.red .record-icon svg > path,
.details-container .record-icon.red .record-icon svg > path {
  fill: #f20d29 !important;
}
.edit-pane-header .record-icon.yellow,
.details-container .record-icon.yellow {
  border: 4px solid #b88f00;
}
.edit-pane-header .record-icon.yellow .record-icon,
.details-container .record-icon.yellow .record-icon {
  margin: 4px;
}
.edit-pane-header .record-icon.yellow .record-icon svg > path,
.details-container .record-icon.yellow .record-icon svg > path {
  fill: #b88f00 !important;
}