.add-item-button {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .15), 0 0 1px 0 rgba(0, 0, 0, .35);
  background-color: #151922;
  transition: background-color .2s ease-out, color .2s ease-out;
  border-radius: 50%;
  border: none;
  color: #fff;

  &:hover {
    background-color: #d0d1d3;
    color: #151922;
  }
}
